{% extends '@Application/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block action %}
    {{ viewActionButton('/maintenance/storage', 'All Keys' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Search Key' } %}

        {% block widget_content %}

            <h1>{{ key }}</h1>
            {% if referenceKey %}
            <a href="/maintenance/storage/key?key={{ referenceKey }}">{{ referenceKey }}</a>
            {% endif %}
            <pre>{{ value }}</pre>

        {% endblock %}

    {% endembed %}

{% endblock %}
