{% extends '@Auth/Layout/layout.twig' %}

{% form_theme form '@Auth/Layout/form.twig' %}

{% block content %}

    {{ form_start(form) }}

        {% if error is not empty %}
            <div class="form-group has-error">
                <span class="help-block">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error | trans }}</li>
                    </ul>
                </span>
            </div>
        {% endif %}

        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        {{ form_row(form.submit) }}

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}
