{% extends '@Auth/Layout/layout.twig' %}

{% form_theme form '@Auth/Layout/form.twig' %}

{% block content %}

    {{ form_start(form) }}

        {% if error is not empty %}
            <div class="form-group has-error">
                <span class="help-block">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error | trans }}</li>
                    </ul>
                </span>
            </div>
        {% endif %}

        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        {{ form_row(form.submit) }}

        {{ form_rest(form) }}

    {{ form_end(form) }}

    {#<spy-form model="{{ form }}" src="/auth/login/check">#}
        {#<div spy-input-text="field.username" options="{ placeholder : 'Username' }"></div>#}

        {#<div class="pw">#}
            {#<div spy-input-password="field.password" options="{ placeholder : 'Password' }"></div>#}

            {#<a class="button" href="/auth/password/reset">Forgot?</a>#}
        {#</div>#}

        {#<div class="spy-layout buttons">#}
            {#<button class="button" ng-disabled="!field.username.value || !field.password.value || query" ng-click="update()">Login</button>#}
        {#</div>#}
    {#</spy-form>#}
{% endblock %}
