{% extends '@Auth/Layout/layout.twig' %}

{% form_theme form '@Auth/Layout/form.twig' %}

{% block content %}

    {{ form_start(form) }}

        {% include '@Auth/Partial/form-message.twig' %}

        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        <div class="form-group"><button class="btn btn-success btn-block btn" type="submit">Login</button></div>

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}
