{% include '@NavigationGui/_partials/progressbar.twig' with {idProgressbar: 'navigation-tree-loader'} %}

<div id="navigation-tree-container" class="ibox hidden">

    <div class="ibox-title">
        <h5>{{ 'Navigation tree' | trans }}</h5>
        <div class="pull-right">
            <label>{{ 'Search' | trans }}: <input type="text" id="navigation-tree-search-field" class="input" /></label>
        </div>
    </div>

    <div class="ibox-content">
        <div class="alert alert-info alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {% filter trans|raw %}
                <ul>
                    <li>{{ 'If a navigation node is inactive, then this item and all navigation items under this one will not be visible.' | trans }}</li>
                    <li>{{ 'You can drag and drop to define item order.' | trans }}</li>
                </ul>
            {% endfilter %}
        </div>

        <div id="navigation-tree-content"></div>
    </div>

    <div class="ibox-footer clearfix">
            <input type="button" id="navigation-tree-save-btn" class="btn btn-primary pull-left m-r-sm" value="{{ 'Save order' | trans }}" disabled="disabled" />
            {% include '@NavigationGui/_partials/progressbar.twig' with {
            idProgressbar: 'navigation-tree-update-loader',
            navigationProgressbarClass: 'progress-inline'
            } %}
    </div>
</div>
