<div class="payment-subform ratepay-form ratepay-elv-form payment-form" id="ratepayElv">
    <div class="small-12 columns">
        <label>
            {{ 'form.ratepayElv.date_of_birth' | trans }}*
            {{ form_widget(form.ratepayElv.date_of_birth, { 'attr': {'placeholder': 'payment.ratepay.date_of_birth' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayElv.date_of_birth) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.phone' | trans }}*
            {{ form_widget(form.ratepayElv.phone, { 'attr': {'placeholder': 'payment.ratepay.phone' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayElv.phone) }}
    </div>

    <h5>{{ 'form.ratepayElv.bank_account' | trans }}</h5>

    <div class="small-12 columns">
        <label>
            {{ 'form.ratepayElv.bank_account.holder' | trans }}*
            {{ form_widget(form.ratepayElv.bank_account_holder, { 'attr': {'placeholder': 'payment.ratepay.bank_account.holder' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayElv.bank_account_holder) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.bank_account.iban' | trans }}*
            {{ form_widget(form.ratepayElv.bank_account_iban, { 'attr': {'placeholder': 'payment.ratepay.bank_account.iban' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayElv.bank_account_iban) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'form.ratepayElv.bank_account.bic' | trans }}*
            {{ form_widget(form.ratepayElv.bank_account_bic, { 'attr': {'placeholder': 'payment.ratepay.bank_account.bic' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayElv.bank_account_bic) }}
    </div>
</div>
