<div class="payment-subform ratepay-form ratepay-installment-form payment-form small-12 medium-9 large-6" id="ratepayInstallment">

    <div class="small-12 columns">
        <label>
            { 'payment.ratepay.date_of_birth' | trans }}
            {{ form_widget(form.ratepayInstallment.date_of_birth, { 'attr': {'placeholder': 'payment.ratepay.date_of_birth' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayInstallment.date_of_birth) }}
    </div>
    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.phone' | trans }}*
            {{ form_widget(form.ratepayInstallment.phone, { 'attr': {'placeholder': 'payment.ratepay.phone' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayInstallment.phone) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.debit_pay_type' | trans }}*
            {{ form_widget(form.ratepayInstallment.debit_pay_type, { 'attr': {'placeholder': 'payment.ratepay.debit_pay_type' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayInstallment.debit_pay_type) }}
    </div>

    <div class="ratepay-installment-pay-type ratepay-installment-pay-type-direct-debit">
        <h5>{{ 'payment.ratepay.bank_account' | trans }}</h5>
        <div class="small-12 columns">
            <label>
                {{ 'payment.ratepay.bank_account.holder' | trans }}*
                {{ form_widget(form.ratepayInstallment.bank_account_holder, { 'attr': {'placeholder': 'payment.ratepay.bank_account.holder' | trans } }) }}
            </label>
            {{ form_errors(form.ratepayInstallment.bank_account_holder) }}
        </div>
        <div class="small-12 columns">
            <label>
                {{ 'payment.ratepay.bank_account.iban' | trans }}*
                {{ form_widget(form.ratepayInstallment.bank_account_iban, { 'attr': {'placeholder': 'payment.ratepay.bank_account.iban' | trans } }) }}
            </label>
            {{ form_errors(form.ratepayInstallment.bank_account_iban) }}
        </div>
        <div class="small-12 columns">
            <label>
                {{ 'payment.ratepay.bank_account.bic' | trans }}*
                {{ form_widget(form.ratepayInstallment.bank_account_bic, { 'attr': {'placeholder': 'payment.ratepay.bank_account.bic' | trans } }) }}
            </label>
            {{ form_errors(form.ratepayInstallment.bank_account_bic) }}
        </div>
    </div>

    <h5>{{ 'payment.ratepay.installment_calculator' | trans }}</h5>
    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.installment_calculator.type' | trans }}*
            {{ form_widget(form.ratepayInstallment.installment_calculation_type, { 'attr': {'placeholder': 'payment.ratepay.installment_calculator.type' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayInstallment.installment_calculation_type) }}
    </div>
    <div class="ratepay-installment-calculation-type ratepay-installment-calculation-by-time">
        <div class="small-12 columns">
            <label>
                {{ 'payment.ratepay.installment_calculator.month_allowed' | trans }}*
                {{ form_widget(form.ratepayInstallment.interest_month, { 'attr': {'placeholder': 'payment.ratepay.installment_calculator.installment_month' | trans } }) }}
            </label>
            {{ form_errors(form.ratepayInstallment.interest_month) }}
        </div>
    </div>
    <div class="ratepay-installment-calculation-type ratepay-installment-calculation-by-rate">
        <div class="small-12 columns">
            <label>
                {{ 'payment.ratepay.installment_calculator.interest_rate' | trans }}*
                {{ form_widget(form.ratepayInstallment.interest_rate, { 'attr': {'placeholder': 'payment.ratepay.installment_calculator.interest_rate' | trans } }) }}
            </label>
            {{ form_errors(form.ratepayInstallment.interest_rate) }}
        </div>
    </div>
</div>
