<div class="payment-subform ratepay-form ratepay-invoice-form payment-form small-12 medium-9 large-6" id="ratepayInvoice">
    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.date_of_birth' | trans }}*
            {{ form_widget(form.ratepayInvoice.date_of_birth, { 'attr': {'placeholder': 'payment.ratepay.date_of_birth' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayInvoice.date_of_birth) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.phone' | trans }}*
            {{ form_widget(form.ratepayInvoice.phone, { 'attr': {'placeholder': 'payment.ratepay.phone' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayInvoice.phone) }}
    </div>
</div>
