<div class="payment-subform ratepay-form ratepay-prepayment-form payment-form" id="ratepayPrepayment">
    <div class="small-12 columns">
        <label>
            {{ 'payment.ratepay.date_of_birth' | trans }}*
            {{ form_widget(form.ratepayPrepayment.date_of_birth, { 'attr': {'placeholder': 'payment.ratepay.date_of_birth' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayPrepayment.date_of_birth) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{  'payment.ratepay.phone' | trans }}*
            {{ form_widget(form.ratepayPrepayment.phone, { 'attr': {'placeholder': 'payment.ratepay.phone' | trans } }) }}
        </label>
        {{ form_errors(form.ratepayPrepayment.phone) }}
    </div>

    {#<div class="small-12 columns">#}
        {#<label>#}
            {#{{ 'payment.ratepay.customer_allow_credit_inquiry' | trans }}*#}
            {#{{ form_widget(form.ratepayPrepayment.customer_allow_credit_inquiry, { 'attr': {'placeholder': 'payment.ratepay.customer_allow_credit_inquiry' | trans } }) }}#}
        {#</label>#}
        {#{{ form_errors(form.ratepayPrepayment.customer_allow_credit_inquiry) }}#}
    {#</div>#}
</div>
