{% extends '@Gui/Layout/layout.twig' %}

{% set section_title = 'Create Multiple Vouchers' %}

{% block breadcrumb %}
    <li><a href="/discount/voucher">{{ 'Vouchers' | trans }}</a></li>
    <li class="active"><strong>{{ 'Create Multiple Vouchers' | trans }}</strong></li>
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: section_title } %}

        {% block widget_header_content %}
            <a class="btn btn-sm btn-default" href="/discount/voucher">{{ 'List Vouchers' | trans }}</a>
            <a class="btn btn-sm btn-primary" href="/discount/voucher/create-single">{{ 'Create Single Voucher' | trans }}</a>
        {% endblock %}

        {% block widget_content %}

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />
            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
