{% extends '@Gui/Layout/layout.twig' %}

{% set section_title = 'Generated Vouchers View' %}

{% block action %}
    {{ backActionButton('/discount/voucher/', 'List Vouchers' | trans }}
    {{ viewActionButton('/discount/voucher/export?id-pool=' ~ idPool ~ '&generated-on=' ~ generatedOn, 'Export' | trans }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: section_title } %}

        {% block widget_content %}

            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td>Valid until</td>
                    <td>{{ discount.validTo | date }}</td>
                </tr>
                <tr>
                    <td>Value</td>
                    <td>{% if discount.type == 'percent' %}{{ discount.amount }} %{% else %}{{ discount.amount }}{% endif %}</td>
                </tr>
                <tr>
                    <td>Generated Vouchers</td>
                    <td>{{ countVouchers }}</td>
                </tr>
            </table>

        {% endblock %}

    {% endembed %}

{% endblock %}
