{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Product' } %}
    {% block widget_content %}
        <div class="row form-group">
            <div class="col-xs-2"><b>{{ 'SKU' | trans }}</b></div>
            <div class="col-xs-10"><a target="_blank" href="{{ url('/product-management/view', {'id-product-abstract': productConcrete.fkProductAbstract}) }}">{{ productConcrete.sku }}</a></div>
        </div>

        {% set productType = 'Product' | trans %}

        {% if isGiftCard == true %}
            {% set productType = 'Gift Card' | trans %}
        {% endif %}

        {% if isProductBundle == true %}
            {% set productType = 'Product Bundle' | trans %}
        {% endif %}

        <div class="row form-group">
            <div class="col-xs-2"><b>{{ 'Type' | trans }}</b></div>
            <div class="col-xs-10">{{ productType }}</div>
        </div>

        <divs class="m-t">
            {% for localeTransfer in localeCollection %}
                {% for localizedData in productConcrete.localizedAttributes %}
                    {% if (localizedData.locale.localeName == localeTransfer.localeName ) %}

                        {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': (not loop.parent.loop.first), 'localeName': localeTransfer.localeName} %}
                            {% block content %}
                                <div class="row">
                                    <div class="col-xs-2"><b>{{ 'Name' | trans }}</b></div>
                                    <div class="col-xs-10">{{ localizedData.name }}</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-xs-2"><b>{{ 'Description' | trans }}</b></div>
                                    <div class="col-xs-10">
                                        {{ localizedData.description }}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}

                    {% endif %}
                {% endfor %}
            {% endfor %}
        </divs>
    {% endblock %}
{% endembed %}
