
{% set attributeForm = '' %}
{% for glossaryAttributes in glossaryForm.glossaryAttributes %}
    {% if tab.name == glossaryAttributes.vars.data.placeholder|replace({'.': '-'}) %}
        {% set attributeForm = glossaryAttributes %}
    {% endif %}
{% endfor %}

<div class="placeholder-translation-container">

    {{ form_row(attributeForm.fkCmsGlossaryMapping) }}
    {{ form_row(attributeForm.templateName) }}
    {{ form_row(attributeForm.fkPage) }}

    {% for locale in availableLocales %}
        {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': (loop.index == 1 ? false : true) , 'hasError': false} %}
            {% block content %}

                {% for translationForm in attributeForm.translations %}
                    {% if translationForm.vars.data.localeName == locale.localeName   %}
                        <div class="row">
                            <div class="col-sm-12" class="translation {% if translationForm.translation.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(translationForm.translation) }}
                                {{ form_widget(translationForm.translation, {'attr': {'rows': 5}}) }}

                                <div class="{% if translationForm.translation.vars.errors|length > 0 %}has-error{% endif %}">
                                    {{ form_errors(translationForm.translation) }}
                                </div>

                            </div>
                            {{ form_row(translationForm.fkLocale) }}
                            {{ form_row(translationForm.localeName) }}

                            {{ render('/cms-content-widget/usage-information/index', {'ignore_errors':true}) }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endfor %}

</div>
