
{% set attributeForm = '' %}
{% for glossaryAttributes in glossaryForm.glossaryAttributes %}
    {% if tab.name == glossaryAttributes.vars.data.placeholder %}
        {% set attributeForm = glossaryAttributes %}
    {% endif %}
{% endfor %}

<div class="placeholder-translation-container">

    {{ form_row(attributeForm.fkCmsGlossaryMapping) }}
    {{ form_row(attributeForm.templateName) }}
    {{ form_row(attributeForm.fkPage) }}

    {% for locale in availableLocales %}
        {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': (loop.index == 1 ? false : true) , 'hasError': false} %}
            {% block content %}

                {% for translationForm in attributeForm.translations %}
                    {% if translationForm.vars.data.localeName == locale.localeName   %}
                        <div class="row">
                            <div class="col-sm-12" class="translation {% if translationForm.translation.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(translationForm.translation) }}
                                {{ form_widget(translationForm.translation, {'attr': {'rows': 5}}) }}
                                {{ form_errors(translationForm.translation) }}
                            </div>
                            {{ form_row(translationForm.fkLocale) }}
                            {{ form_row(translationForm.localeName) }}

                            {% if cmsContentWidgetTemplateList.cmsContentWidgetConfigurations|length > 0 %}
                              <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Cms content functions</strong>
                                    </div>
                                    <div class="panel-body">
                                        {% for cmsWidgetConfiguration in cmsContentWidgetTemplateList.cmsContentWidgetConfigurations %}
                                            <strong>{{ cmsWidgetConfiguration.functionName }}</strong> <br />
                                            {{ 'Usage information:' | trans }}
                                            {{ cmsWidgetConfiguration.usageInformation }} <br />
                                            {{ 'Templates:' | trans }} <br />
                                            <ul>
                                                {% for templateName, templatePath in cmsWidgetConfiguration.templates %}
                                                    <li> {{ templateName }} ({{ templatePath }}) </li>
                                                {% endfor %}
                                            </ul>
                                            <hr />
                                        {% endfor %}
                                    </div>
                                </div>
                              </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endfor %}

</div>
