{% embed '@Gui/Partials/widget.twig' with { widget_title: 'General information' } %}
    {% block widget_content %}
        <div class="row">
            <div class="col-lg-2 font-bold">
                {{ 'Order reference' | trans }}
            </div>
            <div class="col-lg-10">
                <a target="_blank" href="{{ url('/sales/detail', {'id-sales-order': order.idSalesOrder}) }}">
                    {{ order.orderReference }}
                </a>
            </div>
        </div>
    {% endblock %}
{% endembed %}

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Select Items to Return' } %}
    {% block widget_content %}
        {{ form_start(returnCreateForm) }}
        {{ form_errors(returnCreateForm) }}

        <div class="table-responsive">
            <table class="table js-return-items-table" data-qa="order-item-list">
                <thead>
                <tr class="text-left">
                    <th><input type="checkbox" class="js-check-all-items"></th>
                    <th colspan="2">{{ 'Product' | trans }}</th>
                    <th>{{ 'Quantity' | trans }}</th>
                    <th>{{ 'Price' | trans }}</th>
                    <th>{{ 'Total' | trans }}</th>
                    <th>{{ 'Return policy' | trans }}</th>
                    <th>{{ 'State' | trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% include '@SalesReturnGui/Create/_partials/return-create-items.twig' with {
                    form: returnCreateForm,
                    order: order,
                } only %}

                {% include '@SalesReturnGui/Create/_partials/return-create-configured-bundles.twig' with {
                    form: returnCreateForm,
                    order: order,
                } only %}

                {% include '@SalesReturnGui/Create/_partials/return-create-product-bundles.twig' with {
                    form: returnCreateForm,
                    order: order,
                } only %}
                </tbody>
            </table>
        </div>

        <button class="btn btn-primary safe-submit js-create-return-submit" disabled>{{ 'Create return' | trans }}</button>

        {{ form_end(returnCreateForm) }}
    {% endblock %}
{% endembed %}
