<div class="form-group">
    {% for localeTransfer in localeCollection %}
        {% for navigationNodeLocalizedAttributes in navigationNodeForm.navigation_node_localized_attributes %}
            {% if localeTransfer.idLocale == navigationNodeLocalizedAttributes.fk_locale.vars.value %}

                {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': localeTransfer.localeName, 'collapsed': (not loop.parent.loop.first) } %}
                    {% block content %}
                        <div class="form-group {% if navigationNodeLocalizedAttributes.title.vars.errors|length %}has-error{% endif %}">
                            {{ form_label(navigationNodeLocalizedAttributes.title) }}
                            {{ form_widget(navigationNodeLocalizedAttributes.title, {'attr': {'class': 'name-translation', 'data-translation-key': navigationNodeLocalizedAttributes.title.vars.name}}) }}
                            {{ form_errors(navigationNodeLocalizedAttributes.title) }}
                        </div>

                        <p>External URL / CMS / Category / None ...</p>

                        {{ form_rest(navigationNodeLocalizedAttributes) }}
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

{{ form_widget(navigationNodeForm.is_active) }}
