<div class="form-group">
    {% for localeTransfer in localeCollection %}
        {% for localizedSeoForm in productSetForm.seo_form.localized_seo_form_collection %}
            {% if localeTransfer.idLocale == localizedSeoForm.fk_locale.vars.value %}
                {% embed '@Gui/Partials/localized-ibox.twig' with {
                'id': 'localized_attributes_container-' ~ localeTransfer.localeName,
                'localeName': localeTransfer.localeName,
                'collapsed': (not loop.parent.loop.first)
                } %}
                    {% block content %}

                        <div class="form-group {% if localizedSeoForm.meta_title.vars.errors|length %}has-error{% endif %}">
                            {{ form_label(localizedSeoForm.meta_title) }}
                            {{ form_widget(localizedSeoForm.meta_title, {'attr': {'data-translation-key': localizedSeoForm.meta_title.vars.name}}) }}
                            {{ form_errors(localizedSeoForm.meta_title) }}
                        </div>

                        <div class="form-group {% if localizedSeoForm.meta_keywords.vars.errors|length %}has-error{% endif %}">
                            {{ form_label(localizedSeoForm.meta_keywords) }}
                            {{ form_widget(localizedSeoForm.meta_keywords, {'attr': {'data-translation-key': localizedSeoForm.meta_keywords.vars.name}}) }}
                            {{ form_errors(localizedSeoForm.meta_keywords) }}
                        </div>
                        
                        {{ form_rest(localizedSeoForm) }}
                    {% endblock %}
                {% endembed %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

{{ form_rest(productSetForm.seo_form) }}
