{% extends '@Application/layout.twig' %}
{% block content %}

<h4>
    {{ 'Order Number'|trans }}: {{ order.incrementId }}
    {% if order.getIsTest %}
        <span class="label label-info">TEST ORDER</span>
    {% endif %}
</h4>

<hr>

<div class="row">
    <div class="col-md-2">
        {# customer info #}
        {{ panel('<i class="icon-user"></i> ' ~ 'Customer'|trans, widget('/sales/widgets/customer-data', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}
    </div>

    <div class="col-md-3">
        {# order info #}
        {{ panel('<i class="icon-info-sign"></i> ' ~ 'Order Info'|trans, widget('/sales/widgets/order-info', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}

        {# payment info #}
        {{ panel('<i class="icon-money"></i> ' ~ 'Payment Info'|trans, widget('/payment/payment-view/short-info', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}
    </div>

    <div class="col-md-7">
        {# invoices #}
        {{ panel('<i class="icon-money"></i> ' ~ 'Invoices'|trans, widget('/invoice/invoice-grid', {'id_sales_order' order.primaryKey }), {'noWrap': true}) }}

        {# delivery slip #}
        {{ panel('<i class="icon-info"></i> ' ~ 'Delivery Slip'|trans, widget('/invoice/delivery-slip-grid', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}

        {# comments #}
        {{ panel('<i class="icon-comments"></i> ' ~ 'Comments'|trans, widget('/sales/comment-grid', {'id_sales_order' =>.order.primaryKey}),
                ['noWrap': true]) }}

        {# state machine #}
        {{ panel('<i class="icon-cogs"></i> ' ~ 'State Machine'|trans, widget('/sales/widgets/state-machine', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}

        {# additional actions #}
        {% if order.getIsTest %}
            {% set panelBody = 'No additional actions available'|trans %}
        {% else %}
            {% set panelBody = '<a class="btn btn-default btn-small" href="/sales/order/mark-as-test-order?order_id=' ~ order.primaryKey ~ '">Mark as test order</a>' %}
        {% endif %}
        {{ panel('<i class="icon-gear"></i> ' ~ 'Additional Actions'|trans, panelBody)) }}
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {{ panel('<i class="icon-reorder"></i> ' ~ 'Items'|trans, widget('/sales/order-items', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ panel('<i class="icon-money"></i> ' ~ 'Payment'|trans, widget('/payment/payment-view', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ panel('Notes'|trans, widget('/sales/note-grid', {'id_sales_order': order.primaryKey }), {'noWrap': true}) }}
    </div>
</div>
{% endblock %}
