{% extends model('component') %}

{% define config = {
    name: 'ssp-service-filters',
} %}

{% define data = {
    searchForm: required,
} %}

{% block separator %}
    <hr class="box__separator">
{% endblock %}

{% block body %}
    {% block search %}
        <div class="form__fields grid grid--bottom">
            <div class="form__field col col--sm-12 col--md-6 col--lg-3">
                {{ form_row(data.searchForm.searchType) }}
            </div>
            <div class="form__field col col--sm-12 col--md-6">
                {{ form_row(data.searchForm.searchText, {
                    attr: {
                        class: 'input input--expand',
                        placeholder: 'global.search' | trans
                    }
                }) }}
            </div>

            <div class="form__field col col--sm-12 col--md-6 col--lg-3">
                {{ form_row(data.searchForm.companyBusinessUnit) }}
            </div>
        </div>
    {% endblock %}

    {{ block('separator') }}

    {% block submit %}
        <div class="form__fields grid grid--right">
            <div class="form__field col">
                <button class="button button--success">
                    {{ 'ssp_service_management.list.search_button' | trans }}
                </button>
            </div>
        </div>
    {% endblock %}

    {{ block('separator') }}
{% endblock %}
