<!-- TODO FW This template must be a widget of the discount bundle -->

<div class="row">
    <div class="col-sm-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Discount' } %}

            {% block widget_content %}

            <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <caption>Voucher</caption>
                             {% for calculatedDiscount in order.calculatedDiscounts %}
                                    {% if calculatedDiscount.voucherCode  %}
                                        <tr>
                                            <th>Name</th>
                                            <td class="text-right">{{ calculatedDiscount.displayName }}</td>
                                        </tr>
                                        <tr>
                                            <th>Value</th>
                                            <td class="text-right">{{ calculatedDiscount.sumGrossAmount | currency }}</td>
                                        </tr>
                                        <tr>
                                            <th>Voucher Code</th>
                                            <td class="text-right">{{ calculatedDiscount.voucherCode }}</td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td class="text-right">{{ calculatedDiscount.description }}</td>
                                        </tr>
                                    {% endif %}
                             {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <caption>Cart Rules</caption>
                            {% for calculatedDiscount in order.calculatedDiscounts %}
                                {% if calculatedDiscount.voucherCode is empty  %}
                                    <tr>
                                        <th>Name</th>
                                        <td class="text-right">{{ calculatedDiscount.displayName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Value</th>
                                        <td class="text-right">{{ calculatedDiscount.sumGrossAmount | currency }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td class="text-right">{{ calculatedDiscount.description }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
            </div>
            {% endblock %}

        {% endembed %}

    </div>
</div>
