<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states' } %}

            {% block widget_content %}

                <div>
                    {% for event in allEvents %}
                        <a class="btn btn-primary trigger-order-event" data-id-sales-order="{{ orderItem.idSalesOrderItem }}" data-event="{{ event }}" href="#">{{ event }}</a>
                    {% endfor %}
                </div>

            {% endblock %}

        {% endembed %}

    </div>
</div>

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Items' } %}

    {% block widget_content %}

        <table class="footable table table-striped toggle-arrow-tiny">
            <thead>
            <tr class="text-left">
                <th><input type="checkbox" id="check-all-orders" /></th>
                <th>{{ 'Image' | trans }}</th>
                <th>{{ 'Product' | trans }}</th>
                <th>{{ 'SKU' | trans }}</th>
                <th>{{ 'Unit Price' | trans }}</th>
                <th>{{ 'QTY' | trans }}</th>
                <th>{{ 'Unit price * Qty' | trans }}</th>
                <th>{{ 'Tax amount' | trans }}</th>
                <th>{{ 'Tax %' | trans }}</th>
                <th>{{ 'Discount amount' | trans }}</th>
                <th>{{ 'Item total' | trans }}</th>
                <th>{{ 'Status' | trans }}</th>
                <th>{{ 'Trigger event' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for orderItem in order.items %}
                <tr>
                    <td><input type="checkbox" name="order-item" value="{{ orderItem.idSalesOrderItem }}" class="item-check"></td>
                    <td>-image-</td>
                    <td>
                        <a href="#" target="_blank">{{ 'Yves view' }}</a><br>
                        <a href="#" target="_blank">{{ 'Zed View' }}</a>
                    </td>
                    <td>{{ orderItem.Sku }}</td>
                    <td>{{ orderItem.unitGrossPriceWithProductOptions | currency }}</td>
                    <td><a href="javascript:void(0);" onclick="{{ "$('#split_form_row_" ~ orderItem.IdSalesOrderItem ~ "').toggle();" }}">{{ orderItem.quantity }}</a></td>
                    <td>{{ orderItem.sumGrossPriceWithProductOptions | currency }}</td>
                    <td>{{ orderItem.sumTaxAmountWithProductOptionAndDiscountAmounts | currency }}</td>
                    <td>{{ orderItem.taxRate|default(0) }} %</td>
                    <td>-{{ orderItem.sumTotalDiscountAmountWithProductOption | currency }} </td>
                    <td>{{ orderItem.sumGrossPriceWithProductOptionAndDiscountAmounts | currency }} </td>
                    <td>
                        {% for stateHistory in orderItem.stateHistory | slice(0, 3) %}
                            <div>{{ stateHistory.state }} ({{ stateHistory.createdAt | date('Y-m-d G:i:s', false) }})</div>
                        {% endfor %}

                        {% if orderItem.stateHistory | length > 3 %}
                            <div id="history_details_{{ orderItem.IdSalesOrderItem }}" style="display: none">
                                {% for stateHistory in orderItem.stateHistory | slice(3) %}
                                    <div>{{ stateHistory.state }} ({{ stateHistory.createdAt | date('Y-m-d G:i:s', false) }})</div>
                                {% endfor %}
                            </div>

                            <a class="btn btn-sm" onclick="{{ "$('#history_details_" ~ orderItem.IdSalesOrderItem ~ "').toggle();" }}">{{ "Show more" | trans }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if events[orderItem.IdSalesOrderItem] | length > 0 %}
                            {% for event in events[orderItem.IdSalesOrderItem] %}
                                <a class="btn btn-primary btn-sm trigger-order-single-event" data-id-item="{{ orderItem.idSalesOrderItem }}" data-id-sales-order="{{ orderItem.idSalesOrderItem }}" data-event="{{ event }}" href="#">{{ event }}</a>
                            {% endfor %}
                        {% else -%}
                            -
                        {%- endif %}
                    </td>
                </tr>
                {% if orderItemSplitFormCollection is defined %}
                <tr style="display: none;" id="split_form_row_{{ orderItem.idSalesOrderItem }}">
                    <td colspan="12">
                        <h4>{{ 'Split order items' | trans }}</h4>
                        {{ form(orderItemSplitFormCollection[orderItem.idSalesOrderItem]) }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>

    {% endblock %}

{% endembed %}
