<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states' } %}

            {% block widget_content %}

                <div>
                    {% for event in allEvents %}
                        <a class="btn btn-primary"
                           href="/oms/trigger/trigger-event-for-order?id-sales-order={{ idOrder }}&event={{ event }}&redirect=/sales/details?id-sales-order={{ idOrder }}">
                            {{ event }}
                        </a>
                    {% endfor %}
                </div>

            {% endblock %}

        {% endembed %}

    </div>
</div>

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Items' } %}

    {% block widget_content %}

        <table class="footable table table-striped toggle-arrow-tiny">
            <thead>
            <tr class="text-left">
                <th>{{ "Item name" | trans }}</th>
                <th>{{ "SKU" | trans }}</th>
                <th>{{ 'qty' | trans }}</th>
                <th>{{ "Gross price" | trans }}</th>
                <th>{{ "Current state" | trans }}</th>
                <th>{{ "History" | trans }}</th>
                <th>{{ "Trigger event" | trans }}</th>
                <th>{{ "Process" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for orderItem in orderItems %}
                <tr>
                    <td>{{ orderItem.Name }}</td>
                    <td>{{ orderItem.Sku }}</td>
                    <td><a href="javascript:void(0);" onclick="$('#split_form_row_{{ orderItem.IdSalesOrderItem }}').toggle();">{{ orderItem.quantity }}</a></td>
                    <td>{{ orderItem.GrossPrice | currency }}</td>
                    <td>{{ orderItem.State.Name }}</td>
                    <td>
                        {% for stateHistory in orderItem.StateHistories | slice(0, 3) %}
                            <div>{{ stateHistory.State.Name }} ({{ stateHistory.CreatedAt | date('Y-m-d G:i:s', false) }})</div>
                        {% endfor %}

                        {% if orderItem.StateHistories | length > 3 %}
                            <div id="history_details_{{ orderItem.IdSalesOrderItem }}" style="display: none">
                                {% for stateHistory in orderItem.StateHistories | slice(3) %}
                                    <div>{{ stateHistory.State.Name }} ({{ stateHistory.CreatedAt | date('Y-m-d G:i:s', false) }})</div>
                                {% endfor %}
                            </div>

                            <a class="btn btn-sm" onclick="$('#history_details_{{ orderItem.IdSalesOrderItem }}').toggle();">{{ "Show more" | trans }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if events[orderItem.IdSalesOrderItem] | length > 0 %}
                            {% for event in events[orderItem.IdSalesOrderItem] %}
                                <a class="btn btn-sm btn-primary"
                                   href="/oms/trigger/trigger-event-for-order-items?id-sales-order-item={{ orderItem.IdSalesOrderItem }}&event={{ event }}&redirect=/sales/details?id-sales-order={{ idOrder }}">
                                    {{ event }}</a>
                            {% endfor %}
                        {% else -%}
                            -
                        {%- endif %}
                    </td>
                    <td>
                        <a href="{{ url('/oms/index/draw-item', {id: orderItem.IdSalesOrderItem}) }}" target="_blank">
                            {{ orderItem.process.name }}
                        </a>
                    </td>
                </tr>
                {% if orderItemSplitFormCollection is defined %}
                    <tr style="display: none;" id="split_form_row_{{ orderItem.IdSalesOrderItem }}">
                        <td colspan="9">
                            <h4>Split order item</h4>
                            {{ form(orderItemSplitFormCollection[orderItem.IdSalesOrderItem]) }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>

    {% endblock %}

{% endembed %}
