{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Overview' } %}

    {% block widget_content %}
        <div class="row">
            <div class="col-sm-4">
                <p><b>{{ 'Order ID' | trans }}:</b> 12334</p>
                <p><b>{{ 'Order date' | trans }}:</b> 12334</p>
                <p><b>{{ 'Grand total' | trans }}:</b> 12334</p>
                <p><b>{{ 'Discount' | trans }}:</b> 12334</p>
                <p><b>{{ 'Item Quantity' | trans }}:</b> 12334</p>
            </div>
            <div class="col-sm-4">
                <p><b>{{ 'Customer name' | trans }}:</b> First Name</p>
                <p><b>{{ 'Email' | trans }}:</b> a@spryker.com</p>
                <p><b>{{ 'Status' | trans }}:</b> <span class="label label-info">Status</span></p>
                <p><b>{{ 'Other order' | trans }}:</b> (123)</p>
            </div>
            <div class="col-sm-4">
                <h3>Comments <div class="pull-right"><a href="" class="btn btn-xs btn-primary">{{ 'Add Message' | trans }}</a></div></h3>
                <div class="order-details-chat">
                    {% for i in 1..6 %}
                        <div class="chat">
                            <div class="chat-author"><span>Username</span></div>
                            <div class="chat-body">This is my message</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}

{% endembed %}
