{% macro item(urlTarget, label, fontAwesomeIcon, fontAwesomeText='') %}
    <div class="nav-item pull-left">
        <div>
            <a href="{{ urlTarget }}" title="{{ label | trans | escape }}">
                <span class="icon fa fa-{{ fontAwesomeIcon }}">{{ fontAwesomeText | default('') | raw }}</span>
                <span class="text">{{ label | trans }}</span>
            </a>
        </div>
    </div>
{% endmacro %}

{% import _self as navigation %}

<div class="overview-nav">
    {{ navigation.item('#order-overview', 'Overview', 'eye') }}
    {{ navigation.item('#items', 'Items', 'shopping-cart') }}
    {{ navigation.item('#totals', 'Totals', 'euro') }}
    {{ navigation.item('#payments', 'Payment', 'credit-card') }}
    {{ navigation.item('#shipment', 'Shipment', 'truck') }}
    {{ navigation.item('#discount', 'Discount', 'percent', '&percnt;') }}
    {{ navigation.item('#address', 'Address', 'map-marker') }}
    <div class="clearfix"></div>
</div>
