{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Edit a Cms Block' %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block content %}
    <div id="spy-cms" class="glossary">
        {% if isSynced %}
            <div class="alert">
                <div class="green">New template(s) detected and added to the template list.</div>
            </div>
        {% endif %}

        {% embed '@Gui/Partials/widget.twig' %}

            {% block widget_header_content %}

                <a href="/cms/block/" class="btn btn-sm btn-default">{{ 'Back to CMS' | trans }}</a>

            {% endblock %}

            {% block widget_content %}

                {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />

                {{ form_end(form) }}

            {% endblock %}

        {% endembed %}
        <div class="itemListCanvas"></div>
        <div class="loading block-loading">
            <img src="/bundles/images/loading.gif">
            Loading...
        </div>
    </div>
{% endblock %}
