{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Discount' } %}

    {% block widget_content %}

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <caption>{{ 'Voucher' | trans }}</caption>
                    {% for calculatedDiscount in order.calculatedDiscounts %}
                        {% if calculatedDiscount.voucherCode  %}
                            <tr>
                                <th>{{ 'Name' | trans }}</th>
                                <td class="text-right">{{ calculatedDiscount.displayName }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Value' | trans }}</th>
                                <td class="text-right">{{ calculatedDiscount.sumAmount | money(true, order.currencyIsoCode) }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Voucher Code' | trans }}</th>
                                <td class="text-right">{{ calculatedDiscount.voucherCode }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Description' | trans }}</th>
                                <td class="text-right">{{ calculatedDiscount.description }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <caption>{{ 'Cart Rules' | trans }}</caption>
                    {% for calculatedDiscount in order.calculatedDiscounts %}
                        {% if calculatedDiscount.voucherCode is empty  %}
                            <tr>
                                <th>{{ 'Name' | trans }}</th>
                                <td class="text-right">{{ calculatedDiscount.displayName }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Value' | trans }}</th>
                                <td class="text-right">{{ calculatedDiscount.sumAmount | money(true, order.currencyIsoCode) }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Description' | trans }}</th>
                                <td class="text-right">{{ calculatedDiscount.description }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    {% endblock %}

{% endembed %}
