{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Update'| trans ~ ' "' ~ roleTransfer.getName() | e ~ '" ' ~ 'Role'| trans %}

{% block head_title widget_title | trans %}

{% block action %}
    {{ backActionButton('/acl/role', 'List Roles' | trans) }}
    {{ createActionButton('/acl/role/create', 'Create Role' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Role' | trans }}</div>
                <div class="panel-body">
                    {{ form_start(roleForm) }}
                    {{ form_widget(roleForm) }}
                    <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}"/>
                    {{ form_end(roleForm) }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Rule' | trans }}</div>
                <div class="panel-body">
                    {{ form_start(ruleSetForm) }}
                    {{ form_widget(ruleSetForm) }}
                    <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Add Rule' | trans }}"/>
                    {{ form_end(ruleSetForm) }}
                </div>
            </div>

            <h3>{{ 'Assigned Rules' | trans }}</h3>

            {% if ruleSetTable %}
                <p>
                    {{ ruleSetTable | raw }}
                </p>
            {% endif %}

        {% endblock %}

    {% endembed %}

{% endblock %}
