{% extends '@Gui/Layout/layout.twig' %}

{% block head_title 'Add a new address' | trans %}
{% block section_title 'Add a new address' | trans %}

{% block content %}

    <p>
        <a href="/customer/view?id_customer={{ id_customer }}" class="btn btn-primary">{{ 'View Customer' | trans }}</a>&nbsp;&nbsp;&nbsp;
        <a href="/customer/address/?id_customer={{ id_customer }}" class="btn btn-primary ">{{ 'Manage Addresses' | trans }}</a>
    </p>

    {{ form(form) }}

{% endblock %}
