{#
@var product \Generated\Shared\Transfer\ProductConcreteTransfer
@var imageSet \Generated\Shared\Transfer\ProductImageSetTransfer
@var image \Generated\Shared\Transfer\ProductImageTransfer
@var localizedAttribute \Generated\Shared\Transfer\LocalizedAttributesTransfer
#}

{% form_theme form '@ZedUi/Form/form-webcomponent-layout.twig' %}

{% set images = [] %}

{% for imageSet in product.imageSets %}
    {% if imageSet.locale and imageSet.locale.localeName == app.locale %}
        {% set images = imageSet.productImages | reduce((accumulator, image) => (
                accumulator | merge([{
                src: image.externalUrlSmall,
                alt: '',
            }])
        ), []) %}
    {% endif %}
{% endfor %}

{% set productDetailsTitle = 'Description & Details' | trans %}
{% set productCardTitle = 'Product' | trans %}

{% set productData = {
    name: productName,
    sku: product.sku,
    validTo: product.validTo is null ? null : product.validTo | date('m.d.Y'),
    validFrom: product.validFrom is null ? null : product.validFrom | date('m.d.Y'),
    validFromTitle: 'Valid from' | trans,
    validToTitle: 'Valid to' | trans,
} %}

{% macro spyFormItemCardInput(formField, className, attrs = {}) %}
    <web-spy-card cloak spy-title="{{ formField.vars.label | trans }} {{ formField.vars.required ? '*' }}" class="{{ className }}__card">
        <div class="{{ className }}__form-row">
            <div class="{{ className }}__form-row-col">
                {{ form_row(formField, { label: false, row_attr: { 'no-spaces': 'true' } }) }}
            </div>
        </div>
    </web-spy-card>
{% endmacro %}

{% import _self as macros %}

{% block body %}
    {% set mainClass = 'mp-edit-offer' %}

    {% block editOffer %}
        <web-mp-edit-offer
            product="{{ productData | json_encode() }}"
            images="{{ images | json_encode() }}"
            product-details-title="{{ productDetailsTitle }}"
            product-card-title="{{ productCardTitle }}"
            cloak
        >
            {% block title %}
                <span title>
                    {{ productOfferReference is defined ? 'Offer' | trans }}
                </span>
            {% endblock %}

            {% block subTitle %}
                <span sub-title>
                    {{ productOfferReference is defined ? productOfferReference : 'Create Offer' | trans }}
                </span>
            {% endblock %}

            {% block approvalStatus %}
                <span approval-status>
                    {% if approvalStatus is defined %}
                        <web-spy-chips color="{{ approvalStatusChipColors[approvalStatus] ?? 'green' }}">
                            {{ approvalStatus | trans }}
                        </web-spy-chips>
                    {% endif %}
                </span>
            {% endblock %}

            {% block action %}
                {{ form_row(form.create, {
                    label: (productOfferReference is defined ? 'Save' : 'Create') | trans,
                    attr: { size: 'lg', action: '' },
                }) }}
            {% endblock %}

            {% block productStatus %}
                <web-spy-chips
                    product-status
                    color="{{ product.isActive ? 'green' : 'gray' }}"
                >
                    {{ (product.isActive ? 'Online' : 'Offline') | trans }}
                </web-spy-chips>
            {% endblock %}

            {% block productDetails %}
                <div product-details>
                    {% for localizedAttribute in product.localizedAttributes %}
                        {% if localizedAttribute.locale.localeName == app.locale %}
                            <p>{{ localizedAttribute.description }}</p>
                        {% endif %}
                    {% endfor %}

                    {% if productAttributes is not empty %}
                        <div class="{{ mainClass }}__product-details">
                            {% for attributeKey, attribute in productAttributes %}
                                <div class="{{ mainClass }}__product-details-col">
                                    <span class="{{ mainClass }}__product-details-text {{ mainClass }}__product-details-text--title">
                                        {{ attributeKey | replace({ '_': ' ' }) }}
                                    </span>
                                    <span class="{{ mainClass }}__product-details-text">{{ attribute }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            {% block editOfferForm %}
                {{ form_start(form, { attr: { excludeFormTag: true } }) }}
                    {% block status %}
                        <web-spy-card
                            cloak
                            spy-title="{{ 'Offer status' | trans }}"
                            class="{{ mainClass }}__card {{ mainClass }}__status"
                        >
                            {{ form_row(form.children.isActive, {
                                label: 'Offer is online' | trans,
                                row_attr: { 'no-spaces': 'true', 'no-label': 'true' },
                            }) }}
                        </web-spy-card>
                    {% endblock %}

                    {% block merchantSku %}
                        {{ macros.spyFormItemCardInput(form.children.merchantSku, mainClass) }}
                    {% endblock %}

                    {% block productOfferReference %}
                        {% if form.children.productOfferReference is defined %}
                            {{ macros.spyFormItemCardInput(form.children.productOfferReference, mainClass) }}
                        {% endif %}
                    {% endblock %}

                    {% block stores %}
                        {{ macros.spyFormItemCardInput(form.children.stores, mainClass) }}
                    {% endblock %}

                    {% block availableStock %}
                        <web-spy-card cloak spy-title="{{ 'Available Stock' | trans }}" class="{{ mainClass }}__card">
                            {% block availableStockInner %}
                                <div class="{{ mainClass }}__stock">
                                    {% block availableStockCard %}
                                        <web-spy-card>
                                            {% block availableStockCardInner %}
                                                <div class="{{ mainClass }}__stock-inner">
                                                    {% block availableStockCardQuantity %}
                                                        <div class="{{ mainClass }}__stock-inner-row">
                                                            {{ form_row(form.children.productOfferStocks.quantity, { row_attr: { 'no-spaces': 'true' } }) }}
                                                        </div>
                                                    {% endblock %}

                                                    {% block availableStockCardOutOfStock %}
                                                        <div class="{{ mainClass }}__stock-inner-row">
                                                            {{ form_row(form.children.productOfferStocks.isNeverOutOfStock, { row_attr: { 'no-spaces': 'true' } }) }}
                                                        </div>
                                                    {% endblock %}
                                                </div>
                                            {% endblock %}
                                        </web-spy-card>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </web-spy-card>
                    {% endblock %}

                    {% block price %}
                        <web-spy-card cloak spy-title="{{ 'Price' | trans }}" class="{{ mainClass }}__card">
                            {% block priceInner %}
                                {% block priceTable %}
                                    <web-mp-offer-prices-table
                                        cloak
                                        table-id="web-mp-offers-list"
                                        config='{{ guiTableConfiguration(priceProductOfferTableConfiguration) }}'>
                                    </web-mp-offer-prices-table>
                                {% endblock %}
                            {% endblock %}
                        </web-spy-card>

                        {% do form.prices.setRendered %}
                    {% endblock %}

                    {% block validityDates %}
                        {% set dates = {
                            from: form.children.productOfferValidity.children.validFrom.vars.value,
                            to: form.children.productOfferValidity.children.validTo.vars.value,
                        } %}

                        {% block validityDatesInner %}
                            <web-spy-card cloak spy-title="{{ 'Validity Dates' | trans }}">
                                <div class="{{ mainClass }}__form-row">
                                    <div class="{{ mainClass }}__form-row-col {{ mainClass }}__form-row-col--dates">
                                        {% set productOfferValidityErrors = form.children.productOfferValidity.children.validFrom.vars.errors | merge(
                                            form.children.productOfferValidity.children.validTo.vars.errors
                                        ) %}

                                        {% block validityDatesFormItem %}
                                            <web-spy-form-item
                                                cloak
                                                no-spaces="true"
                                                no-label="true"
                                                error="{{ productOfferValidityErrors[0].message | default | trans }}"
                                            >
                                                {% block validityDatesRangePicker %}
                                                    <web-spy-date-range-picker
                                                        cloak
                                                        control
                                                        dates="{{ dates | json_encode() }}"
                                                        name-from="{{ form.children.productOfferValidity.children.validFrom.vars.full_name }}"
                                                        name-to="{{ form.children.productOfferValidity.children.validTo.vars.full_name }}"
                                                        placeholder-from="{{ form.children.productOfferValidity.children.validFrom.vars.attr.placeholder | default | trans }}"
                                                        placeholder-to="{{ form.children.productOfferValidity.children.validTo.vars.attr.placeholder | default | trans }}"
                                                    ></web-spy-date-range-picker>
                                                {% endblock %}
                                            </web-spy-form-item>
                                        {% endblock %}
                                    </div>
                                </div>
                            </web-spy-card>
                        {% endblock %}

                        {% do form.children.productOfferValidity.setRendered %}
                    {% endblock %}
                {{ form_end(form, { attr: { excludeFormTag: true } }) }}
            {% endblock %}
        </web-mp-edit-offer>
    {% endblock %}
{% endblock %}
