{% set numberOfItemAdditions = not isBundleProduct ? orderItem.productOptions | length + 1 %}

<td class="item-checker">
    {% if not isBundleProduct %}
        <input type="checkbox" name="id-order-item[]" value="{{ orderItem.idSalesOrderItem }}" class="item-check">
    {% endif %}
</td>
{% if displayImage %}
    <td>
        <div class="image-wrap">
            <img class="product-image" src="{{ orderItem.metadata.image }}" alt="{{ orderItem.name }}">
        </div>
    </td>
{% endif %}
<td>
    <div>
        <a target="_blank" href="{{ url('/product-management/view', {'id-product-abstract': orderItem.idProductAbstract}) }}">
            {{ orderItem.name }}
        </a>
    </div>
    <div class="sku">
        {{ 'Sku' | trans }}: {{ orderItem.sku }}
    </div>

    {% if (orderItem.metadata.superAttributes | default([])) | length > 0 %}
        <div class="variant-details">
            <h3>{{ 'Variant Details' | trans }}</h3>
            {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(0, 2) %}
                <div>{{ attributeName }}: {{ attributeValue }}</div>
            {% endfor %}

            {% if orderItem.metadata.superAttributes | length > 2 %}
                <div id="attribute_details_{{ orderItem.IdSalesOrderItem }}" class="hidden">
                    {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(2) %}
                        <div>{{ attributeName }}: {{ attributeValue }}</div>
                    {% endfor %}
                </div>

                <a id="attribute-details-btn-{{ orderItem.IdSalesOrderItem }}" class="btn btn-sm more-attributes is-hidden" data-id="{{ orderItem.IdSalesOrderItem }}">
                    <span class="show-more">{{ 'Show more' | trans }}</span>
                    <span class="show-less">{{ 'Show less' | trans }}</span>
                </a>
            {% endif %}
        </div>
    {% endif %}
</td>
<td>
    <div>
        {% include '@SalesReclamationGui/Partials/items/discounted-price.twig' with {
            subtotal: orderItem.unitPrice,
            priceToPay: orderItem.unitPrice - orderItem.unitDiscountAmountFullAggregation | default(0),
            reclamation: reclamation,
        } %}
    </div>
    <div class="tax-info">{{ 'incl. %tax_amount% % tax' | trans({'%tax_amount%': orderItem.taxRate | default(0)}) }}</div>
</td>
{% if displayTotals %}
    <td data-qa="item-total-amount" data-qa-raw="{{ orderItem.unitPriceToPayAggregation }}">
        {% include '@SalesReclamationGui/Partials/items/discounted-price.twig' with {
            subtotal: orderItem.unitSubtotalAggregation,
            priceToPay: orderItem.unitPriceToPayAggregation,
            reclamation: reclamation,
        } %}
    </td>
{% endif %}
<td rowspan="{{ numberOfItemAdditions }}" class="state-history">
    {% if not isBundleProduct %}
        <div>
            <a href="{{ url('/oms/index/draw', {'process': orderItem.process, 'state': orderItem.state.name}) }}"
               target="_blank"
            >{{ (orderItem.stateHistory | first).name }}</a> ({{ orderItem.process }})
        </div>
    {% endif %}
</td>
