{% extends 'MultiFactorAuth/UserManagement/set-up-merchant-portal.twig' %}

{% block header %}
    {% set navigationConfig = [] %}

    {% for userMenuNavigationItem in userMenuNavigationItems %}
        {% set navigationConfig = navigationConfig | merge([{
            url: userMenuNavigationItem.uri,
            type: userMenuNavigationItem.type,
            title: userMenuNavigationItem.title | trans,
        }]) %}
    {% endfor %}

    {% set navigationConfig = navigationConfig | merge([{
        url: '/agent-security-merchant-portal-gui/logout',
        type: 'danger',
        title: 'Logout' | trans
    }]) %}

    <header header>
        {% block headerMenu %}
            <web-mp-header-menu navigation-config="{{ navigationConfig | json_encode() }}" cloak menu>
                {% block infoPrimary %}
                    {% if username is not empty %}
                        <span info-primary>{{ username }}</span>
                    {% endif %}
                {% endblock %}

                {% block infoSecondary %}
                    {% if userEmail is not empty %}
                        <span info-secondary>{{ userEmail }}</span>
                    {% endif %}
                {% endblock %}
            </web-mp-header-menu>
        {% endblock %}
    </header>
{% endblock %}

{% block tableRow %}
    {% set actionPath = url("/multi-factor-auth/user-management-agent-merchant-portal/#{method.status ? 'deactivate' : 'activate'}", {'type': method.type}) %}

    {{ parent() }}
{% endblock %}

{% block form %}
    {% set url = "/multi-factor-auth/agent-merchant-user/get-enabled-types?#{flowType}=true&type_to_set_up=#{method.type}" %}

    {{ parent() }}
{% endblock %}
