{% extends '@Gui/Layout/layout.twig' %}

{% block section_title 'Edit discount' | trans %}

{% block action %}
    {% if discountConfigurator.getDiscountGeneral.isActive %}
        {% set visibility = 'deactivate' %}
        {% set label = 'Deactivate' %}
        {% set buttonClass = 'btn-remove' %}
        {% set icon = 'fa-trash' %}
    {% else %}
        {% set visibility = 'activate' %}
        {% set label = 'Activate' %}
        {% set buttonClass = 'btn-view' %}
        {% set icon = 'fa-caret-right' %}
    {% endif %}
    {{ form_start(discountVisibilityForm, {
        'action': url('/discount/index/toggle-discount-visibility', {'id-discount': idDiscount, 'visibility': 'deactivate'}),
        'attr': {'class': 'form-inline'}
    }) }}
        <button type="submit" class="btn btn-sm btn-outline safe-submit {{ buttonClass }}">
            <i class="fa {{ icon }}"></i>
            {{ label | trans }}
        </button>
    {{ form_end(discountVisibilityForm) }}

    {{ backActionButton('/discount/index/list', 'List of Discounts' | trans) }}
{% endblock %}

{% block content %}

    {{ tabs(discountFormTabs, {
        'discountForm': discountForm,
        'voucherForm': voucherForm,
        'discountConfigurator': discountConfigurator,
        'idDiscount': idDiscount,
        'voucherCodesTable': voucherCodesTable
    }) }}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link href="{{ assetsPath('css/spryker-zed-discount-main.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-discount-main.js') }}"></script>
{% endblock %}

