{% extends '@Gui/Layout/layout.twig' %}

{% block action %}
    {{ createActionButton('#', 'Save' | trans, {'id': 'create-discount-button'}) }}

    {% set visibility = 'activate' %}
    {% if discountConfigurator.getDiscountGeneral.isActive %}
       {% set visibility = 'deactivate' %}
    {% endif %}

    {{ viewActionButton(url('/discount/index/toggle-discount-visibility', {'id-discount': idDiscount, 'visibility': visibility}), visibility | trans) }}
    {{ backActionButton('/discount/index/list', 'List of Discounts' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Edit Discount' } %}

        {% block widget_content %}


            <div class="tabs-container">
                <div class="tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">{{ 'General information' | trans }}</a></li>
                        <li><a data-toggle="tab" href="#tab-2">{{ 'Discount calculation' | trans }}</a></li>
                        <li><a data-toggle="tab" href="#tab-3">{{ 'Conditions' | trans }}</a></li>
                        {% if discountConfigurator.getDiscountVoucher and discountConfigurator.getDiscountVoucher.fkDiscountVoucherPool %}
                           <li><a data-toggle="tab" href="#tab-4">{{ 'Voucher codes' | trans }}</a></li>
                        {% endif %}
                    </ul>

                    <div class="tab-content ">

                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                {{ form_start(discountForm, {attr: {'id' : 'discount-form'}}) }}
                                {% include '@Discount/Index/partial/general.twig' %}
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                {% include '@Discount/Index/partial/calculation.twig' %}
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                {% include '@Discount/Index/partial/condition.twig' %}
                                {{ form_end(discountForm) }}
                            </div>
                        </div>

                        {% if discountConfigurator.getDiscountVoucher and discountConfigurator.getDiscountVoucher.fkDiscountVoucherPool %}
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                {% include '@Discount/Index/partial/voucher.twig' %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>


        {% endblock %}

    {% endembed %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link href="/assets/css/spryker-zed-discount-main.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-discount-main.js"></script>
{% endblock %}

