{% extends '@Gui/Layout/layout.twig' %}

{% block section_title %}
    {{ 'View discount' | trans }}
{% endblock %}

{% block action %}
    {{ editActionButton(url('/discount/index/edit', {'id-discount' : discountConfigurator.discountGeneral.idDiscount}), 'Edit' | trans, {'id': 'create-discount-button'}) }}
    {{ backActionButton('/discount/index/list', 'List of Discounts' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Generated Discount Codes' } %}

        {% block widget_content %}
           <h4>{{ 'General Information' | trans }}</h4>
           <table class="table">
               <tr>
                   <td style="width: 220px;">{{ 'Store relation:' | trans }}</td>
                   <td>
                       {% for store in discountConfigurator.discountGeneral.storeRelation.stores %}
                           <span class="label label-info">{{ store.name }}</span>
                       {% endfor %}
                   </td>
               </tr>
               <tr>
                   <td style="width: 220px;">{{ 'Discount Type:' | trans }}</td>
                   <td>
                       {{ discountConfigurator.discountGeneral.discountType|replace('_', ' ')|trans  }}
                   </td>
               </tr>
               <tr>
                   <td>{{ 'Name:' | trans }}</td>
                   <td>{{ discountConfigurator.discountGeneral.displayName }}</td>
               </tr>
               <tr>
                   <td>{{ 'Description:' | trans }}</td>
                   <td>{{ discountConfigurator.discountGeneral.description }}</td>
               </tr>

               <tr>
                   <td>{{ 'Exclusive:' | trans }}</td>
                   <td>
                       {% if discountConfigurator.discountGeneral.isExclusive %}
                           {{ 'Yes' | trans }}
                       {% else %}
                           {{ 'No' | trans }}
                       {% endif %}
                   </td>
               </tr>
               <tr>
                   <td>{{ 'Valid from:' | trans }}</td>
                   <td>{{ discountConfigurator.discountGeneral.validFrom|date }}</td>
               </tr>
               <tr>
                   <td>{{ 'Valid until:' | trans }}</td>
                   <td>{{ discountConfigurator.discountGeneral.validTo|date }}</td>
               </tr>
           </table>

          <h4>{{ 'Discount calculation' | trans }}</h4>
          <table class="table">
              <tr>
                  <td style="width: 220px;">{{ 'Type:' | trans }}</td>
                  <td>{{ discountConfigurator.discountCalculator.calculatorPlugin|replace({'_' :' ', 'PLUGIN' : ''})|capitalize }}</td>
              </tr>
              <tr>
                  <td>{{ 'Amount:' | trans }}</td>
                  <td>
                      {% if discountConfigurator.discountCalculator.moneyValueCollection|length > 0 %}
                          {% for moneyValue in discountConfigurator.discountCalculator.moneyValueCollection  %}
                              Gross {{ moneyValue.grossAmount }} <br />
                              Net {{ moneyValue.netAmount }} <br />
                          {% endfor %}
                      {% else %}
                          {{ discountConfigurator.discountCalculator.amount }}
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <td>{{ 'Apply to query:' | trans }}</td>
                  <td>{{ (discountConfigurator.discountCalculator.collectorQueryString) ? discountConfigurator.discountCalculator.collectorQueryString : 'N/A' | trans }}</td>
              </tr>
          </table>

          <h4>{{ 'Conditions' | trans }}</h4>

          <table class="table">
              <tr>
                  <td style="width: 220px;">{{ 'Apply to query:' | trans }}</td>
                  <td>
                      {% if discountConfigurator.discountCondition.decisionRuleQueryString %}
                        {{ discountConfigurator.discountCondition.decisionRuleQueryString }}
                      {% else %}
                          {{  'No conditions, discount always applied.' | trans }}
                      {% endif %}
                  </td>
              </tr>
              <tr>
                  <td style="width: 220px;">{{ 'The discount can be applied if the query applies for at least X item(s):' | trans }}</td>
                  <td>
                      {{ discountConfigurator.discountCondition.minimumItemAmount }}
                  </td>
              </tr>
          </table>

        {% for block in renderedBlocks %}
            {{ block | raw }}
        {% endfor %}

        {% if discountConfigurator.discountGeneral.discountType == 'voucher' %}
            <hr>
            <p><strong>{{ 'Generated Discount Codes' | trans }}</strong></p>
            {{ voucherCodesTable | raw }}
        {% endif %}



        {% endblock %}

    {% endembed %}

{% endblock %}

