{% extends '@Gui/Layout/layout.twig' %}

{% block section_title %}
    {{ 'Overview of File Tree' | trans }}
{% endblock %}

{% block action %}
    <a id="delete-directory-link" class="btn btn-sm btn-outline btn-remove"
       href="#">
        <i class="fa fa-trash"></i> {{ 'Delete Directory' | trans }}
    </a>

    {{ createActionButton('/file-manager-gui/add-directory', 'Create File Directory' | trans) }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div id="file-directory-tree">
                {% include '@FileManagerGui/DirectoriesTree/tree.twig' %}
            </div>
            <div>
                <input type="button" id="file-directory-tree-save-btn" class="btn btn-primary pull-left m-r-sm"
                       value="{{ 'Save order' | trans }}" disabled="disabled"/>
                {% include '@FileManagerGui/_partials/progressbar.twig' with {
                    idProgressbar: 'file-directory-tree-update-loader',
                    fileDirectoryProgressbarClass: 'progress-inline'
                } %}
            </div>
        </div>

        <div class="col-lg-6">
            <div id="file-directory-files-list">
            </div>
        </div>

        {% include '@FileManagerGui/DirectoriesTree/_partials/directory-deleting-confirmation-modal.twig' %}
    </div>

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-file-directory.css') }}"/>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-file-directory.js') }}"></script>
{% endblock %}
