{% extends '@Gui/Layout/empty-layout.twig' %}

{% block content %}

    {{ form_start(navigationForm) }}
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ 'Add child' | trans }}</h5>
            </div>

            <div class="ibox-content">
                {{ form_widget(navigationForm) }}
            </div>

            <div class="ibox-footer">
                <input type="submit" id="navigation-tree-save-btn" class="btn btn-primary" value="{{ 'Save' | trans }}" />
            </div>
        </div>
    {{ form_end(navigationForm) }}

{% endblock %}
