{% form_theme changePasswordForm '@ZedUi/Form/form-webcomponent-layout.twig' %}

{% block body %}
    {{ form_start(changePasswordForm, { attr: { excludeFormTag: true } }) }}
        <web-mp-change-field-overlay cloak>
            <h5 title>{{ 'Change password' | trans }}</h5>
            {{ form_row(changePasswordForm.save, { attr: { size: 'lg', action: '' } }) }}

            <web-spy-card cloak>
                {{ form_row(changePasswordForm.current_password) }}
                {{ form_row(changePasswordForm.new_password) }}
            </web-spy-card>
        </web-mp-change-field-overlay>
    {{ form_end(changePasswordForm) }}

    {% include '@MultiFactorAuthMerchantPortal/Partials/mp-mfa-handler.twig' ignore missing with {
        url: path('multi-factor-auth-merchant-portal:merchant-user:get-enabled-types'),
        ajaxFormSelector: 'spy-ajax-form:has(.mp-change-field-overlay)',
    } %}
{% endblock %}
