{% form_theme changePasswordForm '@ZedUi/Form/form-webcomponent-layout.twig' %}

{% block body %}
    {{ form_start(changePasswordForm, { attr: { excludeFormTag: true } }) }}
        <web-mp-change-password-overlay cloak>
            <h3 title>{{ 'Change password' | trans }}</h3>
            {{ form_row(changePasswordForm.save, { attr: { size: 'lg', action: '' } }) }}

            <web-spy-card cloak>
                {{ form_row(changePasswordForm.current_password) }}
                {{ form_row(changePasswordForm.new_password) }}
            </web-spy-card>
        </web-mp-change-password-overlay>
    {{ form_end(changePasswordForm) }}
{% endblock %}
