{% extends '@Application/Layout/layout.twig' %}
{% block content %}
    <section class="spy-layout plain">
        <h3>Sandbox (only for test purpose)</h3>
    </section>

    <form action="/oms/sandbox/add" style="margin-bottom: 20px;">
        <button class="button default">Add new order</button> &nbsp;
        <a href="/oms/index/draw?process={{ processName }}&amp;format=gif&amp;font=14" style="color: #369; text-decoration: none;"><em>{{ processName }}</em> process display</a>
    </form>

    <div class="spy-grid">

    <table>
        <tr>
            <th class="ng-isolate-scope" spy-grid-head=""><b class="title">Order ID</b></th>
            <th class="ng-isolate-scope" spy-grid-head=""><b class="title">Customer</b></th>
            <th class="ng-isolate-scope" spy-grid-head=""><b class="title">Total Price</b></th>
        </tr>
        {% for row in orders %}
        <tr>
            <td>{{ row.getIdSalesOrder }}</td>
            <td><a href="/sales/details?id-sales-order={{ row.getIdSalesOrder }}">{{ row.getFirstName }} {{ row.getLastName }} {% if row.getIsTest %}[<em>Test order</em>]{% endif %}</a></td>
            <td>{{ row.getGrandTotal }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

{% endblock %}
