{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    <h4>
        {% if type == 'page' %}
            Page URL : [<b> <a href="http://www.de.spryker.dev{{ title }}" target="_blank">{{ title }}</a> </b>]
        {% elseif type == 'block' %}
            Block Name : {{ title }}
        {% endif %}
    </h4>

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Page glossary mapping' } %}

        {% block widget_header_content %}

            <a href="/cms/" class="btn btn-sm btn-default">{{ 'Back to CMS' | trans }}</a>

        {% endblock %}

        {% block widget_content %}

            {{ keyMaps | raw }}

        {% endblock %}

    {% endembed %}

{% endblock %}
