{% if breadcrumbs|length > 0 %}
    <div class="page-breadcrumbs">
        <ol class="breadcrumb">
            {% for breadcrumbItem in breadcrumbs %}
                <li>
                    {% if breadcrumbItem.uri is not empty %}
                        <a class="{{ loop.last ? 'disabled' }}" href="{{ breadcrumbItem.uri }}" title="{{ breadcrumbItem.title | trans }}">
                            {{ breadcrumbItem.label | trans }}
                        </a>
                    {% else %}
                        {{ breadcrumbItem.label | trans }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
