{% if breadcrumbs|length > 0 %}
    <ol class="breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard' | trans }}</a>
        </li>
        {% for breadcrumbItem in breadcrumbs %}
            <li>
                {% if loop.last == true %}
                    <strong>{{ breadcrumbItem.label | trans }}</strong>
                {% else %}
                    {%  if breadcrumbItem.uri is not empty %}
                        <a href="{{ breadcrumbItem.uri }}" title="{{ breadcrumbItem.title | trans }}">{{ breadcrumbItem.label | trans }}</a>
                    {% else %}
                        {{ breadcrumbItem.label | trans }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}
