{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Product Add' | trans %}
{% endif %}

{% if submit_title is not defined %}
    {% set submit_title = 'Add' | trans %}
{% endif %}

{% if idProduct is not defined %}
    {% set idProduct = 0 %}
{% endif %}

{% block head_title -%}
    {{ widget_title | trans }} {% if idProduct > 0 %} [{{ idProduct }}] {% endif %}
{%- endblock %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton('/product-management', 'List Products' | trans) }}
{% endblock %}

{% block checkbox_widget %}
    {% spaceless %}
        <label for="{{ id }}">{{ label|trans }}</label>&nbsp;<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock checkbox_widget %}


{% form_theme form _self %}

{% block content %}

    {{ form_start(form) }}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Product Specification' } %}

        {% block widget_content %}
            {{ form_errors(form) }}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_general" data-toggle="tab">General</a></li>
        <li class=""><a href="#tab_concrete" data-toggle="tab">Product Matrix</a></li>
        <li class=""><a href="#tab_attribute" data-toggle="tab">Variants</a></li>
        <li class=""><a href="#tab_price_and_stock" data-toggle="tab">Default Price & Stock</a></li>
        <li class=""><a href="#tab_seo" data-toggle="tab">SEO</a></li>
    </ul>
    <div class="tab-content">
        {# ============================ GENERAL ============================ #}
        <div id="tab_general" class="tab-pane active">
            <div class="panel-body">
                <h3>Lorem ipsum sku name</h3>
                <p>Lorem ipsum locales, lorem sku and description</p>
            </div>

            <div class="panel-body">
                <div class="well">
                    {{ form_row(form.sku) }}

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                        {% for locale,localizedAttributes in form.general %}
                            {% set activeCss = '' %}
                            {% set invalidCss = '' %}

                            {% if currentLocale == locale %}
                                {% set activeCss =  'active' %}
                            {% endif %}

                            {% if errors.general is defined %}
                                {% if locale in errors.general|keys %}
                                    {% set invalidCss = 'invalid-tab' %}
                                {% endif %}
                            {% endif %}

                            <li class="{{ activeCss }} {{ invalidCss }}"><a href="#content_{{ locale }}" data-toggle="tab">{{ locale }}</a></li>
                        {% endfor %}
                        </ul>

                        <div class="tab-content">
                        {% for locale,localizedAttributes in form.general %}
                            {% set active = '' %}
                            {% if currentLocale == locale %}
                                {% set active = 'active' %}
                            {% endif %}

                            <div id="content_{{ locale }}" class="tab-pane {{ active }}">
                                <div class="panel-body">
                                    <div class="well">
                                        {{ form_errors(localizedAttributes.name) }}
                                        {{ form_row(localizedAttributes.name) }}

                                        {{ form_errors(localizedAttributes.description) }}
                                        {{ form_row(localizedAttributes.description) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# ============================ END ============================ #}

        {# ============================ CONRETE / MATRIX ============================ #}
        <div id="tab_concrete" class="tab-pane">
            <div class="panel-body">
                <p>Select attributes that will define your product.</p>
                <div class="well">
                    <div class="row">
                            {% if form.attribute_metadata is defined and form.attribute_metadata|length > 0 %}
                                {% set columns = 3 %}
                                {% for batchResults in form.attribute_metadata|batch(form.attribute_metadata|length / columns) %}
                                    {% for type,aValue in batchResults %}
                                        <div class="col-md-4 col-sm-6 col-lg-4">
                                            <div class="row vertical-align">
                                                <div class="col-md-6 text-right vertical-align">
                                                    {{ form_errors(aValue.name) }}
                                                    {{ form_row(aValue.name) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_errors(aValue.value) }}
                                                    {{ form_row(aValue.value) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                No attribute metadata was defined. Update metadata attributes first.
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {# ============================ END ============================ #}

        {# ============================ VARIANTS ============================ #}
        <div id="tab_attribute" class="tab-pane">
            <div class="panel-body">
                <h3>Manage product attributes and variants</h3>
                <p>Lorem ipsum attributes, lorem values ipusm variants.</p>
                <p><i>Note: Editing generated variants by adding or removing attributes, leads to the creation of new variants. Current configurations must be recreated.</i></p>
                <br/>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default collapsed">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Common Attributes</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse out">
                            <div class="panel-body">
                                sdfssfsa
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Variant Specific Attributes</a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <p>Select attributes and values that define the differences between your variants.</p>
                                <div class="well">
                                    <div class="row">
                                    {% if form.attribute_values is defined and form.attribute_values|length > 0 %}
                                        {% set columns = 3 %}
                                        {% for batchResults in form.attribute_values|batch(form.attribute_values|length / columns) %}
                                            {% for type,aValue in batchResults %}
                                                <div class="col-md-4 col-sm-6 col-lg-4">
                                                    <div class="row vertical-align">
                                                        <div class="col-md-6 text-right vertical-align">
                                                            {{ form_errors(aValue.name) }}
                                                            {{ form_row(aValue.name) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_errors(aValue.value) }}
                                                            {{ form_row(aValue.value) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        No attributes found in this product.
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table
                        id="productMatrixTable"
                        class="table table-striped table-bordered table-hover gui-table-data"
                        data-page-size="4"
                        data-order='[["0", "asc"]]'
                        data-column-defs='[{ "targets": "no-sort", "orderable": false }]'
                        data-state-save="false"
                    >
                        <thead>
                        <tr>
                            <th>Sku</th>
                            {% for attributeGroupKey,attributeGroup in attributeGroupCollection %}
                                <th>{{ attributeGroup.label }}</th>
                            {% endfor %}
                            <th class="center">Price</th>
                            <th class="center">Stock</th>
                            <th class="no-sort">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in concretes %}
                            <tr class="gradeX">
                                {# --------------------------------------- SKU --------------------------------------- #}
                                <td>{{ product.sku }}</td>
                                {# --------------------------------------- ATTRIBUTES --------------------------------------- #}
                                {% for attributeGroupKey,attributeGroup in attributeGroupCollection %}
                                    {% if attributeValueCollection[attributeGroupKey] is defined %}
                                        {% set productAttributeMetadata = attributeValueCollection[attributeGroupKey] %}
                                    {% endif %}

                                    {% if product.attributes[attributeGroupKey] is defined %}
                                        {% set value = product.attributes[attributeGroupKey] %}
                                        {% if productAttributeMetadata is defined and productAttributeMetadata.isLocalized %}

                                            {% if value[currentLocale] is defined  %}
                                                <td>({{ currentLocale }}) {{ value[currentLocale] }}</td>
                                            {% else %}
                                                <td>{{ dump(value) }}</td>
                                            {% endif %}

                                        {% elseif productAttributeMetadata is defined and productAttributeMetadata.isMultiple %}
                                            <td>Multiple: {{ dump(value) }}</td>
                                        {% else %}
                                            <td>{{ value }}</td>
                                        {% endif %}

                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                {% endfor %}

                                {# --------------------------------------- PRICE --------------------------------------- #}
                                {% if product.price is defined and product.price.price is defined %}
                                    <td class="center">{{ product.price.price|number_format }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}

                                {# --------------------------------------- STOCK --------------------------------------- #}
                                {% if product.stock > 0 %}
                                    <td class="center">{{ product.stock }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                <td class="center no-sort">[activate]</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Sku</th>
                            {% for attributeGroupKey,attributeGroup in attributeGroupCollection %}
                                <th>{{ attributeGroup.label }}</th>
                            {% endfor %}
                            <th class="center">Price</th>
                            <th class="center">Stock</th>
                            <th class="no-sort">Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {# ============================ END ============================ #}

        {# ============================ PRICE & STOCK ============================ #}
        <div id="tab_price_and_stock" class="tab-pane">
            {{ form_errors(form.price_and_stock) }}
            <div class="panel-body">
                <h3>Price & Tax</h3>
                <p>Assign default price and a tax rate and edit individually afterwards if necessary.</p>
                <div class="well">
                    {{ form_row(form.price_and_stock.price) }}
                    {{ form_row(form.price_and_stock.tax_rate) }}
                </div>
            </div>

            <div class="panel-body">
                <h3>Stock</h3>
                <p>Assign default stock and edit individually afterwards if necessary.</p>
                <div class="well">
                    {{ form_row(form.price_and_stock.stock) }}
                </div>
            </div>
        </div>
        {# ============================ END ============================ #}

        {# ============================ SEO ============================ #}
        <div id="tab_seo" class="tab-pane">
            {{ form_errors(form.seo) }}
            <div class="panel-body">
                <h3>Search Engine Optimization</h3>
                <p>Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results — often referred to as "natural," "organic," or "earned" results.</p>
            </div>

            <div class="panel-body">
                <div class="well">
                    <h3>Meta Information</h3>
                    <p>Meta data are snippets of text describing a page’s content. The meta data appear only in the page’s code, not in its content.</p>

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            {% for locale,seoData in form.seo %}
                                {% set activeCss = '' %}
                                {% set invalidCss = '' %}

                                {% if currentLocale == locale %}
                                    {% set activeCss =  'active' %}
                                {% endif %}

                                {% if errors.seo is defined %}
                                    {% if locale in errors.seo|keys %}
                                        {% set invalidCss = 'invalid-tab' %}
                                    {% endif %}
                                {% endif %}

                                <li class="{{ activeCss }} {{ invalidCss }}"><a href="#content_seo_{{ locale }}" data-toggle="tab">{{ locale }}</a></li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for locale,seoData in form.seo %}
                                {% set active = '' %}
                                {% if currentLocale == locale %}
                                    {% set active = 'active' %}
                                {% endif %}

                                <div id="content_seo_{{ locale }}" class="tab-pane {{ active }}">
                                    <div class="panel-body">
                                        <div class="well">
                                            {{ form_errors(seoData.meta_title) }}
                                            {{ form_row(seoData.meta_title) }}

                                            {{ form_errors(seoData.meta_keywords) }}
                                            {{ form_row(seoData.meta_keywords) }}

                                            {{ form_errors(seoData.meta_description) }}
                                            {{ form_row(seoData.meta_description) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# ============================ END ============================ #}
    </div>
</div>

        {% endblock %}

    {% endembed %}

    <input type="submit" class="btn btn-primary" value="{{ submit_title | trans }}"/>

    {{ form_end(form) }}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-productmanagement-main.css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-productmanagement-main.js"></script>
{% endblock %}
