{% macro localizedTabs(formPrefix, localeCollection) %}
    {# find out which localized tab has errors  #}
    {% set errorList = [] %}
    {% for localeCode in localeCollection %}
        {% set formKey = formPrefix ~ '_' ~ localeCode %}
        {% for input in form[formKey] %}
            {%  if input.vars.errors is defined and input.vars.errors|length %}
                {%  set errorList = errorList|merge([{'code': localeCode, 'field': input.vars.errors.form.config.name }]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <ul class="nav nav-tabs">
        {% for localeCode in localeCollection %}
            {% set formKey = formPrefix ~ localeCode %}
            {% set activeCss = '' %}
            {% set invalidCss = '' %}
            {% set invalidCssFound = false %}

            {% if currentLocale == localeCode %}
                {% set activeCss =  'active' %}
            {% endif %}

            {% for error in generalLocalizedErrors %}
                {% if error.code == localeCode and not invalidCssFound %}
                    {% set invalidCss = 'invalid-tab' %}
                    {% set invalidCssFound = true %}
                {% endif %}
            {% endfor %}

            <li class="{{ activeCss }} {{ invalidCss }}"><a href="#content_{{ formPrefix }}_{{ localeCode }}" data-toggle="tab">{{ localeCode }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
