<div class="row">
    <div class="col-sm-12">

        <table class="footable table table-striped toggle-arrow-tiny">
            <thead>
            <tr class="text-left">
                <th>{{ "Amount" | trans }}</th>
                <th>{{ "Adjustment Fee" | trans }}</th>
                <th>{{ "Comment" | trans }}</th>
                <th>{{ "Time" | trans }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ refund.Amount | currency }}</td>
                    <td>{{ refund.AdjustmentFee | currency }}</td>
                    <td>{{ refund.Comment }}</td>
                    <td>{{ refund.CreatedAt | date }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
