{% extends '@Gui/Layout/layout.twig' %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-application-catalog-main.css') }}">
    <base href="/app-catalog-gui/" />
{% endblock %}

{% block content %}
    {% if appCatalogScriptUrl is empty %}
        <div class="app-catalog-error-title">{{ 'App Composition Platform Catalog' | trans }}</div>
        <div class="app-catalog-error-block">
            <img class="app-catalog-error-block__icon" src="{{ assetsPath('img/app-catalog-error.svg') }}" />
            <div class="app-catalog-error-block__text">{{ 'The App Catalog can not be displayed, because its technical configuration is incomplete. Please contact your Administrator!' | trans }}</div>
        </div>
    {% else %}
        <app-root></app-root>
    {% endif %}
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    {% if appCatalogScriptUrl is not empty %}
    <script>
        window['catalogSpaOptions'] = {
            authTokenUrl: '/app-catalog-gui/api-login'
        }
    </script>

    <script src="{{ url(appCatalogScriptUrl, {
        storeReference: storeReference,
        language: localeName,
    }) }}"></script>
    {% endif %}
{% endblock %}
