{% extends '@Gui/Layout/layout.twig' %}

{% set page_title = 'Re-sort child-categories' %}
{% block section_title %}{{ page_title | trans }}{% endblock %}

{% block action %}
    {% include ['@CategoryGui/_partials/back-button.twig', '@Category/_partials/back-button.twig'] %}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Categories' } %}

        {% block widget_content %}

            <div class="progress hidden" id="progress-bar">
                <div class="progress-bar progress-bar-100 progress-bar-striped active" role="progressbar"></div>
            </div>

            <div id="category-list" class="dd">
                <ol class="dd-list">
                    {% for item in items %}
                        <li class="dd-item" data-id="{{ item.id }}" id="node-{{ item.id }}">
                            <div class="dd-handle">{{ item.text }}</div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <br/>
            <br/>
            <button id="save-button" class="btn btn-sm btn-primary">{{ 'Save' | trans }}</button>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-category-re-sort.js"></script>
{% endblock %}
