{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Merchant Order Items' } %}
    {% block widget_title -%}
        <div class="row">
            <div class="col-sm-9">
                <h5>{{ widget_title | trans }}</h5>
            </div>

            {% if merchantOrder.order.items | length > 1 %}
                <div class="col-sm-3 text-right">
                    {% include '@MerchantSalesOrderMerchantUserGui/MerchantShipmentCreate/_partials/create-shipment-link.twig' %}
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block widget_content %}
        {% for shipmentOrderItems in groupedMerchantOrderItemsByShipment %}
            <div class="row">
                <div class="col-sm-9">
                    <h3>{{ 'Shipment' | trans }} {{ loop.index }} {{ 'of' | trans }} {{ loop.length }}</h3>
                </div>

                <div class="col-sm-3 text-right">
                    {% block edit_shipment_link %}{% include '@MerchantSalesOrderMerchantUserGui/MerchantShipmentEdit/_partials/edit-shipment-link.twig' %}{% endblock %}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <b>{{ 'Delivery Address' | trans }}:</b>
                        {{ shipmentOrderItems.shipment.shippingAddress.salutation }}
                        {{ shipmentOrderItems.shipment.shippingAddress.firstName }},
                        {{ shipmentOrderItems.shipment.shippingAddress.lastName }},
                        {{ shipmentOrderItems.shipment.shippingAddress.address1 }},
                        {{ shipmentOrderItems.shipment.shippingAddress.address2 }},
                        {{ shipmentOrderItems.shipment.shippingAddress.address3 }},
                        {{ shipmentOrderItems.shipment.shippingAddress.company }},
                        {{ shipmentOrderItems.shipment.shippingAddress.zipCode }},
                        {{ shipmentOrderItems.shipment.shippingAddress.city }},
                        {{ shipmentOrderItems.shipment.shippingAddress.country.name }}
                    </p>
                    <p>
                        <b>{{ 'Delivery Method' | trans }}:</b>
                        {{ shipmentOrderItems.shipment.carrier.name }}
                    </p>
                    <p>
                        <b>{{ 'Shipping Method' | trans }}:</b>
                        {{ shipmentOrderItems.shipment.method.name }}
                    </p>
                    <p>
                        <b>{{ 'Shipping Costs' | trans }}:</b>
                        {% for expense in merchantOrder.order.expenses %}
                            {% if expense.type == 'SHIPMENT_EXPENSE_TYPE' and shipmentOrderItems.shipment.idSalesShipment == expense.shipment.idSalesShipment %}
                                {{ expense.sumPrice | money(true, merchantOrder.order.currencyIsoCode) }}
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        <b>{{ 'Request delivery date' | trans }}:</b>
                        {{ shipmentOrderItems.shipment.requestedDeliveryDate | default('ASAP') }}
                    </p>
                </div>
            </div>
            {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states of order inside this shipment' } %}
                {% block widget_content %}
                    <div class="sales-order-item-group-element" data-group-key="{{ shipmentOrderItems.shipment.idSalesShipment }}">
                        {% include '@MerchantSalesOrderMerchantUserGui/_partials/merchant-order-actions.twig' with {
                            redirectUrl: changeStatusRedirectUrl,
                            idMerchantSalesOrder: merchantOrder.idMerchantOrder,
                            events: uniqueEventsGroupedByShipmentId[shipmentOrderItems.shipment.idSalesShipment],
                        } only %}
                    </div>
                {% endblock %}
            {% endembed %}
            {% block order_item_table %}
                <table class="footable table toggle-arrow-tiny {% block order_item_table_class %}{% endblock %}" data-qa="order-item-list">
                    <thead>
                    {% block order_item_table_head %}
                        <tr class="text-left">
                            <th><input type="checkbox" id="check-all-orders" /></th>
                            <th colspan="2">{{ 'Product' | trans }}</th>
                            <th>{{ 'Quantity' | trans }}</th>
                            <th>{{ 'Unit Price' | trans }} <small>({{ merchantOrder.order.priceMode }})</small></th>
                            <th>{{ 'Item total' | trans }}</th>
                            <th>{{ 'State' | trans }}</th>
                            <th>{{ 'Trigger event' | trans }}</th>
                        </tr>
                    {% endblock %}
                    </thead>
                    <tbody>
                    {% block order_item_table_body %}
                        {% include '@MerchantSalesOrderMerchantUserGui/Detail/boxes/no-group-items.twig' with {items: shipmentOrderItems.items} %}
                    {% endblock %}
                    </tbody>
                {% endblock %}
            </table>
        {% endfor %}

    {% endblock %}
{% endembed %}
