{{ form_start(fileAttachForm) }}
{{ form_errors(fileAttachForm) }}

<div class="row">
    <div class="col-md-12">
        {{ form_row(fileAttachForm.companyIds) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(fileAttachForm.companyUserIds) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(fileAttachForm.companyBusinessUnitIds) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        {{ form_widget(fileAttachForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
</div>

{{ form_end(fileAttachForm) }}
