{% set importConfig = {
    assetsPath: 'js/',
    bundleSubFolder: 'spy/',
    isWatchMode: false,
} %}

{% macro importJs(name, config) %}
    {% if config.isWatchMode %}
        <script src="{{ assetsPath(config.assetsPath ~ name ~ '.js') }}"></script>
    {% else %}
        <script src="{{ assetsPath(config.assetsPath ~ name ~ '-es2015.js') }}" type="module"></script>
        <script src="{{ assetsPath(config.assetsPath ~ name ~ '-es5.js') }}" nomodule defer></script>
    {% endif %}
{%- endmacro -%}

{% macro importJsBundle(name, config) %}
    {% if config.isWatchMode %}
        <script src="{{ assetsPath(config.assetsPath ~ config.bundleSubFolder ~ name ~ '.js') }}"></script>
    {% else %}
        <script src="{{ assetsPath(config.assetsPath ~ config.bundleSubFolder ~ name ~ '-es2015.js') }}" type="module"></script>
        <script src="{{ assetsPath(config.assetsPath ~ config.bundleSubFolder ~ name ~ '-es5.js') }}" nomodule defer></script>
    {% endif %}
{%- endmacro -%}

{% import _self as view %}

{% set langAttr = app.locale | replace({'_': '-'}) %}

{% block template %}
    <!DOCTYPE html>
    <html lang="{{ langAttr }}">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <style>
                [cloak]:not([ng-version]) {
                    display: none;
                }
            </style>
            <title>
                {% block headTitle %}{% endblock %}
            </title>

            {% block headCss %}
                <link rel="stylesheet" href="{{ assetsPath(importConfig.assetsPath ~ 'styles.css') }}">
            {% endblock %}
        </head>
        <body>
            <web-mp-root cloak>
                {% block globalBody %}
                    <web-spy-locale-switcher locale="{{ app.locale | split('_') | first }}"></web-spy-locale-switcher>
                {% endblock %}

                {% block body %}{% endblock %}
            </web-mp-root>

            {% block polyfillsJs %}
                {{ view.importJs('runtime', importConfig) }}
                {{ view.importJs('polyfills', importConfig) }}
            {% endblock %}

            {% block globalJs %}
                {{ view.importJs('vendor', importConfig) }}
                {{ view.importJs('main', importConfig) }}
            {% endblock %}

            {% block layoutJs %}
                {{ view.importJsBundle('zed-ui', importConfig) }}
            {% endblock %}

            {% block footerJs %}
            {% endblock %}
        </body>
    </html>
{% endblock %}
