<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            [cloak] {
                display: none;
            }
        </style>
        <title>
            {% block headTitle %}{% endblock %}
        </title>

        {% block headCss %}
            <link rel="stylesheet" href="{{ assetsPath('css/reset.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block footerJs %}
            <script src="{{ assetsPath('js/zed-ui/polyfills-es2015.js') }}" type="module"></script>
            <script src="{{ assetsPath('js/zed-ui/main-es2015.js') }}" type="module"></script>
            <script src="{{ assetsPath('js/zed-ui/polyfills-es5.js') }}" nomodule defer></script>
            <script src="{{ assetsPath('js/zed-ui/main-es5.js') }}" nomodule defer></script>
        {% endblock %}
    </body>
</html>
