<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% if title is defined %}{{ title | trans }}{% endif %}{% endblock %}</title>

    {% block head_css %}
        <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-gui-commons.css') }}">
    {% endblock %}

</head>
<body>

<div id="wrapper">

    {% block body_menu %}
        {% if app.twig.getFunction('navigation') == true %}
            {% include '@ZedUi/Partials/menu.twig' %}
        {% endif %}
    {% endblock %}

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a href="#" class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <ul class="dropdown-menu">
                            <li><a href="/user/edit/password-reset">{{ 'Reset password' | trans }}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/auth/logout">
                            <i class="fa fa-sign-out"></i> {{ 'Log out' | trans }}
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-xs-12 col-md-6">
                <h2>{% block section_title %}{% if title is defined %}{{ title|trans }}{% endif %}{% endblock %}</h2>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="title-action">
                    {% block action %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Spryker GmbH &copy; {{ 'now'|date('Y') }}
            </div>
        </div>
    </div>
</div>

{% block footer_js %}
    {% block common_js %}
    {% endblock %}
    {% block init_js %}
    {% endblock %}
{% endblock %}

</body>
</html>
