{% extends '@ZedUi/Layout/layout.twig' %}

{% block body %}
    {% if app.twig.getFunction('navigation') != false %}
        {% set navigationConfig = render_navigation_component_config(navigation('main').menu) %}
        {% set userMenuNavigationItems = navigation('secondary').menu %}

        {% block merchantLayoutMain %}
            <web-mp-merchant-layout-main cloak navigation-config="{{ navigationConfig }}">
                {% block logo %}
                    <web-spy-logo logo></web-spy-logo>
                {% endblock %}

                {% block header %}
                    <web-mp-header header>
                        {% block headerMenu %}
                            <web-mp-header-menu menu>
                                {% block infoPrimary %}
                                    {% if username is not empty %}
                                        <span info-primary>{{ username }}</span>
                                    {% endif %}
                                {% endblock %}

                                {% block infoSecondary %}
                                    {% if userEmail is not empty %}
                                        <span info-secondary>{{ userEmail }}</span>
                                    {% endif %}
                                {% endblock %}

                                {% block userMenuList %}
                                    {% for userMenuNavigationItem in userMenuNavigationItems %}
                                        {% block userMenuLink %}
                                            <a href="{{ userMenuNavigationItem.uri }}">
                                                {% block userMenuLinkInner %}
                                                    <web-spy-user-menu-link
                                                        {% if userMenuNavigationItem.type is not empty %}type="{{ userMenuNavigationItem.type }}"{% endif %}>
                                                        {{ userMenuNavigationItem.title }}
                                                    </web-spy-user-menu-link>
                                                {% endblock %}
                                            </a>
                                        {% endblock %}
                                    {% endfor %}

                                    {% block logoutLink %}
                                        <a href="/security-merchant-portal-gui/logout">
                                            {% block logoutLinkInner %}
                                                <web-spy-user-menu-link type="danger">
                                                    {{ 'Logout' | trans }}
                                                </web-spy-user-menu-link>
                                            {% endblock %}
                                        </a>
                                    {% endblock %}
                                {% endblock %}
                            </web-mp-header-menu>
                        {% endblock %}
                    </web-mp-header>
                {% endblock %}

                {% block flashMessages %}
                    {% include '@ZedUi/Partials/FlashMessages/flash-messages.twig' %}
                {% endblock %}

                {% block content %}{% endblock %}
            </web-mp-merchant-layout-main>
        {% endblock %}
    {% endif %}
{% endblock %}
