{% set widget_title %}
    Order
    <a href="{{ url('/sales/detail', {'id-sales-order': reclamation.order.idSalesOrder}) }}">
        {{ reclamation.order.orderReference }}
    </a>
    items:
{% endset %}

{% set widget_header_content %}
    Reclamation state: {{ reclamation.stete }}
{% endset %}

{% embed '@Gui/Partials/widget.twig' with {
    widget_title: widget_title,
    widget_header_content: widget_header_content
} %}

    {% block widget_content %}

        <table class="footable table toggle-arrow-tiny" data-qa="order-item-list">
            <thead>
            <tr class="text-left">
                <th colspan="2">{{ 'Product' | trans }}</th>
                <th>{{ 'Unit Price' | trans }} <small>({{ reclamation.order.priceMode }})</small></th>
                <th>{{ 'Item total' | trans }}</th>
                <th>{{ 'State' | trans }}</th>
            </tr>
            </thead>
          {% embed '@SalesReclamation/partials/items/no-group-items.twig' with {items: reclamation.reclamationItems} %}{% endembed %}
        </table>

    {% endblock %}

{% endembed %}
