{% set baseUrl = config.baseUrl is not empty ? config.baseUrl : '/' ~ app.request.get('module') ~ '/' ~ app.request.get('controller') ~ '/' %}
<table
    class="table table-striped table-bordered table-hover {{ config.class | default('gui-table-data') }}"
    data-ajax="{{ baseUrl | trim('/', 'right') }}/{{ config.url | trim('/', 'left') }}"
    id="{{ config.tableId }}"
    data-processing="{{ config.processing is defined and config.processing ? 'true' : 'false' }}"
    data-server-side="{{ config.serverSide is defined and config.serverSide ? 'true' : 'false' }}"
    data-state-save="{{ config.stateSave is defined and config.stateSave ? 'true' : 'false' }}"
    data-ordering="{{ config.ordering is defined and config.ordering ? 'true' : 'false' }}"
    data-paging="{{ config.paging is defined and config.paging ? 'true' : 'false' }}"
    {% if config.pageLength is defined -%}
        data-page-length="{{ config.pageLength }}"
    {% endif -%}

    {% include 'table-data-order.twig' -%}
    {% include 'table-data-columns.twig' -%}
>
    {% include '@Gui/Table/thead.twig' %}
    {% include '@Gui/Table/tfoot.twig' %}
</table>
