<div
    spy-app="spyFormat, spyLayout, spyForm"
    ng-strict-di
    ng-controller="TemplateActionController"
    >
    <div spy-form-update="closeLayer(); openLocation('/customer/profile?id={{ id_customer }}')" scope="address_form" channel="address_form"></div>
    <div spy-form-abort="closeLayer()" scope="address_form" channel="address_form"></div>

    <spy-listen on="address_form" do="read($argument); openLayer()" scope="address_form" channel="address_form"></spy-listen>

    <section class="spy-layout n4">
    {% for address in addresses %}
        <div class="spy-layout sparse">
            {#
            Removed for moment, it be enabled later
            <p>
                <button class="button" ng-click="$emitAsChannel('address_form', 'address_form', {'id_customer_address': '{{ address.id }}'})">
                    {{ "customer.profile.address.edit" | trans }}
                </button>
            </p>
            #}

            <div><strong>{{ address.first_name }} {{ address.last_name }}</strong></div>
            <div>{{ address.company }}</div>
            <div>{{ address.address1 }}</div>
            <div>{{ address.address2 }}</div>
            <div>{{ address.address3 }}</div>
            <div>{{ address.zipCode }} {{ address.city }}</div>

            {#
            Removed for moment, it be enabled later
            <div>
                <p>
                    {% if address.isDefaultBilling %}
                <div>{{ "customer.address.default.billing" | trans }}</div>
                {% else %}
                    <button class="button default" ng-click="openLocation('/customer/profile/setDefaultBillingAddress?customer_id={{ id_customer }}&address_id={{ address.id }}')">
                        {{ "customer.address.set.default.billing" | trans }}
                    </button>
                {% endif %}
                </p>

                <p>
                    {% if address.isDefaultShipping %}
                        <div>{{ "customer.address.default.shipping" | trans }}</div>
                    {% else %}
                        <button class="button default" ng-click="openLocation('/customer/profile/setDefaultShippingAddress?customer_id={{ id_customer }}&address_id={{ address.id }}')">
                            {{ "customer.address.set.default.shipping" | trans }}
                        </button>
                    {% endif %}
                </p>
            </div>
            #}
        </div>
    {% endfor %}
        {#
        Removed for moment, it be enabled later
        <div class="spy-layout sparse">
            <button class="button default" ng-click="$emitAsChannel('address_form', 'address_form', {'fk_customer': {{ id_customer }}})">{{ "customer.profile.address.new" | trans }}</button>
        </div>
        #}
    </section>

    {% include "@Customer/Partial/address.twig" %}
</div>
