{% extends '@Gui/Layout/layout.twig' %}

{% set customerName = form.vars.data.customer.firstName ~ ' ' ~ form.vars.data.customer.lastName %}
{% set section_title = 'Attach customer to company' | trans %}
{% set widget_title = 'Attach "%customer%"' | trans({'%customer%': customerName}) %}

{% block head_title widget_title %}
{% block section_title section_title %}

{% block action %}
    {{ backActionButton(url('/customer'), 'Back to Customers' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ form_start(form) }}

            {% for child in form %}
                <div class="form-group">

                    {% if "hidden" not in child.vars.block_prefixes %}
                        {{ form_label(child) }}
                        {{ form_errors(child) }}
                    {% endif %}

                    {% if child.vars.attr.template_path is defined %}
                        {% include child.vars.attr.template_path with {'form': child} %}
                    {% else %}
                        {{ form_widget(child, {'id':'company-user_fk_company'}) }}
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}"/>
            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
