{% extends '@Gui/Layout/layout.twig' %}

{% set page_title = 'Spryk' %}
{% block head_title page_title %}
{% block section_title page_title %}

{% block action %}
{% endblock %}

{% block content %}
    {% for application, spryks in sprykDefinitions %}
        <h2>{{ application }}</h2>
        <table class="table">
        {% for spryk, sprykInfo in spryks %}
            <tr{% if sprykInfo.priority == 1 %} class="bg-info"{% endif %}>
                <td style="width: 40%;"><a href="/spryk-gui/build?spryk={{ spryk }}">{{ sprykInfo.humanized }}</a></td>
                <td style="width: 50%;">{{ sprykInfo.description }}</td>
                <td><a href="/spryk-gui/graph?spryk={{ spryk }}">Show graph</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}

{% block footer_js %}
{% endblock %}
