{% extends '@Gui/Layout/layout.twig' %}

{% set page_title = 'Spryk' %}
{% block head_title page_title %}
{% block section_title page_title %}

{% block action %}
{% endblock %}

{% block content %}
    {% for application, spryks in sprykDefinitions %}
        <h2>{{ application }}</h2>
        <table class="table">
            {% for spryk, sprykInfo in spryks %}


                {% if sprykInfo.priority == 1 %}
                    <tr class="bg-info">
                {% else %}
                    <tr>
                {% endif %}

                <td style="width: 33%;"><a href="/spryk-gui/index/build?spryk={{ spryk }}">{{ sprykInfo.humanized }}</a>
                </td>

                <td style="width: 33%;">{{ sprykInfo.description }}</td>
                <td><a href="/spryk-gui/index/draw?spryk={{ spryk }}">Draw</a></td>
                </tr>


            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}

{% block footer_js %}
{% endblock %}
