<form
        class="spy-form spy-layout sparse"
        spy-app="spyForm,spyGrid,spyLayout"
        ng-controller="FormController"
        src="/customer/profile/edit"
        name="customer-form"
        model="{{ customerJson }}"
        >

    <div class="spy-layout n3">
        <div>{{ "customer.profile.id" | trans }} {[{ field.id_customer.value }]}</div>
        <div>{{ "customer.profile.registered" | trans }} {{ registered | date }}</div>
        <div></div>
    </div>

    <div class="spy-layout n3">
        <div>
            <div spy-input-text="field.email" options="{ label: '{{ "customer.profile.email" | trans }}'}"></div>
            <div spy-input-text="field.salutation" options="{ label: '{{ "customer.profile.salutation" | trans }}' }"></div>
            <div>
                <button class="button default" ng-disabled="query" type="submit" ng-click="update()">{{ "customer.profile.update" | trans }}</button>
                <p>
                    <a href="/customer/profile/sendPasswordRestoreToken?id={[{ field.id_customer.value}]}">
                        {{ "customer.profile.send.registertoken" | trans }}
                    </a>
                </p>
            </div>
        </div>
        <div>
            <div spy-input-select="field.gender" options="{ label : '{{ "customer.profile.gender" | trans }}' }"></div>
            <div spy-input-text="field.first_name" options="{ label : '{{ "customer.profile.first_name" | trans }}' }"></div>
        </div>
        <div>
            <!--div spy-input-text="field.date_of_birth" options="{ label : '{{ "customer.profile.date_of_birth" | trans }}' }"></div-->
            <div spy-input-text="field.last_name" options="{ label : '{{ "customer.profile.last_name" | trans }}' }"></div>
        </div>
    </div>

</form>
