{% extends '@Application/layout.twig' %}
{% block content %}

<style>
    #customer-data-box ul {padding-left:0;}
    #customer-data-box ul li {list-style-type:none;}
</style>
<div id="customer-data-box">
    <ul>
        {% if order.salutation %}
            <li>
                {{ order.salutation|trans }}
            </li>
        {% endif %}
        <li>
            {{ order.firstName }} {{ order.lastName }}
        </li>
        <li>
            {{ order.email }}
        </li>
        <li class="toggleable">
            {{ order.customerSessionId }}
        </li>
    </ul>
</div>{% endblock %}
