{% extends '@Application/layout.twig' %}
{% block content %}

{% set options = item.options %}
{% set expenses = item.expenses %}
{% set rowSpan = 1 + options|length + expenses|length %}

<style>
    .currency {text-align:right;}
    .fixed-amount-width-s {width:50px;}
    .fixed-amount-width-m {width:70px;}
    .fixed-amount-width-l {width:90px;}
</style>

<table class="table table-xs table-striped table-bordered table-nested">
    <thead>
        <tr>
            <th>{{ 'Product'|trans }}
            <th>{{ 'Gross Price'|trans }}
            <th>{{ 'Discount'|trans }}
            <th>{{ 'Price To Pay'|trans }}
    <tbody>
        <tr>
            <td>
                <div class="clearfix">
                    <span class="pull-left">
                        {{ item.name }}
                    </span>
                    <span class="pull-right">
                        <a href="/catalog/product/detail-{{ strtolower(.product.variety) }}?id-catalog-product={{ product.idCatalogProduct }}">
                            {{ item.sku }}
                        </a>
                         / (#{{ item.primaryKey }})
                    </span>
                </div>
                {{ include('/Sales/Partials/product-attributes.twig', {'product': product}) }}
            <td class="currency fixed-amount-width-l" style="width:80px;text-align:right;">
                {{ formatPrice(item-grossPrice) }}
            <td class="currency fixed-amount-width-s">
                {% set discountAmount = 0 %}
                {% for discount in item.discounts %}
                    {% set discountAmount = discountAmount + discount.amount %}
                {% endfor %}
                {{ formatPrice(discountAmount) }}
            <td rowspan="{{ rowSpan }}" class="currency fixed-amount-width-l">
                <b>{{ formatPrice(itempriceToPay) }}</b>

        <!-- EXPENSES -->
        {% for expense in expenses %}
            <tr>
                <td>+ {{ expense.name }} {{ expense.type }} (item-expense)
                <td class="currency">{{ formatPrice(expense.grossPrice) }}
                <td class="currency">
                {% set discountAmount = 0 %}
                {% for discount in item.discounts %}
                    {% set discountAmount = discountAmount + discount.amount %}
                {% endfor %}
                {{ formatPrice(discountAmount) }}
        {% endfor %}

        <!-- OPTIONS -->
        {% for option in options %}
            <tr>
                <td>+ {{ option.name }} (option)
                <td class="currency">{{ formatPrice(option.grossPrice) }}
                <td class="currency">
                {% set discountAmount = 0 %}
                {% for discount in item.discounts %}
                    {% set discountAmount = discountAmount + discount.amount %}
                {% endfor %}
                {{ formatPrice(discountAmount) }}
         {% endfor %}

        {% set bundle = item.salesOrderItemBundle %}
        {% if bundle %}
            <tr>
                <td colspan="4">
                    {% if item.variety == 'Bundle' %}
                        <div>
                            <a href="#" data-trigger-on-click="{{ htmlentities(json_encode([ 'target': '#order-items-table__item-' ~ .itemIndex ~ ' ~ bundle-product-items-table', 'class': 'hidden' ])) }}">
                                <i class="icon-info-sign"></i> {{ 'Bundle Item Info'|trans }}
                            </a>
                            ({{ bundle.bundleType }})
                            <br />
                            {{ partial('Partials/bundle-item-info.twig', array('bundleItems': bundle.salesOrderItemBundleItems)) }}
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
</table>
{% endblock %}
