{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Tax Rate deletion confirmation' %}

{% block head_title %}
    {{ widget_title | trans }}
{% endblock %}
{% block section_title %}
    {{ widget_title | trans }}
{% endblock %}

{% block action %}
    {{ backActionButton(app.request.headers.get('referer'), 'Back' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-back">{{ 'Back' | trans}}</a>
            <a href="{{ url('/tax/delete-rate/confirm', {'id-tax-rate': idTaxRate}) }}" class="btn btn-danger safe-submit">{{ 'Delete Tax Rate' | trans}}</a>

        {% endblock %}

    {% endembed %}

{% endblock %}
