{% extends '@Gui/Layout/layout.twig' %}

{% set page_title = 'ADD TITLE HERE' %}
{% block head_title page_title %}
{% block section_title page_title %}

{% block action %}
{% endblock %}

{% block content %}
    {% if form is defined %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {#<input type="submit" name="create" class="btn btn-primary safe-submit" value="{{ 'Create Template' | trans }}" />#}
    {#<input type="submit" name="run" class="btn btn-primary safe-submit" value="{{ 'Run Spryk' | trans }}" />#}
    {{ form_end(form) }}
    {% else %}
        <p><pre>
            {{ jiraTemplate }}
        </pre></p>
    {% endif %}
{% endblock %}

{% block footer_js %}
{% endblock %}
