{% block content %}
    {% set fields = [
        {
            class: 'col-xs-6',
            field: createOfferForm.isActive,
        },
        {
            class: 'col-xs-6',
            field: createOfferForm.stores,
        },
        {
            class: 'col-xs-6',
            field: createOfferForm.stockQuantity,
        },
        {
            class: 'col-xs-6 spacing-top-big',
            field: createOfferForm.isNeverOutOfStock,
        },
        {
            class: 'col-xs-12',
            field: createOfferForm.servicePoint,
        },
        {
            class: 'col-xs-12',
            field: createOfferForm.servicePointServices,
        },
        {
            class: 'col-xs-12',
            field: createOfferForm.shipmentTypes,
        },
        {
            class: 'col-xs-6',
            field: createOfferForm.validFrom,
        },
        {
            class: 'col-xs-6',
            field: createOfferForm.validTo,
        },
    ] %}

    {% block form %}
        {{ form_start(createOfferForm) }}
            {% block field %}
                <div class="row">
                    {% for item in fields %}
                        <div class="{{ item.class }}">
                            {{ form_row(item.field) }}
                        </div>
                    {% endfor %}

                    <div class="col-xs-12">
                        <div class="form-group">
                            <button class="btn btn-primary safe-submit">{{ 'Save'| trans }}</button>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {{ form_end(createOfferForm) }}
    {% endblock %}
{% endblock %}
