{% if orderItem.sspAsset is not empty %}
    <div class="variant-details">
        <h3>{{ 'Asset Information' | trans }}</h3>
        <div>
            {{ 'Name' | trans }}: {{ orderItem.sspAsset.name }}
        </div>
        {% if orderItem.sspAsset.serialNumber is not empty %}
            <div>
                {{ 'Serial Number' | trans }}: {{ orderItem.sspAsset.serialNumber }}
            </div>
        {% endif %}
        </div>
    </div>
{% endif %}
