
<h3>{{ 'invoice.header' | trans }}</h3>

{{ 'invoice.order.number' | trans }} {{ order.orderReference }} <br />

<table width="100%" style="margin-top: 40px;" class="item-table">
    <tr>
        <th>{{ 'invoice.order.item.sku' | trans }}</th>
        <th>{{ 'invoice.order.item.product_name' | trans }}</th>
        <th>{{ 'invoice.order.item.quantity' | trans }}</th>
        <th>{{ 'invoice.order.item.price' | trans }}</th>
        <th>{{ 'invoice.order.item.price_total' | trans }}</th>
    </tr>
    {% for item in order.items %}
        <tr>
            <td align="center">{{ item.sku }}</td>
            <td>{{ item.name }}</td>
            <td align="center">{{ item.quantity  }}</td>
            <td align="center">{{ item.unitPrice | default(0) | money }}</td>
            <td align="center">{{ item.unitPriceToPayAggregation | default(0) | money }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="4" align="right">
            {{ 'invoice.order.expenses.total' | trans }}
        </td>
        <td align="center">
            {{ order.totals.expenseTotal | default(0) | money }}
        </td>
    </tr>

    <tr>
        <td colspan="4" align="right">
            <strong>{{ 'invoice.order.grand_total' | trans }}</strong> <br />
            <span class="vat-amount">{{ 'invoice.order.tax_amount' | trans }}</span>
        </td>
        <td align="center">
            {{ order.totals.grandTotal | default(0) | money }} <br />
            <span class="vat-amount">{{ order.totals.taxTotal.amount | default(0) | money }}</span>
        </td>
    </tr>

</table>
