{#
@var productAbstract \Generated\Shared\Transfer\ProductAbstractTransfer
@var imageSet \Generated\Shared\Transfer\ProductImageSetTransfer
@var productImage \Generated\Shared\Transfer\ProductImageTransfer
@var priceProductAbstractTableConfiguration \Generated\Shared\Transfer\GuiTableConfigurationTransfer
#}

{% form_theme form '@ZedUi/Form/form-webcomponent-layout.twig' %}

{% macro langIcon(localeName) -%}
    {%- if localeName == 'en_US' -%}united-states
    {%- elseif localeName == 'de_DE' -%}germany
    {%- endif -%}
{% endmacro %}

{% macro langFullName(localeName) -%}
    {%- if localeName == 'en_US' -%}English
    {%- elseif localeName == 'de_DE' -%}German
    {%- elseif localeName == 'Default' -%}Default
    {%- endif -%}
{% endmacro %}

{% macro approvalStatusColor(status) -%}
    {%- if status == 'denied' -%}red
    {%- elseif status == 'waiting_for_approval' -%}yellow
    {%- elseif status == 'draft' -%}gray
    {%- else -%}green
    {%- endif -%}
{% endmacro %}

{% import _self as macros %}

{% block body %}
    {% set mainClass = 'mp-edit-abstract-product' %}
    {% set productData = {
        name: productAbstractName,
        sku: productAbstract.sku,
    } %}

    {% block editProduct %}
        <web-mp-edit-abstract-product cloak product="{{ productData | json_encode() }}">
            {{ form_start(form, { attr: { excludeFormTag: true } }) }}
                {% block title %}
                    <span title>{{ 'Abstract Product' | trans }}</span>
                {% endblock %}

                {% block approvalStatus %}
                    <web-spy-chips
                        cloak
                        approval-status
                        max-width="100%"
                        color="{{ macros.approvalStatusColor(productAbstract.approvalStatus) }}"
                    >
                        {{ productAbstract.approvalStatus | trans }}
                    </web-spy-chips>
                {% endblock %}

                {% block action %}
                    {%- for approvalStatus in applicableUpdateApprovalStatuses -%}
                        {% set urlUpdateApprovalStatusButton = url(
                            '/product-merchant-portal-gui/product-abstract-approval',
                            {
                                'approval-status': approvalStatus,
                                'id-product-abstract': productAbstract.idProductAbstract,
                            }
                        ) %}
                        {% set labelUpdateApprovalStatusButton = 'approval_status_action.' ~ approvalStatus %}
                        <web-spy-button-link cloak variant="outline" size="lg" class="{{ mainClass }}__approval-status-button" url="{{ urlUpdateApprovalStatusButton | raw }}" action>{{ labelUpdateApprovalStatusButton | trans }}</web-spy-button-link>
                    {%- endfor -%}
                    <web-spy-button cloak size="lg" type="submit" action>{{ 'Save' | trans }}</web-spy-button>
                {% endblock %}

                {% block tabs %}
                    <web-spy-tabs cloak>
                        {% block detailTab %}
                            <web-spy-tab cloak spy-title="{{ 'Abstract Product Details' | trans }}">
                                {% block nameCard %}
                                    <web-spy-card cloak spy-title="{{ 'Name' | trans }} *" class="{{ mainClass }}__card">
                                        {% block nameCardInner %}
                                            <web-spy-tabs cloak mode="card">
                                                {% for localizedAttributeForm in form.localizedAttributes.children %}
                                                    <web-spy-tab
                                                        cloak
                                                        spy-title="{{ macros.langFullName(localizedAttributeForm.vars.value.locale.localeName) | trans }} ({{ localizedAttributeForm.vars.value.locale.localeName }})"
                                                        icon-name="{{ macros.langIcon(localizedAttributeForm.vars.value.locale.localeName) }}"
                                                    >
                                                        {{ form_row(localizedAttributeForm.children.name, { row_attr: { 'no-spaces': 'true' } }) }}
                                                    </web-spy-tab>
                                                {% endfor %}
                                            </web-spy-tabs>
                                        {% endblock %}
                                    </web-spy-card>
                                {% endblock %}

                                {% block descriptionCard %}
                                    <web-spy-card cloak spy-title="{{ 'Description' | trans }}" class="{{ mainClass }}__card">
                                        {% block descriptionCardInner %}
                                            <web-spy-tabs cloak mode="card">
                                                {% for localizedAttributeForm in form.localizedAttributes.children %}
                                                    <web-spy-tab
                                                        cloak
                                                        spy-title="{{ macros.langFullName(localizedAttributeForm.vars.value.locale.localeName) | trans }} ({{ localizedAttributeForm.vars.value.locale.localeName }})"
                                                        icon-name="{{ macros.langIcon(localizedAttributeForm.vars.value.locale.localeName) }}"
                                                    >
                                                        {{ form_row(localizedAttributeForm.children.description, { row_attr: { 'no-spaces': 'true' } }) }}
                                                    </web-spy-tab>
                                                {% endfor %}
                                            </web-spy-tabs>
                                        {% endblock %}
                                    </web-spy-card>
                                {% endblock %}

                                {% block storesCard %}
                                    <web-spy-card cloak spy-title="{{ form.children.stores.vars.label | trans }}" class="{{ mainClass }}__card">
                                        {% block storesCardInner %}
                                            {{ form_row(form.children.stores, { label: false, row_attr: { 'no-spaces': 'true' } }) }}
                                        {% endblock %}
                                    </web-spy-card>
                                {% endblock %}

                                {% block priceCard %}
                                    <web-spy-card cloak spy-title="{{ 'Price' | trans }}" class="{{ mainClass }}__card">
                                        {% block priceCardInner %}
                                            <web-mp-edit-abstract-product-prices
                                                cloak
                                                table-id="web-mp-edit-abstract-product-prices"
                                                config='{{ guiTableConfiguration(priceProductAbstractTableConfiguration) }}'>
                                            </web-mp-edit-abstract-product-prices>

                                            {% do form.prices.setRendered %}
                                        {% endblock %}
                                    </web-spy-card>
                                {% endblock %}

                                {% if form.children.idTaxSet is defined %}
                                    {% block taxCard %}
                                        <web-spy-card
                                            cloak
                                            spy-title="{{ form.children.idTaxSet.vars.label | trans }}{{ form.children.stores.vars.value is not empty ? ' *' }}"
                                            class="{{ mainClass }}__card"
                                        >
                                            {% block taxCardInner %}
                                                {{ form_row(form.children.idTaxSet, { label: false, row_attr: { 'no-spaces': 'true' } }) }}
                                            {% endblock %}
                                        </web-spy-card>
                                    {% endblock %}
                                {% endif %}

                                {% if imageSetsGroupedByIdLocale is not null %}
                                    {% block imagesCard %}
                                        {% set imageSetTitles = {
                                            addImageSet: 'Add Image Set' | trans,
                                            setName: 'Set name' | trans,
                                            deleteImageSet: 'Delete Image Set' | trans,
                                            imageOrder: 'Image Ordered' | trans,
                                            smallImageUrl: 'Small Image URL' | trans,
                                            largeImageUrl: 'Large Image URL' | trans,
                                            addImage: 'Add Image' | trans,
                                        } %}

                                        <web-spy-card cloak spy-title="{{ 'Images' | trans }}" class="{{ mainClass }}__card">
                                            {% block imagesCardInner %}
                                                <web-spy-tabs cloak mode="card">
                                                    {% for idLocale, localeName in imageSetTabNames %}
                                                        {% set imageSetNames = {
                                                            prop: 'productAbstract[imageSetsFront]['~ loop.index0 ~']',
                                                            name: 'name',
                                                            images: 'productImages',
                                                            order: 'sortOrder',
                                                            urlSmall: 'externalUrlSmall',
                                                            urlLarge: 'externalUrlLarge',
                                                            idProductImageSet: 'idProductImageSet',
                                                            originalIndex: 'originalIndex',
                                                            idLocale: '[idLocale]',
                                                            localeName: '[localeName]',
                                                            idProductImage: 'idProductImage',
                                                        } %}

                                                        {% block imagesCardInnerTab %}
                                                            <web-spy-tab
                                                                cloak
                                                                spy-title="{{ macros.langFullName(localeName) | trans }}{{ localeName != 'Default' ? ' (' ~ localeName ~ ')' : null }}"
                                                                icon-name="{{ macros.langIcon(localeName) }}"
                                                            >
                                                                {% set imageSets = imageSetsGroupedByIdLocale[idLocale] | default([]) %}
                                                                {% set mappedImageSets = [] %}
                                                                {% set mappedImageSetsErrors = [] %}

                                                                {% for imageSet in imageSets %}
                                                                    {% set mappedImageSet = {
                                                                        idProductImageSet: imageSet.idProductImageSet,
                                                                        originalIndex: imageSetMetaData[imageSet].originalIndex,
                                                                        name: imageSet.name,
                                                                        locale: {
                                                                            idLocale: imageSet.locale.idLocale | default(null),
                                                                            localeName: imageSet.locale.localeName| default('Default'),
                                                                        },
                                                                    } %}
                                                                    {% set mappedImages = [] %}

                                                                    {% for productImage in imageSet.productImages %}
                                                                        {% set mappedImages = mappedImages | merge([{
                                                                            idProductImage: productImage.idProductImage,
                                                                            order: productImage.sortOrder,
                                                                            srcLarge: productImage.externalUrlLarge,
                                                                            srcSmall: productImage.externalUrlSmall,
                                                                        }]) %}
                                                                    {% endfor %}

                                                                    {% set mappedImageSet = mappedImageSet | merge({ images: mappedImages }) %}
                                                                    {% set mappedImageSets = mappedImageSets | merge([mappedImageSet]) %}
                                                                    {% set mappedImageSetsErrors = mappedImageSetsErrors | merge([imageSetMetaData[imageSet].errors]) %}
                                                                {% endfor %}

                                                                {% block imagesCardInnerTabSets %}
                                                                    <web-mp-image-sets
                                                                        cloak
                                                                        names="{{ imageSetNames | json_encode }}"
                                                                        image-sets="{{ mappedImageSets | json_encode }}"
                                                                        errors="{{ mappedImageSetsErrors | json_encode }}"
                                                                        titles="{{ imageSetTitles | json_encode }}">
                                                                    </web-mp-image-sets>
                                                                    <input
                                                                        name="{{ imageSetNames.prop }}{{ imageSetNames.idLocale }}"
                                                                        value="{{ idLocale }}"
                                                                        type="hidden" />
                                                                    <input
                                                                        name="{{ imageSetNames.prop }}{{ imageSetNames.localeName }}"
                                                                        value="{{ localeName }}"
                                                                        type="hidden" />
                                                                {% endblock %}
                                                            </web-spy-tab>
                                                        {% endblock %}
                                                    {% endfor %}
                                                </web-spy-tabs>

                                                {% do form.imageSets.setRendered %}
                                            {% endblock %}
                                        </web-spy-card>
                                    {% endblock %}
                                {% endif %}

                                {% block attributesCard %}
                                    <web-spy-card cloak spy-title="{{ 'Attributes' | trans }}" class="{{ mainClass }}__card">
                                        {% block attributesCardInner %}
                                            <web-mp-edit-abstract-product-attributes
                                                cloak
                                                table-id="web-mp-edit-abstract-product-attributes"
                                                config='{{ guiTableConfiguration(productAbstractAttributeTableConfiguration) }}'>
                                            </web-mp-edit-abstract-product-attributes>

                                            {% do form.attributes.setRendered %}
                                        {% endblock %}
                                    </web-spy-card>
                                {% endblock %}

                                {% block categoriesCard %}
                                    <web-spy-card cloak spy-title="{{ 'Categories' | trans }}" class="{{ mainClass }}__card">
                                        {% block categoriesCardInner %}
                                            <web-spy-tree-select
                                                cloak
                                                multiple="true"
                                                name="{{ form.categoryIds.vars.full_name }}"
                                                items="{{ productCategoryTree | json_encode }}"
                                                placeholder="{{ 'Select Categories' | trans }}"
                                                value="{{ productAbstract.categoryIds | map(value => value|trim) | json_encode}}"
                                            >
                                            </web-spy-tree-select>

                                            {% do form.categoryIds.setRendered %}
                                        {% endblock %}
                                    </web-spy-card>
                                {% endblock %}

                                {% block seoCard %}
                                    <web-spy-card cloak spy-title="{{ 'SEO' | trans }}" class="{{ mainClass }}__card">
                                        {% block seoCardInner %}
                                            <web-spy-tabs mode="card" cloak>
                                                {% for localizedAttributeForm in form.localizedAttributes.children %}
                                                    {% block seoCardInnerTab %}
                                                        <web-spy-tab
                                                            spy-title="{{ macros.langFullName(localizedAttributeForm.vars.value.locale.localeName) | trans }} ({{ localizedAttributeForm.vars.value.locale.localeName }})"
                                                            icon-name="{{ macros.langIcon(localizedAttributeForm.vars.value.locale.localeName) }}"
                                                        >
                                                            {{ form_row(localizedAttributeForm.children.metaTitle) }}
                                                            {{ form_row(localizedAttributeForm.children.metaKeywords) }}
                                                            {{ form_row(localizedAttributeForm.children.metaDescription, { row_attr: { 'no-spaces': 'true' } }) }}
                                                        </web-spy-tab>
                                                    {% endblock %}
                                                {% endfor %}
                                            </web-spy-tabs>
                                        {% endblock %}
                                    </web-spy-card>
                                {% endblock %}

                                {% for child in form -%}
                                    {% set hiddenFormFieldNames = [
                                        form.localizedAttributes.vars.full_name
                                    ] %}

                                    {% if not child.rendered and child.vars['block_prefixes'][1] != 'hidden' and child.vars.full_name not in hiddenFormFieldNames %}
                                        <web-spy-card class="{{ mainClass }}__card">
                                            {{ form_row(child) }}
                                        </web-spy-card>
                                    {% endif %}
                                {%- endfor -%}
                            </web-spy-tab>
                        {% endblock %}

                    {% block variantsTab %}
                        <web-spy-tab spy-title="{{ 'Concrete Products' | trans }}">
                            {% set actionConfig = '{
                                "type": "drawer",
                                "component": "ajax-form",
                                "options": {
                                    "inputs": {
                                        "action": "' ~ url(urlAddProductConcrete, {'product-abstract-id': productAbstract.idProductAbstract}) ~ '"
                                    }
                                }
                            }' %}
                            {% block variantsTable %}
                                <web-mp-edit-abstract-product-variants
                                    cloak
                                    config='{{ guiTableConfiguration(productConcreteTableConfiguration) }}'
                                    table-id="web-mp-edit-abstract-product-variants"
                                >
                                    <span title>{{ 'Concrete Products' | trans }}</span>
                                    <web-spy-button-action
                                        type="button"
                                        variant="outline"
                                        size="md"
                                        action="{{ actionConfig }}"
                                    >
                                        <web-spy-icon name="plus" icon></web-spy-icon>
                                        {{ 'Add Concrete Products' | trans }}
                                    </web-spy-button-action>
                                </web-mp-edit-abstract-product-variants>
                            {% endblock %}
                        </web-spy-tab>
                    {% endblock %}
                </web-spy-tabs>
            {% endblock %}
            {{ form_end(form) }}
        </web-mp-edit-abstract-product>
    {% endblock %}
{% endblock %}
