{#{% form_theme form '@ZedUi/Form/form-webcomponent-layout.twig' %}#}

{% set productConcreteFormFields = form.productConcrete.children %}

{% macro imagesJson(imageSet) -%}
    {% set images = [] %}
    {% for productImage in imageSet.productImages  %}
        {% set images = images | merge ([
            { src: productImage.externalUrlSmall },
        ]) %}
    {% endfor %}

    {{ images | json_encode }}
{% endmacro %}

{% macro langIcon(localeName) -%}
    {%- if localeName == 'en_US' -%}united-states
    {%- elseif localeName == 'de_DE' -%}germany
    {%- endif -%}
{% endmacro %}

{% block body %}
    {% set mainClass = 'mp-edit-abstract-product' %}
    {% set productData = {
        name: productConcreteName,
        sku: productConcrete.sku,
    } %}

    {% block editProduct %}

        <web-mp-edit-abstract-product product="{{ productData | json_encode() }}" cloak>
            {{ form_start(form, {attr: {excludeFormTag: true}}) }}

            {% block action %}
                <web-spy-button size="lg" type="submit" action>{{ 'Save' | trans }}</web-spy-button>
            {% endblock %}

            <web-spy-card spy-title="{{ 'Name & Description' | trans }}" class="{{ mainClass }}__card">
                {% block descriptionCardInner %}
                    {% for localizedAttributeForm in productConcreteFormFields.localizedAttributes.children %}
                        <web-spy-collapsible
                            cloak
                            class="{{ mainClass }}__collapsible"
                            title-icon="{{ _self.langIcon(localizedAttributeForm.vars.value.locale.localeName) }}"
                            spy-title="{{ localizedAttributeForm.vars.value.locale.localeName }}"
                            active="true"
                        >
                        {{ form_row(localizedAttributeForm.children.name) }}
                        {{ form_row(localizedAttributeForm.children.description) }}
                        </web-spy-collapsible>
                    {% endfor %}
                {% endblock %}
            </web-spy-card>

            <web-spy-card spy-title="{{ "Status" | trans }}" class="{{ mainClass }}__card">
                {{ form_row(productConcreteFormFields.isActive, {label: false, row_attr: {'no-spaces': 'true'}}) }}
            </web-spy-card>

            <web-spy-card spy-title="{{ 'Stock' | trans }}">

                {{ 'Reserved Stock' | trans }}: {{ reservedStock }}

                {{ form_row(productConcreteFormFields.stocks.quantity, {row_attr: {'no-spaces': 'true'}}) }}
                {{ form_row(productConcreteFormFields.stocks.isNeverOutOfStock, {row_attr: {'no-spaces': 'true', 'no-label': 'true'}}) }}

            </web-spy-card>

            <web-spy-card spy-title="{{ "Super Attributes" | trans }}" class="{{ mainClass }}__card">
                {% for superAttributeName in superAttributeNames %}
                    {{ superAttributeName }}
                {% endfor %}
            </web-spy-card>

            <web-spy-card spy-title="{{ 'Validity Dates & Time' | trans }}" class="{{ mainClass }}__card">
                {{ form_row(productConcreteFormFields.validFrom) }}
                {{ form_row(productConcreteFormFields.validTo) }}
            </web-spy-card>

            {% block priceCard %}
                <web-spy-card spy-title="{{ 'Price' | trans }}" class="{{ mainClass }}__card">
                    {% block priceCardInner %}
                        {{ form_row(form.useAbstractProductPrices, {row_attr: {'no-spaces': 'true'}}) }}

                        <web-mp-edit-abstract-product-prices
                                table-id="web-mp-edit-abstract-product-prices"
                                config='{{ guiTableConfiguration(priceProductConcreteTableConfiguration) }}'>
                        </web-mp-edit-abstract-product-prices>
                        {% do productConcreteFormFields.prices.setRendered %}
                    {% endblock %}
                </web-spy-card>
            {% endblock %}

            {% if productConcrete.imageSets is not null %}
                {% block imagesCard %}
                    <web-spy-card spy-title="{{ 'Images' | trans }}" class="{{ mainClass }}__card">
                        {% block imagesCardInner %}
                            {% for imageSet in productConcrete.imageSets %}
                                {% if imageSet.locale is null %}
                                    <web-spy-collapsible
                                        cloak
                                        class="{{ mainClass }}__collapsible"
                                        spy-title="{{ 'DEFAULT' | trans }}"
                                        active="true"
                                    >
                                        <web-mp-image-sets images="{{ _self.imagesJson(imageSet) }}">
                                            <span class="mp-image-sets__title">
                                                {{ 'Image Set:' | trans }}
                                                <span class="mp-image-sets__name">{{ imageSet.name }}</span>
                                            </span>
                                        </web-mp-image-sets>
                                    </web-spy-collapsible>
                                {% endif %}
                            {% endfor %}

                            {% for imageSet in productConcrete.imageSets %}
                                {% if imageSet.locale is not null %}
                                    <web-spy-collapsible
                                        cloak
                                        class="{{ mainClass }}__collapsible"
                                        title-icon="{{ _self.langIcon(imageSet.locale.localeName) }}"
                                        spy-title="{{ imageSet.locale.localeName }}"
                                        active="true"
                                    >
                                        <web-mp-image-sets images="{{ _self.imagesJson(imageSet) }}">
                                            <span class="mp-image-sets__title">
                                                {{ 'Image Set' | trans ~ ':' }}
                                                <span class="mp-image-sets__name">{{ imageSet.name }}</span>
                                            </span>
                                        </web-mp-image-sets>
                                    </web-spy-collapsible>
                                {% endif %}
                            {% endfor %}
                        {% endblock %}
                    </web-spy-card>
                {% endblock %}
            {% endif %}

            {% block attributesCard %}
                <web-spy-card spy-title="{{ 'Attributes' | trans }}" class="{{ mainClass }}__card">
                    {% block attributesCardInner %}
                        <web-mp-edit-abstract-product-attributes
                                table-id="web-mp-edit-abstract-product-attributes"
                                config='{{ guiTableConfiguration(productAttributeTableConfiguration) }}'>
                        </web-mp-edit-abstract-product-attributes>
                    {% endblock %}
                </web-spy-card>
            {% endblock %}

            {{ form_end(form) }}
        </web-mp-edit-abstract-product>
    {% endblock %}
{% endblock %}
