{% extends model('component') %}

{% define config = {
    name: 'assets-preview',
} %}

{% define data = {
    assets: [],
    title: 'ssp_dashboard.general.ssp_assets',
    counter: 0,
} %}

{% block body %}
    {% block heading %}
        {% include molecule('title-counter', 'SelfServicePortal') with {
            class: 'col--sm-12',
            data: {
                title: data.title,
                counter: data.counter,
            },
            qa: qa ~ '-counter',
        } only %}
    {% endblock %}

    {% block content %}
        <div class="box box--dark box--outer-spacingless {{ config.name }}__content">
            {% block assets %}
                {% if (data.assets | default([])) is empty %}
                    <div class="text-center"><strong>{{ 'ssp_dashboard.general.no_data' | trans }}</strong></div>
                {% else %}
                    <div class="{{ config.name }}__container">
                        {% for asset in data.assets %}
                            <div class="{{ config.name }}__block" data-qa="asset-item-preview">
                                <a href="{{ path('customer/ssp-asset/details', {'reference': asset.reference}) }}" class="{{ config.name }}__link">
                                    {% set imageUrl = null %}
                                    {% if asset.image %}
                                        {% set imageUrl = url('customer/ssp-asset/view-image', { 'ssp-asset-reference': asset.reference }) %}
                                    {% elseif asset.externalImageUrl %}
                                        {% set imageUrl = asset.externalImageUrl %}
                                    {% endif %}

                                    {% include molecule('lazy-image') with {
                                        class: "#{config.name}__image",
                                        data: {
                                            imagePlaceholder: publicPath('images/image-placeholder.png'),
                                            imageSrc: imageUrl,
                                            imageTitle: asset.name,
                                            isBackground: true,
                                        },
                                    } only %}

                                    <span>{{ asset.name }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block more %}
                <div class="spacing-top text-right">
                    <a class="link link--alt" href="{{ path('customer/ssp-asset') }}">{{ 'ssp_dashboard.general.view_all' | trans }}</a>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
