{% extends '@Gui/Layout/empty-layout.twig' %}

{% block content %}

    <div class="ibox float-e-margins">
        {{ form_start(navigationNodeForm) }}
            <div class="ibox-title">
                <h5>
                    {% if idNavigationNode %}
                        {{ 'Create child node' | trans }}
                    {% else %}
                        {{ 'Create root node' | trans }}
                    {% endif %}
                </h5>
            </div>

            <div class="ibox-content">
                {% include '@NavigationGui/Node/_partials/navigation-node-form-content.twig' %}
            </div>

            <div class="ibox-footer">
                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />
            </div>
        {{ form_end(navigationNodeForm) }}
    </div>

    {% include '@NavigationGui/Node/_partials/tree-reloader.twig' %}

{% endblock %}
