{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Create Offer' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ backActionButton('/offer-gui/view/list', 'Back to list' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Create Offer' | trans } %}
        {% block widget_content %}

            {{ form_start(form) }}

            {{ form_row(form.storeCurrency) }}
            {{ form_row(form.customerReference) }}

            <input type="submit" class="btn btn-primary safe-submit" name="submit-customer-create" value="{{ 'Create Customer' | trans }}" /> <br />

            {{ form_label(form.items) }}
            <table>
                {% for item in form.items %}
                    <tr>
                        {% for itemField in item %}
                        <td>{{ form_row(itemField) }}</td>
                        {% endfor %}

                        {#<td>{{ form_row(item.sku) }}</td>#}
                        {#<td>{{ form_row(item.unitGrossPrice) }}</td>#}
                        {#<td>{{ form_row(item.unitNetPrice) }}</td>#}
                        {#<td>{{ form_row(item.sourceUnitGrossPrice) }}</td>#}
                        {#<td>{{ form_row(item.sourceUnitNetPrice) }}</td>#}
                        {#<td>{{ form_row(item.offerDiscount, { 'attr': {'placeholder': '0'}}) }}</td>#}
                        {#<td>{{ form_row(item.stock) }}</td>#}
                        {#<td>{{ form_row(item.offerFee, { 'attr': {'placeholder': '0'}}) }}</td>#}
                        {#<td>{{ form_row(item.quantity) }}</td>#}
                        {#<td>{{ form_row(item.unitSubtotalAggregation) }}</td>#}
                        {#<td>{{ form_row(item.sumSubtotalAggregation) }}</td>#}
                    </tr>
                {% endfor %}
            </table>

            {{ form_label(form.incomingItems) }}
            <table>
                {% for incomingItem in form.incomingItems %}
                    <tr>
                        <td>{{ form_row(incomingItem.sku) }}</td>
                        <td>{{ form_row(incomingItem.quantity) }}</td>
                    </tr>
                {% endfor %}
            </table>

            <table>
                <tr>
                    <td class="col-sm-4">{{ form_row(form.shippingAddress) }}</td>
                    <td class="col-sm-4">{{ form_row(form.billingAddress) }}</td>
                </tr>
            </table>

            {{ form_widget(form) }}

            {% if offer.quote.cartRuleDiscounts is defined %}
                {% include '@OfferGui/Create/_partials/cart-rule-discounts.twig' with {'quote': offer.quote} %}
            {% endif %}

            {% if offer.quote.totals is defined and offer.quote.totals is not null %}
                {% include '@OfferGui/Create/_partials/totals.twig' with {'quote': offer.quote} %}
            {% endif %}

            <input type="submit" class="btn btn-primary safe-submit" name="submit-reload" value="{{ 'Reload' | trans }}" />
            <input type="submit" class="btn btn-primary safe-submit" name="submit-persist" value="{{ 'Submit an Offer' | trans }}" />
            {{ form_end(form) }}

        {% endblock %}
    {% endembed %}

{% endblock %}

