{% extends model('component') %}

{% define config = {
    name: 'asset-finder',
    tag: 'asset-finder',
} %}

{% define data = {
    isDisabled: false,
    placeholder: 'self_service_portal.asset.selector.search_placeholder' | trans,
    staticParams: null,
    dynamicParams: null,
} %}

{% define attributes = {
    'debounce-delay': 500,
    'min-letters': 2,
} %}

{% block body %}
    {% block ajax %}
        {% block provider %}
            {% include molecule('ajax-provider') with {
                class: "#{config.jsName}__ajax-provider",
                attributes: {
                    'fetch-on-load': true,
                    url: path('customer/ssp-asset/widget-content', data.staticParams | default({})),
                    method: 'GET',
                    'dynamic-params': {
                        searchString: {
                            selector: ".#{config.jsName}__search-field",
                            attribute: 'value',
                        },
                    } | merge(data.dynamicParams | default()) | json_encode,
                },
            } only %}
        {% endblock %}

        {% block loader %}
            {% include molecule('ajax-loader') with {
                attributes: {
                    'provider-class-name': "#{config.jsName}__ajax-provider",
                },
            } only %}
        {% endblock %}

        {% block renderer %}
            {% include molecule('ajax-renderer') with {
                attributes: {
                    'provider-class-name': "#{config.jsName}__ajax-provider",
                    'target-class-name': "#{config.jsName}__results",
                    'mount-after-render': true,
                },
            } only %}
        {% endblock %}
    {% endblock %}

    {% block content %}
        {% block search %}
            <div class="{{ config.name }}__search">
                <input
                    placeholder="{{ data.placeholder }}"
                    class="input input--expand {{ config.jsName }}__search-field {{ config.name }}__search-field"
                    {% if data.isDisabled %}disabled{% endif %}
                    {{ qa('asset-finder-input') }}
                >
            </div>
        {% endblock %}

        {% block result %}
            <div class="{{ config.name }}__results {{ config.jsName }}__results" {{ qa('asset-selector-results') }}></div>
        {% endblock %}
    {% endblock %}
{% endblock %}

