{{ form_start(sspAssetForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            {% set asset = sspAssetForm.children.asset_image %}
            {% set fileInput = asset.children.file.vars %}
            {% set deleteInput = asset.children.delete.vars %}

            {{ form_errors(asset) }}

            {% for child in asset %}
                {{ form_errors(child) }}
            {% endfor %}

            {% include '@Gui/Form/Type/image-uploader.twig' with {
                image: fileInput.attr['original-image-url'] | default(null),
                inputAttrs: fileInput.attr | merge({
                    id: fileInput.id,
                    name: fileInput.full_name,
                }),
                deleteAttrs: deleteInput.attr | merge({
                    id: deleteInput.id,
                    name: deleteInput.full_name,
                }),
            } only %}

            {% do asset.setRendered() %}
        </div>

        <div class="col-xs-12 col-md-8">
            {{ form_widget(sspAssetForm) }}

            <div class="form-group">
                <button data-qa="submit" class="btn btn-primary">{{ 'Save' | trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(sspAssetForm) }}
