{{ form_start(sspAssetForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            {% set assetImage = sspAssetForm.children.asset_image %}
            {% set fileInput = assetImage.children.file.vars %}
            {% set deleteInput = assetImage.children.delete.vars %}

            {{ form_errors(assetImage) }}

            {% for child in assetImage %}
                {{ form_errors(child) }}
            {% endfor %}

            {% set currentImage = fileInput.attr['original-image-url'] | default(null) %}
            {% if not currentImage and sspAssetForm.externalImageUrl.vars.value %}
                {% set currentImage = sspAssetForm.externalImageUrl.vars.value %}
            {% endif %}

            {% include '@Gui/Form/Type/image-uploader.twig' with {
                image: currentImage,
                inputAttrs: fileInput.attr | merge({
                    id: fileInput.id,
                    name: fileInput.full_name,
                }),
                deleteAttrs: deleteInput.attr | merge({
                    id: deleteInput.id,
                    name: deleteInput.full_name,
                }),
            } only %}

            {% do assetImage.setRendered() %}

            <div class="form-group">
                {{ form_label(sspAssetForm.externalImageUrl) }}
                {{ form_widget(sspAssetForm.externalImageUrl) }}
                {{ form_errors(sspAssetForm.externalImageUrl) }}
                <p class="help-block" style="font-style: italic; margin-top: 5px;">{{ "Note: If no image is uploaded locally, the asset will use the image from the provided URL." | trans }}</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            {{ form_widget(sspAssetForm, {'exclude_children': ['externalImageUrl']}) }}

            <div class="form-group">
                <button data-qa="submit" class="btn btn-primary">{{ 'Save' | trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(sspAssetForm) }}
