{{ form_start(sspModelForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            {% set sspModelImage = sspModelForm.children.model_image %}
            {% set fileInput = sspModelImage.children.file.vars %}
            {% set deleteInput = sspModelImage.children.delete.vars %}

            {{ form_errors(sspModelImage) }}

            {% for child in sspModelImage %}
                {{ form_errors(child) }}
            {% endfor %}

            {% include '@Gui/Form/Type/image-uploader.twig' with {
                image: fileInput.attr['original-image-url'] | default(null),
                inputAttrs: fileInput.attr | merge({
                    id: fileInput.id,
                    name: fileInput.full_name,
                }),
                deleteAttrs: deleteInput.attr | merge({
                    id: deleteInput.id,
                    name: deleteInput.full_name,
                }),
            } only %}

            {% do sspModelImage.setRendered() %}
        </div>

        <div class="col-xs-12 col-md-8">
            {{ form_widget(sspModelForm) }}

            <div class="form-group">
                <button data-qa="submit" class="btn btn-primary">{{ 'Save' | trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(sspModelForm) }}
