<div class="panel-body">
    <h3>Catalog and product detail page Image(s)</h3>
    <p>
        For each image to be displayed in the shop one image set must be created. An image set has a name for identification and may contain a small and a large version of the image. The order of your image sets can be changed via drag and drop. The product variants inherit these product image sets, but can be changed there on an individual level.
    </p>

    <p>
        <i>Note: The first image will be the image displayed in the catalog. The full image set will be displayed on the product detail page before the customer has configured what variant he wants.</i>
    </p>
</div>

<div class="panel-body">
    {% for setId,imageSet in form.image_set %}
        <div class="well">
            {{ form_row(imageSet.id_product_image_set) }}
            {{ form_row(imageSet.fk_locale) }}
            {{ form_row(imageSet.fk_product) }}
            {{ form_row(imageSet.fk_product_abstract) }}
            {{ form_row(imageSet.name) }}

                {% for productImage in imageSet.image_collection %}
                    <div class="row">
                        <div class="col-md-4 col-lg-2">
                            <img src="http://www.de.spryker.dev{{ productImage.external_url_small.vars.value }}" />
                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-10">
                            {{ form_row(productImage.id_product_image) }}
                            {{ form_row(productImage.external_url_small) }}
                            {{ form_row(productImage.external_url_large) }}
                            {{ form_row(productImage.order) }}
                        </div>
                    </div>
                {% endfor %}
        </div>
    {% endfor %}
</div>