{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Edit category' | trans %}
{% endif %}

{% form_theme categoryForm with [
    '@Category/_partials/category-image-set-theme.twig',
    '@Category/_partials/category-image-collection-theme.twig',
]%}

{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ viewActionButton('/product-category/assign?id-category='~idCategory, 'Assign products' | trans) }}
    {{ viewActionButton('/category/view?id-category='~idCategory, 'View' | trans) }}
    {{ backActionButton('/category/root', 'List of categories' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}

            {{ form_start(categoryForm) }}
                {% do categoryForm.localized_attributes.setRendered %}
                {% do categoryForm.imageSets_default.setRendered %}
                {% do categoryForm.imageSets_en_US.setRendered %}
                {% do categoryForm.imageSets_de_DE.setRendered %}
                {{ form_widget(categoryForm) }}
                <hr />
                <p><strong>{{ 'Translations' | trans }}</strong></p>

                {% for localizedAttributes in categoryForm.localized_attributes %}
                    {% set localeName = localizedAttributes.vars.value.locale.localeName %}
                    {% set collapsed = (currentLocale != localeName) %}

                    {% embed '@Gui/Partials/localized-ibox.twig' with {
                        localeName: localeName,
                        collapsed: collapsed
                    } %}
                        {% block content %}
                            {{ form_widget(localizedAttributes) }}
                        {% endblock %}
                    {% endembed %}
                {% endfor %}

            <div class="well">
                {% filter trans|raw %}
                    <h3>Category Image(s)</h3>
                    <p>Multiple images can be grouped to an image set. An image set has a name for identification and may contain a small and a large version of each image.</p>
                    <p><i>Note: Image sets can be used for different purposes.</i></p>
                {% endfilter %}
            </div>

            {% set formKey = 'imageSets_default' %}

                    {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': true, 'localeName': 'default'} %}
                        {% block content %}
                            {% include '@Category/_partials/image-set-form.twig' %}
                        {% endblock %}
                    {% endembed %}

            {% for localeTransfer in localeCollection %}
                {% set formKey = 'imageSets_' ~ localeTransfer.localeName %}

                {% if categoryForm[formKey] is defined %}
                    {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': true, 'localeName': localeTransfer.localeName} %}
                        {% block content %}
                            {% include '@Category/_partials/image-set-form.twig' %}
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            {% endfor %}

                <hr />
                <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}"/>
            {{ form_end(categoryForm) }}

        {% endblock %}

    {% endembed %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-category-main.css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-category-main.js"></script>
    <script src="/assets/js/spryker-zed-cms-block-category-connector-main.js"></script>
{% endblock %}

