{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Category Edit' | trans %}
{% endif %}

{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton('/category/root', 'List Categories' | trans) }}
    {{ viewActionButton('/product-category/assign?id-category='~idCategory, 'Assign Products' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ form_start(categoryForm) }}
            {{ form_row(categoryForm.category_key) }}
            {{ form_row(categoryForm.is_active) }}
            {{ form_row(categoryForm.is_in_menu) }}
            {{ form_row(categoryForm.is_clickable) }}
            {{ form_row(categoryForm.parent_category_node) }}
            {{ form_row(categoryForm.extra_parents) }}

            {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Attributes', row_class: 'widget-class', row_id: 'widget-id' } %}
                {% block widget_content %}

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            {% for localizedAttributes in categoryForm.localized_attributes %}
                                {% set activeCss = '' %}
                                {% set invalidCss = '' %}
                                {% set locale = localizedAttributes.vars.value.locale.localeName %}

                                {% if currentLocale == locale %}
                                    {% set activeCss =  'active' %}
                                {% endif %}

                                {% if errors.localizedAttributes is defined %}
                                    {% if locale in errors.localizedAttributes|keys %}
                                        {% set invalidCss = 'invalid-tab' %}
                                    {% endif %}
                                {% endif %}

                                <li class="{{ activeCss }}  {{ invalidCss }}"><a href="#content_{{ locale }}" data-toggle="tab">{{ locale }}</a></li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for localizedAttributes in categoryForm.localized_attributes %}
                                {% set active = '' %}
                                {% set locale = localizedAttributes.vars.value.locale.localeName %}

                                {% if currentLocale == locale %}
                                    {% set active = 'active' %}
                                {% endif %}

                                <div id="content_{{ locale }}" class="tab-pane {{ active }}">
                                    <div class="panel-body">
                                        {{ form_widget(localizedAttributes) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endblock %}
            {% endembed %}

            <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}"/>
            {{ form_end(categoryForm) }}

        {% endblock %}

    {% endembed %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-productcategory-main.css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-productcategory-main.js"></script>
{% endblock %}

