{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Edit category' | trans %}
{% endif %}

{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ viewActionButton('/product-category/assign?id-category='~idCategory, 'Assign products' | trans) }}
    {{ viewActionButton('/category/view?id-category='~idCategory, 'View' | trans) }}
    {{ backActionButton('/category/root', 'List of categories' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}

            {{ form_start(categoryForm) }}
                {% do categoryForm.localized_attributes.setRendered %}
                {{ form_widget(categoryForm) }}
                <hr />
                <p><strong>{{ 'Translations' | trans }}</strong></p>

                {% for localizedAttributes in categoryForm.localized_attributes %}
                    {% set localeName = localizedAttributes.vars.value.locale.localeName %}
                    {% set collapsed = (currentLocale != localeName) %}

                    {% embed '@Gui/Partials/localized-ibox.twig' with {
                        localeName: localeName,
                        collapsed: collapsed
                    } %}
                        {% block content %}
                            {{ form_widget(localizedAttributes) }}
                        {% endblock %}
                    {% endembed %}
                {% endfor %}

                <hr />
                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}"/>
            {{ form_end(categoryForm) }}

        {% endblock %}

    {% endembed %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-category-main.css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-category-main.js"></script>
    <script src="/assets/js/spryker-zed-cms-block-category-connector-main.js"></script>
{% endblock %}

