<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ 'Order Overview for Order' | trans }} {{ offer.idOffer }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/css/spryker-zed-sales-main.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="sales-offer-container">

    <div class="container" id="main-header">
        <h2>Offer Details</h2>
    </div>

    <div class="container">
        <p>
            <strong>{{ 'Offer Data' | trans }}:</strong> {{ offer.createdAt | formatDateTime }}<br>
            <strong>{{ 'Customer Name' | trans }}:</strong> {{ offer.customer.salutation }} {{ offer.customer.firstName }} {{ offer.customer.lastName }}<br>
            <strong>{{ 'Email' | trans }}:</strong> {{ offer.customer.email }}
        </p>
    </div>
