{% for productOption in item.productOptions %}
    <tr class="addition-row">
        <td></td>
        <td>+ <span class="label">{{ 'Option' | trans }}</span></td>
        <td>
            <div>
                {{ productOption.value }}
            </div>
            <div class="sku">
              {{ 'Sku' | trans }}: {{ productOption.sku }}
            </div>
        </td>

        <td><div>{{ item.unitGrossPrice | money(true, quote.currency.code) }}</div></td>
        <td><div>{{ item.offerDiscount }}</div></td>
        <td><div>{{ item.quantity }}</div></td>
        <td><div>{{ item.offerFee | default(0) | money(true, quote.currency.code) }}</div></td>
        <td><div>{{ item.unitGrossPrice | money(true, quote.currency.code) }}</div></td>
        <td><div>{{ item.unitSubtotalAggregation | money(true, quote.currency.code) }}</div></td>
    </tr>
{% endfor %}
