
{% set numberOfItemAdditions = item.productOptions | length + 1  %}
{% set subtotal = item.unitSubtotalAggregation %}
{% set priceToPay = item.unitPriceToPayAggregation %}

<td>
    <div>
      <strong>{{ item.name }}</strong>
    </div>
    <div class="sku">
      {{ 'Sku' | trans }}: {{ item.Sku }}
    </div>
</td>
<td><div>{{ item.unitGrossPrice | money(true, quote.currency.code) }}</div></td>
<td><div>{{ item.offerDiscount }}</div></td>
<td><div>{{ item.quantity }}</div></td>
<td><div>{{ item.offerFee | default(0) | money(true, quote.currency.code) }}</div></td>
<td><div>{{ item.unitGrossPrice  }}</div></td>
<td><div>{{ item.unitSubtotalAggregation | money(true, quote.currency.code) }}</div></td>
