<div class="container">
    <h3>Totals</h3>
    <table class="table table-bordered table-striped table-sm">
        <tbody>
        {% for item in quote.items %}
            <tr>
                <th>{{ item.name }}</th>
                <th></th>
                <td class="text-right">{{ item.unitPrice | money(true, quote.currency.code)  }}</td>
                <th></th>
            </tr>
            {% for itemOption in item.productOptions %}
            <tr>
                <td> + <span class="label">{{ 'Option' | trans }}</span> {{ itemOption.value }}</td>
                <td></td>
                <td class="text-right">{{ itemOption.unitPrice | money(true, quote.currency.code) }}</td>
                <td></td>
            </tr>
            {% endfor %}
        {% endfor %}

        <tr class="subtotal-row">
            <td><strong>{{ 'Sub total' | trans }}</strong></td>
            <td></td>
            <td class="text-right"><strong>{{ quote.totals.subtotal | money(true, quote.currency.code) }}</strong></td>
            <td></td>
        </tr>
        {% for expense in quote.expenses %}
            <tr>
                <td>{{ 'Shipment' | trans }} -  {{ expense.name }}</td>
                <td></td>
                <td class="text-right">{{ expense.unitPrice | money(true, quote.currency.code)  }}</td>
                <td></td>
            </tr>
        {% endfor %}

        <tr>
            <td>{{ 'Discount' | trans }}</td>
            <td></td>
            <td class="text-right">-{{ quote.totals.discountTotal | default(0) | money(true, quote.currency.code) }}</td>
            <td></td>
        </tr>

        <tr>
            <td>{{ 'Canceled amount' | trans }}</td>
            <td></td>
            <td class="text-right" data-qa="grand-total" data-qa-grand-total-raw="{{ quote.totals.canceledTotal }}">-{{ quote.totals.canceledTotal | default(0) | money(true, quote.currency.code) }}</td>
            <td></td>
        </tr>

        <tr class="grandTotal-row">
            <td>
                <strong>{{ 'GRAND TOTAL' | trans }}</strong> <br />
                {{ 'Included tax amount' | trans }}
            </td>
            <td></td>
            <td class="text-right" data-qa="grand-total" data-qa-grand-total-raw="{{ quote.totals.grandTotal }}">
                <strong>{{ quote.totals.grandTotal | money(true, quote.currency.code) }}</strong> <br />
                {{ quote.totals.taxTotal.amount | money(true, quote.currency.code) }}
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
