 <table align="center" border="0.1" cellpadding="1" cellspacing="1">
    <tbody>
    <tr>
        <td><strong>{{ 'mail.order.confirmation.shipment_details' | trans }}</strong></td>
    </tr>
    {% for shipmentGroup in mail.shipmentGroups %}
    <tr>
        <td>
            {{ 'mail.order.confirmation.shipment_number' | trans }} {{ loop.index +1 }}<br />
            {{ 'mail.order.confirmation.shipping_address' | trans }}:<br />
            {{ shipmentGroup.shipment.shippingAddress.firstName }} {{ shipmentGroup.shipment.shippingAddress.lastName }}<br />
            {{ shipmentGroup.shipment.shippingAddress.address1 }} {{ shipmentGroup.shipment.shippingAddress.address2 }} {{ shipmentGroup.shipment.shippingAddress.address3 }}<br />
            {{ shipmentGroup.shipment.shippingAddress.zipCode }} {{ shipmentGroup.shipment.shippingAddress.city }}<br />
            {{ shipmentGroup.shipment.shippingAddress.region }}<br />

            {{ 'mail.order.confirmation.shipping_method' | trans }}: {{ shipmentGroup.shipment.method.name }}<br />
            {{ 'mail.order.confirmation.delivery_date' | trans }}: {{ shipmentGroup.shipment.requestedDeliveryDate }}
        </td>
    </tr>
    <tr>
        <td><strong>{{ 'mail.order.confirmation.products_in_shipment' | trans }}</strong></td>
    </tr>
    <tr>
        <td><strong>{{ 'mail.order.confirmation.product_title' | trans }} x {{ 'mail.order.confirmation.quantity' | trans }} = {{ 'mail.order.confirmation.price' | trans }}</strong></td>
    </tr>
        {% for item in shipmentGroup.items %}
        <tr>
            <td>{{ item.name }} ({{ item.sku }}) x {{ item.quantity }} = {{ item.unitPrice | money }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
