{% extends '@Application/layout.twig' %}
{% block content %}

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#filter-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Filter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="filter-nav">
        <ul class="nav navbar-nav" data-grid="#order-grid">
          <li class="active"><a href="#all" data-grid-options="{{ all }}" data>{{ 'Show All Orders'|trans }}</a>
          <li><a href="#real" data-grid-options="{{ real }}">{{ 'Real Orders'|trans }}</a>
          <li><a href="#test" data-grid-options="{{ test }}">{{ 'Test Orders'|trans }}</a>
        </ul>
    </div>
</nav>

{{ widget('/sales/order-grid') }}
{% endblock %}
