<div class="form-inline">
    <div class="form-group">
        {{ form_label(productOptionForm.name) }}
        {{ form_widget(productOptionForm.name) }}
    </div>

    <div class="form-group">
        {{ form_label(productOptionForm.sku) }}
        {{ form_widget(productOptionForm.sku) }}
    </div>

    <div class="form-group">
        {{ form_label(productOptionForm.price) }}
        {{ form_widget(productOptionForm.price) }}
    </div>
</div>
<br />
