<h3>{{ 'Define what to apply the discount to' | trans }}</h3>
<hr />

{{ form_row(discountForm.discountCalculator.calculator_plugin) }}

{{ form_row(discountForm.discountCalculator.amount) }}

{{ form_row(discountForm.discountCalculator.collector_query_string) }}

<div id="builder_calculation" class="query-builder-container"></div>
{{ form_errors(discountForm.discountCalculator.collector_query_string) }}

<button type="button" class="btn btn-sm btn-success" id="btn-calculation-get" data-label-plain-query="{{ 'Plain query' | trans }}" data-label-query-builder="{{ 'Query builder' | trans }}">
    Plain query
</button>
