<div class="well well-sm">{{ 'Define what to apply the discount to' | trans }}</div>
<hr />

{{ form_row(discountForm.discountCalculator.calculator_plugin) }}

{{ form_row(discountForm.discountCalculator.amount) }}

{{ form_row(discountForm.discountCalculator.collector_query_string) }}

<div id="builder_calculation"></div>

<button type="button" class="btn btn-sm btn-success" id="btn-calculation-get">Save Query Configuration</button>

{#<button id="reload">Reload</button>#}

{#<p>#}
    {#{{ 'discount.edit.calculation.how_to' | trans }}#}
{#</p>#}

{#{{ 'Available collectors:' | trans }}#}
{#<ul>#}
    {#{% for collector in collectorTypes %}#}
        {#<li>{{ collector }}</li>#}
    {#{% endfor %}#}
{#</ul>#}
{#{{ 'Collector with value "*" matches all items. ' | trans }} <br />#}

{#{{ 'Boolean comparators:' | trans }}#}
{#<ul>#}
    {#{% for comparator in booleanComparators %}#}
        {#<li>{{ comparator }}</li>#}
    {#{% endfor %}#}
{#</ul>#}


{#{{ 'Comparator expressions:' | trans }}#}
{#<ul>#}
    {#{% for comparatorExpression in comparatorExpressions %}#}
        {#<li>{{ comparatorExpression }}</li>#}
    {#{% endfor %}#}
{#</ul>#}
