<h3>{{ 'Calculation' | trans }}</h3>
<hr />
{{ form_row(discountForm.discountCalculator) }}

<p>
    {{ 'discount.edit.calculation.how_to' | trans }}
</p>

{{ 'Available collectors:' | trans }}
<ul>
    {% for collector in collectorTypes %}
        <li>{{ collector }}</li>
    {% endfor %}
</ul>
{{ 'Collector with value "*" matches all items. ' | trans }} <br />

{{ 'Boolean comparators:' | trans }}
<ul>
    {% for comparator in booleanComparators %}
        <li>{{ comparator }}</li>
    {% endfor %}
</ul>


{{ 'Comparator expressions:' | trans }}
<ul>
    {% for comparatorExpression in comparatorExpressions %}
        <li>{{ comparatorExpression }}</li>
    {% endfor %}
</ul>



