<h3>{{ 'Condition' | trans }}</h3>
<hr />
{{ form_row(discountForm.discountCondition) }}

<p>
 {{ 'discount.edit.condition.how_to' | trans }}
</p>

{{ 'Available conditions:' | trans }}
<ul>
{% for rule in decisionRuleTypes %}
    <li>{{ rule }}</li>
{% endfor %}
</ul>
{{ 'Condition with value "*" matches all items. ' | trans }} <br />

{{ 'Boolean comparators:' | trans }}
<ul>
    {% for comparator in booleanComparators %}
        <li>{{ comparator }}</li>
    {% endfor %}
</ul>

{{ 'Comparator expressions:' | trans }}
<ul>
    {% for comparatorExpression in comparatorExpressions %}
        <li>{{ comparatorExpression }}</li>
    {% endfor %}
</ul>
