{{ form_start(discountForm, {attr: {'id' : 'discount-form'}}) }}

<h3>{{ 'Fill in the general discount information' | trans }}</h3>
<hr />

{{ form_row(discountForm.discountGeneral.discount_type) }}

{{ form_row(discountForm.discountGeneral.price_mode) }}

{{ form_row(discountForm.discountGeneral.display_name) }}

{{ form_row(discountForm.discountGeneral.description) }}

{{ form_row(discountForm.discountGeneral.is_exclusive) }}


{{ form_label(discountForm.discountGeneral.valid_from) }}
<div class="row">
    <div class="col-xs-12">
        {{ form_widget(discountForm.discountGeneral.valid_from) }}
    </div>
</div>

{{ form_label(discountForm.discountGeneral.valid_to) }}
<div class="row">
    <div class="col-xs-12">
        {{ form_widget(discountForm.discountGeneral.valid_to) }}
    </div>
</div>

{% import "@Discount/Index/partial/_plugin_types_macro.twig" as form_macro %}
{{ form_macro.render_plugin_types(discountForm.discountGeneral) }}
