{{ form_start(discountForm, {attr: {'id' : 'discount-form'}}) }}

<h3>{{ 'Fill in the general discount information' | trans }}</h3>
<hr />

<div class="form-container">
    {{ form_row(discountForm.discountGeneral.store_relation) }}
    {{ form_row(discountForm.discountGeneral.discount_type) }}

    <div class="form-group {% if discountForm.discountGeneral.display_name.vars.errors|length %}has-error{% endif %}">
        {{ form_label(discountForm.discountGeneral.display_name) }}
        {{ form_widget(discountForm.discountGeneral.display_name) }}
        <div class="form-note">
            <span class="glyphicon glyphicon-info-sign"></span>
            {{ 'Unique, short, and descriptive. Displayed in cart calculation.' | trans }}
        </div>
        {{ form_errors(discountForm.discountGeneral.display_name) }}
    </div>

    <div class="form-group {% if discountForm.discountGeneral.description.vars.errors|length %}has-error{% endif %}">
        {{ form_label(discountForm.discountGeneral.description) }}
        {{ form_widget(discountForm.discountGeneral.description) }}
        <div class="form-note">
            <span class="glyphicon glyphicon-info-sign"></span>
            {{ 'Summary explaining promotion. Displayed with eligible products where applicable.' | trans }}
        </div>
        {{ form_errors(discountForm.discountGeneral.description) }}
    </div>

    {% if discountForm.discountGeneral.priority is defined %}
        <div class="form-group {% if discountForm.discountGeneral.priority.vars.errors|length %}has-error{% endif %}">
            {{ form_label(discountForm.discountGeneral.priority) }}
            {{ form_widget(discountForm.discountGeneral.priority) }}
            <div class="form-note">
                <span class="glyphicon glyphicon-info-sign"></span>
                {{ discountForm.discountGeneral.priority.vars.help }}
            </div>
            {{ form_errors(discountForm.discountGeneral.priority) }}
        </div>
    {% endif %}

    {{ form_row(discountForm.discountGeneral.is_exclusive) }}

    <div class="form-date-container">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="datetime-container">
                    {{ form_row(discountForm.discountGeneral.valid_from) }}
                    <i class="far fa-calendar datetime-container__icon"></i>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="datetime-container">
                    {{ form_row(discountForm.discountGeneral.valid_to) }}
                    <i class="far fa-calendar datetime-container__icon"></i>
                </div>
            </div>
        </div>
    </div>

    {% import "@Discount/Index/partial/_plugin_types_macro.twig" as form_macro %}
    {{ form_macro.render_plugin_types(discountForm.discountGeneral) }}
</div>
