<div class="well well-sm">{{ 'Create voucher codes for the discount' | trans }}</div>
<hr />

{{ form(voucherForm) }}

{{ viewActionButton(url('/discount/voucher/export', {'id-pool' : discountConfigurator.discountVoucher.fkDiscountVoucherPool}), 'Export' | trans) }}
{{ removeActionButton(url('/discount/voucher/delete-discount-vouchers', {'id-pool': discountConfigurator.discountVoucher.fkDiscountVoucherPool, 'id-discount' : idDiscount }), 'Delete codes' | trans ) }}

{% if voucherCodesTable is defined %}
    <hr />
    {{ voucherCodesTable | raw }}
{% endif %}
