{% extends '@Cms/Layout/layout.twig' %}

    {% set pageName = '' %}
    {% for pageAttribute in cmsPage.pageAttributes %}
        {% if  pageAttribute.localeName == 'en_US' %}
            {% set pageName = pageAttribute.name  %}
        {% endif %}
    {% endfor %}

{% set widget_title = 'Edit Placeholders: ' | trans ~ pageName %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {% set redirectUrl = url('/cms-gui/create-glossary', {'id-cms-page' : idCmsPage}) %}
    {{ include ('@CmsGui/_template/version-button.twig', { 'id-cms-page': idCmsPage, 'redirect-url' : redirectUrl}) }}
    {% for buttonTransfer in viewActionButtons %}
        {{ viewActionButton(buttonTransfer.url, buttonTransfer.title | trans, buttonTransfer.defaultOptions) }}
    {% endfor %}
    {{ editActionButton(url('/cms-gui/edit-page', {'id-cms-page': idCmsPage}), 'Edit page' | trans) }}
    {% if cmsVersion is not null %}
        {{ removeActionButton(url('/cms-gui/version-page/discard', {'id-cms-page': idCmsPage, 'redirect-url' : redirectUrl}), 'Discard Draft' | trans) }}
    {% endif %}
    {{ include ('@CmsGui/_template/activate-button.twig', { 'id-cms-page': idCmsPage, 'isActive': cmsPage.isActive}) }}
    {{ backActionButton('/cms-gui/list-page', 'Back to CMS' | trans) }}
{% endblock %}

{% block content %}

    {{ include ('@CmsGui/_template/edit-notes.twig') }}

    {% if placeholderTabs.tabs | length > 0 %}

        {{ form_start(glossaryForm) }}

        {{ tabs(placeholderTabs, {'availableLocales' : availableLocales, 'glossaryForm' : glossaryForm}) }}
        {% do glossaryForm.glossaryAttributes.setRendered %}

        {{ form_end(glossaryForm) }}

    {% else %}
        <div class="alert alert-danger">
            {{ "Missing placeholders for selected template." | trans }}
        </div>
    {% endif %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-cms-gui-main.css">
{% endblock %}

{% block footer_js %}
    {% block common_js %}{{ parent() }}{% endblock %}
    {% block init_js %}
        {{ render(controller('/cms-content-widget/assets/index'), {'ignore_errors':true}) }}
        {{ render(controller('/content-gui/assets/index'), {'ignore_errors':true}) }}
        {{ parent() }}
    {% endblock %}
    <script src="/assets/js/spryker-zed-cms-gui-main.js"></script>
{% endblock %}

