{% extends '@Gui/Layout/layout.twig' %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-category-root.css') }}">
{% endblock %}

{% set widget_title = 'Category' %}
{% block section_title %}{{ widget_title | trans }}{% endblock %}

{% block action %}
    {{ createActionButton('/category/create', 'Create category' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Root nodes list' | trans } %}
        {% block widget_content %}
            {{ rootCategories | raw }}
            <div class="progress hidden" id="category-loader">
                <div class="progress-bar progress-bar-100 progress-bar-striped active" role="progressbar"></div>
            </div>
        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Category tree' } %}
        {% block widget_content %}
            <div id="category-tree-progress-bar" class="progress hidden">
                <div class="progress-bar progress-bar-100 progress-bar-striped active" role="progressbar">&nbsp;</div>
            </div>

            <div id="category-tree"></div>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-category-root.js') }}"></script>
{% endblock %}
