{% embed '@SalesReturnGui/_partials/column.twig' with {
    title: 'Returned items'
} %}
    {% block content %}
        <table class="footable table toggle-arrow-tiny" data-qa="order-item-list">
            <thead>
            <tr class="text-left">
                <th><input type="checkbox" id="check-all-orders"/></th>
                <th colspan="2">{{ 'Product' | trans }}</th>
                <th>{{ 'Quantity' | trans }}</th>
                <th>{{ 'Price' | trans }}</th>
                <th>{{ 'Item total' | trans }}</th>
                <th>{{ 'State' | trans }}</th>
                <th>{{ 'Trigger event' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for returnItem in return.returnItems %}
                {% set order = {
                    currencyIsoCode: returnItem.orderItem.currencyIsoCode ?? null
                } %}

                <tr>
                    {% include '@Sales/Detail/boxes/order-item.twig' with {
                        orderItem: returnItem.orderItem,
                        displayImage: true,
                        image: returnItem.orderItem.metadata.image,
                        displayTotals: true,
                        group: false,
                        order: order,
                    } only %}
                </tr>

                {% include '@Sales/Detail/boxes/order-item-option.twig' with {
                    orderItem: returnItem.orderItem,
                    order: order,
                } only %}
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
{% endembed %}
