{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}
    {{ 'Offers' | trans }}
{% endblock %}

{% block content %}

    <web-spy-locale-switcher locale="{{ app.locale | split('_') | first }}"></web-spy-locale-switcher>

    <web-mp-offers-list cloak table-config="{{ guiTableConfiguration(productOfferTableConfiguration) }}">
        <span title>{{ 'Offers' | trans }}</span>

        <web-spy-button-link action url="/product-offer-merchant-portal-gui/create-offer" size="lg">{{ 'Add Offer' | trans }}</web-spy-button-link>
    </web-mp-offers-list>
{% endblock %}

{% block footerJs %}
    {{ parent() }}
    <script src="{{ assetsPath('js/mp-product-offer/main-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp-product-offer/main-es5.js') }}" nomodule defer></script>
{% endblock %}
