{% embed '@Gui/Partials/widget.twig' with { widget_title: 'General information' } %}
    {% block widget_content %}
        <table class="table">
            <tr>
                <td>{{ 'Name' | trans }}</td>
                <td>{{ productLabelTransfer.getName() }}</td>
            </tr>
            <tr>
                <td>{{ 'Is exclusive' | trans }}</td>
                <td>
                    {% if productLabelTransfer.getIsExclusive() == true %}
                        {{ 'Yes' | trans }}
                    {% else %}
                        {{ 'No' | trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'Valid from' | trans }}</td>
                <td>
                    {% if productLabelTransfer.getValidFrom() %}
                        {{ productLabelTransfer.getValidFrom() | formatDate }}
                    {% else %}
                    {{ 'N/A' | trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'Valid to' | trans }}</td>
                <td>
                    {% if productLabelTransfer.getValidTo() %}
                        {{ productLabelTransfer.getValidTo() | formatDate }}
                    {% else %}
                    {{ 'N/A' | trans }}
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endblock %}
{% endembed %}
