
<div class="row ">
    <div class="col-md-8 btn-group select-all-btn" id="product-selectors">
        <button class="btn btn-white active" type="button" id="products-to-assign">{{ 'All products' | trans }}</button>
        {% if productOptionsTable is defined %}
            <button class="btn btn-white" type="button" id="assigned">{{ 'Assigned products' | trans }}</button>
        {% endif %}
        <button class="btn btn-white" type="button" id="products-to-be-assigned">{{ 'Products to be assigned' | trans }}</button>
        {% if productOptionsTable is defined %}
            <button class="btn btn-white" type="button" id="to-be-deassigned">{{ 'Products to be deassigned' | trans }}</button>
        {% endif %}
    </div>

    <div class="col-md-4 text-right" id="select-all-btn">
        <button class="btn btn-outline btn-primary" id="select-all">{{ 'Select all on the page' | trans }}</button>
        <button class="btn btn-outline btn-primary" id="deselect-all">{{ 'Deselect all on the page' | trans }}</button>
    </div>
</div>

<br /> <br />

<div id="products-assignment">
    <div data-products="products-to-assign">
        {{ productsTable | raw }}
    </div>

    {% if productOptionsTable is defined %}
    <div data-products="assigned" style="display:none;">
        {{ productOptionsTable | raw }}
    </div>
    {% endif %}

    <div data-products="products-to-be-assigned" style="display:none;">
        <table class="table table-striped table-bordered table-hover gui-table-data" id="selectedProductsTable" data-paging="false">
            <thead>
                <tr>
                    <th>{{ 'ID' | trans }}</th>
                    <th>{{ 'SKU' | trans }}</th>
                    <th>{{ 'Name' | trans }}</th>
                    <th>{{ 'Selected' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div data-products="to-be-deassigned" style="display:none;">
        <table class="table table-striped table-bordered table-hover gui-table-data" id="deselectedProductsTable" data-paging="false">
            <thead>
                <tr>
                    <th>{{ 'ID' | trans }}</th>
                    <th>{{ 'SKU' | trans }}</th>
                    <th>{{ 'Name' | trans }}</th>
                    <th>{{ 'Selected' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

