{{ form_errors(generalForm) }}

{{ form_start(generalForm, { attr: { id:'product_option_general'}}) }}
 <div class="well">
     <h3>{{ 'Add General Information' | trans }}</h3>
     <p>{{ 'Create a product option by defining option values with translation key, sku and price. By adding more than 1 option value bellow, you will create an option group. With an option group your customer can choose one option from this group.' | trans }}</p>

 </div>

{% set readOnly = {} %}
{% if generalForm.vars.data and generalForm.vars.data.name and generalForm.vars.data.idProductOptionGroup %}
    {% set readOnly = {'readonly' : 'readonly'} %}
{% endif %}

{{ form_row(generalForm.name, {attr:readOnly}) }}

{{ form_row(generalForm.fkTaxSet) }}

<br />

<h4>{{ 'Option Values' | trans }}</h4>

<div class="form-group">
    <div id="option-value-list"
         class="option-value-list"
         data-value-count="{{ generalForm.productOptionValues|length  }}"
         data-prototype="
           {% filter escape %}
              {{ include ('@ProductOption/_template/_product-option-template.twig', { 'productOptionForm': generalForm.productOptionValues.vars.prototype }) }}
           {% endfilter %}">

        {% for valueForm in generalForm.productOptionValues %}
            {{ include ('@ProductOption/_template/_product-option-template.twig', { 'productOptionForm': valueForm }) }}
        {% endfor %}

        {% do generalForm.productOptionValues.setRendered %}
    </div>
</div>

<div class="form-group">
    <a href="#" class="btn btn-sm btn-outline btn-create" id="add-another-option">{{ 'Add option' | trans }}</a>
</div>

<br /><br />

<h4>{{ 'Translation' | trans }}</h4>

<div class="form-group"
       id="option-value-translations"
       data-value-count="{{ generalForm.productOptionValueTranslations|length  }}"
       data-prototype="
           {% filter escape %}
               {{ include ('@ProductOption/_template/_product-option-translation-template.twig', { 'productOptionTranslationForm': generalForm.productOptionValueTranslations.vars.prototype, 'label' : 'Option name:' }) }}
           {% endfilter %}">

    {% for locale in availableLocales %}
        {% set isCollapsed = not loop.first %}

        <div data-locale-code="{{ locale.localeName }}">
        {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': isCollapsed , 'hasError': false} %}
           {% block content %}

               {% for productGroupNameTranslationForm in generalForm.groupNameTranslations %}
                    {% if productGroupNameTranslationForm.vars.data.localeCode == locale.localeName  %}
                        {{ include ('@ProductOption/_template/_product-option-translation-template.twig', { 'productOptionTranslationForm': productGroupNameTranslationForm, 'label' : 'Group name' | trans ~ ':'}) }}
                    {% endif %}
                {% endfor %}

                {% for valueTranslationForm in generalForm.productOptionValueTranslations %}
                    {% if valueTranslationForm.vars.data.localeCode == locale.localeName  %}
                        {{ include ('@ProductOption/_template/_product-option-translation-template.twig', { 'productOptionTranslationForm': valueTranslationForm, 'label' : 'Option name' | trans ~ ':' }) }}
                    {% endif %}
                {% endfor %}

           {% endblock %}

        {% endembed %}
        </div>
    {% endfor %}
</div>

{% do generalForm.productOptionValueTranslations.setRendered %}
{% do generalForm.groupNameTranslations.setRendered %}

{{ form_end(generalForm) }}
