{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Dry run on your import' | trans %}
{% endif %}

{% block head_title -%}
    {{ widget_title }}
{%- endblock %}

{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with {widget_title: 'Dry run on your import' | trans} %}

        {% block widget_content %}
            <a href="#">{{ 'Learn about file format on our documentation' | trans }}</a>
            <br>
            {{ form_start(importForm) }}

            {{ form_row(importForm.priceProductScheduleName) }}
            {{ form_row(importForm.fileUpload) }}

            <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Import' | trans }}"/>

            {{ form_end(importForm) }}
        {% endblock %}

    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with {widget_title: 'Publish the scheduled prices' | trans} %}

        {% block widget_content %}
            {{ 'By clicking the "Publish" button below, you will send the scheduled prices to the live system.' | trans }}
            <br>

            {{ 'They will be available to your customers based on the dates' | trans }}

            <br>
            <br>

            <a href="{{ url('/price-product-schedule-gui/publish', {'idPriceProductScheduleList': priceProductScheduleList.idPriceProductScheduleList }) }}"
               class="btn btn-primary safe-submit">{{ 'Publish' | trans }}</a>
        {% endblock %}

    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with {widget_title: 'Errors found inside your file' | trans} %}

        {% block widget_content %}

            {% include '@Gui/Table/table.twig' with {table: errorTable} %}

        {% endblock %}

    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with {widget_title: 'Row processed with success' | trans} %}

        {% block widget_content %}

            {{ successTable | raw }}

        {% endblock %}

    {% endembed %}
{% endblock %}
