{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Edit Packaging Type' %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton('/product-packaging-unit-gui', 'Back to Packaging Types' | trans) }}
    {{ removeActionButton(
        url(
            '/product-packaging-unit-gui/delete',
            {
                'id-product-packaging-unit-type': productPackagingUnitTypeTransfer.getIdProductPackagingUnitType(),
                'redirect-url': url(
                    '/product-packaging-unit-gui/edit/',
                    {'id-product-packaging-unit-type': productPackagingUnitTypeTransfer.getIdProductPackagingUnitType()}
                )
            }
        ),
        'Delete' | trans
    ) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Edit Packaging Type' } %}

        {% block widget_content %}
            {{ form_start(productPackagingUnitTypeForm) }}
            {% do productPackagingUnitTypeForm.nameTranslations.setRendered %}
            {{ form_widget(productPackagingUnitTypeForm) }}

            <h4>{{ 'Translation' | trans }}</h4>

            <div class="form-group"
                 id="name-translations"
                 data-value-count="{{ productPackagingUnitTypeForm.nameTranslations|length  }}"
                 >

                {% for locale in availableLocales %}
                    {% set isCollapsed = not loop.first %}
                    <div data-locale-code="{{ locale.localeName }}">
                        {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': isCollapsed , 'hasError': false} %}
                            {% block content %}
                                {% for nameTranslationForm in productPackagingUnitTypeForm.nameTranslations %}
                                    {% if nameTranslationForm.vars.data.localeCode == locale.localeName  %}
                                        {{ include ('@ProductPackagingUnitGui/_template/_product-packaging-unit-type-translation-template.twig', { 'productPackagingUnitTypeNameTranslationForm': nameTranslationForm}) }}
                                    {% endif %}
                                {% endfor %}
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            </div>

            {% include '@ProductPackagingUnitGui/_template/_form-submit.twig' %}

            {{ form_end(productPackagingUnitTypeForm) }}
        {% endblock %}

    {% endembed %}
{% endblock %}
