<div class="row">
    <div class="col-md-6">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Calculation' } %}

            {% block widget_content %}

                <table class="footable table table-striped toggle-arrow-tiny">
                    <tbody>
                    {% for orderItem in orderItems %}
                        <tr>
                            <th>{{ orderItem.name }}</th>
                            <td class="text-right">{{ orderItem.GrossPrice | currency  }}</td>
                            <td>{{ 'gross price per item' | trans }}</td>
                        </tr>
                        {% for orderItemOption in orderItem.options %}
                            <tr>
                                <td> + {{ orderItemOption.LabelOptionType }}</td>
                                <td class="text-right">{{ orderItemOption.PriceToPay | currency  }}</td>
                                <td>{{ 'option price' | trans }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>&nbsp;</th>
                            <td class="text-right">{{ orderItem.Quantity }} x {{ orderItem.PriceToPay | currency  }}</td>
                            <td>{{ 'price to pay' | trans }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>{{ 'Sub total' | trans }}</th>
                        <td class="text-right">{{ orderDetails.subTotal | currency  }}</td>
                    </tr>
                    {% for expense in expenses %}
                    <tr>
                        <th>{{ expense.name }}</th>
                        <td class="text-right">{{ expense.GrossPrice | currency  }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th>{{ 'Grand total' | trans }}</th>
                        <td class="text-right">{{ orderDetails.grandTotal | currency  }}</td>
                    </tr>
                    </tbody>
                </table>

            {% endblock %}

        {% endembed %}

    </div>
</div>
