<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Expenses Overview' } %}

            {% block widget_content %}

                <table class="footable table table-stripped toggle-arrow-tiny">
                    <tr>
                        <th>{{ 'Expence' | trans }}</th>
                        <th>{{ 'QTY' | trans }}</th>
                        <th>{{ 'Gross Price' | trans }}</th>
                        <th>{{ 'Price to pay' | trans }}</th>
                    </tr>
                    {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.name }}</td>
                        <td>1</td>
                        <td>{{ expense.grossPrice | currency }}</td>
                        <td>{{ expense.priceToPay | currency }}</td>
                    </tr>
                    {% endfor %}

                </table>

            {% endblock %}

        {% endembed %}

    </div>
</div>
