<div class="spy-layout sparse">
    <h3>Order Items Overview</h3>
    <section class="spy-layout compact" spy-app="spyForm">

        {% if orderItems|length > 0 %}
        <table class="spy-grid">
            <tr class="text-left">
                <th>{{ "Item name" | trans }}</th>
                <th>{{ "SKU" | trans }}</th>
                <th>{{ "Unit Price" | trans }}</th>
                <th>{{ "QTY" | trans}}</th>
                <th>{{ "Total Price" | trans }}</th>
                <th>{{ "Current State" | trans }}</th>
                <th>{{ "Trigger State Machine" | trans }}</th>
            </tr>
            {% for orderItem in orderItems %}
            <tr>
                <td>{{ orderItem.name }}</td>
                <td>{{ orderItem.sku }}</td>
                <td>{{ orderItem.gross_price|number_format(2) }} &euro;</td>
                <td>{{ orderItem.qty }}</td>
                <td>{{ orderItem.price_to_pay |number_format(2) }} &euro;</td>
                <td>{{ orderItem.state.name }}</td>
                <td>
                    {% if events[orderItem.IdSalesOrderItem] |length > 0 %}
                        <form action="/sales/order/trigger" method="post">
                            <input type="hidden" name="id" value="{{ orderItem.IdSalesOrderItem }}"/>


                            <select name="event">
                                {% for event in events[orderItem.IdSalesOrderItem] %}
                                    <option value="{{ event }}">{{ event }}</option>
                                {% endfor %}
                            </select>
                            <button>Submit</button>
                        </form>
                    {% else -%}
                        -
                    {%- endif %}

                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>There are no items for this order</p>
        {% endif %}

    </section>
</div>





