<div class="spy-layout sparse">
    <h3>Order Items Overview</h3>
    <section class="spy-layout compact" spy-app="spyForm">

        {% if orderItems.content.rows|length > 0 %}
        <table class="spy-grid">
            <tr class="text-left">
                <th>Item name</th>
                <th>SKU</th>
                <th>Unit Price</th>
                <th>QTY</th>
                <th>Total Price</th>
                <th>State Machine</th>
            </tr>
            {% for row in orderItems.content.rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.sku }}</td>
                <td>{{ row.gross_price }} &euro;</td>
                <td>{{ row.qty }}</td>
                <td>{{ row.price_to_pay * row.qty }} &euro;</td>
                <td>

                    {% if row.accepts|length > 0 %}
                    <form action="/sales/order/trigger" method="post">
                        <input type="hidden" name="id" value="{{ row.id_sales_order_item }}"/>
                        <select name="event">
                            {% for option in row.accepts %}
                            <option value="{{ option.value }}">{{ option.label }}</option>
                            {% endfor %}
                        </select>
                        <button>Change</button>
                    </form>
                    {% else -%}
                        -
                    {%- endif %}

                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>-</td>
                <td>-</td>
                <td>{{ orderItems.content.total.total_qty }}</td>
                <td>&euro; {{ orderItems.content.total.total_price_to_pay }}</td>
            </tr>
        </table>
        {% else %}
            <p>There are no items for this order</p>
        {% endif %}

    </section>
</div>





