<div class="spy-layout sparse">
    <h3>Order Items Overview</h3>
    <section class="spy-layout compact" spy-app="spyForm">

        {% if orderItems.content.rows|length > 0 %}
        <table class="spy-grid">
            <tr class="text-left">
                <th>Item name</th>
                <th>SKU</th>
                <th>Unit Price</th>
                <th>QTY</th>
                <th>Total Price</th>
            </tr>
            {% for row in orderItems.content.rows %}
            <tr>
                <td>{{ row.name }} - {{ row.id_sales_order_item }}</td>
                <td>{{ row.sku }}</td>
                <td>{{ row.gross_price }} &euro;</td>
                <td>{{ row.qty }}</td>
                <td>{{ row.price_to_pay * row.qty }} &euro;</td>
                <td>
                    <spy-form
                            class="spy-layout sparse spy-form reset"
                            src="/oms/index/trigger?id={{ row.id_sales_order_item }}"
                            model2='{"fields":[{"name": "", "type":"field"},{"name":"event","type":"field","label":null,"value":"","refresh":false,"accepts":[
                            {"value":"Nopayment01","label":"Nopayment"},{"value":"Cancel","label":"Cancel"}],"messages":[],"extra":[],"constraints":{"type":"string"}}], "state":"new"}'
                            >
                        <div spy-input-select="field.event" options="{label: 'event'}"></div>
                        <button class="button default">Change</button>
                    </spy-form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>-</td>
                <td>-</td>
                <td>{{ orderItems.content.total.total_qty }}</td>
                <td>&euro; {{ orderItems.content.total.total_price_to_pay }}</td>
            </tr>
        </table>
        {% else %}
            <p>There are no items for this order</p>
        {% endif %}

    </section>
</div>





