{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Payment Logs' } %}

    {% block widget_content %}

        <table class="footable table table-striped toggle-arrow-tiny">
            <thead>
            <tr class="text-left">
                <th>{{ "Transaction ID" | trans }}</th>
                <th>{{ "Request" | trans }}</th>
                <th>{{ "Status" | trans }}</th>
                <th>{{ "Receivable" | trans }}</th>
                <th>{{ 'Balance' | trans }}</th>
                <th>{{ "Price" | trans }}</th>
                <th>{{ "Time" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>

                    {% if log.logType == 'SpyPaymentPayoneTransactionStatusLog' %}
                        <td>{{ log.TransactionId }}</td>
                        <td><i>{{ 'Response' | trans }}</i></td>
                        <td>{{ log.Status }}</td>
                        <td>{{ log.Receivable | currency }}</td>
                        <td>{{ log.Balance | currency }}</td>
                        <td>{{ log.Price | currency }}</td>
                        <td>{{ log.CreatedAt | date }}</td>
                    {% else %}
                        <td>{{ log.TransactionId }}</td>
                        <td>{{ log.Request }}</td>
                        <td>{{ log.Status }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ log.CreatedAt | date }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>

    {% endblock %}

{% endembed %}
