{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Refunds' } %}

    {% block widget_content %}

        <table class="footable table table-striped toggle-arrow-tiny">
            <thead>
            <tr class="text-left">
                <th>{{ "Refund ID" | trans }}</th>
                <th>{{ "Amount" | trans }}</th>
                <th>{{ "Adjustment Fee" | trans }}</th>
                <th>{{ "Comment" | trans }}</th>
                <th>{{ "Time" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for refund in refunds %}
                <tr>
                    <td>{{ refund.IdRefund }}</td>
                    <td>{{ refund.Amount | currency }}</td>
                    <td>{{ refund.AdjustmentFee | currency }}</td>
                    <td>{{ refund.Comment }}</td>
                    <td>{{ refund.CreatedAt | date }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>



    {% endblock %}

{% endembed %}
