{% extends '@Gui/Layout/layout.twig' %}

{% block head_title 'View customer' | trans %}
{% block section_title 'View customer' | trans %}

{% block content %}

    <p>
        <a href="/customer/" class="btn btn-primary">{{ 'Back to Customers' | trans }}</a>&nbsp;&nbsp;&nbsp;
        <a href="/customer/edit?id_customer={{ id_customer }}" class="btn btn-primary">{{ 'Edit Customer' | trans }}</a>&nbsp;&nbsp;&nbsp;
        <a href="/customer/address/?id_customer={{ id_customer }}" class="btn btn-primary">{{ 'Manage Addresses' | trans }}</a>
    </p>

{% endblock %}
