{% embed '@Gui/Partials/widget.twig' with {widget_title: 'Active filters' | trans} %}

    {% block widget_content %}
        <button id="remove-all-filters" class="btn btn-sm btn-danger">{{ 'Remove all' | trans }}</button>
        <div id="filters-container" class="dd">
            <ol class="dd-list">
                {% if productCategoryFilters.filters is not empty %}
                    {% for filter in productCategoryFilters.filters %}
                        {% if filter.isActive %}
                        <li data-filter-label="{{ filter.label }}" data-filter-key="{{ filter.key }}" class="filter-item dd-item {{ filter.key in allFilters|keys ? '' : 'non-filter-attribute' }}">
                            <a class="btn btn-xs btn-outline btn-danger remove-product-category-filter" title="Remove Filter">
                                <i class="fa fa-fw fa-trash"></i>
                            </a>
                            <div class="dd-handle">
                                {{ filter.label }}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for filterKey, filter in filters %}
                        <li data-filter-active="true" data-filter-key="{{ filterKey }}" data-filter-label="{{ filter.config.parameterName }}" class="filter-item dd-item">
                            <a class="btn btn-xs btn-outline btn-danger remove-product-category-filter" title="Remove Filter">
                                <i class="fa fa-fw fa-trash"></i>
                            </a>
                            <div class="dd-handle">
                                {{ filter.config.parameterName }}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ol>
        </div>
    {% endblock %}

{% endembed %}

{% embed '@Gui/Partials/widget.twig' with {widget_title: 'Inactive filters' | trans} %}

    {% block widget_content %}
        <div id="inactive-filters-container" class="dd">
            <ol class="dd-list">
                {% for filter in productCategoryFilters.filters %}
                    {% if not filter.isActive %}
                        <li data-filter-label="{{ filter.label }}" data-filter-key="{{ filter.key }}" class="filter-item dd-item {{ filter.key in allFilters|keys ? '' : 'non-filter-attribute' }}">
                            <a class="btn btn-xs btn-outline btn-info re-add-product-category-filter" title="Re-add Filter">
                                <i class="fa fa-fw fa-plus-circle"></i>
                            </a>
                            <div class="dd-handle">
                                {{ filter.label }}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>

    {% endblock %}

{% endembed %}
<input type="submit" id="product-category-filter-save-btn" class="btn btn-sm btn-primary" value="{{ 'Save' | trans }}"/>
