{% extends '@SecurityGui/Layout/layout.twig' %}

{% form_theme form '@SecurityGui/Layout/form.twig' %}

{% block content %}
    <div>
        {{ form_start(form) }}
            {% include '@SecurityGui/Partial/form-message.twig' %}

            {{ form_errors(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.password) }}

            <div class="form-group"><button class="btn btn-block" type="submit">{{ 'Login' | trans }}</button></div>
            <div class="form-group text-center">
                <a href="/security-gui/password/reset-request" class="login-box__link">{{ 'Forgot password?' | trans }}</a>
            </div>

            {% include '@SecurityGui/Partial/authentication-links.twig' %}

            {% include '@MultiFactorAuth/Partials/multi-factor-authentication-handler.twig' ignore missing with {
                url: "multi-factor-auth/user/get-enabled-types",
                formSelector: '[name="auth"]',
                modalId: 'modal-id-auth',
                isLogin: 'true',
            } %}

            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
