
{% extends '@Gui/Layout/layout.twig' %}

{% block section_title 'Edit Stock' | trans %}

{% block action %}
    {{ backActionButton(url('/availability-gui/index/view', {'id-product': idProductAbstract}), 'Back to product' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Edit Stock' | trans } %}

        {% block widget_content %}
            {{ form_start(form) }}

            {% for stock in form.stocks %}

                {{ form_row(stock.stockType ) }}
                {{ form_row(stock.quantity) }}
                {{ form_row(stock.is_never_out_of_stock) }}

                <div class="form-group">
                    {{ 'Available in stores' | trans }}:
                    {% if stock.vars.available_in_stores is defined %}
                        {% for store in stock.vars.available_in_stores %}
                            <span class="badge"><strong>{{ store }}</strong></span>
                        {% endfor %}
                    {% else %}
                        {{ 'n/a' | trans }}
                    {% endif %}
                </div>

            {% endfor %}

            <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}" />
            {{ form_end(form) }}
        {% endblock %}

    {% endembed %}
{% endblock %}
