{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}
    {{ 'Dashboard' | trans }}
{% endblock %}

{% block content %}
    <mp-dashboard></mp-dashboard>

    {% for dashboardCardPlugin in dashboardCardPlugins %}
        <div>
            <div>{{ dashboardCardPlugin.title | raw }}</div>
            <div>{{ dashboardCardPlugin.content | raw }}</div>
            <div>
                {% for actionButton in dashboardCardPlugin.actionButtons %}
                    <a href="{{ actionButton.url }}">{{ actionButton.title | trans }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp-dashboard/main-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp-dashboard/main-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
