{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}
    {{ 'Dashboard' | trans }}
{% endblock %}

{% block content %}
    <web-mp-dashboard>
        <div title>{{ 'Dashboard' | trans }}</div>

        <div class="mp-dashboard-grid">
            {% for dashboardCardPlugin in dashboardCardPlugins %}

                <web-mp-dashboard-card>
                    <div title class="mp-dashboard-card__heading">
                        {{ dashboardCardPlugin.title | raw }}
                    </div>

                    <div actions class="mp-dashboard-card__heading">
                        {% for actionButton in dashboardCardPlugin.actionButtons %}
                            <div class="mp-dashboard-card__heading-col">
                                <web-spy-button-link url="{{ actionButton.url }}" size="sm">{{ actionButton.title | trans }}</web-spy-button-link>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mp-dashboard-grid">
                        {{ dashboardCardPlugin.content | raw }}
                    </div>
                </web-mp-dashboard-card>
            {% endfor %}
        </div>
    </web-mp-dashboard>
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp-dashboard/main-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp-dashboard/main-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
