{#
@var dashboardCard \Generated\Shared\Transfer\MerchantDashboardCardTransfer
#}
{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}
    {{ 'Dashboard' | trans }}
{% endblock %}

{% block content %}
    <web-mp-dashboard cloak>
        <div title>{{ 'Dashboard' | trans }}</div>

        <div class="spy-row spy-row-gutter-lg">
            {% for dashboardCard in dashboardCards %}

                <div class="spy-col spy-col-gutter-lg">
                    <web-mp-dashboard-card cloak>
                        <div title class="mp-dashboard-card__heading">
                            {{ dashboardCard.title | raw }}
                        </div>

                        <div actions class="mp-dashboard-card__heading">
                            {% for actionButton in dashboardCard.actionButtons %}
                                <div class="mp-dashboard-card__heading-col">
                                    <web-spy-button-link url="{{ actionButton.url }}" size="sm">{{ actionButton.title | trans }}</web-spy-button-link>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="spy-row spy-row-gutter-lg">
                            {{ dashboardCard.content | raw }}
                        </div>
                    </web-mp-dashboard-card>
                </div>
            {% endfor %}
        </div>
    </web-mp-dashboard>
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp/spy/dashboard-merchant-portal-gui-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp/spy/dashboard-merchant-portal-gui-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
