{% extends '@Sales/Layout/layout.twig' %}

{% block action %}
    {{ backActionButton('/sales', 'Back to Orders' | trans) }}
{% endblock %}

{% block section_title %}
    {{ 'View Order:' | trans }} {{ order.idSalesOrder }}
{% endblock %}

{% block content %}

    <div id="order-overview">{% include '@Sales/Detail/boxes/order-overview.twig' %}</div>
    <div id="items">{% include '@Sales/Detail/boxes/items.twig' %}</div>
    {% include '@Sales/Detail/boxes/totals.twig' %}
    {% for blockName, externalBlock in blocks %}
    <div id="{{ blockName }}">{{ externalBlock | raw }}</div>
    {% endfor %}
    <div id="address">{% include '@Sales/Detail/boxes/addresses.twig' %}</div>

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-sales-main.css">
{% endblock %}
