{% extends '@Sales/Layout/layout.twig' %}

{% block action %}
    {{ backActionButton('/sales', 'Back to Orders' | trans) }}
{% endblock %}

{% block section_title %}
    {{ 'View Order:' | trans }} {{ order.idSalesOrder }}
{% endblock %}

{% block content %}

    <div id="order-overview">{% include '@Sales/Detail/boxes/order-overview.twig' %}</div>
    <div id="customer">{% include '@Sales/Detail/boxes/customer.twig' %}</div>
    <div id="items">{% include [
        '@ShipmentGui/Sales/boxes/items.twig',
        '@Sales/Detail/boxes/items.twig'
    ] %}</div>
    {% for blockName, externalBlock in blocks %}
        {% if externalBlock %}
            <div id="{{ blockName }}">{{ externalBlock | raw }}</div>
        {% endif %}
    {% endfor %}
    <div id="comments">{% include '@Sales/Detail/boxes/comments.twig' %}</div>

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-sales-main.css') }}">
{% endblock %}
