<div class="payment-subform ratepay-form ratepay-elv-form">
    <h3>{{ 'payment.ratepay.elv' | trans }}</h3>

    <label>{{ 'payment.ratepay.date_of_birth' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_elv.date_of_birth, { 'attr': {'placeholder': 'payment.ratepay.date_of_birth' | trans } }) }}
        {{ form_errors(form.ratepay_elv.date_of_birth) }}
    </div>
    <label>{{ 'payment.ratepay.phone' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_elv.phone, { 'attr': {'placeholder': 'payment.ratepay.phone' | trans } }) }}
        {{ form_errors(form.ratepay_elv.phone) }}
    </div>

    <h4>{{ 'payment.ratepay.bank_account' | trans }}</h4>
    <label>{{ 'payment.ratepay.bank_account.holder' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_elv.bank_account_holder, { 'attr': {'placeholder': 'payment.ratepay.bank_account.holder' | trans } }) }}
        {{ form_errors(form.ratepay_elv.bank_account_holder) }}
    </div>
    <label>{{ 'payment.ratepay.bank_account.iban' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_elv.bank_account_iban, { 'attr': {'placeholder': 'payment.ratepay.bank_account.iban' | trans } }) }}
        {{ form_errors(form.ratepay_elv.bank_account_iban) }}
    </div>
    <label>{{ 'payment.ratepay.bank_account.bic' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_elv.bank_account_bic, { 'attr': {'placeholder': 'payment.ratepay.bank_account.bic' | trans } }) }}
        {{ form_errors(form.ratepay_elv.bank_account_bic) }}
    </div>
</div>