<div class="payment-subform ratepay-form ratepay-invoice-form payment-form" id="ratepayInvoice">
    <h3>{{ 'payment.ratepay.invoice' | trans }}</h3>

    <label>{{ 'payment.ratepay.date_of_birth' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepayInvoice.date_of_birth, { 'attr': {'placeholder': 'payment.ratepay.date_of_birth' | trans } }) }}
        {{ form_errors(form.ratepayInvoice.date_of_birth) }}
    </div>
    <label>{{ 'payment.ratepay.phone' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepayInvoice.phone, { 'attr': {'placeholder': 'payment.ratepay.phone' | trans } }) }}
        {{ form_errors(form.ratepayInvoice.phone) }}
    </div>
</div>
