<div class="payment-subform ratepay-form ratepay-prepayment-form">
    <h3>{{ 'payment.ratepay.prepayment' | trans }}</h3>

    <label>{{ 'payment.ratepay.date_of_birth' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_prepayment.date_of_birth, { 'attr': {'placeholder': 'payment.ratepay.date_of_birth' | trans } }) }}
        {{ form_errors(form.ratepay_prepayment.date_of_birth) }}
    </div>
    <label>{{ 'payment.ratepay.phone' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_prepayment.phone, { 'attr': {'placeholder': 'payment.ratepay.phone' | trans } }) }}
        {{ form_errors(form.ratepay_prepayment.phone) }}
    </div>

    <label>{{ 'payment.ratepay.customer_allow_credit_inquiry' | trans }}</label>
    <div class="field">
        {{ form_widget(form.ratepay_prepayment.customer_allow_credit_inquiry, { 'attr': {'placeholder': 'payment.ratepay.customer_allow_credit_inquiry' | trans } }) }}
        {{ form_errors(form.ratepay_prepayment.customer_allow_credit_inquiry) }}
    </div>
</div>
