{% extends molecule('service-point-finder', 'ServicePointWidget') %}

{% define config = {
    name: 'ssp-service-point-finder',
    tag: 'ssp-service-point-finder',
} %}

{% define data = {
    googleMapsApiKey: required,
} %}

{% define attributes = {
    'has-initial-request': true,
    'service-point-information-attribute': 'data-service-point-product-offer-availability',
    'service-point-class': 'service-point',
} %}

{% block body %}
    {% set providerClassName = config.jsName ~ '__ajax-provider' %}

    <div class="{{ config.name }}__container">
        {{ block('search') }}

        <div class="{{ config.name }}__map">
            {% include molecule('google-map', 'SelfServicePortal') with {
                class: "#{config.jsName}__map",
                data: {
                    key: data.googleMapsApiKey,
                },
            } only %}
        </div>

        {{ block('content') }}
    </div>

    {{ block('ajaxProvider') }}
{% endblock %}
