{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Ratepay Profile overview' %}

{% block head_title widget_title | trans %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}
            <div class="row">
                <div class="col-md-6">

                    <h3>{{ "Master Data" | trans }}</h3>
                    <table class="table table-bordered">
                        {% for field, value in masterData %}
                            <tr>
                                <th>{{ field | trans }}</th>
                                {% if value is iterable %}
                                    {% for subField, subValue in value %}
                                        <th>{{ subField | trans }}</th>
                                        <td>{{ subValue | trans }}</td>
                                    {% endfor %}
                                {% else %}
                                    <td>{{ value | trans }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>

                    <h3>{{ "Installment Configuration" | trans }}</h3>
                    <table class="table table-bordered">
                        {% for field, value in installmentConfigurationResult %}
                            <tr>
                                <th>{{ field | trans }}</th>
                                {% if value is iterable %}
                                    <td>
                                        <table class="table table-bordered">
                                        {% for subField, subValue in value %}
                                            <tr>
                                                <th>{{ subField | trans }}</th>
                                                <td>{{ subValue | trans }}</td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </td>
                                {% else %}
                                    <td>{{ value | trans }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endblock %}

    {% endembed %}

{% endblock %}
