{% block _shipment_form_order_items_entry %}
    {% set id_order_item_abstract = order_item.vars.value.idProductAbstract %}
    {% set id_order_item_id = order_item.vars.value.id %}
    {% set id_order_item_name = order_item.vars.value.name %}
    {% set order_item_sku = order_item.vars.value.sku %}
    {% set order_item_data = order_item.vars.data %}

    <tr>
        {#{% set image = order_item.metadata.image %}#}
        {% set image = '' %}

        <td class="item-checker">
            {{ form_widget(order_item.assigned) }}
        </td>
        <td>
            <img class="product-image" src="{{ image }}"/>
        </td>
        <td>
            <div>
                <a target="_blank" href="{{ url('/product-management/view/variant', {'id-product-abstract': id_order_item_abstract, 'id-product': id_order_item_id, 'type': 'regular'}) }}">
                    {{ id_order_item_name }}
                </a>
            </div>
            <div class="sku">
                {{ 'Sku' | trans }}: <span>{{ order_item_sku }}</span>
            </div>
        </td>
        <td>
            {{ form_row(order_item.quantity) }}
        </td>
        <td>
            <div>
                <a href="{{ url('/oms/index/draw', {'process': order_item_data.process, 'state': order_item_data.state.name}) }}" target="_blank">{{ (order_item_data.stateHistory | first).name }}</a> ({{ order_item_data.process }})
            </div>
            {% if order_item_data.stateHistory | length > 1 %}
                <div id="history_details_{{ order_item_data.idSalesOrderItem }}" class="hidden">
                    {% for stateHistory in order_item_data.stateHistory | slice(1) %}
                        <div>{{ stateHistory.name }} ({{ stateHistory.createdAt | formatDateTime }})</div>
                    {% endfor %}
                </div>

                <a id="history-btn-{{ order_item_data.idSalesOrderItem }}" class="btn btn-sm more-history is-hidden" data-id="{{ order_item_data.idSalesOrderItem }}"><span class="show-more">{{ 'Show history' | trans }}</span><span class="show-less">{{ 'Hide history' | trans }}</span></a>
            {% endif %}
        </td>
        <td>
            {#{{ shipmentForm.vars.value.method.name }}#}
            SHIPMENT METHOD
        </td>
    </tr>
{% endblock %}