{% block _shipmentForm_orderItemsForm_orderItemForm_widget %}
    {% set idProductAbstract = form.field_order_item_id.vars.value %}
    {% set idOrderItem = form.field_order_item_id.vars.value %}
    {% set orderItemName = form.field_order_item_name.vars.value %}
    {% set orderItemSku = form.field_order_item_sku.vars.value %}
    <tr>
        {#{% set image = orderItem.metadata.image %}#}
        {% set image = '' %}
        
        <td class="item-checker">
            {#<input type="checkbox" name="order-item" value="{{ idOrderItemSalesOrderItem }}" class="item-check" />#}
            {{ form_widget(form.field_order_item_assigned) }}
        </td>
        <td>
            <img class="product-image" src="{{ image }}"/>
        </td>
        <td>
            <div>
                <a target="_blank" href="{{ url('/product-management/view/variant', {'id-product-abstract': idProductAbstract, 'id-product': idOrderItem, 'type': 'regular'}) }}">
                    {{ orderItemName }}
                </a>
            </div>
            <div class="sku">
                {{ 'Sku' | trans }}: {{ orderItemSku }}
            </div>

           {# {% if orderItem.metadata.superAttributes is not null and orderItem.metadata.superAttributes | length > 0 %}
                <div class="variant-details">
                    <h3>{{ 'Variant Details' | trans }}</h3>
                    {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(0,2) %}
                        <div>{{ attributeName }}: {{ attributeValue }}</div>
                    {% endfor %}

                    {% if orderItem.metadata.superAttributes | length > 2 %}
                        <div id="attribute_details_{{ orderItem.IdSalesOrderItem }}" class="hidden">
                            {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(2) %}
                                <div>{{ attributeName }}: {{ attributeValue }}</div>
                            {% endfor %}
                        </div>

                        <a id="attribute-details-btn-{{ orderItem.IdSalesOrderItem }}" class="btn btn-sm more-attributes is-hidden" data-id="{{ orderItem.IdSalesOrderItem }}"><span class="show-more">{{ 'Show more' | trans }}</span><span class="show-less">{{ 'Show less' | trans }}</span></a>
                    {% endif %}
                </div>
            {% endif %}#}
        </td>
        <td>
            {{ form_widget(form.field_order_item_quantity) }}
        </td>

        <td>
            HISTORY LINK
            {#<div>
                <a href="{{ url('/oms/index/draw', {'process': orderItem.process, 'state': orderItem.state.name}) }}" target="_blank">{{ (orderItem.stateHistory | first).name }}</a> ({{ orderItem.process }})
            </div>
            {% if orderItem.stateHistory | length > 1 %}
                <div id="history_details_{{ idOrderItemSalesOrderItem }}" class="hidden">
                    {% for stateHistory in orderItem.stateHistory | slice(1) %}
                        <div>{{ stateHistory.name }} ({{ stateHistory.createdAt | formatDateTime }})</div>
                    {% endfor %}
                </div>

                <a id="history-btn-{{ idOrderItemSalesOrderItem }}" class="btn btn-sm more-history is-hidden" data-id="{{ orderItem.IdSalesOrderItem }}"><span class="show-more">{{ 'Show history' | trans }}</span><span class="show-less">{{ 'Hide history' | trans }}</span></a>
            {% endif %}#}
        </td>
        <td>
            CURRENT SHIPMENT
        </td>
    </tr>
{% endblock %}