{% block _shipmentForm_orderItemsForm_widget %}
    <div id="items">
        <table class="footable table toggle-arrow-tiny" data-qa="order-item-list">
            <thead>
            <tr class="text-left">
                <th>{{ 'Select' | trans }}</th>
                <th colspan="2">{{ 'Product' | trans }}</th>
                <th>{{ 'Quantity' | trans }}</th>
                <th>{{ 'State' | trans }}</th>
                <th>{{ 'Current shipment' | trans }}</th>
            </tr>
            </thead>
            <tbody>
                {{ form_widget(form.children.orderItemForm) }}
            </tbody>
        </table>
    </div>
{% endblock %}