{% extends '@Application/Layout/layout.twig' %}

{% block action %}
    {{ viewActionButton('/development/architecture/rules', 'Display all architecture rules' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Architecture sniffer results' } %}
        {% block widget_content %}
            <div class="spy-layout sparse">

                <table class="table-condensed table-hover table-striped table-dependency">
                    <tr>

                        <th>{{ 'Namespace' | trans }}</th>
                        <th>{{ 'Module' | trans }}</th>
                        <th>{{ 'Application' | trans }}</th>
                    </tr>

                    {% for bundle in bundles %}

                        <tr>
                            <td>{{ bundle.namespace }}</td>
                            <td>{{ bundle.bundle }}</td>
                            <td>{{ bundle.application }}</td>
                            <td>
                                <a class="btn btn-xs btn-default" href="{{ url('/development/architecture/check-bundle',
                                {bundle: bundle.bundle, namespace: bundle.namespace, application: bundle.application, directory: bundle.directory}) }}">
                                    {{ 'Check for violations' | trans }}
                                </a>&nbsp;
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
