{% extends '@Gui/Layout/layout.twig' %}

{% set section_title = 'Products List (Mock Data)' %}

{% block breadcrumb %}
    <li><a href="/product">Products List</a></li>
    <li><a href="/product/index/view">Product Details {{ abstractProduct.sku }}</a></li>
{% endblock %}

{% block content %}

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">


                            <div class="product-images">

                                <div>
                                    <div class="image-imitation">[IMAGE 1]</div>
                                </div>
                                <div>
                                    <div class="image-imitation">[IMAGE 2]</div>
                                </div>
                                <div>
                                    <div class="image-imitation">[IMAGE 3]</div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">{{ attributes.name }}</h2>
                            <small>{{ attributes.attributes.shortDescription }}</small>
                            <hr>

                            <div class="hidden2">

                                <div class="m-t-md">
                                    <h2 class="product-main-price"><small>{{ 'Cross Selling Text' | trans }}: {{ attributes.attributes.crosssellingText }}</small></h2>
                                </div>
                                <div class="m-t-md">
                                    <p>{{ 'Design' | trans }}: <span class="label label-primary">{{ attributes.attributes.design }}</span></p>
                                    <p>{{ 'Relased at' | trans }}: {{ attributes.attributes.released_at | date }}</p>
                                </div>
                                <hr>
                                <h4>{{ 'Product description' | trans }}</h4>

                                <div class="small text-muted">
                                    {{ attributes.attributes.description }}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {% for product in concreteProducts %}

                {#{% set prices = product.getPriceProductsJoinPriceType %}#}

            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">[ INFO ]</div>
                        <div class="product-desc">
                            <small class="text-muted"></small>
                            <a class="product-name" href="#">{{ product.sku }}</a>
                            <table class="table small m-t-sm">
                                <tr>
                                    <td>Format</td>
                                    <td>{{ product.format }}</td>
                                </tr>
                                <tr>
                                    <td>Wight</td>
                                    <td>{{ product.weight }}</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>{{ product.type }}</td>
                                </tr>
                                <tr>
                                    <td>Id Product</td>
                                    <td>{{ product.idProduct }}</td>
                                </tr>
                                <tr>
                                    <td>Is Active</td>
                                    <td>{{ product.isActive }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}

{#{% block footer_js %}#}
    {#{{ parent() }}#}
    {#<script>#}
        {#$(document).ready(function(){#}
            {#$('.product-images').slick({#}
                {#dots: true#}
            {#});#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}
