{% extends '@Gui/Layout/layout.twig' %}

{% set section_title = 'Products List (Mock Data)' %}

{% block breadcrumb %}
    <li><a href="/product">Products List</a></li>
    <li><a href="/product/index/view">Product Details {{ abstractProduct.sku }}</a></li>
{% endblock %}

{% block content %}

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-3">


                            <div class="product-images">

                                <div>
                                    <div class="image-imitation">
                                        [IMAGE 1]
                                    </div>
                                </div>
                                <div>
                                    <div class="image-imitation">
                                        [IMAGE 2]
                                    </div>
                                </div>
                                <div>
                                    <div class="image-imitation">
                                        [IMAGE 3]
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs">SKU: {{ abstractProduct.sku }}</h2>
                            {#<small>Many desktop publishing packages and web page editors now.</small>#}
                            <hr>

                            <div class="hidden">

                                <div class="m-t-md">
                                    <h2 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h2>
                                </div>
                                <h4>Product description</h4>

                                <div class="small text-muted">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is

                                    <br/>
                                    <br/>
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words
                                    which don't look even slightly believable.
                                </div>
                                <dl class="small m-t-md">
                                    <dt>Description lists</dt>
                                    <dd>A description list is perfect for defining terms.</dd>
                                    <dt>Euismod</dt>
                                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                    <dt>Malesuada porta</dt>
                                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                </dl>
                                <hr>
                            </div>


                        </div>
                    </div>

                </div>
            </div>


    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {% for product in concreteProducts %}

                {#{% set prices = product.getPriceProductsJoinPriceType %}#}

            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">[ INFO ]</div>
                        <div class="product-desc">
                            <small class="text-muted"></small>
                            <a class="product-name" href="#">{{ product.sku }}</a>
                            <table class="table small m-t-sm">
                                <tr>
                                    <td>Format</td>
                                    <td>{{ product.format }}</td>
                                </tr>
                                <tr>
                                    <td>Wight</td>
                                    <td>{{ product.weight }}</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>{{ product.type }}</td>
                                </tr>
                                <tr>
                                    <td>Id Product</td>
                                    <td>{{ product.idProduct }}</td>
                                </tr>
                                <tr>
                                    <td>Is Active</td>
                                    <td>{{ product.isActive }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}

{#{% block footer_js %}#}
    {#{{ parent() }}#}
    {#<script>#}
        {#$(document).ready(function(){#}
            {#$('.product-images').slick({#}
                {#dots: true#}
            {#});#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}
