{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Create Packaging Type' %}
{% block section_title %}{{ widget_title | trans }}{% endblock %}

{% block action %}
    {{ backActionButton('/product-packaging-unit-gui', 'Back to Packaging Types' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Packaging Type details' } %}

        {% block widget_content %}
            {{ form_start(productPackagingUnitTypeForm, {attr: {novalidate: 'novalidate'}}) }}
            {% do productPackagingUnitTypeForm.translations.setRendered %}
            {{ form_widget(productPackagingUnitTypeForm) }}

            <h4>{{ 'Translations' | trans }}</h4>

            <div class="form-group"
                 id="translations"
                 data-value-count="{{ productPackagingUnitTypeForm.translations|length  }}"
            >

                {% for locale in availableLocales %}
                    {% set isCollapsed = not loop.first %}
                    <div data-locale-code="{{ locale.localeName }}">
                        {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': isCollapsed , 'hasError': false} %}
                            {% block content %}
                                {% for translationForm in productPackagingUnitTypeForm.translations %}
                                    {% if translationForm.vars.data.localeCode == locale.localeName  %}
                                        {{ include ('@ProductPackagingUnitGui/_template/_product-packaging-unit-type-translation-template.twig', { 'productPackagingUnitTypeTranslationForm': translationForm}) }}
                                    {% endif %}
                                {% endfor %}
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            </div>

            {% include '@ProductPackagingUnitGui/_template/_form-submit.twig' %}

            {{ form_end(productPackagingUnitTypeForm) }}
        {% endblock %}

    {% endembed %}
{% endblock %}
