{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Edit Customer' %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_header_content %}
            <a href="/customer/" class="btn btn-sm btn-default">{{ 'Back to Customers' | trans }}</a>&nbsp;&nbsp;&nbsp;
            <a href="/customer/view?id_customer={{ id_customer }}" class="btn btn-sm btn-primary">{{ 'View Customer' | trans }}</a>&nbsp;&nbsp;&nbsp;
            <a href="/customer/address/?id_customer={{ id_customer }}" class="btn btn-sm btn-primary ">{{ 'Manage Addresses' | trans }}</a>
        {% endblock %}

        {% block widget_content %}

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />
            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
