{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
        <span class="sf-toolbar-value">{{ collector.configs | length }}</span>
    {% endset %}
    {% set text %}
        {% spaceless %}
            <div class="sf-toolbar-info-piece">
                <b>Spryker Config</b>
                <span class="sf-toolbar-status">{{ collector.configs | length }}</span>
            </div>
        {% endspaceless %}
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
    <span class="label">
    <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/></svg>
    </span>
    <strong>Spryker Config</strong>
    <span class="count">
        <span>{{ collector.configs | length }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}

    <style>
        table tbody ul li, table tbody ul ul li {
            padding: 0;
            margin: 0;
        }
        table tbody ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        table tbody ul ul {
            list-style: none;
            margin: 0 0 0 15px;
        }
    </style>

    {% macro recursiveOutput(key, value) %}
        <ul>
            <li>{% if key matches '/^\\d+$/' %}-{% else %}{{ key }}:{% endif %}
                {% if value is iterable %}
                    {% for innerKey, innerValue in value %}
                        {{ _self.recursiveOutput(innerKey, innerValue) }}
                    {% endfor %}
                {% else %}
                    {{ value }}
                {% endif %}
            </li>
        </ul>
    {% endmacro %}

    <h2>Spryker Configuration Metrics</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.configs | length }}</span>
            <span class="label">Used keys</span>
        </div>
        <div class="metric">
            {% set totalCount = 0 %}
            {% for configKey, configData in collector.configs %}
                {% set totalCount = totalCount + configData.count %}
            {% endfor %}
            <span class="value">{{ totalCount }}</span>
            <span class="label">Config::get()</span>
        </div>
    </div>

    <h2>Spryker Configuration usage</h2>

    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Default</th>
            <th>Count</th>
        </tr>
        {% for configKey, configData in collector.configs %}
            <tr>
                <td>{{ configKey }}</td>
                {% if configData.value is iterable %}
                    <td>
                        {% for key, value in configData.value %}
                            {{ _self.recursiveOutput(key, value) }}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>{{ configData.value }}</td>
                {% endif %}
                {% if configData.default is iterable %}
                    <td>
                        {% for key, value in configData.value %}
                            {{ _self.recursiveOutput(key, value) }}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>{{ configData.default }}</td>
                {% endif %}
                <td>{{ configData.count }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
