{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Filter Preferences' %}

{% block section_title widget_title | trans %}
{% block head_title widget_title | trans %}

{% block action %}
    <a href="#" class="btn-sm"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            <table class="table table-bordered table-condensed">
                <tr>
                    <th>{{ 'Position' | trans }}</th>
                    <th>{{ 'Attribute name' | trans }}</th>
                    <th>{{ 'Filter type' | trans }}</th>
                    <th>{{ 'Action' | trans }}</th>
                </tr>
                {% for i in 1..10 %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ 'Name ' ~ i }}</td>
                    <td>{{ 'Type ' ~ i }}</td>
                    <td>
                        {#{{ editTableButton('#', 'Edit') }}#}
                        <a class="btn btn-xs btn-outline btn-success" href="/customer/edit/?id-customer=1"><i class="fa fa-pencil-square-o"></i> {{ 'Edit' | trans }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>

        {% endblock %}

    {% endembed %}

{% endblock %}
