{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'View filter' %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ editActionButton(url('/product-search/filter-preferences/edit', {'id': app.request.query.get('id')}), 'Edit' | trans) }}
    {{ removeActionButton(url('/product-search/filter-preferences/delete', {'id': app.request.query.get('id')}), 'Delete' | trans) }}
    {{ backActionButton(url('/product-search/filter-preferences'), 'List of filters' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}

            <h4>{{ 'General Information' | trans }}</h4>
            <table class="table">
                <tr>
                    <th style="width: 250px;">{{ 'Attribute key' | trans }}:</th>
                    <td>{{ attributeTransfer.key }}</td>
                </tr>
                <tr>
                    <th>{{ 'Filter type' | trans }}:</th>
                    <td>{{ attributeTransfer.filterType | trans }}</td>
                </tr>
            </table>

        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Translations' } %}
        {% block widget_content %}
            {% for locale in locales %}
                {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': (not loop.first) } %}
                    {% block content %}
                        <table>
                            <tr>
                                <th style="width: 220px;">{{ 'Filter name' | trans }}:</th>
                                <td>
                                    {% for localizedAttributeKeyTransfer in attributeTransfer.localizedKeys %}
                                        {% if localizedAttributeKeyTransfer.localeName == locale.localeName %}
                                            {{ localizedAttributeKeyTransfer.keyTranslation }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    {% endblock %}
                {% endembed %}
            {% endfor %}

        {% endblock %}
    {% endembed %}

{% endblock %}
