{% set TYPE_PRODUCT_ABSTRACT = 'Abstract'|trans %}
{% set TYPE_PRODUCT_CONCRETE = 'Concrete'|trans %}

{% set LINK_DELETE_PRODUCT_ABSTRACT = '/product-alternative-gui/delete/delete-abstract?id-product-alternative=%d' %}
{% set LINK_DELETE_PRODUCT_CONCRETE = '/product-alternative-gui/delete/delete-concrete?id-product-alternative=%d' %}

<td>{{ productAlternative.idProductAlternative }}</td>
<td>{{ productAlternative.name }}</td>
<td>{{ productAlternative.sku }}</td>
<td>
    {% for category in productAlternative.categories %}
        <p>{{ category }}</p>
    {% endfor %}
</td>
<td>{{ productAlternative.type }}</td>
<td>
    {% if productAlternative.status %}
        <span class="label label-info">Active</span>
    {% else %}
        <span class="label label-danger">Inactive</span>
    {% endif %}
</td>
<td>
    {% if productAlternative.type == TYPE_PRODUCT_ABSTRACT %}
        <a class="safe-submit btn btn-xs btn-outline btn-danger"
           href="{{ LINK_DELETE_PRODUCT_ABSTRACT|format(idProduct, productAlternative.idProductAlternative) }}">
            <i class="fa fa-trash"></i>
            Delete
        </a>
    {% endif %}

    {% if productAlternative.type == TYPE_PRODUCT_CONCRETE %}
        <a class="safe-submit btn btn-xs btn-outline btn-danger"
           href="{{ LINK_DELETE_PRODUCT_CONCRETE|format(idProduct, productAlternative.idProductAlternative) }}">
            <i class="fa fa-trash"></i>
            Delete
        </a>
    {% endif %}
</td>
