<td>{{ productAlternative.idProductAlternative ?: '-' }}</td>
<td>{{ productAlternative.type ?: '-' }}</td>
<td>{{ productAlternative.sku ?: '-' }}</td>
<td>{{ productAlternative.name ?: '-' }}</td>
<td>
    {% for category in productAlternative.categories %}
        <p>{{ category }}</p>
    {% endfor %}
</td>
<td>{{ productAlternative.status ?: '-' }}</td>
<td>
    <button class="btn btn-default">
        <a href="{{- productAbstractAlternativeDeleteLink|format(idProduct, productAlternative.idProductAlternative) -}}">Delete</a>
    </button>
</td>
