{% block image_widget %}
    {% set css = 'spryker-form-image' %}
    {% set img_width = '' %}
    {% set img_height = '' %}
    {% set img_title = '' %}

    {% if form.vars.img_width is defined and form.vars.img_width %}
        {% set img_width = 'width="' ~ form.vars.img_width ~ '"' %}
    {% endif %}

    {% if form.vars.img_height is defined and form.vars.img_height %}
        {% set img_height = 'height="' ~ form.vars.img_height  ~ '"' %}
    {% endif %}

    {% if form.vars.img_title is defined and form.vars.img_title %}
        {% set img_title = 'title="' ~ form.vars.img_title  ~ '" alt="' ~ form.vars.img_title  ~ '"' %}
    {% endif %}

    {% set form_group_errors_css = '' %}
    {% if form.vars.attr.class is defined %}
        {% set css = form.vars.attr.class ~ ' ' ~ css %}
    {% endif %}

    {% if form.vars.errors|length %}
        {% set form_group_errors_css = 'has-error' %}
    {% endif %}

    {% set value = form.vars.value %}
    {% if value is iterable %}
        {% set value = form.vars.value|first %}
    {% endif %}

    <div class='form-group {{ form_group_errors_css }}'>
        <img src="{{ value }}" {{ img_width|raw }} {{ img_height|raw }} class="{{ css|raw }}" {{ img_title|raw }} />
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock image_widget %}