<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ 'Order Overview for Order' | trans }} {{ order.orderReference }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-sales-main.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="sales-offer-container">

    <div class="container" id="main-header">
        <h2>Offer Details</h2>
    </div>

    <div class="container">
        <p><strong>{{ 'Offer ID' | trans }}:</strong> {{ order.orderReference }}</p>
        <p>
            <strong>{{ 'Offer Data' | trans }}:</strong> {{ order.createdAt | formatDateTime }}<br>
            <strong>{{ 'Customer Name' | trans }}:</strong> {{ order.salutation }} {{ order.firstName }} {{ order.lastName }}<br>
            <strong>{{ 'Email' | trans }}:</strong> {{ order.email }}
        </p>
    </div>
