
{% set numberOfItemAdditions = orderItem.productOptions | length + 1  %}
{% set subtotal = group ? bundleItem.unitSubtotalAggregation : orderItem.unitSubtotalAggregation %}
{% set priceToPay = group ? bundleItem.unitPriceToPayAggregation : orderItem.unitPriceToPayAggregation %}
{% set image = image %}

{% if displayImage %}
    <td {% if group %}rowspan="{{ itemCount }}" {% endif %}><img class="product-image" src="{{ image }}"/></td>
{% endif %}
<td>
    <div>
      <strong>{{ orderItem.name }}</strong>
    </div>
    <div class="sku">
      {{ 'Sku' | trans }}: {{ orderItem.Sku }}
    </div>

  {% if orderItem.metadata.superAttributes is not null and orderItem.metadata.superAttributes | length > 0 %}
    <div class="variant-details">
      <h3>{{ 'Variant Details' | trans }}</h3>
      {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(0,2) %}
          <div>{{ attributeName }}: {{ attributeValue }}</div>
      {% endfor %}

      {% if orderItem.metadata.superAttributes | length > 2 %}
        <div id="attribute_details_{{ orderItem.IdSalesOrderItem }}" class="hidden">
          {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(2) %}
            <div>{{ attributeName }}: {{ attributeValue }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</td>
<td>
    <div>[Purchase Price]</div>
</td>
<td>
    <div>[Customer Price]</div>
</td>
<td>
    <div>[Discount]</div>
</td>
<td>
    <div>[Quantity]</div>
</td>
<td>
    <div>[Fee]</div>
</td>
<td>
    <div>[Final Product Price]</div>
</td>
<td>
    <div>[Total]</div>
</td>
