{% extends '@Gui/Layout/layout.twig' %}

{% if submit_title is not defined %}
    {% set widget_title = 'Delete category' | trans %}
    {% set widget_title = widget_title ~ ': ' ~ category.name %}
{% endif %}

{% if idCategory is not defined %}
    {% set idCategory = 0 %}
{% endif %}

{% block head_title -%}
    {{ widget_title | trans }} {% if idCategory > 0 %} [{{ idCategory }}] {% endif %}
{%- endblock %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {% include ['@CategoryGui/_partials/back-button.twig', '@Category/_partials/back-button.twig'] %}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_rest(form) }}

            <input
                type="submit"
                class="btn btn-primary safe-submit"
                value="{{ 'Delete' | trans }}"
                disabled="disabled"
                id="submit_delete"
            />
            <label for="delete_confirm">
                <input type="checkbox" id="delete_confirm"/>
                {{ 'Yes, I am sure' | trans }}
            </label>
            <br/><br/>

            <div class="row">
                {% macro tree(nodes) %}
                    <ol class="dd-list">
                        {% for node in nodes %}
                            <li class="dd-item">
                                <span class="dd-handle">
                                    {{ node.text }}
                                </span>

                                {% if node.children is defined and node.children|length > 0 %}
                                    {{ _self.tree(node.children) }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                {% endmacro %}

                {% import _self as tree %}

                <div class="col-md-4">
                    <b>Sub-Trees to be moved</b>
                    <br />
                    {% if subTrees | length > 0 %}
                        {% for subTree in subTrees %}
                            <br />
                            <p>
                                {% if subTree.isMain %} Main {% else %} Extra parent {% endif %}
                                category will be moved to <em>{{ subTree.parentCategory.name }}</em>
                            </p>
                            <ol class="dd-list">
                                <li class="dd-item">
                                    <span class="dd-handle">{{ subTree.text }}</span>
                                    {{ tree.tree(subTree.tree) }}
                                </li>
                            </ol>
                        {% endfor %}
                    {% else %}
                        <p>This category does not have any sub-trees</p>
                    {% endif %}
                </div>

                <div class="col-md-4">
                    <b>Urls to be deleted</b>
                    <br />
                    <ul class="nodes">
                        {% for url in urls %}
                            <li>{{ url.url }}</li>
                        {% endfor %}
                    </ul>
                </div>

                {% for relation in relations %}
                    {% if (loop.index + 1) % 3 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}

                    <div class="col-md-4">
                        <b>{{ relation.name }} to be de-assigned</b>
                        {% if relation.list | length > 0 %}
                            <ul class="nodes">
                                {% for item in relation.list %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>This category has no relations</p>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>

            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-category-main.css') }}" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-category-delete.js') }}"></script>
{% endblock %}
