{% extends '@ProductCategory/Add/index.twig' %}
{% set submit_title = 'Delete' | trans %}
{% set widget_title = 'Category Delete' | trans %}
{% set widget_title = widget_title ~ ': ' ~ currentCategory.name %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-12"><b>Urls to be deleted</b>
                    {% if paths|length > 0 %}
                        <ul>
                        {% for path in paths %}
                            <li>
                                {{ path }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <ul>
                            <li>None</li>
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12"><b>Products to be de assigned</b>
                    {% if products|length > 0 %}
                        <ul>
                            {% for product in products %}
                                <li>
                                    {{ product.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul>
                            <li>None</li>
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12"><b>Cms blocks to be de assigned</b>
                    {% if blocks|length > 0 %}
                        <ul>
                            {% for block in blocks %}
                                <li>
                                    {{ block.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul>
                            <li>None</li>
                        </ul>
                    {% endif %}
                </div>
            </div>


            {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary" value="{{ submit_title | trans }}" />
            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}

{% block action %}
    {{ parent() }}
    {{ createActionButton('/productCategory/add', 'Create Category' | trans) }}
{% endblock %}
