{% extends '@Application/Layout/layout.twig' %}
{% block content %}
    <div class="spy-layout sparse">
        <h3>{{ "Incoming dependencies of the" | trans }} {{ bundle }} {{ "module" | trans }}</h3>
        <table class="table table-striped spy-grid">
            <tr class="text-left">
                <th>{{ 'Dependency' | trans }}</th>
                <th>{{ 'Count' | trans }}</th>
            </tr>
            {% for count, dependency in dependencies %}
                <tr>
                    <td>{{ count }}</td>
                    <td>{{ dependency }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
