{% extends '@Application/Layout/layout.twig' %}
{% block content %}
    <div class="spy-layout sparse">
        <h3>{{ "Incoming dependencies of the" | trans }} {{ bundle }} {{ "module" | trans }}</h3>
        <table class="table table-striped spy-grid">
            <tr class="text-left">
                <th>{{ 'Module' | trans }}</th>
                <th>{{ 'Total Count' | trans }}</th>
                <th>{{ 'Optional Count' | trans }}</th>
                <th>{{ 'Test Count' | trans }}</th>
            </tr>
            {% for dependency in dependencies %}
                <tr>
                    <td>{{ dependency.name }}</td>
                    <td>{{ dependency.totalDependencyCount }}</td>
                    <td>{{ dependency.optionalDependencyCount }}</td>
                    <td>{{ dependency.testDependencyCount }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
