{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Dependency graphs of all core modules' } %}
        {% block widget_content %}
            <div class="spy-layout sparse">
                <p>
                    <a href="/development/dependency/simple?build-tree=true">{{ 'Simple Dependency Graph' | trans }}</a> |
                    <a href="/development/dependency/adjacency-matrix?build-tree=true">{{ 'Adjacency Matrix' | trans }}</a></p>

                <table class="table-condensed table-hover table-striped table-dependency">
                    {% for module in modules %}
                        <tr>
                            <td class="text-right">{{ module.name }}</td>
                            <td>
                                <a class="btn btn-xs btn-default" href="{{ url('/development/dependency/incoming', {bundle: module.name}) }}">{{ 'in' | trans }}</a>&nbsp;
                                <a class="btn btn-xs btn-default" href="{{ url('/development/dependency/outgoing', {bundle: module.name}) }}">{{ 'out' | trans }}</a>&nbsp;
                                <a class="btn btn-xs btn-default" href="{{ url('/development/dependency/outgoing-graph', {bundle: module.name}) }}">{{ 'out graph' | trans }}</a>&nbsp;
                                <a class="btn btn-xs btn-default" href="{{ url('/development/dependency/simple', {bundle: module.name}) }}">{{ 'simple' | trans }}</a>&nbsp;
                                <a class="btn btn-xs btn-default" href="{{ url('/development/dependency/dependency-tree-graph', {bundle: module.name}) }}">{{ 'detailed' | trans }}</a>&nbsp;
                                <a class="btn btn-xs btn-default" href="{{ url('/development/dependency/adjacency-matrix', {bundle: module.name}) }}">{{ 'adjacency' | trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
