{% extends '@Application/Layout/layout.twig' %}
{% block content %}
    <div class="spy-layout sparse">

        <table class="table table-striped spy-grid">

            <tr>
                <td colspan="4"><h3>{{ "Outgoing dependencies of the" | trans }} {{ bundle }} {{ "module" | trans }}</h3></td>
            </tr>

            <tr>
                <th>{{ 'Dependency' | trans }}</th>
                <th>{{ 'Count' | trans }}</th>
                <th>{{ 'in src' | trans }}</th>
                <th>{{ 'in tests' | trans }}</th>
            </tr>

            {% for dependencyBundle in dependencies.dependencyBundles %}
                <tr>
                    <td><a href="/development/dependency/outgoing?bundle={{ dependencyBundle.bundle }}">{{ dependencyBundle.bundle }}</a></td>
                    <td>{{ dependencyBundle.dependencies | length }}</td>
                    {% set inSrc = 0 %}
                    {% set inTest = 0 %}
                    {% for dependency in dependencyBundle.dependencies  %}
                        {% if dependency.isInTest %}
                            {% set inTest = inTest + 1 %}
                        {% else %}
                            {% set inSrc = inSrc + 1 %}
                        {% endif %}
                    {% endfor %}
                    <td>{{ inSrc }}</td>
                    <td>{{ inTest }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="4"><h3>{{ "Composer dependencies" | trans }}</h3></td>
            </tr>

            <tr>
                <th colspan="2">{{ 'Module' | trans }}</th>
                <th>{{ 'require' | trans }}</th>
                <th>{{ 'require-dev' | trans }}</th>
            </tr>

            {% set hasDevOnlyRequirements = false %}

            {% for composerDependency in composerDependencies %}

                    {% if not composerDependency.src and not composerDependency.tests and not composerDependency.composerRequire %}
                        {% set hasDevOnlyRequirements = true %}
                    {% else %}

                        {% if not composerDependency.isOptional or (composerDependency.isOptional and (composerDependency.composerRequire or composerDependency.composerRequireDev)) or (composerDependency.tests and not composerDependency.composerRequireDev) %}
                            {% set bundleName = composerDependency.src ? composerDependency.src : composerDependency.tests %}

                            <tr>
                                <td colspan="2"{% if (composerDependency.src and not composerDependency.composerRequire and not composerDependency.suggested) or (not composerDependency.composerRequire and not composerDependency.composerRequireDev) %} style="color: red"{% endif %}>
                                    {{ bundleName }}
                                </td>
                                <td{% if (not composerDependency.src and composerDependency.composerRequire) or (composerDependency.isOptional) %} style="color: red"{% endif %}>
                                    {{ composerDependency.composerRequire }}
                                </td>
                                <td{% if (composerDependency.tests and not composerDependency.composerRequireDev) or (composerDependency.src and composerDependency.tests and composerDependency.composerRequire) or (composerDependency.composerRequireDev and not composerDependency.tests and not composerDependency.isOptional) %} style="color: red"{% endif %}>
                                    {{ composerDependency.composerRequireDev }}
                                </td>
                            </tr>

                        {% endif %}

                    {% endif %}

            {% endfor %}

            <tr>
                <td colspan="4"><h3>{{ "Suggested dependencies" | trans }}</h3></td>
            </tr>
            {% for composerDependency in composerDependencies %}
                {% if composerDependency.src and composerDependency.isOptional %}
                    <tr>
                        <td colspan="4"{% if composerDependency.src and not composerDependency.suggested %} style="color: red"{% endif %}>{{ composerDependency.src }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% if hasDevOnlyRequirements %}
                <tr>
                    <td colspan="4"><h3>{{ "Dev only dependencies" | trans }}</h3></td>
                </tr>

                {% for composerDependency in composerDependencies %}
                    {% if not composerDependency.src and not composerDependency.tests %}
                    <tr>
                        <td colspan="3">&nbsp;</td>
                        <td>{{ composerDependency.composerRequireDev }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </table>
    </div>

{% endblock %}
