{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Stability of all core modules' } %}
        {% block widget_content %}
            {% set sum = 0 %}
            <div class="spy-layout sparse">
                <p>
                    {{ 'Stability is calculated by "incoming dependencies / ( incoming dependencies + outgoing dependencies )" the result will be between 0 (stable) and 1 (unstable)' | trans }}
                </p>
                <table class="table table-striped spy-grid">
                    <tr>
                        <th style="width: 50%;">{{ 'Module' | trans }}</th>
                        <th style="text-align:right">{{ 'Incoming' | trans }}</th>
                        <th style="text-align:right">{{ 'Outgoing' | trans }}</th>
                        <th style="text-align:right">{{ 'Stability' | trans }}</th>
                        <th style="text-align:right">{{ 'Indirect Incoming' | trans }}</th>
                        <th style="text-align:right">{{ 'Indirect Outgoing' | trans }}</th>
                        <th style="text-align:right">{{ 'Indirect Stability' | trans }}</th>
                        <th style="text-align:right">{{ 'Spryker Stability' | trans }}</th>
                    </tr>
                    {% for bundle, info in bundles %}
                        {% set sum = sum + info.indirectOut | length %}
                        <tr>
                            <td>
                                <a href="/development/dependency/outgoing-graph?bundle={{ bundle }}" target="_blank">{{ bundle }}</a>
                            </td>
                            <td align="right">{{ info.in | length }}</td>
                            <td align="right">{{ info.out | length }}</td>
                            <td align="right">{{ info.stability }}</td>
                            <td align="right">{{ info.indirectIn | length }}</td>
                            <td align="right">{{ info.indirectOut | length }}</td>
                            <td align="right">{{ info.indirectStability }}</td>
                            <td{% if info.sprykerStability > 150 %} style="color: red"{% endif %} align="right">{{ info.sprykerStability }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p>{{ 'SUM' | trans }} {{ sum }}</p>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
