{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            {{ table | raw }}
        {% endblock %}
    {% endembed %}

    <h5>{{ 'Choose template' | trans }}</h5>
    <ul>
        {% for key, template in templates %}
            <li>
                <input id="template-{{ template.identifier }}" type="radio" {{ key == 0 ? 'checked="checked"' : '' }} value="{{ template.identifier }}" data-macro="{{ template.macro }}" />
                <label for="template-{{ template.identifier }}">{{ template.name }}</label>
            </li>
        {% endfor %}
    </ul>
{% endblock %}