{% block content %}
    <div class="content-errors hide">
        <h5 class="error item">{{ 'Please select a content item' | trans }}</h5>
        <h5 class="error template">{{ 'Please select a template' | trans }}</h5>
    </div>

    {% embed '@Gui/Partials/widget.twig' %}
        {% set widget_title = 'Choose Content' %}
        {% block widget_content %}
            {{ table | raw }}
        {% endblock %}
    {% endembed %}

    <input type="hidden" name="twigFunctionTemplate" value="{{ twigFunctionTemplate }}" />

    {% if templates is not empty %}
        {% set selectedTemplateIdentifier = selectedTemplateIdentifier is defined ? selectedTemplateIdentifier : templates[0].identifier %}

        <h5 class="template-title">{{ 'Choose Template' | trans }}</h5>
        <ul class="template-list">
            {% for key, template in templates %}
                {% set templateName = template.name | trans %}
                <li>
                    <input id="template-{{ template.identifier }}" name="template" type="radio"
                            {{ selectedTemplateIdentifier == template.identifier ? 'checked="checked"' : '' }}
                            data-template="{{ templateName }}"
                           value="{{ template.identifier }}" />
                    <label for="template-{{ template.identifier }}">{{ templateName }}</label>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
