{{ form_start(sspAssetFileAttachForm) }}
{{ form_errors(sspAssetFileAttachForm) }}

<div class="row">
    <div class="col-md-12">
        {{ form_row(sspAssetFileAttachForm.sspAssetIds) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        {{ form_widget(sspAssetFileAttachForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
</div>

{{ form_end(sspAssetFileAttachForm) }}
