{#
  Render tabs in Zed UI. The `tabs()` twig function is registered globaly with `\Spryker\Zed\Gui\Communication\Plugin\Twig\TabsFunction`.

  Parameters:
    * tabsViewTransfer (`\Generated\Shared\Transfer\TabsViewTransfer`): transfer object that contains all information of the tabs (required).
    * context (array):  Context variables that will be available in included templates (optional).
#}
<div class="tabs-container"
     data-is-navigable="{{ tabsViewTransfer.isNavigable ? 'true' : 'false' }}"
     data-auto-errors="{{ tabsViewTransfer.autoErrors is null or tabsViewTransfer.autoErrors ? 'true' : 'false' }}">
    <ul class="nav nav-tabs">
        {% for tab in tabsViewTransfer.tabs %}
            <li class="{% if tabsViewTransfer.activeTabName == tab.name %}active{% endif %} {% if tab.hasError %}error{% endif %}" data-tab-content-id="tab-content-{{ tab.name }}">
                <a href="#tab-content-{{ tab.name }}" data-toggle="tab">{{ tab.title | trans }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for tab in tabsViewTransfer.tabs %}
            <div id="tab-content-{{ tab.name }}" class="tab-pane {% if tabsViewTransfer.activeTabName == tab.name %}active{% endif %}">
                <div class="panel-body">
                    {% include tab.template %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if tabsViewTransfer.footerTemplate or tabsViewTransfer.isNavigable %}
        <div class="tabs-footer">
            {% if tabsViewTransfer.footerTemplate %}
                {% include tabsViewTransfer.footerTemplate %}
            {% endif %}

            {% if tabsViewTransfer.isNavigable %}
                <span class="tabs-navigation pull-right">
                    <a href="#" class="btn btn-tab-previous btn-outline btn-view"><i class="fa fa-chevron-left"></i> {{ 'Previous' | trans }}</a>
                    <a href="#" class="btn btn-tab-next btn-outline btn-view">{{ 'Next' | trans }} <i class="fa fa-chevron-right"></i></a>
                </span>
            {% endif %}
        </div>
    {% endif %}
</div>
