<section class="filter js-filter filter__{{filter-name}}" data-filter-name="{{filter-name}}" data-filter-type="range" data-min="{{min}}" data-max="{{max}}">
  <h1 class="filter__title">Preis</h1>
  <div class="filter__{{filter-name}}-slider js-slider js-{{filter-name}}-slider"></div>
  <p>Preisspanne von <span class="filter__{{filter-name}}-min js-filter-value-min">{{min}}</span> bis <span class="filter__{{filter-name}}-max js-filter-value-max">{{max}}</span></p>
</section>
