<input type="checkbox"
       id="filter-{{filter-name}}-{{value}}"
       name="filter-{{filter-name}}"
       value="{{value}}"
       {{#if checked}} checked=true{{/if}}>
<label for="filter-{{filter-name}}-{{value}}">{{display-value}}
  <span class="filter__quantity">{{quantity}}</span>
</label>