{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Edit Offer: ' | trans ~ offer.idOffer %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {#{% set redirectUrl = url('/cms-block-gui/edit-block', {'id-cms-block' : idCmsBlock}) %}#}
    {#{{ editActionButton(url('/cms-block-gui/edit-glossary', {'id-cms-block': idCmsBlock}), 'Edit placeholders' | trans) }}#}
    {#{{ include ('@CmsBlockGui/_partial/activate-button.twig', { 'id-cms-block': idCmsBlock, 'isActive': cmsBlockForm.vars.data.isActive}) }}#}
    {#{{ backActionButton('/cms-block-gui/list-block', 'Back to CMS' | trans) }}#}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Offer' | trans } %}
        {% block widget_content %}

            {{ form_start(form) }}
            {{ form_label(form.items) }}
            <table>
                {% for item in form.items %}
                    <tr>
                        <td>{{ form_row(item.sku) }}</td>
                        <td>
                            {{ form_row(item.unitGrossPrice) }}
                            {{ form_row(item.forcedUnitGrossPrice) }}
                        </td>
                        <td>{{ form_row(item.offerDiscount, { 'attr': {'placeholder': '0'}}) }}</td>
                        <td>{{ form_row(item.stock) }}</td>
                        <td>{{ form_row(item.offerFee, { 'attr': {'placeholder': '0'}}) }}</td>
                        <td>{{ form_row(item.quantity) }}</td>
                        <td>{{ form_row(item.unitSubtotalAggregation) }}</td>
                        <td>{{ form_row(item.sumSubtotalAggregation) }}</td>
                        {#<td><input href="/offer-gui/edit/?remove-sku={{ item.sku.data }}" class="btn btn-remove" value="X"/></td>#}
                    </tr>
                {% endfor %}
            </table>

            {{ form_label(form.incomingItems) }}
            <table>
                {% for incomingItem in form.incomingItems %}
                    <tr>
                        <td>{{ form_row(incomingItem.sku) }}</td>
                        <td>{{ form_row(incomingItem.quantity) }}</td>
                    </tr>
                {% endfor %}
            </table>
            {{ form_widget(form) }}

            <input type="submit" class="btn btn-primary safe-submit" name="submit-reload" value="{{ 'Reload' | trans }}" />
            <input type="submit" class="btn btn-primary safe-submit" name="submit-persist" value="{{ 'Save' | trans }}" />
            {{ form_end(form) }}

        {% endblock %}
    {% endembed %}

{% endblock %}

