<pre>{{ dump(productAttributeValues) }}</pre>
<pre>{{ dump(locales) }}</pre>

<table class="table table-striped table-bordered table-hover gui-table-data" id="productAttributesTable" data-paging="false">
    <form id="attribute_values_form" method="post" class="kv_autocomplete_form" action="{{ formActionUrl }}">
        <input type="hidden" name="attribute_values_form[hidden_product_abstract_id]" id="attribute_values_form_hidden_product_abstract_id" value="{{ idProductAbstract }}" />
        <input type="hidden" name="attribute_values_form[hidden_product_id]" id="attribute_values_form_hidden_product_id" value="{{ idProductConcrete }}" />
        <thead>
        <tr>
            <th>key</th>
            {% for localeCode,localeData in locales %}
                {% if localeCode == '_' %}
                    <th>{{ 'default' }}</th>`
                {% else %}
                    <th>{{ localeData.locale_name }}</th>
                {% endif %}
            {% endfor %}
            <th>action</th>
        </tr>
        </thead>
        <tbody>
            {% for key in productAttributeKeys %}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    {% for localeCode,localeData in locales %}
                        {% if productAttributeValues[localeCode][key] is defined %}
                            <td>{{ productAttributeValues[localeCode][key] }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% endfor %}
                    <td>action</td>
                </tr>
            {% endfor %}
        </tbody>
    </form>
</table>