{% macro address(order, addr, messageIfEmpty) %}

    {% if addr is not defined %}
        {{ messageIfEmpty | trans }}
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Billing Address</h3>
            </div>
            <div class="panel-body">
                <a href="/sales/edit/address?id-sales-order={{ order.idSalesOrder }}&id-address={{ addr.idSalesOrderAddress }}" class="btn btn-sm btn-warning">Edit</a>
                <p>{{ addr.firstName }} {{ addr.middleName }} {{ addr.lastName }}</p>
                {% if addr.address1 is not empty %}<p>{{ addr.address1 }}</p>{% endif %}
                {% if addr.address2 is not empty %}<p>{{ addr.address2 }}</p>{% endif %}
                {% if addr.address3 is not empty %}<p>{{ addr.address3 }}</p>{% endif %}
                <p>{{ addr.zipCode }} {{ addr.city }}</p>
            </div>
        </div>
    {% endif %}

{% endmacro %}

{% import _self as show %}

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Addresses' } %}

    {% block widget_content %}

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ show.address(order, order.billingAddress, 'Billing address not provided') }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ show.address(order, order.shippingAddress, 'Shipping address not provided') }}
            </div>
        </div>

    {% endblock %}

{% endembed %}
