{% set items = items ?: order.items %}
{% set configuredBundles = [] %}
{% set configuredBundleIds = [] %}
{% set configuredBundleItems = [] %}

{% for item in items %}
    {% if item.salesOrderConfiguredBundleItem %}
        {% set configuredBundleItems = configuredBundleItems | merge([item]) %}
    {% endif %}
{% endfor %}

{% for item in configuredBundleItems %}
    {% set bundleId = item.salesOrderConfiguredBundle.idSalesOrderConfiguredBundle %}

    {% if not (bundleId in configuredBundleIds) %}
        {% set configuredBundleIds = configuredBundleIds | merge([bundleId]) %}
        {% set configuredBundles = configuredBundles | merge([item.salesOrderConfiguredBundle]) %}
    {% endif %}
{% endfor %}

{% for bundle in configuredBundles %}
    <tr>
        <td colspan="5">
            <strong>{{ (bundle.translations[0].name ?? bundle.name) | trans }}</strong>
            ({{ 'ID:' | trans }} {{ bundle.configurableBundleTemplateUuid }})
        </td>
        <td>
            {% set bundleSumSubtotalAggregation = 0 %}
            {% set bundleSumPriceToPayAggregation = 0 %}

            {% for item in bundle.salesOrderConfiguredBundleItems if mappedItems['_' ~ item.IdSalesOrderItem] is defined %}
                {% set product = mappedItems['_' ~ item.IdSalesOrderItem] %}
                {% set bundleSumSubtotalAggregation = bundleSumSubtotalAggregation + product.sumSubtotalAggregation %}
                {% set bundleSumPriceToPayAggregation = bundleSumPriceToPayAggregation + product.sumPriceToPayAggregation %}
            {% endfor %}

            {% embed '@Sales/Detail/boxes/discounted-price.twig' with {subtotal: bundleSumSubtotalAggregation, priceToPay: bundleSumPriceToPayAggregation} %} {% endembed %}</td>
        <td colspan="2"></td>
    </tr>

    {% set partialItemCount = 0 %}
    {% for item in configuredBundleItems %}
        {% if item.salesOrderConfiguredBundleItem.idSalesOrderConfiguredBundle == bundle.idSalesOrderConfiguredBundle %}
            <tr>
                {% include '@Sales/Detail/boxes/configured-bundle-product.twig' with {
                    orderItem: item,
                    displayImage: true,
                    image: item.metadata.image,
                } %}
            </tr>

            {% set partialItemCount = partialItemCount + 1 %}
        {% endif %}
    {% endfor %}

    {% if bundle.note is defined and bundle.note is not empty %}
        <tr>
            <td colspan="8" class="text-left">
                {{ 'Note' | trans }}<br>
                {{ bundle.note | escape | nl2br }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="1"></td>
        <td colspan="7">
            {{ 'Items' | trans }}: {{ partialItemCount }} / {{ bundle.salesOrderConfiguredBundleItems | length }}
        </td>
    </tr>
    <tr>
        <td colspan="8"></td>
    </tr>
{% endfor %}
