{# this file is deprecated, please use ../configured-bundle-general.twig instead #}

{% set mappedItems = (items ?: order.items) | reduce((collection, item) => collection | merge({('_' ~ item.idSalesOrderItem): (item)}), {}) %}
{% set mappedBundles = [] %}

{% for bundle in order.salesOrderConfiguredBundles %}
    {% set filteredItems = bundle.salesOrderConfiguredBundleItems|filter(item => mappedItems['_' ~ item.IdSalesOrderItem] is defined) %}
    {% if (filteredItems|length) %}
        {% set mappedBundles = mappedBundles | merge([bundle]) %}
    {% endif %}
{% endfor %}

{% for bundle in mappedBundles %}
    <tr>
        <td colspan="5">
            <strong>{{ (bundle.translations[0].name ?? bundle.name) | trans }}</strong> {# Fallback name display is kept for BC reasons. #}
            ({{ 'ID:' | trans }} {{ bundle.configurableBundleTemplateUuid }})
        </td>
        <td>
            {% set bundleSumSubtotalAggregation = 0 %}
            {% set bundleSumPriceToPayAggregation = 0 %}

            {% for item in bundle.salesOrderConfiguredBundleItems %}
                {% if mappedItems['_' ~ item.IdSalesOrderItem] is defined %}
                    {% set product = mappedItems['_' ~ item.IdSalesOrderItem] %}
                    {% set bundleSumSubtotalAggregation = bundleSumSubtotalAggregation + product.sumSubtotalAggregation %}
                    {% set bundleSumPriceToPayAggregation = bundleSumPriceToPayAggregation + product.sumPriceToPayAggregation %}
                {% endif %}
            {% endfor %}

            {% embed '@Sales/Detail/boxes/discounted-price.twig' with {subtotal: bundleSumSubtotalAggregation, priceToPay: bundleSumPriceToPayAggregation} %} {% endembed %}</td>
        <td colspan="2"></td>
    </tr>
    {% set partialItemCount = 0 %}
    {% for item in bundle.salesOrderConfiguredBundleItems if mappedItems['_' ~ item.IdSalesOrderItem] is defined %}
        <tr>
            {% set product = mappedItems['_' ~ item.IdSalesOrderItem] %}
            {% embed '@Sales/Detail/boxes/configured-bundle-product.twig' with {orderItem: product, displayImage: true, image: product.metadata.image} %}{% endembed %}
        </tr>
        {% set partialItemCount = partialItemCount + 1 %}
    {% endfor %}
    {% if bundle.note is defined and bundle.note is not empty %}
        <tr>
            <td colspan="8" class="text-left">
                {{ 'Note' | trans }}<br>
                {{ bundle.note | escape | nl2br }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="1"></td>
        <td colspan="7">
            {{ 'Items' | trans }}: {{ partialItemCount }} / {{ bundle.salesOrderConfiguredBundleItems | length }}
        </td>
    </tr>
    <tr>
        <td colspan="8"></td>
    </tr>
{% endfor %}
