<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states' } %}

            {% block widget_content %}

                <div>
                    {% for event in events %}
                        <a class="btn btn-primary trigger-order-event" data-id-sales-order="{{ order.idSalesOrder }}" data-event="{{ event }}" href="#">{{ event }}</a>
                    {% endfor %}
                </div>

            {% endblock %}

        {% endembed %}

    </div>
</div>

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Items' } %}

    {% block widget_content %}

        <table class="footable table table-striped toggle-arrow-tiny">
            <thead>
            <tr class="text-left">
                <th><input type="checkbox" id="check-all-orders" /></th>
                {#<th>{{ 'Product' | trans }}</th>#}
                <th>{{ 'SKU' | trans }}</th>
                <th>{{ 'Unit Price' | trans }}</th>
                <th>{{ 'QTY' | trans }}</th>
                <th>{{ 'Unit price * Qty' | trans }}</th>
                <th>{{ 'Tax amount' | trans }}</th>
                <th>{{ 'Tax %' | trans }}</th>
                <th>{{ 'Discount amount' | trans }}</th>
                <th>{{ 'Item total' | trans }}</th>
                <th>{{ 'Process' | trans }}</th>
                <th>{{ 'Current state' | trans }}</th>
                <th>{{ 'State history' | trans }}</th>
                <th>{{ 'Trigger event' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for orderItem in order.items %}
                <tr>
                    <td><input type="checkbox" name="order-item" value="{{ orderItem.idSalesOrderItem }}" class="item-check"></td>
                    {#<td>#}
                        {#<a href="#" target="_blank">{{ 'Yves view' }}</a><br>#}
                        {#<a href="#" target="_blank">{{ 'Zed View' }}</a>#}
                    {#</td>#}
                    <td>{{ orderItem.Sku }}</td>
                    <td>{{ orderItem.unitGrossPriceWithProductOptions | currency }}</td>
                    {#<td><a href="#" class="item-split" data-id="{{ orderItem.idSalesOrderItem }}">{{ orderItem.quantity }}</a></td>#}
                    <td>{{ orderItem.quantity }}</td>{# remove this line and uncomment the above one #}
                    <td>{{ orderItem.sumGrossPriceWithProductOptions | currency }}</td>
                    <td>{{ orderItem.sumTaxAmountWithProductOptionAndDiscountAmounts | currency }}</td>
                    <td>{{ orderItem.taxRate|default(0) }} %</td>
                    <td>-{{ orderItem.sumTotalDiscountAmountWithProductOption | currency }} </td>
                    <td>{{ orderItem.sumGrossPriceWithProductOptionAndDiscountAmounts | currency }} </td>
                    <td>
                        <a href="{{ url('/oms/index/draw', {'process': orderItem.process, 'state': orderItem.state.name}) }}" target="_blank">
                            {{ orderItem.process }}
                        </a>
                    </td>
                    <td>{{ orderItem.state.name }}</td>
                    <td>
                        {% for stateHistory in orderItem.stateHistory | slice(0, 3) %}
                            <div>{{ stateHistory.name }} ({{ stateHistory.createdAt | formatDateTime }})</div>
                        {% endfor %}

                        {% if orderItem.stateHistory | length > 3 %}
                            <div id="history_details_{{ orderItem.IdSalesOrderItem }}" class="hidden">
                                {% for stateHistory in orderItem.stateHistory | slice(3) %}
                                    <div>{{ stateHistory.name }} ({{ stateHistory.createdAt | formatDateTime }})</div>
                                {% endfor %}
                            </div>

                            <a id="history-btn-{{ orderItem.IdSalesOrderItem }}" class="btn btn-sm more-history is-hidden" data-id="{{ orderItem.IdSalesOrderItem }}"><span class="show-more">{{ 'Show more' | trans }}</span><span class="show-less">{{ 'Show less' | trans }}</span></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if eventsGroupedByItem[orderItem.IdSalesOrderItem] | length > 0 %}
                            {% for event in eventsGroupedByItem[orderItem.IdSalesOrderItem] %}
                                <a class="btn btn-primary btn-sm trigger-order-single-event" data-id-item="{{ orderItem.idSalesOrderItem }}" data-id-sales-order="{{ orderItem.fkSalesOrder }}" data-event="{{ event }}" href="#">{{ event }}</a>
                            {% endfor %}
                        {% else -%}
                            -
                        {%- endif %}
                    </td>
                </tr>
                {% if orderItemSplitFormCollection is defined %}
                <tr style="display: none;" id="split_form_row_{{ orderItem.idSalesOrderItem }}">
                    <td colspan="12">
                        <h4>{{ 'Split order items' | trans }}</h4>
                        {{ form(orderItemSplitFormCollection[orderItem.idSalesOrderItem]) }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>

    {% endblock %}

{% endembed %}
