<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states' } %}

            {% block widget_content %}

                <div>
                    {% include [
                        '@Oms/RenderForm/_partial/order-actions.twig',
                        '@Sales/Detail/_partial/order-actions.twig',
                    ] ignore missing with {
                        redirectUrl: changeStatusRedirectUrl,
                        idSalesOrder: order.idSalesOrder,
                        events: events,
                    } only %}
                </div>

            {% endblock %}

        {% endembed %}

    </div>
</div>

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Items' } %}

    {% block widget_content %}

        <table class="footable table toggle-arrow-tiny" data-qa="order-item-list">
            <thead>
            <tr class="text-left">
                <th><input type="checkbox" id="check-all-orders" /></th>
                <th colspan="2">{{ 'Product' | trans }}</th>
                <th>{{ 'Quantity' | trans }}</th>
                <th>{{ 'Unit Price' | trans }} <small>({{ order.priceMode }})</small></th>
                <th>{{ 'Item total' | trans }}</th>
                <th>{{ 'State' | trans }}</th>
                <th>{{ 'Trigger event' | trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% if order.salesOrderConfiguredBundles is defined and order.salesOrderConfiguredBundles | length > 0 %}
                    {% include '@Sales/Detail/boxes/configured-bundle.twig' with {order: order} %}
                {% endif %}

                {% if order.itemGroups is defined and order.itemGroups | length > 0 %}
                  {% include '@Sales/Detail/boxes/item-group.twig' with {groups: order.itemGroups} %}
                {% else %}
                  {% include '@Sales/Detail/boxes/no-group-items.twig' with {items: order.items} %}
                {% endif %}
            </tbody>
        </table>

    {% endblock %}

{% endembed %}
