
{% set numberOfItemAdditions = orderItem.productOptions | length + 1  %}

<tr data-qa-item-row="{{ orderItem.idSalesOrderItem }}">
    <td><input type="checkbox" name="order-item" value="{{ orderItem.idSalesOrderItem }}" class="item-check" /></td>
    <td><img class="product-image" src="{{ orderItem.metadata.image }}"/></td>
    <td><div>{{ orderItem.name }}</div><div class="sku">{{ 'Sku' | trans }}: {{ orderItem.Sku }}</div>
        {% for attributeName, attributeValue in orderItem.metadata.superAttributes %}
            <div>{{ attributeName }}: {{ attributeValue }}</div>
        {% endfor %}
    </td>
    <td>
        <div>
            <span {% if (orderItem.unitDiscountAmountFullAggregation | default(0) > 0) %} class="discounted" {% endif %}>
              {{ orderItem.unitPrice | default(0) | money }}</span>
            {% if (orderItem.unitDiscountAmountFullAggregation | default(0) > 0) %}
                <span>({{ (orderItem.unitPrice - orderItem.unitDiscountAmountFullAggregation) | money }})</span>
            {% endif %}
        </div>

        <div>incl. {{ orderItem.taxRate|default(0) }} % tax </div>
    </td>
    <td rowspan="{{ numberOfItemAdditions }}" data-qa="item-total-amount" data-qa-raw="{{ orderItem.unitPriceToPayAggregation }}">{{ orderItem.unitPriceToPayAggregation | default(0) | money }} </td>
    <td rowspan="{{ numberOfItemAdditions }}">

        <div>
          <a href="{{ url('/oms/index/draw', {'process': orderItem.process, 'state': orderItem.state.name}) }}" target="_blank">{{ (orderItem.stateHistory | first).name }}</a> ({{ orderItem.process }})
        </div>

        {% if orderItem.stateHistory | length > 1 %}
            <div id="history_details_{{ orderItem.IdSalesOrderItem }}" class="hidden">
                {% for stateHistory in orderItem.stateHistory | slice(1) %}
                    <div>{{ stateHistory.name }} ({{ stateHistory.createdAt | formatDateTime }})</div>
                {% endfor %}
            </div>

            <a id="history-btn-{{ orderItem.IdSalesOrderItem }}" class="btn btn-sm more-history is-hidden" data-id="{{ orderItem.IdSalesOrderItem }}"><span class="show-more">{{ 'Show history' | trans }}</span><span class="show-less">{{ 'Hide history' | trans }}</span></a>
        {% endif %}
    </td>
    <td rowspan="{{ numberOfItemAdditions }}">
        {% if eventsGroupedByItem[orderItem.IdSalesOrderItem] | length > 0 %}
            {% for event in eventsGroupedByItem[orderItem.IdSalesOrderItem] %}
                <a class="btn btn-primary btn-sm trigger-order-single-event" data-id-item="{{ orderItem.idSalesOrderItem }}" data-id-sales-order="{{ orderItem.fkSalesOrder }}" data-event="{{ event }}" href="#">{{ event }}</a>
            {% endfor %}
        {% else -%}
            -
        {%- endif %}
    </td>
</tr>
