{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Overview' } %}

    {% block widget_content %}
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p><b>{{ 'Order Reference' | trans }}:</b> {{ order.orderReference }}</p>
                <p><b>{{ 'Order date' | trans }}:</b> {{ order.createdAt | formatDateTime }}</p>
                <p><b>{{ 'Grand total' | trans }}:</b> {{ order.totals.grandTotal | money(true, order.currencyIsoCode) }}</p>
                <p><b>{{ 'Discount' | trans }}:</b> {{ order.totals.discountTotal | money(true, order.currencyIsoCode) }}</p>
                <p><b>{{ 'Unique Product Quantity' | trans }}:</b> {{ order.uniqueProductQuantity }}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                {% if order.customerReference %}
                    <p><b>{{ 'Customer Reference' | trans }}:</b>
                      {{ order.customerReference }}
                    </p>
                {% endif %}
                <p><b>{{ 'Customer name' | trans }}:</b>
                    {% if order.customerReference %}
                        <a href="{{ url('/customer/view', {'id-customer': order.fkCustomer}) }}" target="_blank">{{ order.salutation }} {{ order.firstName }} {{ order.lastName }}</a>
                    {% else %}
                        {{ order.salutation }} {{ order.firstName }} {{ order.lastName }}
                    {% endif %}
                </p>
              {% if order.customer is not null and order.customer.dateOfBirth %}
                  <p><b>{{ 'Date of Birth' | trans }}:</b>
                    {{ order.customer.dateOfBirth | formatDate }}
                  </p>
              {% endif %}
                <p><b>{{ 'Email' | trans }}:</b> {{ order.email }}</p>
                <p><b>{{ 'Status' | trans }}:</b>
                    {% for state in distinctOrderStates %}
                      <span class="label label-info">{{ state }}</span>
                    {% endfor %}
                </p>
                <p><b>{{ 'All orders of the customer' | trans }}:</b> ({{ order.totalOrderCount }})</p>
            </div>
            <div class="col-xs-12 col-md-4">
                {{ render(controller('/sales/comment/list', {'request': app.request})) }}
                {{ add_comments | raw }}
            </div>
        </div>

    {% endblock %}

{% endembed %}
