{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Overview' } %}

    {% block widget_content %}
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p><b>{{ 'Order Reference' | trans }}:</b> {{ order.orderReference }}</p>
                <p><b>{{ 'Order date' | trans }}:</b> {{ order.createdAt | formatDateTime }}</p>
                <p><b>{{ 'Grand total' | trans }}:</b> {{ order.totals.grandTotal | currency }}</p>
                <p><b>{{ 'Discount' | trans }}:</b> {{ order.totals.discountTotal | currency }}</p>
                <p><b>{{ 'Unique Product Quantity' | trans }}:</b> {{ order.items|length }}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p><b>{{ 'Customer name' | trans }}:</b>
                    {% if order.fkCustomer %}
                        <a href="{{ url('/customer/view', {'id-customer': order.fkCustomer}) }}" target="_blank">{{ order.firstName }} {{ order.lastName }}</a>
                    {% else %}
                        {{ order.firstName }} {{ order.lastName }}
                    {% endif %}
                </p>
                <p><b>{{ 'Email' | trans }}:</b> {{ order.email }}</p>
                <p><b>{{ 'Status' | trans }}:</b>
                    {% for state in distinctOrderStates %}
                      <span class="label label-info">{{ state }}</span>
                    {% endfor %}
                </p>
                <p><b>{{ 'Other order count' | trans }}:</b> ({{ order.totalOrderCount }})</p>
            </div>
            <div class="col-xs-12 col-md-4">
                {{ render(controller('/sales/comment/list', {'request': app.request})) }}
                {{ add_comments | raw }}
            </div>
        </div>

    {% endblock %}

{% endembed %}
