{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Overview' } %}

    {% block widget_content %}
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p><b>{{ 'Order Reference' | trans }}:</b> {{ order.orderReference }}</p>
                <p><b>{{ 'Order date' | trans }}:</b> {{ order.createdAt | formatDateTime }}</p>
                <p><b>{{ 'Grand total' | trans }}:</b> {{ order.totals.grandTotal | money(true, order.currencyIsoCode) }}</p>
                <p><b>{{ 'Discount' | trans }}:</b> {{ order.totals.discountTotal | money(true, order.currencyIsoCode) }}</p>
                <p><b>{{ 'Unique Product Quantity' | trans }}:</b> {{ order.uniqueProductQuantity }}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p><b>{{ 'Status' | trans }}:</b>
                    {% for state in distinctOrderStates %}
                      <span class="label label-info">{{ state }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>

    {% endblock %}

{% endembed %}
