
{% for productOption in orderItem.productOptions %}
    <tr class="addition-row">
        <td></td>
        <td>+ <span class="label">{{ 'Option' | trans }}</span></td>
        <td><div> {{ productOption.value }}</div> <div class="sku">{{ 'Sku' | trans }}: {{ productOption.sku }}</div></td>
        <td>

            <div>
            <span {% if (productOption.unitDiscountAmountFullAggregation | default(0) > 0) %} class="discounted" {% endif %}>
              {{ productOption.unitPrice | default(0) | money }}</span>
              {% if (productOption.unitDiscountAmountFullAggregation | default(0) > 0) %}
                  <span>({{ (productOption.unitPrice - productOption.unitDiscountAmountFullAggregation) | money }})</span>
              {% endif %}
            </div>
            <div style="clear: both">incl. {{ orderItem.taxRate|default(0) }} % tax </div>
        </td>
        <td colspan="4"></td>
    </tr>
{% endfor %}
