<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Totals' } %}

            {% block widget_content %}

                <table class="footable table table-striped toggle-arrow-tiny">
                    <tbody>
                    {% for orderItem in order.items %}
                        <tr>
                            <th>{{ orderItem.name }}</th>
                            <td class="text-right">{{ orderItem.sumGrossPriceWithProductOptions | currency  }}</td>
                            <td>{{ 'gross price per item' | trans }}</td>
                        </tr>
                        {% for orderItemOption in orderItem.productOptions %}
                            <tr>
                                <td> + {{ orderItemOption.LabelOptionType }}</td>
                                <td class="text-right">{{ orderItemOption.unitGrossPrice | currency  }}</td>
                                <td>{{ 'option price' | trans }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>&nbsp;</th>
                            <td class="text-right">{{ orderItem.Quantity }} x {{ orderItem.unitGrossPriceWithProductOptions | currency  }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>{{ 'Sub total' | trans }}</th>
                        <td class="text-right">{{ order.totals.subtotal | currency }}</td>
                        <td></td>
                    </tr>
                    {% for expense in order.expenses %}
                    <tr>
                        <th>{{ expense.type|lower|replace({'_' : ' '}) }} -  {{ expense.name }}</th>
                        <td class="text-right">{{ expense.unitGrossPriceWithDiscounts | currency  }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <th>{{ 'Discount' | trans }}</th>
                        <td class="text-right">-{{ order.totals.discountTotal | currency }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>{{ 'Grand total' | trans }}</th>
                        <td class="text-right">{{ order.totals.grandTotal|currency }}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            {% endblock %}

        {% endembed %}

    </div>
</div>
