{% extends '@Application/Layout/layout.twig' %}
{% block content %}
    <div class="spy-layout sparse">
        <h3>{{ "Dependency graphs of all core bundles" | trans }}</h3>
        <ul>
            {% for bundle in bundles %}
                <li>
                    <a href="/maintenance/dependency/graph?bundle={{ bundle }}">{{ bundle }}</a> (<a href="/maintenance/dependency/incoming?bundle={{ bundle }}">in</a>/<a href="/maintenance/dependency/outgoing?bundle={{ bundle }}">out</a>)
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
