{% extends '@Application/Layout/layout.twig' %}
{% block content %}
    <div class="spy-layout sparse">
        <h3>{{ "Outgoing dependencies of the" | trans }} {{ bundle }} {{ "bundle" | trans }}</h3>
        <table class="spy-grid">
            <tr class="text-left">
                <th>Dependency</th>
                <th>Count</th>
            </tr>
            {% for count, dependency in dependencies %}
                <tr>
                    <td>{{ count }}</td>
                    <td>{{ dependency }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
