{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    <h5>{{ processName }}</h5>
    <img class="preview-image" src="{{ url('/state-machine/graph/draw', {process: processName, 'state-machine': stateMachineName}) }}" alt="{{ processName }}">
    <div class="zoom-container"></div>
{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-statemachine-main.css">
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/spryker-zed-statemachine-main.js"></script>
{% endblock %}
