{#
@var productAbstractTableConfiguration \Generated\Shared\Transfer\GuiTableConfigurationTransfer
#}

{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headSubTitle %}
    {{- 'Products' | trans -}}
{% endblock %}

{% block content %}
    {% set actionConfig = '{
        "type": "drawer",
        "component": "ajax-form",
        "options": {
            "inputs": {
                "action": "' ~ url(urlCreateProductAbstract) ~ '"
            }
        }
    }' %}

    <web-mp-product-list
        cloak
        table-id="{{ idTableProductList }}"
        table-config='{{ guiTableConfiguration(productAbstractTableConfiguration) }}'>
        <h1 title>{{ 'Products' | trans }}</h1>
        <web-spy-button-action
            button-action
            type="button"
            size="lg"
            variant="primary"
            action="{{ actionConfig }}">
            {{ 'Create Product' | trans }}
        </web-spy-button-action>
    </web-mp-product-list>
{% endblock %}
