{#
@var productAbstractTableConfiguration \Generated\Shared\Transfer\GuiTableConfigurationTransfer
#}

{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headTitle %}
    {{ 'Products' | trans }}
{% endblock %}

{% block content %}
    {% set actionConfig = '{
        "type": "drawer",
        "component": "ajax-form",
        "options": {
            "inputs": {
                "action": "' ~ url(urlCreateProductAbstract) ~ '"
            }
        }
    }' %}

    <web-mp-product-list
        cloak
        table-id="web-mp-product-list"
        table-config='{{ guiTableConfiguration(productAbstractTableConfiguration) }}'>
        <span title>{{ 'Products' | trans }}</span>
        <web-spy-button-action
            button-action
            type="button"
            size="lg"
            variant="primary"
            action="{{ actionConfig }}">
            {{ 'Create Product' | trans }}
        </web-spy-button-action>
    </web-mp-product-list>
{% endblock %}

{% block footerJs %}
    {{ view.importJsBundle('product-merchant-portal-gui', importConfig) }}
    {{ parent() }}
{% endblock %}
