{% block meta %}
    <meta charset="utf-8">
{% endblock %}

{% block headStyles %}
    <style type="text/css">
        .return-slip-title th,
        .return-slip-title td,
        .return-slip-items th,
        .return-slip-items td {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block body %}
    {% set returnItemGroups = [] %}
    {% set currencyIsoCode = (return.returnItems | first).orderItem.currencyIsoCode ?? null %}

    {% for returnItem in return.returnItems %}
        {% set orderReference = returnItem.orderItem.orderReference %}

        {% if returnItemGroups[orderReference] is defined %}
            {% set tempReturnItems = returnItemGroups[orderReference] | merge([returnItem]) %}
            {% set returnItemGroups = returnItemGroups | merge({(orderReference): tempReturnItems}) %}
        {% else %}
            {% set returnItemGroups = returnItemGroups | merge({(orderReference): [returnItem]}) %}
        {% endif %}
    {% endfor %}

    {{ barcode(return.returnReference) }}

    <br><br>

    <table class="return-slip-title">
        <tbody>
        <tr>
            <td>{{ 'Return Ref' | trans }}</td>
            <td>{{ return.returnReference }}</td>
        </tr>
        <tr>
            <td>{{ 'Return Date' | trans }}</td>
            <td>{{ return.createdAt | formatDateTime }}</td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <table class="return-slip-items">
        <thead>
        <tr>
            <th>{{ 'Barcode' | trans }}</th>
            <th>{{ 'Product SKU' | trans }}</th>
            <th>{{ 'Product Name' | trans }}</th>
            <th>{{ 'Default Price' | trans }}</th>
            <th>{{ 'Qty' | trans }}</th>
            <th>{{ 'Total Price' | trans }}</th>
            <th>{{ 'Return Reason' | trans }}</th>
        </tr>
        </thead>

        <tbody>

        {% for orderReference, returnItemGroup in returnItemGroups %}
            <tr>
                <td>{{ 'Order Ref' | trans }}</td>
                <td colspan="6">{{ orderReference }}</td>
            </tr>

            {% include '@SalesReturnGui/ReturnSlip/_partials/return-slip-items.twig' with {
                returnItemGroup: returnItemGroup,
                currencyIsoCode: currencyIsoCode,
            } only %}

            {% include '@SalesReturnGui/ReturnSlip/_partials/return-slip-configured-bundles.twig' with {
                returnItemGroup: returnItemGroup,
                currencyIsoCode: currencyIsoCode,
            } only %}

            {#        Product bundles #}

        {% endfor %}

        </tbody>
    </table>

    <br><br>

    <table class="return-slip-title">
        <tbody>
        <tr>
            <td>{{ 'Items to Return' | trans }}</td>
            <td>{{ return.returnItems | length }}</td>
        </tr>
        <tr>
            <td>{{ 'Remuneration Total' | trans }}</td>
            <td>{{ return.returnTotals.remunerationTotal | money(true, currencyIsoCode) }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block footerScripts %} {% endblock %}
