{% if cmsPage.isActive %}
    {% set actionUrl = url('/cms-gui/edit-page/deactivate', {'id-cms-page': cmsPage.fkPage}) %}
    {% set label = 'Deactivate' %}
    {% set buttonClass = 'btn-remove' %}
    {% set icon = 'fa-trash' %}
{% else %}
    {% set actionUrl = url('/cms-gui/edit-page/activate', {'id-cms-page': cmsPage.fkPage})  %}
    {% set label = 'Activate' %}
    {% set buttonClass = 'btn-view' %}
    {% set icon = 'fa-caret-right' %}
{% endif %}
{{ form_start(toggleActiveForm, {
    'action': actionUrl,
    'attr': {'class': 'form-inline'}
}) }}
    <input type="hidden" name="redirect-url" value="{{ redirectUrl }}">
    <button type="submit" class="btn btn-sm btn-outline safe-submit {{ buttonClass }}">
        <i class="fa {{ icon }}"></i> {{ label | trans -}}
    </button>
{{ form_end(toggleActiveForm) }}
