{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Offer Overview' } %}
    {% set quote = offer.quote %}

    {% block widget_content %}
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p><b>{{ 'Offer state' | trans }}:</b> {{ offer.state }}</p>
                <p><b>{{ 'Offer date' | trans }}:</b> {{ offer.createdAt | formatDateTime }}</p>
                <p><b>{{ 'Grand total' | trans }}:</b> {{ quote.totals.grandTotal | money(true, quote.currency.code) }}</p>
                <p><b>{{ 'Discount' | trans }}:</b> {{ quote.totals.discountTotal | money(true, quote.currency.code) }}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                {% if offer.customerReference %}
                    <p><b>{{ 'Customer Reference' | trans }}:</b>
                      {{ offer.customerReference }}
                    </p>
                {% endif %}
                <p><b>{{ 'Customer name' | trans }}:</b>
                    {% if offer.customerReference %}
                        <a href="{{ url('/customer/view', {'id-customer': offer.customer.idCustomer}) }}" target="_blank">{{ offer.customer.salutation }} {{ offer.customer.firstName }} {{ offer.customer.lastName }}</a>
                    {% else %}
                        {{ 'No customer reference' | trans }}
                    {% endif %}
                </p>
              {% if offer.customer is not null and offer.customer.dateOfBirth %}
                  <p><b>{{ 'Date of Birth' | trans }}:</b>
                    {{ offer.customer.dateOfBirth | formatDate }}
                  </p>
              {% endif %}
                <p><b>{{ 'Email' | trans }}:</b> {{ offer.customer.email }}</p>
            </div>
        </div>

    {% endblock %}

{% endembed %}
