
{% set numberOfItemAdditions = orderItem.productOptions | length + 1  %}
{% set subtotal = orderItem.unitSubtotalAggregation %}
{% set priceToPay = orderItem.unitPriceToPayAggregation %}

<td>
    <div>
        <a target="_blank" href="{{ url('/product-management/view', {'id-product-abstract': orderItem.idProductAbstract}) }}">
          {{ orderItem.name }}
        </a>
    </div>
    <div class="sku">
      {{ 'Sku' | trans }}: {{ orderItem.Sku }}
    </div>

</td>
<td>
    {{ orderItem.quantity }}
</td>
<td>
    <div>
      {% embed '@OfferGui/View/_details/discounted-price.twig' with {subtotal: orderItem.unitPrice, priceToPay: orderItem.unitPrice - orderItem.unitDiscountAmountFullAggregation | default(0)} %} {% endembed %}
    </div>
    <div class="tax-info">incl. {{ orderItem.taxRate|default(0) }} % tax </div>
</td>

{% if displayTotals %}
    <td data-qa="item-total-amount" data-qa-raw="{{ priceToPay }}">
      {% embed '@OfferGui/View/_details/discounted-price.twig' with {subtotal: subtotal, priceToPay: priceToPay} %} {% endembed %}
    </td>
{% else %}
{% endif %}
