{% set quote = offer.quote %}

<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Totals' } %}

            {% block widget_content %}

                <table class="footable table toggle-arrow-tiny" data-qa="totals-list">
                    <tbody>
                    {% for orderItem in quote.items if orderItem.relatedBundleItemIdentifier is empty %}
                        <tr>
                            <th>{{ orderItem.name }}</th>
                            <th></th>
                            <td class="text-right">{{ orderItem.unitPrice | money(true, quote.currency.code)  }}</td>
                            <th></th>
                        </tr>
                        {% for orderItemOption in orderItem.productOptions %}
                            <tr>
                                <td> + <span class="label">{{ 'Option' | trans }}</span> {{ orderItemOption.value }}</td>
                                <td></td>
                                {# TODO: originally here was displayed orderItemOption.unitPrice, but it seems it is not recalculated properly. Probably need to fix. #}
                                <td class="text-right">{{ orderItemOption.unitGrossPrice | money(true, quote.currency.code) }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% if offer.bundleItems is defined %}
                        {% for orderItem in offer.bundleItems %}
                            <tr>
                                <th>{{ orderItem.name }}</th>
                                <th></th>
                                <td class="text-right">{{ orderItem.unitPrice | money(true, offer.currencyIsoCode)  }}</td>
                                <th></th>
                            </tr>
                            {% for bundledItem in offer.items if bundledItem.relatedBundleItemIdentifier == orderItem.bundleItemIdentifier %}
                                <tr>
                                    <th></th>
                                    <th>{{ bundledItem.name }}</th>
                                    <td class="text-right">{{ bundledItem.unitPrice | money(true, offer.currencyIsoCode)  }}</td>
                                    <td></td>
                                </tr>
                                {% for orderItemOption in bundledItem.productOptions %}
                                    <tr>
                                        <td></td>
                                        <td> + {{ orderItemOption.value }}</td>
                                        <td class="text-right">{{ orderItemOption.unitPrice | money(true, offer.currencyIsoCode)  }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <tr class="subtotal-row">
                        <td><strong>{{ 'Sub total' | trans }}</strong></td>
                        <td></td>
                        <td class="text-right"><strong>{{ quote.totals.subtotal | money(true, quote.currency.code) }}</strong></td>
                        <td></td>
                    </tr>
                    {% for expense in quote.expenses %}
                        <tr>
                            <td>{{ 'Shipment' | trans }} -  {{ expense.name }}</td>
                            <td></td>
                            <td class="text-right">{{ expense.unitPrice | money(true, quote.currency.code)  }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td>{{ 'Discount' | trans }}</td>
                        <td></td>
                        <td class="text-right">-{{ quote.totals.discountTotal | default(0) | money(true, quote.currency.code) }}</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>{{ 'Canceled amount' | trans }}</td>
                        <td></td>
                        <td class="text-right" data-qa="grand-total" data-qa-grand-total-raw="{{ quote.totals.canceledTotal }}">-{{ quote.totals.canceledTotal | default(0) | money(true, quote.currency.code) }}</td>
                        <td></td>
                    </tr>

                    <tr class="grandTotal-row">
                        <td>
                            <strong>{{ 'GRAND TOTAL' | trans }}</strong> <br />
                            {{ 'Included tax amount' | trans }}
                        </td>
                        <td></td>
                        <td class="text-right" data-qa="grand-total" data-qa-grand-total-raw="{{ quote.totals.grandTotal }}">
                            <strong>{{ quote.totals.grandTotal | money(true, quote.currency.code) }}</strong> <br />
                            {{ quote.totals.taxTotal.amount | money(true, quote.currency.code) }}
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            {% endblock %}

        {% endembed %}

    </div>
</div>
