{% extends '@Gui/Layout/layout.twig' %}

{% block section_title title | trans %}

{% block action %}
    {{ backActionButton(url(redirectUrl), 'Back to the product\'s scheduled prices' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Scheduled price information' | trans } %}
        {% block widget_content %}
            {{ form_start(form, {'method': 'POST', 'attr': {'id': 'price_product_schedule_form'}}) }}
            {{ form_errors(form) }}
            {{ form_row(form.priceProduct) }}

            {{ form_label(form.activeFrom) }}
            <br>
            {{ form_widget(form.activeFrom) }}
            <span id="active_from_timezone" >{{ timezoneText | raw }}</span>
            {{ form_errors(form.activeFrom) }}
            <br><br>

            {{ form_label(form.activeTo) }}
            <br>
            {{ form_widget(form.activeTo) }}
            <span id="active_to_timezone">{{ timezoneText | raw }}</span>
            {{ form_errors(form.activeTo) }}
            <br><br>
            {{ form_row(form.submit) }}


            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-price-product-schedule-gui-main.js"></script>
{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-price-product-schedule-gui-main.css"/>
{% endblock %}
