{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'View customer group' %}

{% block head_title widget_title | trans %}
{% block section_title widget_title | trans %}

{% block action %}
    {{ backActionButton('/customer-group', 'List Customer Groups' | trans) }}
    {{ editActionButton('/customer-group/edit?id-customer-group=' ~ idCustomerGroup, 'Edit Customer Group' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

    <div>
        <h1>{{ customerGroup.name }}</h1>

        <table class="table">
            <thead></thead>
            <tbody>
            <tr>
                <th>{{ 'Description' | trans }}</th>
                <td>{{ customerGroup.description }}</td>
            </tr>
            </tbody>
        </table>

        {{ customerTable | raw }}
    </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
