{% if quoteTransfer.payment.paymentMethod == 'INVOICE' %}
    {% set ratepayPaymentTransfer = quoteTransfer.payment.ratepayInvoice %}
{% elseif quoteTransfer.payment.paymentMethod == 'ELV' %}
    {% set ratepayPaymentTransfer = quoteTransfer.payment.ratepayElv %}
    <tr>
        <td>{{ 'payment.ratepay.bank_account' | trans }}:</td>
        <td>
            <div>{{ 'payment.ratepay.bank_account.holder' | trans }} - {{ ratepayPaymentTransfer.bankAccountHolder }}</div>
            <div>{{ 'payment.ratepay.bank_account.iban' | trans }} - {{ ratepayPaymentTransfer.bankAccountIban }}</div>
            <div>{{ 'payment.ratepay.bank_account.bic' | trans }} - {{ ratepayPaymentTransfer.bankAccountBic }}</div>
        </td>
    </tr>
{% elseif quoteTransfer.payment.paymentMethod == 'PREPAYMENT' %}
    {% set ratepayPaymentTransfer = quoteTransfer.payment.ratepayPrepayment %}
{% elseif quoteTransfer.payment.paymentMethod == 'INSTALLMENT' %}
    {% set ratepayPaymentTransfer = quoteTransfer.payment.ratepayInstallment %}
    <tr>
        <td>{{ 'summary.ratepay.installment.plan_details' | trans }}:</td>
        <td>
            <div>{{ 'summary.ratepay.installment.type' | trans }} - {{ ratepayPaymentTransfer.installmentCalculationType }}</div>
            <div>{{ 'summary.ratepay.installment.rates_number' | trans }} - {{ ratepayPaymentTransfer.installmentNumberRates|number_format }}</div>
            <hr/>
            <div>{{ 'summary.ratepay.installment.amount_per_month' | trans }} - {{ ratepayPaymentTransfer.installmentRate|price }}</div>
            <div>{{ 'summary.ratepay.installment.last_month_amount' | trans }} - {{ ratepayPaymentTransfer.installmentLastRate|price }}</div>
            <div>{{ 'summary.ratepay.installment.annual_percentage_rate' | trans }} - {{ ratepayPaymentTransfer.installmentAnnualPercentageRate|number_format(2, ',') }} &#37;</div>
            <hr/>
            <div>{{ 'summary.ratepay.installment.service_charge' | trans }} - {{ ratepayPaymentTransfer.installmentServiceCharge|price }}</div>
            <div>{{ 'summary.ratepay.installment.interest_amount' | trans }}- {{ ratepayPaymentTransfer.installmentInterestAmount|price }}</div>
            <hr/>
            <div>{{ 'summary.ratepay.installment.order_grand_total' | trans }} - {{ quoteTransfer.getTotals.getGrandTotal|price }}</div>
            <div>{{ 'summary.ratepay.installment.plan_grand_total' | trans }}  - {{ ratepayPaymentTransfer.installmentGrandTotalAmount|price }}</div>
        </td>
    </tr>
{% endif %}
{% if ratepayPaymentTransfer is defined %}
    {% block javascripts %}
        <script language="JavaScript">
            var di = {t:'{{ ratepayPaymentTransfer.deviceFingerprint }}',v:'{{ ratepayPaymentTransfer.deviceIdentSId }}',l:'Checkout'}; </script>
        <script type="text/javascript" src="//d.ratepay.com/{{ ratepayPaymentTransfer.deviceIdentSId }}/di.js"></script> <noscript><link rel="stylesheet" type="text/css" href="//d.ratepay.com/di.css?t={{ ratepayPaymentTransfer.deviceFingerprint }}&v={{ ratepayPaymentTransfer.deviceIdentSId }}&l=Checkout"></noscript>
        <object type="application/x-shockwave-flash" data="//d.ratepay.com/{{ ratepayPaymentTransfer.deviceIdentSId }}/c.swf" width="0" height="0">
        <param name="movie" value="//d.ratepay.com/{{ ratepayPaymentTransfer.deviceIdentSId }}/c.swf" />
        <param name="flashvars" value="t={{ ratepayPaymentTransfer.deviceFingerprint }}&v={{ ratepayPaymentTransfer.deviceIdentSId }}"/><param name="AllowScriptAccess" value="always"/>
        </object>
    {% endblock %}
{% endif %}
