{% extends '@Application/layout.twig' %}
{% block content %}

<table class="table table-xs table-striped table-bordered table-nested bundle-product-items-table hidden">
    <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Variety'|trans }}</th>
            <th>{{ 'SKU'|trans }}</th>
            <th>{{ 'Gross Price'|trans }}</th>
            <th>{{ 'Tax (%)'|trans }}</th>
         </tr>
    </thead>
    <tbody>
        {% for bundleItem in bundleItems %}
            <tr>
                <td>{{ bundleItem.name }}</td>
                <td>{{ bundleItem.variety }}</td>
                <td>{{ bundleItem.sku }}</td>
                <td class="currency">{{ bundleItem.grossPrice|formatPrice }}</td>
                <td>{{ bundleItem.taxPercentage }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
