{% extends '@Application/layout.twig' %}
{% block content %}

<table class="table table-striped table-bordered table-xs">
  <tbody>
    <tr class="row-m">
        <th>{{ 'Order Type'|trans }}:
        <td>{{ order.getIsTest ? __('TEST') : __('REAL') }}
    <tr class="row-m">
        <th>{{ 'Created'|trans }}:
        <td>{{ order.createdAt }}
    <tr class="row-m">
        <th>{{ 'Used Coupons'|trans }}:
        <td>
            {% set codes = [] %}
            {% for codeUsage in order.codeUsages %}
                {% set codes[] = codeUsage.code.code %}
{% endfor %}
            {{ implode(',', codes) }}

    <tr class="toggleable">
        <th>{{ 'Order Number'|trans }}:
        <td>{{ order.incrementId }}
    <tr class="toggleable">
        <th>{{ 'Order ID'|trans }}:
        <td>{{ order.primaryKey }}
</table>
{% endblock %}
