{% extends '@Application/layout.twig' %}
{% block content %}

<h4 class="sub-header">{{ 'Order Trigger - (All Items)'|trans }}</h4>
{% if orderEvents|length > 0 %}
    {% for event in orderEvents %}
        <a href="/sales/order-details/fire-event-order?id_sales_order={{ order.primaryKey }}&event={{ event }}" class="btn btn-default btn-small action-statemachine">
            <i class="icon-cogs"></i> {{ event }}</a>
    {% endfor %}
{% else %}
    {{ 'No order based actions available'|trans }}
{% endif %}
{% endblock %}
