{% extends '@Application/layout.twig' %}
{% block content %}

<style>
    #totals-table td {
        text-align: right;
    }
</style>
<table id="totals-table" class="table table-striped table-bordered table-s">
    <tbody>
    <tr>
        <th>{{ 'Sub Total'|trans }}
            <td>{{ totals.subtotalWithoutItemExpenses|formatPrice }}
                {% for expenseItem in totals.expenses.expenseItems %}
    <tr>
        <th>+ {{ expenseItem.name|trans }}
            <td>{{ expenseItem.grossPrice|formatPrice }}
                {% endfor %}
    <tr>
        <th>{{ 'Sum'|trans }}
            <td>{{ totalsgrandTotalWithoutDiscounts|trans }}
                {% for discountItem in totals.discount.discountItems %}
    <tr>
        <th>- {{ discountItem.name|trans }} (Code(s): {{ discountItem.codes|join(', ') }})
            <td>{{ discountItem.amount|trans }}
                {% endfor %}
    <tr class="success row-l">
        <th>{{ 'Grand Total'|trans }}
            <td>{{ totals.grandTotal|trans }}
    <tr>
        <th>{{ 'Incl. Tax Total'|trans }}
            <td>{{ tax.totalAmount|trans }}
                {% for taxItem in totals.tax.taxRates %}
    <tr>
        <th>&rarr; {{ 'Incl. Tax ' ~ taxItem.percentage ~ '%'|trans }}
        <td>{{ taxItem.amount|trans }}
            {% endfor %}
</table>
{% endblock %}
