{% extends '@Gui/layout/layout.twig' %}

{% set widget_title = 'Overview of Merchant relation' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ createActionButton('/merchant-relationship-gui/create-merchant-relationship', 'Add Merchant relation' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of Merchant relation' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            <div class="row">
            <div class="form-group col-sm-4">
                <label class="control-label">{{  'Company' | trans}}</label>
                <select id="company-select" class="form-control">
                    <option value="">{{ 'Select Company' | trans}}</option>
                    {%  for company in companies  %}
                        <option value="{{ company.idCompany }}" {{ (company.idCompany == selectedCompany) ? 'selected' : '' }} >{{ company.name }}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
            {{ merchantRelationships | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-merchant-relationship-main.js"></script>
{% endblock %}
