{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headTitle %}
    {{ 'Orders' | trans }}
{% endblock %}

{% block content %}
    <web-mp-sales-orders
        cloak
        table-id="web-mp-sales-orders"
        table-config='{{ guiTableConfiguration(merchantOrderTableConfiguration) }}'>
        <span title>{{ 'Orders' | trans }}</span>
    </web-mp-sales-orders>
{% endblock %}

{% block footerJs %}
    {{ view.importJsBundle('sales-merchant-portal-gui', importConfig) }}
    {{ parent() }}
{% endblock %}
