{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'View relations' %}

{% block section_title widget_title | trans %}
{% block head_title widget_title | trans %}

{% block action %}
    {% set redirectUrl = url('/product-relation/view/index', {'id-product-relation' : productRelation.idProductRelation}) %}
    {{ include ('@ProductRelation/_partial/activate-button.twig', { 'idProductRelation': productRelation.idProductRelation, 'isActive': productRelation.isActive}) }}

    {{ editActionButton(url('/product-relation/edit/index', { 'id-product-relation': productRelation.idProductRelation }), 'Edit' | trans) }}
    {{ backActionButton('/product-relation/list/index', 'List Product relations' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'General information' }  %}
        {% block widget_content %}
            <p>
                <strong>{{ 'Is active:' | trans }}</strong> {{ (productRelation.isActive ? 'yes' : 'no') | trans }}
            </p>

            <p>
                <strong>{{ 'Relation type:' | trans }}</strong> {{ productRelation.productRelationType.key | trans }}
            </p>

            {% for imageSet in product.imageSets %}
                {% if imageSet.locale.idLocale == locale.idLocale and imageSet.productImages|length > 0 %}
                    <p>
                        <img height="200" src="{{ imageSet.productImages[0].externalUrlSmall }}" />
                    </p>
                {% endif %}
            {% endfor %}

            <p>
                <strong>{{ 'Sku:' | trans }}</strong> {{ product.sku }}
            </p>

            {% for localizedAttributes in product.localizedAttributes %}
                {% if localizedAttributes.locale.idLocale == locale.idLocale %}
                    <p>
                        <strong>{{ 'Abstract product name:' | trans }}</strong> {{ localizedAttributes.name }}
                    </p>
                {% endif %}
            {% endfor %}

        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Related products' } %}
        {% block widget_content %}
             {{ productTable | raw }}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block footer_js %}
    {{ parent() }}
{% endblock %}
