{# @var analyticsEmbedUrlResponse \Generated\Shared\Transfer\AnalyticsEmbedUrlResponseTransfer #}

{% extends '@Gui/Layout/layout.twig' %}

{% block section_title %}
    {{ 'Analytics' | trans }}
{% endblock %}

{% block action %}
    {% for analyticsAction in analyticsCollection.analyticsActions %}
        {{ analyticsAction.content | raw }}
    {% endfor %}
{% endblock %}

{% block content %}
    {% if analyticsCollection.analyticsList | length %}
        {% for analytics in analyticsCollection.analyticsList %}
            {{ analytics.content | raw }}
        {% endfor %}
    {% else %}
        <div class="analytics">
            <div class="analytics__icon"><i class="fa fa-chart-bar"></i></div>

            <div class="analytics__content">
                <h3 class="analytics__heading">{{ 'Spryker Analytics is not activated yet' | trans }}</h3>
                <p>{{ 'Please contact your customer success manager to learn how to activate Spryker Analytics in your project.' | trans }}</p>
            </div>

            <div class="analytics__button">
                <a href="https://now.spryker.com/contact-analytics" target="_blank" class="btn btn-default">{{ 'Contact now' | trans }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
