{% extends '@ZedUi/Layout/merchant-layout-centered.twig' %}

{% block headTitle %}
    {{ 'Merchant Portal' | trans }}
{% endblock %}

{% block content %}
    <mp-login cloak>
        {% include '@ZedUi/Partials/FlashMessages/flash-messages.twig' %}

        {% for error in form.vars.errors %}
            <spy-notification type="error">
               <span title>{{ error.message | trans }}</span>
            </spy-notification>
        {% endfor %}

        <form action="{{ form.vars.action }}" name="{{ form.vars.name }}" method="{{ form.vars.method }}" novalidate>
            {% for formField in form.children if formField.vars.block_prefixes[1] != 'hidden' %}
                <spy-form-item for="{{ formField.vars.id }}" error="{{ formField.vars.errors[0].message | default | trans }}">
                    {{ formField.vars.label | trans }}
                    <spy-input
                        control
                        spy-id="{{ formField.vars.id }}"
                        attrs=""
                        required="{{ formField.vars.required | boolToStr }}"
                        name="{{ formField.vars.full_name }}"
                        value="{{ formField.vars.value }}"
                        type="{{ formField.vars.block_prefixes[2] }}"
                        placeholder="{{ formField.vars.attr.placeholder | default | trans }}"
                        cloak
                    ></spy-input>
                </spy-form-item>
            {% endfor %}

            <input type="hidden" name="{{ form.children._token.vars.full_name }}" value="{{ form.children._token.vars.value }}">

            <spy-button class="login__submit" type="submit" cloak>{{ 'Login' | trans }}</spy-button>
        </form>
    </mp-login>
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp/spy/authentication-merchant-portal-gui-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp/spy/authentication-merchant-portal-gui-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
