
{% extends '@Gui/Layout/layout.twig' %}

{% block section_title 'Create Tax Set' | trans %}

{% block action %}
    {{ backActionButton(url('/tax/set/list'), 'Back to Tax Sets' | trans) }}

{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Tax set details' | trans } %}

        {% block widget_content %}
            {{ form_start(form) }}

            {{ form_row(form.name) }}

            {{ form_label(form.taxRates) }}
            <div class="country-select-box">
                {{ form_errors(form.taxRates) }}
                {{ form_widget(form.taxRates) }}
            </div>

            <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Save' | trans }}" />
            {{ form_end(form) }}
        {% endblock %}

    {% endembed %}
{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-tax-main.css') }}">
{% endblock %}

