
{% extends '@Gui/Layout/layout.twig' %}

{% block section_title 'View Tax Set:' | trans ~ ' ' ~ taxSet.idTaxSet %}

{% block action %}
    {{ editActionButton(url('/tax/set/edit', {'id-tax-set': taxSet.idTaxSet}), 'Edit' | trans) }}
    {{ removeActionButton(url('/tax/delete-set', {'id-tax-set': taxSet.idTaxSet}), 'Delete' | trans) }}
    {{ backActionButton('/tax/set/list', 'Back to Tax Sets' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Tax set details' | trans } %}

        {% block widget_content %}
            <table class="table">
                <tr>
                    <td>{{ 'Name' | trans }}</td>
                    <td>{{ taxSet.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'Tax set ID' | trans }}</td>
                    <td>{{ taxSet.idTaxSet }}</td>
                </tr>
                <tr>
                    <td>{{ 'Tax rates' | trans }}</td>
                    <td>
                        <strong>
                        {% for tax in taxSet.taxRates %}
                             {% if tax.country %}
                                 {{ tax.country.name }}
                             {% else %}
                                 {{ 'N/A' | trans }}
                             {% endif %}
                               - {{ tax.rate }} % <br />
                        {% endfor %}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Created at' | trans }}</td>
                    <td>{{ taxSet.createdAt | formatDateTime }}</td>
                </tr>
                <tr>
                    <td>{{ 'Updated at' | trans }}</td>
                    <td>{{ taxSet.updatedAt | formatDateTime }}</td>
                </tr>
            </table>
        {% endblock %}

    {% endembed %}

{% endblock %}
