{% set numberOfItemAdditions = orderItem.productOptions | length + 1  %}
{% set subtotal = group ? bundleItem.unitSubtotalAggregation : orderItem.unitSubtotalAggregation %}
{% set priceToPay = group ? bundleItem.unitPriceToPayAggregation : orderItem.unitPriceToPayAggregation %}
{% set image = image %}

<td class="item-checker"><input type="checkbox" name="order-item" value="{{ orderItem.idSalesOrderItem }}" class="item-check" /></td>
{% if displayImage %}
    <td {% if group %}rowspan="{{ itemCount }}" {% endif %}>
        <img class="product-image" src="{{ image }}" width="150px"/>
    </td>
{% endif %}
<td>
    <div>
        <a target="_blank"
           href="{{ url('/product-management/view', {'id-product-abstract': orderItem.idProductAbstract}) }}"
        >
            {{ orderItem.name }}
        </a>
    </div>
    <div class="sku">
        {{ 'Sku' | trans }}: {{ orderItem.Sku }}
    </div>

    {% if orderItem.metadata.superAttributes is not null and orderItem.metadata.superAttributes | length > 0 %}
        <div class="variant-details">
            <h3>{{ 'Variant Details' | trans }}</h3>
            {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(0,2) %}
                <div>{{ attributeName }}: {{ attributeValue }}</div>
            {% endfor %}

            {% if orderItem.metadata.superAttributes | length > 2 %}
                <div id="attribute_details_{{ orderItem.IdSalesOrderItem }}" class="hidden">
                    {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(2) %}
                        <div>{{ attributeName }}: {{ attributeValue }}</div>
                    {% endfor %}
                </div>

                <a id="attribute-details-btn-{{ orderItem.IdSalesOrderItem }}"
                   class="btn btn-sm more-attributes is-hidden"
                   data-id="{{ orderItem.IdSalesOrderItem }}"
                >
                    <span class="show-more">{{ 'Show more' | trans }}</span>
                    <span class="show-less">{{ 'Show less' | trans }}</span>
                </a>
            {% endif %}
        </div>
    {% endif %}
</td>
<td>
    <div>
        {% embed '@SalesReclamationGui/partials/items/discounted-price.twig' with {
            subtotal: orderItem.unitPrice,
            priceToPay: orderItem.unitPrice - orderItem.unitDiscountAmountFullAggregation | default(0)
        } %} {% endembed %}
    </div>
    <div class="tax-info">incl. {{ orderItem.taxRate|default(0) }} % tax </div>
</td>

{% if displayTotals %}
    <td {% if group %}rowspan="{{ rowCount }}"{% endif %} data-qa="item-total-amount" data-qa-raw="{{ priceToPay }}">
        {% embed '@SalesReclamationGui/partials/items/discounted-price.twig' with {
            subtotal: subtotal,
            priceToPay: priceToPay
        } %} {% endembed %}
    </td>
{% endif %}
<td rowspan="{{ numberOfItemAdditions }}" class="state-history">
    <div>
        <a href="{{ url('/oms/index/draw', {'process': orderItem.process, 'state': orderItem.state.name}) }}" target="_blank">{{ (orderItem.stateHistory | first).name }}</a> ({{ orderItem.process }})
    </div>
    {% if orderItem.stateHistory | length > 1 %}
        <div id="history_details_{{ orderItem.idSalesOrderItem }}" class="hidden">
            {% for stateHistory in orderItem.stateHistory | slice(1) %}
                <div>{{ stateHistory.name }} ({{ stateHistory.createdAt | formatDateTime }})</div>
            {% endfor %}
        </div>

        <a id="history-btn-{{ orderItem.idSalesOrderItem }}" class="btn btn-sm more-history is-hidden" data-id="{{ orderItem.IdSalesOrderItem }}"><span class="show-more">{{ 'Show history' | trans }}</span><span class="show-less">{{ 'Hide history' | trans }}</span></a>
    {% endif %}
</td>
<td>
    {% include [
        '@Oms/RenderForm/_partial/order-item-actions.twig',
        '@SalesReclamationGui/Detail/_partial/reclamation-item-actions.twig',
    ] ignore missing  with {
        idSalesOrderItem: orderItem.idSalesOrderItem,
        redirectUrl: changeStatusRedirectUrl,
        eventsGroupedByItem: eventsGroupedByItem[orderItem.idSalesOrderItem],
    } only %}
</td>
