<table
    border="0"
    class="table table-stripped table-bordered table-hover {{ config.class | default('gui-table-data') }}"
    data-ajax="/{{ app.request.get('module') }}/{{ app.request.get('controller') }}/{{ config.url }}"
    data-processing="true"
    data-server-side="true"
    data-state-save="true"
    id="{{ config.tableId }}"
    {% if config.pageLength is defined %}
        data-page-length="{{ config.pageLength }}"
    {%  endif %}
    data-columns='[
    {% for id, value in config.header %}
        {% if id in config.sortable %}
        { "orderable": true }
        {% else %}
        null
        {%  endif %}
        {% if not loop.last %},{% endif %}
    {% endfor %}]'
    data-column-defs='[{"targets": "_all", "orderable": false }]'
    >
    {% include '@Gui/Table/thead.twig' %}
    {% include '@Gui/Table/tfoot.twig' %}
</table>
