{% for shipmentOrderItems in groupedOrderItemsByShipment %}
    <div class="row">
        <div class="col-sm-9">
            <h3>{{ 'Shipment' | trans }} {{ loop.index }} {{ 'of' | trans }} {{ loop.length }}</h3>
        </div>
        <div class="col-sm-3 text-right">
            {% block edit_shipment_link %}{% include '@ShipmentGui/Edit/_partials/edit-shipment-link.twig' %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p><b>{{ 'Delivery Address' | trans }}:</b>
                {{ shipmentOrderItems.shipment.shippingAddress.salutation }}
                {{ shipmentOrderItems.shipment.shippingAddress.firstName }},
                {{ shipmentOrderItems.shipment.shippingAddress.lastName }},
                {{ shipmentOrderItems.shipment.shippingAddress.address1 }},
                {{ shipmentOrderItems.shipment.shippingAddress.address2 }},
                {{ shipmentOrderItems.shipment.shippingAddress.address3 }},
                {{ shipmentOrderItems.shipment.shippingAddress.company }},
                {{ shipmentOrderItems.shipment.shippingAddress.zipCode }},
                {{ shipmentOrderItems.shipment.shippingAddress.city  }},
                {{ shipmentOrderItems.shipment.shippingAddress.country.name}}
            </p>
            <p>
                <b>{{ 'Delivery Method' | trans }}:</b>
                {{ shipmentOrderItems.shipment.carrier.name }}
            </p>
            <p>
                <b>{{ 'Shipping Method' | trans }}:</b>
                {{ shipmentOrderItems.shipment.method.name }}
            </p>
            <p>
                <b>{{ 'Shipping Costs' | trans }}:</b>
                {% for expense in order.expenses if expense.type == 'SHIPMENT_EXPENSE_TYPE' and shipmentOrderItems.shipment.idSalesShipment == expense.shipment.idSalesShipment %}
                    {{ expense.sumPrice | money(true, order.currencyIsoCode) }}
                {% endfor %}
            </p>
            <p>
                <b>{{ 'Request delivery date' | trans }}:</b>
                {{ shipmentOrderItems.shipment.requestedDeliveryDate | default('ASAP') }}
            </p>
        </div>
    </div>

    {% if eventsGroupedByShipment[shipmentOrderItems.shipment.idSalesShipment] is defined %}
        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states of order inside this shipment' } %}
            {% block widget_content %}
                <div class="sales-order-item-group-element" data-group-key="{{ shipmentOrderItems.shipment.idSalesShipment }}">
                    {% include '@Oms/RenderForm/_partial/order-actions.twig' with {
                        redirectUrl: changeStatusRedirectUrl,
                        idSalesOrder: order.idSalesOrder,
                        events: eventsGroupedByShipment[shipmentOrderItems.shipment.idSalesShipment],
                    } only %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% embed '@Sales/Detail/boxes/order-items-table.twig' with {shipmentOrderItems: shipmentOrderItems} %}
        {% block order_item_table_class %}order-group-items-table-{{ shipmentOrderItems.shipment.idSalesShipment }}{% endblock %}
        {% block order_item_table_body %}
            {% if order.salesOrderConfiguredBundles is defined and order.salesOrderConfiguredBundles | length > 0 %}
                {% include '@Sales/Detail/boxes/configured-bundle.twig' with {order: order, items: shipmentOrderItems.items} %}
            {% else %}
                {% include '@Sales/Detail/boxes/configured-bundle-general.twig' with {order: order, items: shipmentOrderItems.items} %}
            {% endif %}

            {% if itemGroups[shipmentOrderItems.hash] is defined and itemGroups[shipmentOrderItems.hash] | length > 0 %}
                {% include '@Sales/Detail/boxes/item-group.twig' with {tableColumnCellsContent: tableColumnCellsContent, groups: itemGroups[shipmentOrderItems.hash]} %}
            {% endif %}

            {% include '@Sales/Detail/boxes/no-group-items.twig' with {items: shipmentOrderItems.items, tableColumnCellsContent: tableColumnCellsContent} %}
        {% endblock %}
    {% endembed %}
{% endfor %}
