<div class="row">
    <div class="col-sm-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Shipment' } %}

            {% block widget_content %}

                <table class="footable table table-striped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>{{ 'Carrier' | trans }}</th>
                            <th>{{ 'Method' | trans }}</th>
                            <th>{{ 'Price' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.shipmentMethod.carrierName }}</td>
                            <td>{{ order.shipmentMethod.name }}</td>
                            <td>
                                {% for expense in order.expenses %}
                                    {% if expense.type == 'SHIPMENT_EXPENSE_TYPE' %}
                                      {{ expense.unitPriceToPayAggregation | money }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>

            {% endblock %}

        {% endembed %}

    </div>
</div>
