<div class="row">
    <div class="col-sm-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Shipment' } %}

            {% block widget_content %}

                {% for shipmentMethod in order.shipmentMethods %}
                <table class="footable table table-striped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>{{ 'Carrier' | trans }}</th>
                            <th>{{ 'Method' | trans }}</th>
                            <th>{{ 'Price' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ shipmentMethod.carrierName }}</td>
                            <td>{{ shipmentMethod.name }}</td>
                            <td>
                                {% for expense in order.expenses %}
                                    {% if expense.type == 'SHIPMENT_EXPENSE_TYPE' and expense.idSalesExpense == shipmentMethod.fkSalesExpense %}
                                      {{ expense.sumPriceToPayAggregation | money(true, order.currencyIsoCode) }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}

            {% endblock %}

        {% endembed %}

    </div>
</div>
