<div class="row">
    <div class="col-sm-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Shipment' } %}

            {% block widget_content %}

                {% for shipmentGroup in shipmentGroups %}
                    {% set sumPriceToPayAggregation = null %}
                    {% for expense in order.expenses %}
                        {% if expense.type == shipmentExpenseType
                            and expense.shipment is not empty
                            and expense.shipment.idSalesShipment == shipmentGroup.shipment.idSalesShipment
                        %}
                            {% set sumPriceToPayAggregation = expense.sumPriceToPayAggregation %}
                        {% endif %}
                    {% endfor %}
                <table class="footable table table-striped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>{{ 'Carrier' | trans }}</th>
                            <th>{{ 'Method' | trans }}</th>
                            <th>{{ 'Price' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ shipmentGroup.shipment.method.carrierName }}</td>
                            <td>{{ shipmentGroup.shipment.method.name }}</td>
                            <td>{% if sumPriceToPayAggregation %}{{ sumPriceToPayAggregation | money(true, currencyIsoCode) }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}

            {% endblock %}

        {% endembed %}

    </div>
</div>
