<div class="row">
    <div class="col-sm-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Shipment' } %}

            {% block widget_content %}

                {% for shipmentGroup in shipmentGroups %}
                <table class="footable table table-striped toggle-arrow-tiny">
                    <thead>
                        <tr>
                            <th>{{ 'Carrier' | trans }}</th>
                            <th>{{ 'Method' | trans }}</th>
                            <th>{{ 'Price' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ shipmentGroup.shipment.method.carrierName }}</td>
                            <td>{{ shipmentGroup.shipment.method.name }}</td>
                            <td>{{ shipmentGroup.shipment.expense.sumPriceToPayAggregation | money(true, currencyIsoCode) }}</td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}

            {% endblock %}

        {% endembed %}

    </div>
</div>
