<div class="payolution-form payolution-installment-form payment-form small-12 medium-9 large-6" id="payolutionInstallment">
    <div class="small-12 columns">
        <label>
            {{ 'payolutionInstallment.date_of_birth' | trans }}*
            {{ form_widget(form.payolutionInstallment.date_of_birth, { 'attr': {'placeholder': 'payolutionInstallment.date_of_birth' | trans } }) }}
        </label>
        {{ form_errors(form.payolutionInstallment.date_of_birth) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payolutionInstallment.bank_account_holder' | trans }}*
            {{ form_widget(form.payolutionInstallment.bank_account_holder, { 'attr': {'placeholder': 'payolutionInstallment.bank_account_holder' | trans } }) }}
        </label>
        {{ form_errors(form.payolutionInstallment.bank_account_holder) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payolutionInstallment.bank_account_iban' | trans }}*
            {{ form_widget(form.payolutionInstallment.bank_account_iban, { 'attr': {'placeholder': 'payolutionInstallment.bank_account_iban' | trans } }) }}
        </label>
        {{ form_errors(form.payolutionInstallment.bank_account_iban) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payolutionInstallment.bank_account_bic' | trans }}*
            {{ form_widget(form.payolutionInstallment.bank_account_bic, { 'attr': {'placeholder': 'payolutionInstallment.bank_account_bic' | trans } }) }}
        </label>
        {{ form_errors(form.payolutionInstallment.bank_account_bic) }}
    </div>

    <div class="small-12 columns">
        <label>
            {{ 'payolutionInstallment.installment_payment_detail_index' | trans }}*
            {{ form_widget(form.payolutionInstallment.installment_payment_detail_index, { 'attr': {'placeholder': 'payolutionInstallment.installment_payment_detail_index' | trans } }) }}
        </label>
        {{ form_errors(form.payolutionInstallment.installment_payment_detail_index) }}
    </div>
</div>
