<div class="well">
    {% filter trans|raw %}
        <h3>{{ 'Add General Information' | trans }}</h3>
        <p>{{ 'Below the name and description for your product can be edited for different locales (in different languages).' | trans }}</p>
        <p><i>{{ 'Note: The SKU prefix, just like the SKUs of your product variants, are not editable after saving anymore.' | trans }}</i></p>
    {% endfilter %}
</div>

{{ form_row(form.sku) }}

{% if form.form_product_concrete_super_attributes is defined %}
    {{ form_row(form.form_product_concrete_super_attributes) }}
{% endif %}

{% for localeTransfer in localeCollection %}
    {% set formKey = 'general_' ~ localeTransfer.localeName %}

    {% if form[formKey] is defined %}

        {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': (not loop.first), 'localeName': localeTransfer.localeName} %}
            {% block content %}
                {% for input in form[formKey] %}
                    <div class="form-group {% if input.vars.errors|length %}has-error{% endif %}">
                        {{ form_label(input) }}
                        {{ form_widget(input, {'attr': {'class': 'name-translation'}}) }}
                        {{ form_errors(input) }}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endfor %}

{{ form_row(form.valid_from) }}
{{ form_row(form.valid_to) }}
{# @uses CompanySupplier #}
{% if form.companySuppliers is defined %}
    {{ form_row(form.companySuppliers) }}
{% endif %}

{% block footer_js %}
    <script src="{{ assetsPath('js/spryker-zed-productmanagement-concrete-add.js') }}"></script>
{% endblock %}
