{{ bundledProductTable | raw }}

<strong>{{ "Bundle availability based on assigned products:" | trans }} </strong>
{% if currentProduct is defined and currentProduct.product_bundle %}
    {% if currentProduct.product_bundle.is_never_out_of_stock %}
         {{ 'Is never out of stock' }}
    {% else %}
        {{ currentProduct.product_bundle.availability }}
    {% endif %}

{% endif %}

<br />

<h4> {{ "Assigned products" | trans }}</h4>

<div class="form-group"
     id="assigned-product-template"
     data-value-count="{{ form.assigned_bundled_products|length  }}"
     data-prototype="
           {% filter escape %}
               {{ include ('@ProductManagement/_partials/assign-bundled-product-template.twig', { 'bundledProductForm': form.assigned_bundled_products.vars.prototype }) }}
           {% endfilter %}">
</div>

<div id="bundled-products">
    {% for bundledProductForm in form.assigned_bundled_products %}
        {{ include ('@ProductManagement/_partials/assign-bundled-product-template.twig', { 'bundledProductForm': bundledProductForm }) }}
    {% endfor %}
</div>

{% do form.assigned_bundled_products.setRendered %}




