{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Product Attributes' | trans %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton(url('/product-attribute-gui/attribute'), 'Back to List' | trans) }}
    {{ editActionButton(url('/product-attribute-gui/attribute/edit', {'id': app.request.query.get('id')}), 'Edit' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'View Attribute' | trans ~ ' #' ~ app.request.query.get('id') } %}
        {% block widget_content %}

            <h4>{{ 'General Information' | trans }}</h4>
            <table class="table">
                <tr>
                    <td style="width: 250px;">{{ 'Attribute key' | trans }}:</td>
                    <td>{{ attributeTransfer.key }}</td>
                </tr>
                <tr>
                    <td>{{ 'Input type' | trans }}:</td>
                    <td>{{ attributeTransfer.inputType }}</td>
                </tr>
                <tr>
                    <td>{{ 'Super attribute' | trans }}:</td>
                    <td>{{ (attributeTransfer.isSuper ? 'yes' : 'no') | trans }}</td>
                </tr>
            </table>

            <hr />

            <h4>{{ 'Predefined values' | trans }}</h4>
            <table class="table">
                <tr>
                    <td style="width: 250px;">{{ 'Values' | trans }}:</td>
                    <td>
                        {% for valueTransfer in attributeTransfer.values %}
                            {{ valueTransfer.value }}
                            {%- if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Allow input any value other than predefined ones' | trans }}:</td>
                    <td>{{ (attributeTransfer.allowInput ? 'yes' : 'no') | trans }}</td>
                </tr>
            </table>
        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Translations' } %}
        {% block widget_content %}
            {% for locale in locales %}
                {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': (not loop.first) } %}
                    {% block content %}
                        <h4>{{ 'Attribute name translation' | trans }}</h4>
                        <table class="table">
                            <tr>
                                <td style="width: 220px;">{{ attributeTransfer.key }}:</td>
                                <td>
                                    {% for localizedAttributeKeyTransfer in attributeTransfer.localizedKeys %}
                                        {% if localizedAttributeKeyTransfer.localeName == locale.localeName %}
                                            {{ localizedAttributeKeyTransfer.keyTranslation }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>

                        {% if attributeTransfer.values|length and attributeTransfer.values[0].localizedValues|length %}
                            <h4>{{ 'Predefined value translations' | trans }}</h4>
                            <table class="table">
                                {% for valueTransfer in attributeTransfer.values %}
                                    <tr>
                                        <td style="width: 220px;">{{ valueTransfer.value }}:</td>
                                        <td>
                                            {% for localizedAttributeValueTransfer in valueTransfer.localizedValues %}
                                                {% if localizedAttributeValueTransfer.fkLocale == locale.idLocale %}
                                                    {{ localizedAttributeValueTransfer.translation }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endfor %}

        {% endblock %}
    {% endembed %}

{% endblock %}
