<div class="dummy-payment-form dummy-payment-credit-card-form payment-form" id="dummyPaymentCreditCard">
    <h3>{{ 'payment.dummy-payment.credit-card' | trans }}</h3>

    <label>{{ 'DummyPayment_credit_card.card_type' | trans }}</label>
    <div class="field">
        {{ form_widget(form.DummyPayment_credit_card.card_type, { 'attr': {'placeholder': 'DummyPayment_credit_card.card_type' | trans } }) }}
        {{ form_errors(form.DummyPayment_credit_card.card_type) }}
    </div>

    <label>{{ 'DummyPayment_credit_card.card_number' | trans }}</label>
    <div class="field">
        {{ form_widget(form.DummyPayment_credit_card.card_number, { 'attr': {'placeholder': 'DummyPayment_credit_card.card_number' | trans } }) }}
        {{ form_errors(form.DummyPayment_credit_card.card_number) }}
    </div>

    <label>{{ 'DummyPayment_credit_card.name_on_card' | trans }}</label>
    <div class="field">
        {{ form_widget(form.DummyPayment_credit_card.name_on_card, { 'attr': {'placeholder': 'DummyPayment_credit_card.name_on_card' | trans } }) }}
        {{ form_errors(form.DummyPayment_credit_card.name_on_card) }}
    </div>

    <label>{{ 'DummyPayment_credit_card.card_expires' | trans }}</label>
    <div class="field">
        {{ form_widget(form.DummyPayment_credit_card.card_expires_month) }}
        {{ form_errors(form.DummyPayment_credit_card.card_expires_month) }}

        {{ form_widget(form.DummyPayment_credit_card.card_expires_year) }}
        {{ form_errors(form.DummyPayment_credit_card.card_expires_year) }}
    </div>

    <label>{{ 'DummyPayment_credit_card.card_security_code' | trans }}</label>
    <div class="field">
        {{ form_widget(form.DummyPayment_credit_card.card_security_code, { 'attr': {'placeholder': 'DummyPayment_credit_card.card_security_code' | trans } }) }}
        {{ form_errors(form.DummyPayment_credit_card.card_security_code) }}
    </div>
</div>
