{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Reset <b>' ~ username ~ '\'s</b> password' %}

{% block head_title widget_title | trans %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}
            <p>Reset <b>{{ username }}'s</b> password</p>

            {{ form_start(resetPasswordForm) }}
            {{ form_widget(resetPasswordForm) }}

            <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />
            {{ form_end(resetPasswordForm) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
