{% extends '@Gui/Layout/layout.twig' %}

{% block action %}
    {{ backActionButton('/discount/cart-rule/', 'List Cart Rules' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Cart Rules' } %}

        {% block widget_content %}

            {{ form_start(form) }}

                {{ form_errors(form) }}

                {{ form_row(form.display_name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.type) }}
                {{ form_row(form.calculator_plugin) }}
                {{ form_row(form.collector_plugin) }}
                {{ form_row(form.valid_from) }}
                {{ form_row(form.valid_to) }}
                {{ form_row(form.is_privileged) }}
                {{ form_row(form.is_active) }}

                <div class="row" id="rules-container">
                {% for rule in form.cart_rules %}
                    <div class="col-md-6">
                        {{ form_row(rule) }}
                    </div>
                {% endfor %}
                </div>
                <p><a href="#" id="add-rules-container">{{ 'Add New Rule' | trans }}</a></p>

                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}"/>
            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script>
        $(function(){

            SprykerAjax.prototype.loadDecisionRulesOptions = function(){
                var elementsCount = $('#rules-container > .col-md-6').length;
                var nextElementIndex = elementsCount + 1;
                this.setUrl('/discount/cart-rule/decision-rule/').setDataType('html').ajaxSubmit({
                    elements: nextElementIndex
                }, 'displayNewDecisionRulesOptions', {
                    elementIndex: nextElementIndex
                });
            };

            SprykerAjaxCallbacks.prototype.displayNewDecisionRulesOptions = function(htmlResponse, options){
                var html = htmlResponse.replace(/decision_rule\[/g, 'cart_rule[cart_rules][rule_' + options.elementIndex + '][');
                $('#rules-container').append(html);
            };

            $('#add-rules-container').click(function(e){
                e.preventDefault();
                var sprykerAjax = new SprykerAjax();
                sprykerAjax.loadDecisionRulesOptions();
            });

        });
    </script>
{% endblock %}
