{% extends '@Gui/Layout/layout.twig' %}

{% block action %}
    {{ backActionButton('/discount/cart-rule/', 'List Cart Rules' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Cart Rules' } %}

        {% block widget_content %}

            {{ form_start(form) }}

                {{ form_errors(form) }}

                {{ form_row(form.display_name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.type) }}
                {{ form_row(form.calculator_plugin) }}
                {#{{ form_row(form.collector_plugin) }}#}

                <div class="row collection-form" id="collector-container">
                    {% for rule in form.collector_plugins %}
                        <div class="col-md-6">
                            <div class="well well-sm">
                                {{ form_row(rule) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
                <div class="load-cart-collector-plugins">
                    <a href="#" id="add-collector-container" class="btn btn-sm btn-primary btn-outline"><i class="hidden fa fa-spinner fa-spin"></i> {{ 'Add Collector Plugin' | trans }}</a>
                </div>

                {{ form_row(form.valid_from) }}
                {{ form_row(form.valid_to) }}
                {{ form_row(form.is_privileged) }}
                {{ form_row(form.is_active) }}

                <div class="row collection-form" id="rules-container">
                {% for rule in form.decision_rules %}
                    <div class="col-md-6">
                        <div class="well well-sm">
                            {{ form_row(rule) }}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="clearfix"></div>
                <div class="load-cart-rules">
                    <a href="#" id="add-rules-container" class="btn btn-sm btn-primary btn-outline"><i class="hidden fa fa-spinner fa-spin"></i> {{ 'Add New Rule' | trans }}</a>
                </div>

                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}"/>
            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
