{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Edit CMS Content Item' | trans %}
{% endif %}

{% block head_title widget_title %}
{% block section_title 'Edit CMS Content Item' | trans ~ ': ' ~ contentName | trans %}

{% block action %}
    {{ backActionButton(backButton, 'Back to Content Items' | trans) }}
{% endblock %}

{% block content %}
    {% block widget_content %}
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(contentForm, {attr: {novalidate: 'novalidate'}}) }}
                    {% if contentForm.vars.css is defined %}
                        {% if contentForm.vars.css is iterable %}
                            {% for cssLink in contentForm.vars.css %}
                                <link rel="stylesheet" href="{{ cssLink }}" />
                            {% endfor %}
                        {% else %}
                            <link rel="stylesheet" href="{{ contentForm.vars.css }}" />
                        {% endif %}
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {{ form_row(contentForm.name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {{ form_row(contentForm.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ tabs(contentTabs, {'contentForm' : contentForm} ) }}
                        </div>
                    </div>
                    {% if contentForm.vars.js is defined %}
                        {% if contentForm.vars.js is iterable %}
                            {% for jsLink in contentForm.vars.js %}
                            <script src="{{ jsLink }}"></script>
                            {% endfor %}
                        {% else %}
                            <script src="{{ contentForm.vars.js }}"></script>
                        {% endif %}
                    {% endif %}
                {{ form_end(contentForm) }}
            </div>
        </div>
        <script src="/assets/js/spryker-zed-content-clear.js"></script>
    {% endblock %}
{% endblock %}
