{% extends '@Gui/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block title_content %}Customer{% endblock %}

{% block content %}

    {% include '@Gui/Partials/Table/header.twig' with { table_title: 'Customers List' } %}

        <table class="footable table table-stripped toggle-arrow-tiny">
            <thead>
            <tr>
                <th spy-grid-head="columns['first_name']" label="Vorname"></th>
                <th spy-grid-head="columns['last_name']" label="Nachname"></th>
                <th spy-grid-head="columns['email']" label="E-Mail"></th>
                <th spy-grid-head="columns['created_at']" label="Signed Up"></th>
            </tr>
            </thead>

            <tbody>
            {% for row in content.rows %}
            <tr>
                <td><a class="cell" href="/customer/profile?id={{ row.id_customer }}">{{ row.first_name ~ ' ' ~ row.last_name }}</a></td>
                <td>{{ row.email }}</td>
                <td>{{ row.created_at }}</td>
            </tr>
            {% endfor %}
            {#<tr ng-if="!rows.length">#}
                {#<td colspan="4">{{ "grid.no.results" | trans }}</td>#}
            {#</tr>#}
            </tbody>

        </table>

    {% include '@Gui/Partials/pagination.twig' with {
        'url': '/sales/',
        'totalPages': content.pages,
        'currentPage': content.page
    } %}

    {% include '@Gui/Partials/Table/footer.twig' %}

{% endblock %}
