{% extends '@Gui/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block title_content %}Customer{% endblock %}

{% block content %}

    {% include '@Gui/Partials/Table/header.twig' with { table_title: 'Customers List' } %}

        <table class="footable table table-stripped toggle-arrow-tiny">
            <thead>
            <tr>
                <th>{{ 'Vorname' | trans }}</th>
                <th>{{ 'Nachname' | trans }}</th>
                <th>{{ 'E-Mail' | trans }}</th>
                <th>{{ 'Signed Up' | trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for row in content.rows %}
            <tr>
                <td><a class="cell" href="/customer/profile?id={{ row.id_customer }}">{{ row.first_name ~ ' ' ~ row.last_name }}</a></td>
                <td>{{ row.email }}</td>
                <td>{{ row.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>

    {% include '@Gui/Partials/pagination.twig' with {
        'url': '/sales/',
        'totalPages': content.pages,
        'currentPage': content.page
    } %}

    {% include '@Gui/Partials/Table/footer.twig' %}

{% endblock %}
