{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'View category' | trans %}
{% endif %}

{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ viewActionButton('/product-category/assign?id-category='~category.idCategory, 'Assign products' | trans) }}
    {{ editActionButton('/category/edit?id-category='~category.idCategory, 'Edit' | trans) }}
    {% include ['@CategoryGui/_partials/back-button.twig', '@Category/_partials/back-button.twig'] %}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            <p>
                <strong>{{ 'Category key:' | trans }}</strong> {{ category.categoryKey }}
            </p>

            <p>
                <strong>{{ 'Active' | trans }}</strong> {{ category.isActive ? 'yes'|trans : 'no'|trans }}
            </p>

            <p>
                <strong>{{ 'Visible in the category tree:' | trans }}</strong> {{ category.isInMenu ? 'yes'|trans : 'no'|trans }}
            </p>

            <p>
                <strong>{{ 'Allow to search for this category:' | trans }}</strong> {{ category.isSearchable ? 'yes'|trans : 'no'|trans }}
            </p>

            <br>
            {% for renderedRelationData in renderedRelations %}
                {% if renderedRelationData.items %}
                    <h3>{{ renderedRelationData.name }}</h3>
                {% endif %}

                {% set url = '' %}
                {% if renderedRelationData.name == 'CMS Blocks' %}
                    {% set url = '/cms-block-gui/edit-block?id-cms-block=' %}
                {% endif %}

                {% for id, item in renderedRelationData.items %}
                    {% if url %}
                        <p><a href="{{ url }}{{ id }}">{{ item }}</a></p>
                    {% else %}
                        <p>{{ item }}</p>
                    {% endif %}
                {% endfor %}

                <br>
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
