<div>
    <div style="text-align: center;">{{ 'mail.order.confirmation.salutation' | trans }} {{ mail.order.firstName }} {{ mail.order.lastName }},</div>
    <br />
    <div style="text-align: center;">{{ 'mail.order.confirmation.text_line_1' | trans }}</div>
    <br />
    <div style="text-align: center;">{{ 'mail.order.confirmation.text_line_2' | trans }}</div>
    <div style="text-align: center;">{{ 'mail.order.confirmation.text_line_3' | trans }}</div>
    <br />
    <div style="text-align: center;">{{ 'mail.order.confirmation.footer.text_line_1' | trans }}</div>
    <div style="text-align: center;">{{ 'mail.order.confirmation.footer.text_line_2' | trans }}</div>
    <hr /> <br />
    <div>
        <table align="center" border="0.1" cellpadding="1" cellspacing="1">
            <tbody>
            <tr>
                <td><strong>{{ 'mail.order.confirmation.details' | trans }}</strong></td>
            </tr>
            <tr>
                <td>
                    {{ 'mail.order.confirmation.order_number' | trans }}: {{ mail.order.orderReference }}<br />
                    {{ 'mail.order.confirmation.price_including_tax' | trans }}: {{ mail.order.totals.grandTotal | money }}<br />
                    {{ 'mail.order.confirmation.date' | trans }}: {{ mail.order.createdAt | date }}<br />
                    {{ 'mail.order.confirmation.billing_address' | trans }}: {{ mail.order.billingAddress.firstName }} {{ mail.order.billingAddress.lastName }}<br />
                    {{ mail.order.billingAddress.address1 }} {{ mail.order.billingAddress.address2 }} {{ mail.order.billingAddress.address3 }}<br />
                    {{ mail.order.billingAddress.zipCode }} {{ mail.order.billingAddress.city }}<br />
                    {{ mail.order.billingAddress.region }}
                </td>
            </tr>
            </tbody>
        </table>
        {% include [
            '@ShipmentGui/Oms/mail/order_confirmation-shipping-addresses.html.twig',
            '@Oms/Mail/order_confirmation-shipping-addresses.html.twig'
        ] %}
    </div>
</div>
