<div>
    <div style="text-align: center;">{{ 'mail.order.confirmation.salutation' | trans }} {{ mail.order.firstName }} {{ mail.order.lastName }},</div>
    <br />
    <div style="text-align: center;">{{ 'mail.order.confirmation.text_line_1' | trans }}</div>
    <br />
    <div style="text-align: center;">{{ 'mail.order.confirmation.text_line_2' | trans }}</div>
    <div style="text-align: center;">{{ 'mail.order.confirmation.text_line_3' | trans }}</div>
    <br />
    <div style="text-align: center;">{{ 'mail.order.confirmation.footer.text_line_1' | trans }}</div>
    <div style="text-align: center;">{{ 'mail.order.confirmation.footer.text_line_2' | trans }}</div>
    <hr /> <br />
    {% include '@Oms/Mail/order-details.html.twig' %}
</div>
