{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}
    {{ 'Create Offer' | trans }}
{% endblock %}

{% block content %}
    <web-mp-product-offer
        cloak
        table-id="web-mp-product-offer"
        table-config='{{ guiTableConfiguration(productTableConfiguration) }}'>
        <span title>{{ 'Create Offer' | trans }}</span>
        <span description>{{ 'To create your offer, choose a product from the list below.' | trans }}</span>
    </web-mp-product-offer>
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp/spy/product-offer-merchant-portal-gui-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp/spy/product-offer-merchant-portal-gui-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
