{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}
    {{ 'Create Offer' | trans }}
{% endblock %}

{% block content %}
    <web-spy-locale-switcher locale="{{ app.locale | split('_') | first }}"></web-spy-locale-switcher>

    <web-mp-product-offer cloak table-config='{{ guiTableConfiguration(productTableConfiguration) }}'>
        <span title>{{ 'Create Offer' | trans }}</span>
    </web-mp-product-offer>
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp/spy/product-offer-merchant-portal-gui-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp/spy/product-offer-merchant-portal-gui-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
