{% extends '@Gui/Layout/layout.twig' %}

{% block section_title 'Edit product option' | trans %}

{% block action %}
    {% set redirectUrl = url('/product-option/edit/index/', {'id-product-option-group' :productOptionGroup.idProductOptionGroup }) %}
    {% if productOptionGroup.active == true  %}
        {% set activeValue = '0' %}
        {% set formLabel = 'Deactivate' %}
        {% set iconClass = 'fa-trash' %}
        {% set buttonClass = 'btn-remove' %}
    {% else %}
        {% set activeValue = '1' %}
        {% set formLabel = 'Activate' %}
        {% set iconClass = 'fa-caret-right' %}
        {% set buttonClass = 'btn-view' %}
    {% endif %}
    {{ form_start(toggleActiveForm,{
        'action': url('/product-option/index/toggle-active', {'id-product-option-group' : productOptionGroup.idProductOptionGroup}),
        'attr': {'class': 'form-inline'}
    }) }}
        <input type="hidden" name="active" value="{{ activeValue }}">
        <input type="hidden" name="redirect-url" value="{{ redirectUrl }}">
        <button type="submit" class="btn btn-sm btn-outline safe-submit {{ buttonClass }}">
            <i class="fa {{ iconClass }}"></i>
            {{ formLabel | trans }}
        </button>
    {{ form_end(toggleActiveForm) }}

    {{ backActionButton('/product-option/list/index', 'List of product options' | trans) }}

{% endblock %}

{% block content %}
    {{ tabs(optionTabs, {
        'generalForm' : generalForm,
        'availableLocales' : availableLocales,
        'productsTable' : productsTable,
        'productOptionsTable' : productOptionsTable,
        'productOptionGroup' : productOptionGroup,
        'availableLocales' : availableLocales})
    }}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-product-option-main.css') }}">
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-product-option-main.js') }}"></script>
{% endblock %}

