{% extends '@Application/Layout/layout.twig' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-4">
                {{ panel('Generators'|trans, listGroup(['<h4>' ~ 'Code'|trans ~ '</h4><pre><code> vendor/bin/console setup:generate</code></pre>', '<h4>' ~ 'Propel'|trans ~ '</h4><pre><code> vendor/bin/console propel:setup</code></pre>']), {'noWrap': true}) }}
            </div>
            <div class="col-lg-4">
                {% set dumpItem = {'href': '/db-dump/download'), 'target': '_blank', 'label': 'Get dump for  store'|trans} %}
                {% set expiredLockItem = {'href': '/setup/release-expired-locks'), 'target': '_blank', 'label': 'Release expired Locks'|trans} %}
                {{ panel('Database'|trans, listGroup([dumpItem, expiredLockItem]), {'noWrap': true}) }}
            </div>

            <div class="col-lg-4">
                {{ panel('Development / Debugging'|trans, listGroup(developmentLinks), {'noWrap': true}) }}
            </div>
        </div>
    </div>
</div>

{{ modal(
    'Accessing Elasticsearch from non-development environments',
    '<p><code>ssh -L port:localhost:port firstname.lastname@host</code></p>',
    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>',
    {'class': 'modal fade', 'id': 'elastic'})
}}

{{ modal(
    'Accessing Elasticsearch Head from non-development environments',
    '<p><code>ssh -L port:localhost:port firstname.lastname@host</code></p>',
    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>',
    {'class': 'modal fade', 'id': 'elasticHead'})
}}

{{ modal(
    'Accessing Elasticsearch Bigdesk from non-development environments',
    '<p><code>ssh -L port:localhost:port firstname.lastname@host</code></p>',
    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>',
    {'class': 'modal fade', 'id': 'elasticBigdeskModal'})
}}

{{ modal(
    'Accessing Couchbase from non-development environments',
    '<p><code>ssh -L port:localhost:port firstname.lastname@host</code></p>',
    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>',
    {'class': 'modal fade', 'id': 'couchbaseModal'})
}}

{{ modal(
    'Accessing Jenkins from non-development environments',
    '<p><code>ssh -L port:localhost:port firstname.lastname@host</code></p>',
    '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>',
    {'class': 'modal fade', 'id': 'jenkinsModal'})
}}
{% endblock %}
