{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Category' %}
{% block body_class %}spy-page{% endblock %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block content %}


    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Root nodes listing' } %}

        {% block widget_content %}

            {{ rootCategories | raw }}

        {% endblock %}

    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with {
    widget_title: 'Category node tree',
    row_class: 'hidden',
    row_id: 'category-node-tree'
    } %}

        {% block widget_content %}

            <div id="jstree-container"></div>

        {% endblock %}

    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with {
    widget_title: 'Attributes of the selected category',
    row_id: 'attributes-table'
    } %}

        {% block widget_content %}
            {#{{ categoryAttributeTable | raw }}#}
            <div id="category-attributes">-attributes-</div>
        {% endblock %}

    {% endembed %}

    {#
    {% embed '@Gui/Partials/widget.twig' with {
    widget_title: 'Urls for the selected category node',
    row_id: 'url-table'
    } %}

        {% block widget_content %}

            {{ categoryUrlTable | raw }}

        {% endblock %}

    {% endembed %}
    #}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/Gui/styles/plugins/jsTree/style.min.css">
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/bundles/Gui/scripts/plugins/jsTree/jstree.min.js"></script>
    {#<script src="/bundles/Gui/scripts/category.jsTree.js"></script>#}
    <script src="/bundles/Gui/scripts/category.js"></script>
{% endblock %}


