<!DOCTYPE html>
<html lang="{% block document_language %}en{% endblock document_language %}">
    <head>
        {% block head %}
            {% block head_meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock %}

            <title>{% block head_title %}{{ title }}{% endblock %}</title>
            <link rel="shortcut icon" href="{{ staticPath('/favicon.ico') }}">

            {% block head_css %}
                {% block head_css_application -%}
                    <link rel="stylesheet" type="text/css" href="{{ staticPath('Application/styles/bundle.css') }}">
                {%- endblock %}

                {% block head_css_ui -%}
                    <link rel="stylesheet" type="text/css" href="{{ staticPath('Ui/styles/bundle.css') }}">
                {%- endblock %}

                {% block head_css_bundles %}{% endblock %}
            {% endblock %}

            {% block head_js %}
                {% block head_js_application -%}
                    <script type="application/javascript" src="{{ staticPath('Application/scripts/bundle.js') }}"></script>
                {%- endblock %}

                {% block head_js_ui -%}
                    <script type="application/javascript" src="{{ staticPath('Ui/scripts/bundle.js') }}"></script>
                {%- endblock %}

                {% block head_js_bundles %}{% endblock %}
            {% endblock %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}spy-page{% endblock %}">
        {% block body %}
            {% block body_header %}
                {% include '@Application/Partials/header.twig' %}
            {% endblock %}

            {% block body_menu %}
                {% include '@Application/Partials/menu.twig' %}
            {% endblock %}

            <main class="{% block content_class %}spy-page-content{% endblock %}" role="main">
                {% block content %}{% endblock %}
            </main>
        {% endblock %}
    </body>
</html>