{% set returnItems = returnItemGroup | filter(returnItem => returnItem.orderItem.salesOrderConfiguredBundle) %}

{% set mappedReturnItems = [] %}
{% set configuredBundles = [] %}

{% for returnItem in returnItems %}
    {% set bundleId = returnItem.orderItem.salesOrderConfiguredBundle.idSalesOrderConfiguredBundle %}

    {% if mappedReturnItems['_' ~ bundleId] is defined %}
        {% set bundleReturnItems = mappedReturnItems['_' ~ bundleId] | merge([returnItem]) %}
        {% set mappedReturnItems = mappedReturnItems | merge({('_' ~ bundleId): bundleReturnItems}) %}
    {% else %}
        {% set configuredBundles = configuredBundles | merge([returnItem.orderItem.salesOrderConfiguredBundle]) %}
        {% set mappedReturnItems = mappedReturnItems | merge({('_' ~ bundleId): [returnItem]}) %}
    {% endif %}
{% endfor %}

{% for configuredBundle in configuredBundles %}
    <tr>
        <td class="no-bottom-border"></td>
        <td class="no-bottom-border"></td>
        <td class="no-bottom-border">
            <strong>{{ (configuredBundle.translations[0].name ?? configuredBundle.name) | trans }}</strong> {# Fallback name display is kept for BC reasons. #}
        </td>
        <td class="no-bottom-border"></td>
        <td class="no-bottom-border">{{ configuredBundle.quantity }}</td>
        <td class="no-bottom-border">
            {% set bundleSumPriceToPayAggregation = 0 %}

            {% for returnItem in mappedReturnItems['_' ~ configuredBundle.idSalesOrderConfiguredBundle] %}
                {% set bundleSumPriceToPayAggregation = bundleSumPriceToPayAggregation + returnItem.orderItem.sumPriceToPayAggregation %}
            {% endfor %}

            {{ bundleSumPriceToPayAggregation | money(true, currencyIsoCode) }}
        </td>
        <td class="no-bottom-border"></td>
    </tr>

    {% for returnItem in mappedReturnItems['_' ~ configuredBundle.idSalesOrderConfiguredBundle] %}
        {% set noBottomBorderClass = not loop.last ? 'no-bottom-border' %}

        <tr>
            <td class="no-top-border {{ noBottomBorderClass }}">{{ barcode(returnItem.orderItem.sku) }}</td>
            <td class="no-top-border {{ noBottomBorderClass }}">{{ returnItem.orderItem.sku }}</td>
            <td class="no-top-border {{ noBottomBorderClass }}">{{ returnItem.orderItem.name }}</td>
            <td class="no-top-border {{ noBottomBorderClass }}">{{ (returnItem.orderItem.sumPrice - returnItem.orderItem.sumDiscountAmountFullAggregation) | money(true, currencyIsoCode) }}</td>
            <td class="no-top-border {{ noBottomBorderClass }}">{{ returnItem.orderItem.quantity }}</td>
            <td class="no-top-border {{ noBottomBorderClass }}">{{ returnItem.orderItem.sumPriceToPayAggregation | money(true, currencyIsoCode) }}</td>
            <td class="no-top-border {{ noBottomBorderClass }}">{{ returnItem.reason ?? '--' }}</td>
        </tr>
    {% endfor %}
{% endfor %}
