{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Product Concrete Edit' | trans %}
{% endif %}

{% if submit_title is not defined %}
    {% set submit_title = 'Save' | trans %}
{% endif %}

{% if idProduct is not defined %}
    {% set idProduct = 0 %}
{% endif %}

{% block head_title -%}
    {{ widget_title | trans }} {% if idProduct > 0 %} [{{ idProduct }}] {% endif %}
{%- endblock %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton('/product-management', 'List Products' | trans) }}

    {% if currentProduct.is_active == 0 %}
        {{ viewActionButton(
             url('/product-management/variant/activate-product-variant', {
                    'id_product_concrete': idProduct,
                    'id_product_abstract': idProductAbstract}), 'Activate' | trans) }}
    {% else %}
        {{ removeActionButton(
            url('/product-management/variant/deactivate-product-variant', {
                'id_product_concrete': idProduct,
                'id_product_abstract': idProductAbstract}), 'Deactivate' | trans) }}
     {% endif %}

    {{ backActionButton('/product-management/edit?id-product-abstract=' ~ idProductAbstract, 'Edit Product Abstract' | trans) }}
{% endblock %}

{% import _self as forms %}

{% form_theme form _self %}

{% block content %}

    {{ form_start(form, { 'attr': {'class': 'kv_autocomplete_form'} }) }}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Product Specification' } %}

        {% block widget_content %}

            {{ form_errors(form) }}

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_general" data-toggle="tab">General</a></li>
                    <li class=""><a href="#tab_price_and_stock" data-toggle="tab">Price & Stock</a></li>
                    <li class=""><a href="#tab_abstract_attributes" data-toggle="tab">Attributes</a></li>
                    <li class=""><a href="#tab_image" data-toggle="tab">Image</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab_general" class="tab-pane active">
                        {% include '@ProductManagement/Product/_partials/general-tab.twig' %}
                    </div>

                    <div id="tab_abstract_attributes" class="tab-pane">
                        {% include '@ProductManagement/Variant/_partials/abstract-attribute-tab.twig' %}
                    </div>

                    <div id="tab_price_and_stock" class="tab-pane">
                        {% include '@ProductManagement/Variant/_partials/price-tab.twig' %}
                    </div>

                    <div id="tab_image" class="tab-pane">
                        {% include '@ProductManagement/Product/_partials/image-tab.twig' %}
                    </div>
                </div>
            </div>

        {% endblock %}

    {% endembed %}

    <input type="submit" class="btn btn-primary" value="{{ submit_title | trans }}"/>

    {{ form_end(form) }}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-productmanagement-main.css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-productmanagement-main.js"></script>
{% endblock %}
