<div class="well">
    {% filter trans|raw %}
        <h3>{{ 'Price' | trans }}</h3>
        <p>{{ 'Enter price.' | trans }}</p>
    {% endfilter %}
</div>

{% if form.price_source is defined %}
    {{ form_row(form.price_source, { 'id': 'price-source-checkbox' }) }}
{% endif %}

{{ include('@ProductManagement/_partials/price_dimension_filter.twig', {priceDimensionForm: form.price_dimension}) }}
{{ include('@ProductManagement/_partials/product_price_collection.twig', {moneyValueFormViewCollection: form.prices}) }}


{% if form.price_and_stock is defined %}

    <div class="well">
        {% filter trans|raw %}
            <h3>{{ 'Stock' | trans }}</h3>
            <p>{{ 'Enter stock value. In case you create multiple variants, the stock can be managed under "Product Variants" and this input field will be ignored.' | trans }}</p>
        {% endfilter %}
    </div>

    {% for inputCollection in form.price_and_stock %}
        {% set form_group_errors_css = '' %}

        {% if inputCollection.quantity.vars.errors|length %}
            {% set form_group_errors_css = 'has-error' %}
        {% endif %}

        {{ form_row(inputCollection.id_stock_product) }}
        {{ form_row(inputCollection.fk_stock) }}

        {{ form_row(inputCollection.type) }}
        {{ form_row(inputCollection.quantity) }}
        {{ form_row(inputCollection.is_never_out_of_stock) }}

        <div class="form-group">
            {{ 'Available in stores' | trans }}:
            {% if inputCollection.vars.available_in_stores is defined %}
                {% for store in inputCollection.vars.available_in_stores %}
                    <span class="badge"><strong>{{ store }}</strong></span>
                {% endfor %}
            {% else %}
                {{ 'n/a' | trans }}
            {% endif %}
        </div>

    {% endfor %}

{% endif %}
