{% extends '@ZedUi/Layout/merchant-layout-centered.twig' %}

{% block headTitle %}
    {{ 'Merchant Portal' | trans }}
{% endblock %}

{% block content %}
    <web-mp-login-layout cloak>
        {%- include '@ZedUi/Partials/FlashMessages/flash-messages.twig' -%}

        <span sub-title>{{ 'Merchant Portal' | trans }}</span>
        <span title>{{ 'Login' | trans }}</span>

        {% form_theme form '@ZedUi/Form/form-webcomponent-layout.twig' %}

        {{ form_errors(form) }}
        {{ form_start(form, {attr: {novalidate: ''}}) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.login, {attr: {class: 'login__submit'}}) }}
        {{ form_end(form) }}

        <web-spy-button-link class="login__link" url="/security-merchant-portal-gui/password/reset-request" variant="link">{{ 'Forgot password?' | trans }}</web-spy-button-link>
    </web-mp-login-layout>
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp/spy/security-merchant-portal-gui-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp/spy/security-merchant-portal-gui-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
