{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Add a Dataset' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ backActionButton('/dataset', 'Back to Dataset list' | trans) }}
{% endblock %}

{% block content %}
    <div id="spy-dataset" class="glossary">
        {% embed '@Gui/Partials/widget.twig' %}

            {% block widget_content %}

                {{ form_start(form) }}

                {{ form_row(form.name) }}

                {% embed '@Dataset/_partials/localized-attributes.twig' with {
                    currentLocale: currentLocale,
                    form: form
                } %}
                {% endembed %}

                {{ form_row(form.contentFile) }}

                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />

                {{ form_end(form) }}

            {% endblock %}

        {% endembed %}

    </div>
{% endblock %}
