{% extends '@ZedUi/LayoutCentral/layout-central.twig' %}

{% block content %}
    {% set formData = {
        actionUrl: form.vars.action,
        name: form.vars.name,
        method: form.vars.method,
        children: form.children,
    } %}

    <mp-login>
        <form action="{{ formData.actionUrl }}" name="{{ formData.name }}" method="{{ formData.method }}">
            {% for formField in formData.children if formField.vars.block_prefixes[1] != 'hidden' %}
                <spy-form-item for="{{ formField.vars.id }}" error="{{ formField.vars.errors[0].message | default }}">
                    {{ formField.vars.label | trans }}
                    <spy-input
                        control
                        id="{{ formField.vars.id }}"
                        attrs=""
                        required="{{ formField.vars.required }}"
                        name="{{ formField.vars.full_name }}"
                        value="{{ formField.vars.value }}"
                        type="{{ formField.vars.block_prefixes[2] }}"
                        placeholder="{{ formField.vars.attr.placeholder | default }}"
                    ></spy-input>
                </spy-form-item>
            {% endfor %}

            <input type="hidden" name="{{ formData.children._token.vars.full_name }}" value="{{ formData.children._token.vars.value }}">

            <spy-button type="submit">{{ 'Login' | trans }}</spy-button>
        </form>
    </mp-login>
{% endblock %}

{% block footerJs %}
    {{ parent() }}
    <script src="{{ assetsPath('js/mp-login/polyfills-es5.js') }}"></script>
    <script src="{{ assetsPath('js/mp-login/main-es5.js') }}"></script>
{% endblock %}
