{% extends '@ZedUi/LayoutCentral/layout-central.twig' %}

{% block content %}
    {% set formData = {
        actionUrl: 'actionUrl',
        children: [
            {
                for: 'form-email',
                errorMessage: 'error',
                attrs: '{"id":"form-email"}',
                required: true,
                name: 'email',
                value: '',
                type: 'email',
                placeholder: 'example@spryker.com'
            },
            {
                for: 'form-password',
                errorMessage: '',
                attrs: '{"id":"form-password"}',
                required: true,
                name: 'password',
                value: '',
                type: 'password',
                placeholder: 'Enter password placeholder'
            }
        ]
    } %}

    <mp-login>
        <form action="{{ formData.actionUrl }}">
            {% for formField in formData.children %}
                <spy-form-item error="{{ formField.errorMessage }}" for="{{ formField.for }}">
                    Email
                    <spy-input
                            control
                            attrs={{ formField.attrs }}
                            required="{{ formField.required }}"
                            name="{{ formField.name }}"
                            value="{{ formField.value }}"
                            type="{{ formField.type }}"
                            placeholder="{{ formField.placeholder }}"
                    ></spy-input>
                </spy-form-item>
            {% endfor %}

            <spy-button type="submit">Login</spy-button>
        </form>
    </mp-login>
{% endblock %}

{% block footerJs %}
    {{ parent() }}
    <script src="{{ assetsPath('js/mp-login/polyfills-es5.js') }}"></script>
    <script src="{{ assetsPath('js/mp-login/main-es5.js') }}"></script>
{% endblock %}
