{% extends '@ZedUi/LayoutCentral/layout-central.twig' %}

{% block content %}
    {% set formData = {
        actionUrl: 'actionUrl',
        childrens: [
            {
                id: 'form-email',
                errorMessage: 'error',
                attrs: '',
                required: true,
                name: 'email',
                value: '',
                type: 'email',
                placeholder: 'example@spryker.com',
                label: "Email",
            },
            {
                id: 'form-password',
                errorMessage: '',
                attrs: '',
                required: true,
                name: 'password',
                value: '',
                type: 'password',
                placeholder: 'Enter password placeholder',
                label: "Password",
            },
        ],
    } %}

    <mp-login>
        <form action="{{ formData.actionUrl }}">
            {% for formField in formData.childrens %}
                <spy-form-item error="{{ formField.errorMessage }}" for="{{ formField.id }}">
                    {{ formField.label }}
                    <spy-input
                        control
                        id="{{ formField.id }}"
                        attrs="{{ formField.attrs }}"
                        required="{{ formField.required }}"
                        name="{{ formField.name }}"
                        value="{{ formField.value }}"
                        type="{{ formField.type }}"
                        placeholder="{{ formField.placeholder }}"
                    ></spy-input>
                </spy-form-item>
            {% endfor %}

            <spy-button type="submit">Login</spy-button>
        </form>
    </mp-login>
{% endblock %}

{% block footerJs %}
    {{ parent() }}
    <script src="{{ assetsPath('js/mp-login/polyfills-es5.js') }}"></script>
    <script src="{{ assetsPath('js/mp-login/main-es5.js') }}"></script>
{% endblock %}
