{% extends '@Cms/Layout/layout.twig' %}

{% set pageName = '' %}
{% for pageAttribute in cmsPage.pageAttributes %}
    {% if  pageAttribute.localeName == 'en_US' %}
        {% set pageName = pageAttribute.name  %}
    {% endif %}
{% endfor %}

{% set widget_title = 'View CMS Page:' | trans ~ ' ' ~ pageName %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}

    {% set redirectUrl = url('/cms-gui/view-page', {'id-cms-page' : cmsPage.fkPage }) %}
    {% if cmsVersion is not null and cmsVersion.version > 1 %}
        {{ viewActionButton(url('/cms-gui/version-page/history', {'id-cms-page': cmsPage.fkPage , 'redirect-url' : redirectUrl }), 'Version History' | trans) }}
    {% endif %}
    {{ editActionButton(url('/cms-gui/edit-page', { 'id-cms-page': cmsPage.fkPage }), 'Edit page' | trans) }}
    {%  if isPageTemplateWithPlaceholders is not defined or isPageTemplateWithPlaceholders %}
        {{ editActionButton(url('/cms-gui/create-glossary', {'id-cms-page': cmsPage.fkPage}), 'Edit placeholders' | trans) }}
    {% endif %}
    {{ include ('@CmsGui/_template/activate-button.twig', { 'isActive': cmsPage.isActive, 'idCmsPage': cmsPage.fkPage }) }}
    {{ backActionButton('/cms-gui/list-page', 'Back to CMS' | trans) }}
{% endblock %}

{% block content %}

    {% if cmsVersion is not null %}
        <div class="alert alert-info">
            <p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                {% filter trans|raw %}
                    You are viewing a published page. It was published
                {% endfilter %}
                {% if cmsVersion.firstName is not null %}
                    {{ 'by' | trans }} <b>{{ cmsVersion.firstName }} {{ cmsVersion.lastName }}</b>
                {% endif %}
                    {{ 'on' | trans }} <b>{{ cmsVersion.createdAt | formatDateTime }}</b>.
            </p>
            <p>
                {% filter trans|raw %}
                    You can edit the page or placeholders to modify the current working draft. You can publish the current working draft to create a new version
                {% endfilter %}
            </p>
        </div>
    {% endif %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'General information' }  %}
        {% block widget_content %}

            <p>
                <strong>Store relation:</strong>
                {% for storeName in relatedStoreNames %}
                    <span class="label label-info">{{ storeName }}</span>
                {% endfor %}
            </p>

            <p>
                <strong>{{ 'Is searchable:' | trans }}</strong> {{ (cmsPage.isSearchable ? 'yes' : 'no') | trans }}
            </p>

            <p>
                <strong>{{ 'Is active:' | trans }}</strong> {{ (cmsPage.isActive ? 'yes' : 'no') | trans }}
            </p>

            <p>
                <strong>{{ 'Template:' | trans }}</strong> {{ cmsPage.templateName }}
            </p>

            <p>
                <strong>{{ 'Valid from:' | trans }}</strong> {{ cmsPage.validFrom ? cmsPage.validFrom|date : 'n/a'| trans }}
            </p>

            <p>
                <strong>{{ 'Valid to:' | trans }}</strong> {{ cmsPage.validTo ? cmsPage.validTo|date : 'n/a'|trans }}
            </p>
            <p>
                <strong>{{ 'Created at:' | trans }}</strong> {{ pageCreatedDate ?pageCreatedDate|date : 'n/a'|trans }}
            </p>

        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Urls' | trans } %}
        {% block widget_content %}

            <table class="table">
                <tr>
                    <th>{{ "Locale" | trans }}</th>
                    <th>{{ "Name" | trans }}</th>
                    <th>{{ "Url" | trans }}</th>
                </tr>
                {% for pageAttribute in cmsPage.pageAttributes %}
                    <tr>
                        <td>{{ pageAttribute.localeName }}</td>
                        <td>{{ pageAttribute.name }}</td>
                        <td>{{ pageAttribute.url }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'SEO' | trans } %}
        {% block widget_content %}

            <table class="table">
                <tr>
                    <th>{{ "Locale" | trans }}</th>
                    <th>{{ "Meta Title" | trans }}</th>
                    <th>{{ "Meta Keywords" | trans }}</th>
                    <th>{{ "Meta Description" | trans }}</th>
                </tr>
                {% for pageMetaAttribute in cmsPage.metaAttributes %}
                    <tr>
                        <td>{{ pageMetaAttribute.localeName }}</td>
                        <td>{{ pageMetaAttribute.metaTitle }}</td>
                        <td>{{ pageMetaAttribute.metaKeywords }}</td>
                        <td>{{ pageMetaAttribute.metaDescription }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% endblock %}
    {% endembed %}

    {%  if isPageTemplateWithPlaceholders is not defined or isPageTemplateWithPlaceholders %}
        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Placeholders' } %}
            {% block widget_content %}

                {% for glossaryAttribute in cmsGlossary.glossaryAttributes %}

                    <h3>{{ glossaryAttribute.placeholder }}</h3>

                    <p>
                        <strong>{{ 'Translation key:' | trans }}</strong> {{ glossaryAttribute.translationKey }}
                    </p>

                    {% for translation in glossaryAttribute.translations %}
                       {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': translation.localeName, 'collapsed': true , 'hasError': false} %}
                           {% block content %}
                               {{ translation.translation | raw }}
                           {% endblock %}
                       {% endembed %}
                    {% endfor %}

                    <br>
                {% endfor %}

            {% endblock %}
        {% endembed %}
    {% endif %}


{% endblock %}
