{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Prioritize Product Labels' | trans %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton('/product-label-gui', 'Back to Product Labels' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Prioritize Product Labels' | trans } %}

        {% block widget_content %}
            <div id="js-re-sort-list" class="dd">
                <ol class="dd-list">
                    {% for productLabelTransfer in productLabelTransferCollection %}
                        <li class="dd-item" data-id-product-label="{{ productLabelTransfer.getIdProductLabel() }}">
                            <span class="dd-handle">{{ productLabelTransfer.getName() }}</span>
                        </li>
                    {% endfor %}
                </ol>
            </div>

            <hr />

            <button id="js-list-save-button" class="btn btn-primary" data-style="expand-left">
                {% include '@Gui/Partials/wave-loader.twig' with {
                    cssClass: 'js-loader',
                    modifiers: ['on-button', 'hidden']
                } %}
                {{ 'Save' | trans }}
            </button>

        {% endblock %}

    {% endembed %}
{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-product-label-re-sort.css') }}" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-product-label-re-sort.js') }}"></script>
{% endblock %}

