{% block form_row -%}
    {% apply spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            <div{% if block('form_group_class') is defined %} class="{{ block('form_group_class') }}"{% endif %}>
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endapply %}
{%- endblock form_row %}

{% block email_widget %}
    {%- set type = type|default('email') -%}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-inverse"></i></span>
            {{ block('form_widget_simple') }}
        </div>
    </div>
{% endblock %}

{% block password_widget %}
    {%- set type = type|default('password') -%}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-inverse"></i></span>
            {{ block('form_widget_simple') }}
        </div>
    </div>
{% endblock %}
