{% block form_row -%}
    {% apply spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            <div{% if block('form_group_class') is defined %} class="{{ block('form_group_class') }}"{% endif %}>
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endapply %}
{%- endblock form_row %}

{% block email_widget %}
    {%- set type = type|default('email') -%}
    <div class="form-group">
        {{ form_label(form, 'Email') }}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block password_widget %}
    {%- set type = type|default('password') -%}
    <div class="form-group">
        {{ form_label(form, 'password') }}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block submit_widget  %}
    <div class="form-group">
        {% set type = type | default('submit') %}
        {% set attr = attr | merge({class: 'btn btn-block'}) %}
        {{ block('button_widget') }}
    </div>
{% endblock submit_widget %}
