{% extends '@Gui/Layout/layout.twig' %}

{% set priceLabel = '<span class="label label-info">%s</span>' %}

{% block section_title 'View product option' | trans %}

{% block action %}

    {{ editActionButton(url('/product-option/edit/index', {'id-product-option-group': productOptionGroup.idProductOptionGroup}), 'Edit' | trans) }}

    {% set redirectUrl = url('/product-option/view/index/', {'id-product-option-group' : productOptionGroup.idProductOptionGroup }) %}
    {% if productOptionGroup.active == true  %}
        {{ removeActionButton(url('/product-option/index/toggle-active', {'id-product-option-group' : productOptionGroup.idProductOptionGroup, 'active': '0', 'redirect-url': redirectUrl}), 'Deactivate' | trans) }}
    {% else %}
        {{ viewActionButton(url('/product-option/index/toggle-active', {'id-product-option-group' : productOptionGroup.idProductOptionGroup, 'active': '1', 'redirect-url': redirectUrl}), 'Activate' | trans) }}
    {% endif %}

    {{ backActionButton('/product-option/list/index', 'List of product options' | trans) }}

{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'General information' } %}
        {% block widget_content %}

            <p>
                <strong>{{ 'Group name translation key' | trans }}</strong>: {{ productOptionGroup.name }}
            </p>

            <p>
                <strong>{{ 'Tax set' | trans }}</strong>: {{ taxSet.name }}
            </p>

            <p>
                <strong>{{ 'Created at' | trans }}</strong>: {{ productOptionGroup.createdAt | formatDateTime }}
            </p>

            <p>
                <strong>{{ 'Updated at' | trans }}</strong>: {{ productOptionGroup.updatedAt | formatDateTime}}
            </p>

            <br />

            <table class="table">
                <tr>
                    <th>{{ "Translation key" | trans }}</th>
                    <th>{{ "Sku" | trans }}</th>
                    <th>{{ "Gross Price" | trans }}</th>
                    <th>{{ "Net Price" | trans }}</th>
                </tr>
                {% for optionValue in productOptionGroup.productOptionValues %}
                    <tr>
                        <td>{{ optionValue.value }}</td>
                        <td>{{ optionValue.Sku }}</td>
                        <td>
                            {% for moneyValueTransfer in optionValue.prices %}
                                {% if moneyValueTransfer.GrossAmount is not empty %}
                                    {{ priceLabel | format(moneyValueTransfer.GrossAmount | money(true, moneyValueTransfer.Currency.Code)) | raw }}
                                {% else %}
                                    {{ priceLabel | format('-') | raw }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for moneyValueTransfer in optionValue.prices %}
                                {% if moneyValueTransfer.NetAmount is not empty %}
                                    {{ priceLabel | format(moneyValueTransfer.NetAmount | money(true, moneyValueTransfer.Currency.Code)) | raw }}
                                {% else %}
                                    {{ priceLabel | format('-') | raw }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Translations' } %}
        {% block widget_content %}

            <div class="form-group" id="option-value-translations">

                {% for locale in availableLocales %}
                    {% set isCollapsed = not loop.first %}

                    <div data-locale-code="{{ locale.localeName }}">
                        {% embed '@Gui/Partials/localized-ibox.twig' with {'localeName': locale.localeName, 'collapsed': isCollapsed , 'hasError': false} %}
                            {% block content %}

                                {% for groupNameTranslation in productOptionGroup.groupNameTranslations %}
                                    {% if groupNameTranslation.localeCode == locale.localeName  %}
                                        <p>
                                            <strong>{{ 'Group name' | trans  }} ({{ groupNameTranslation.key }})</strong> : {{ groupNameTranslation.name }}
                                        </p>
                                    {% endif %}
                                {% endfor %}

                                {% for valueTranslation in productOptionGroup.productOptionValueTranslations %}
                                    {% if valueTranslation.localeCode == locale.localeName  %}
                                            {% if valueTranslation.localeCode == locale.localeName  %}
                                                <p>
                                                    <strong>{{ 'Name' | trans  }} ({{ valueTranslation.key }})</strong> : {{ valueTranslation.name }}
                                                </p>
                                            {% endif %}
                                    {% endif %}
                                {% endfor %}

                            {% endblock %}

                        {% endembed %}
                    </div>
                {% endfor %}
            </div>

        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Products with this option' } %}
        {% block widget_content %}
            {{ productOptionsTable | raw }}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-product-option-main.css') }}">
{% endblock %}

{% block footer_js %}
    {{ parent() }}
{% endblock %}

