{% extends '@Cms/Layout/layout.twig' %}

{% set widget_title = 'Edit a Cms page' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ backActionButton('/cms/page', 'Back to CMS' | trans) }}
    {{ createActionButton('/cms/page/add', 'Add CMS Page' | trans) }}
    {% if isActive %}
        {{ viewActionButton('/cms/page/deactivate?id-page=' ~ idCmsPage, 'Deactivate' | trans) }}
    {% else %}
        {{ viewActionButton('/cms/page/activate?id-page=' ~ idCmsPage, 'Activate' | trans) }}
    {% endif %}
    {{ removeActionButton('/cms/page/delete?id-page=' ~ idCmsPage, 'Delete CMS Page' | trans) }}
{% endblock %}

{% block content %}
<div id="spy-cms" class="glossary">
    {% if isSynced %}
        <div class="alert">
            <div class="green">{{ 'New template(s) detected and added to the template list.' | trans }}</div>
        </div>
    {% endif %}

    {% embed '@Gui/Partials/widget.twig' %}


        {% block widget_content %}

            {{ form_start(form) }}

                {{ form_widget(form) }}

                <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />

            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}
</div>
{% endblock %}
