{% embed '@Gui/Partials/widget.twig' with { widget_title: 'SEO (Meta Information)' } %}
    {% block widget_content %}

        {% for localeTransfer in localeCollection %}
            {% for localizedData in currentProduct.localized_attributes %}
                {% if (localizedData.locale.locale_name == localeTransfer.localeName ) %}
                    {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': (not loop.parent.loop.first), 'localeName': localeTransfer.localeName} %}
                        {% block content %}
                            <div class="row">
                                <div class="col-xs-2"><b>{{ 'Meta Title' | trans }}</b></div>
                                <div class="col-xs-10">{{ localizedData.meta_title }}</div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-xs-2"><b>{{ 'Description' | trans }}</b></div>
                                <div class="col-xs-10">
                                    {{ localizedData.meta_description }}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-xs-2"><b>{{ 'Keywords' | trans }}</b></div>
                                <div class="col-xs-10">
                                    {{ localizedData.meta_keywords }}
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endblock %}
{% endembed %}
