{% embed '@Gui/Partials/widget.twig' with { widget_title: 'General Information' } %}
    {% block widget_content %}

        {% if relatedStoreNames is defined %}
            <div class="row">
                <div class="col-xs-2"><b>{{ 'Store relation' | trans }}</b></div>
                <div class="col-xs-10">
                    {% for storeName in relatedStoreNames %}
                        <span class="label label-info">{{ storeName }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        {% endif %}

        {% set productType = 'Product' %}

        {% if isGiftCard == true %}
            {% set productType = 'Gift Card' %}
        {% endif %}

        {% if isProductBundle == true %}
            {% set productType = 'Product Bundle' %}
        {% endif %}

        <div class="row">
            <div class="col-xs-2"><b>{{ 'Sku' | trans }}</b></div>
            <div class="col-xs-10">{{ currentProduct.sku }}</div>
        </div>

        <div class="row">
            <div class="col-xs-2"><b>{{ 'Type' | trans }}</b></div>
            <div class="col-xs-10">{{ productType | trans }}</div>
        </div>

        <div class="m-t">
            {% for localeTransfer in localeCollection %}
                {% for localizedData in currentProduct.localized_attributes %}
                    {% if (localizedData.locale.locale_name == localeTransfer.localeName ) %}

                        {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': (not loop.parent.loop.first), 'localeName': localeTransfer.localeName} %}
                            {% block content %}
                                <div class="row">
                                    <div class="col-xs-2"><b>{{ 'Name' | trans }}</b></div>
                                    <div class="col-xs-10">{{ localizedData.name }}</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-xs-2"><b>{{ 'Description' | trans }}</b></div>
                                    <div class="col-xs-10">
                                        {{ localizedData.description }}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}

                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        {% if currentProduct.id_product_concrete is defined %}
            <div class="row">
                <div class="col-xs-2"><b>{{ 'Valid From' | trans }}</b></div>
                <div class="col-xs-4">{{ currentProduct.valid_from }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><b>{{ 'Valid To' | trans }}</b></div>
                <div class="col-xs-4">{{ currentProduct.valid_to }}</div>
            </div>
        {% endif %}

    {% endblock %}
{% endembed %}
