{% embed '@Gui/Partials/widget.twig' with { widget_title: 'SEO (Meta Information)' } %}
    {% block widget_content %}

        <div class="row">

            <div class="col-lg-12">
                <div class="tabs-container">
                    <div class="tabs-top">
                        <ul class="nav nav-tabs">
                            {% for localeCode in localeCollection %}
                                {% set activeCss = '' %}

                                {% if currentLocale == localeCode %}
                                    {% set activeCss =  'active' %}
                                {% endif %}

                                <li class="{{ activeCss }}"><a href="#info_general_{{ localeCode }}" data-toggle="tab">{{ localeCode }}</a></li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for localeCode in localeCollection %}
                                {% set activeCss = '' %}

                                {% if currentLocale == localeCode %}
                                    {% set activeCss =  'active' %}
                                {% endif %}

                                {% for localizedData in currentProduct.localized_attributes %}
                                    {% if (localizedData.locale.locale_name == localeCode ) %}
                                        <div id="info_general_{{ localeCode }}" class="tab-pane {{ activeCss }}">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-2"><b>Meta Title</b></div>
                                                    <div class="col-xs-10">{{ localizedData.meta_title }}</div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <div class="col-xs-2"><b>Description</b></div>
                                                    <div class="col-xs-10">
                                                        {{ localizedData.meta_description }}
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="row">
                                                    <div class="col-xs-2"><b>Keywords</b></div>
                                                    <div class="col-xs-10">
                                                        {{ localizedData.meta_keywords }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

        </div>


    {% endblock %}
{% endembed %}