{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Image Sets' } %}
    {% block widget_content %}

        {% for localeName,imageSets in imageSetCollection %}
            {% for imageSet in imageSets %}
                {% if imageSet.name %}
                    {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': (not loop.parent.loop.first)} %}

                        {% block title %}
                            {% if localeName == 'default' %}
                                {{ 'Default' | trans }}
                            {% else %}
                                {{ parent() }}
                            {% endif %}
                        {% endblock %}

                        {% block content %}
                            <div class="row">
                                <div class="col-xs-2"><b>{{ 'Name' | trans }}</b></div>
                                <div class="col-xs-10">{{ imageSet.name }}</div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                {% for image in imageSet.product_images %}
                                    <div class="col-lg-3">
                                        <img src="{{ image.image_preview }}" style="max-width: 100px; max-height: 100px">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endblock %}

                    {% endembed %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endblock %}
{% endembed %}
