{% set category = node.category %}
<div class="dd-handle">
    {{ category.localizedAttributes[0].name }}

    <div class="pull-right">
        {% if category.isActive %}
            <span class="label label-info" title="{{ 'Category status' | trans }}">{{ 'Active' | trans }}</span>
        {% else %}
            <span class="label label-danger" title="{{ 'Inactive' | trans }}">
                Inactive
            </span>
        {% endif %}

        {% if category.isInMenu %}
            <span class="label" title="{{ 'Visible in the category tree' | trans }}">{{ 'Visible' | trans }}</span>
        {% endif %}

        {% if category.isSearchable %}
            <span class="label" title="{{ 'Searchable' | trans }}">{{ 'Searchable' | trans }}</span>
        {% endif %}

        <span class="label" title="{{ 'Category template' | trans }}">{{ category.categoryTemplate.name }}</span>

        {% if node.childrenCategory is defined and node.childrenCategory | length > 0 %}
            <a
                href="/category/re-sort?id-node={{ node.idCategoryNode }}"
                id="node-{{ node.idCategoryNode }}"
                class="btn btn-xs btn-outline btn-view"
                title="{{ 'Re-sort Child Categories' | trans }}"
            >
                <i class="fa fa-fw fa-arrows-v"></i>
            </a>
        {% endif %}

        <a
            href="/product-category/assign?id-category={{ node.fkCategory }}"
            class="btn btn-xs btn-outline btn-view"
            title="{{ 'Assign Products to this Category' | trans }}"
        >
            <i class="fa fa-fw fa-chain"></i>
        </a>
        <a
            href="/category/create?id-parent-node={{ node.idCategoryNode }}"
            class="btn btn-xs btn-outline btn-create"
            title="{{ 'Add Category to this Node' | trans }}"
        >
            <i class="fa fa-fw fa-plus"></i>
        </a>
        <a
            href="/category/edit?id-category={{ node.fkCategory }}"
            class="btn btn-xs btn-outline btn-edit"
            title="{{ 'Edit Category' | trans }}"
        >
            <i class="fa fa-fw fa-pencil"></i>
        </a>
        <a
            href="/category/view?id-category={{ node.fkCategory }}"
            class="btn btn-xs btn-outline btn-view"
            title="{{ 'View Category' | trans }}"
        >
            <i class="fa fa-fw fa-eye"></i>
        </a>
        <a
            href="/category/delete?id-category={{ node.fkCategory }}"
            class="btn btn-xs btn-outline btn-danger"
            title="{{ 'Delete Category' | trans }}"
        >
            <i class="fa fa-fw fa-trash"></i>
        </a>
    </div>
</div>
