<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Totals' } %}

            {% block widget_content %}

                <table class="table" data-qa="totals-list">
                    <tbody>
                    <tr class="subtotal-row">
                        <td class="col-sm-6"><strong>{{ 'Sub total' | trans }}</strong></td>
                        <td><strong>{{ quote.totals.subtotal | money(true, quote.currency.code) }}</strong></td>
                    </tr>
                    {% for expense in quote.expenses %}
                        <tr>
                            <td class="col-sm-6">{{ 'Shipment' | trans }} -  {{ expense.name }}</td>
                            <td>{{ expense.unitPrice | money(true, quote.currency.code)  }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td class="col-sm-6">{{ 'Discount' | trans }}</td>
                        <td>-{{ quote.totals.discountTotal | default(0) | money(true, quote.currency.code) }}</td>
                    </tr>

                    <tr>
                        <td class="col-sm-6">{{ 'Offer fee' | trans }}</td>
                        <td data-qa="grand-total" data-qa-grand-total-raw="{{ quote.offerFee }}">{{ quote.offerFee | default(0) | money(true, quote.currency.code) }}</td>
                    </tr>

                    <tr class="grandTotal-row">
                        <td class="col-sm-6">
                            <strong>{{ 'GRAND TOTAL' | trans }}</strong> <br />
                            {{ 'Included tax amount' | trans }}
                        </td>
                        <td data-qa="grand-total" data-qa-grand-total-raw="{{ quote.totals.grandTotal }}">
                            <strong>{{ quote.totals.grandTotal | money(true, quote.currency.code) }}</strong> <br />
                            {{ quote.totals.taxTotal.amount | money(true, quote.currency.code) }}
                        </td>
                    </tr>
                    </tbody>
                </table>

            {% endblock %}

        {% endembed %}

    </div>
</div>
