{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Create Data Exchange API Configuration' | trans %}

{% block head_title widget_title | trans %}
{% block section_title widget_title | trans %}

{% block action %}
    {{ backActionButton(url('/dynamic-entity-gui/configuration-list'), 'Back to Data Exchange API Configuration' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-create safe-submit">{{ 'Create' | trans }}</button>

            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
