{% set orderDetails = {
    title: 'Order DE — 1',
    reference: 'Mer - DE —134353',
    referenceTitle: 'Merchant Reference',
} %}

<web-mp-manage-order order-details="{{ orderDetails | json_encode()}}">
    {% set butttonsList = [
        {
            title: 'Ship',
            url: 'some/url',
            method: 'GET',
        },
        {
            title: 'Return',
            url: 'some/url',
            method: 'POST',
        },
        {
            title: 'Close',
            url: 'some/url',
            method: 'GET',
        },
    ] %}

    <div state-transitions class="mp-manage-order__transitions">
        {% for button in butttonsList %}
            <web-spy-ajax-button
                method="{{ button.method }}"
                url="{{ button.url }}"
                class="mp-manage-order__transitions-col"
            >{{ button.title }}</web-spy-ajax-button>
        {% endfor %}
    </div>

    <span state-transitions-meessage>
      Only matching states items will be updated.
    </span>

    <div items-states class="mp-manage-order__states">
        <div class="mp-manage-order__states-col mp-manage-order__states-col--title">Order’s Items state</div>

        <div class="mp-manage-order__states-col">
            <div items-states class="mp-manage-order__states">
                {% set statesList = ['Delivered', 'Payment', 'Exported'] %}

                {% for state in statesList %}
                    <web-spy-chips max-width="none" class="mp-manage-order__states-col">{{ state }}</web-spy-chips>
                {% endfor %}
            </div>
        </div>
    </div>

    <web-spy-tabs class="mp-manage-order__content">
        <web-spy-tab title="Details">
            {% set overviewItems = [
                {
                    name: 'Order date',
                    info: merchantOrder.createdAt | formatDateTime,
                },
                {
                    name: 'NUMBER OF PRODUCTS',
                    info: merchantOrder.uniqueProductQuantity,
                },
                {
                    name: 'ITEMs',
                    info: merchantOrder.merchantOrderItems.count(),
                },
                {
                    name: 'SHIPMENTs',
                    info: shipmentsNumber,
                },
            ] %}

            <web-spy-card title="Overview" class="mp-manage-order__card">
                <div class="mp-manage-order-grid">
                    {% for overviewItem in overviewItems %}
                        <web-mp-manage-order-stats-block
                            name="{{ overviewItem.name }}"
                            info="{{ overviewItem.info }}">
                        </web-mp-manage-order-stats-block>
                    {% endfor %}
                </div>
            </web-spy-card>

            <web-spy-card title="Overview" class="mp-manage-order__card">
                <web-spy-collapsible title="{{ merchantOrder.merchantOrderItems.count() }} ITEMS" class="mp-manage-order__card-column-item">
                    <mp-html-renderer-url url="www.google.com"></mp-html-renderer-url>
                </web-spy-collapsible>

                {% set subtotalTitleOrderTotals = [
                    {
                        title: 'Subtotal',
                        value: merchantOrder.totals.subtotal | money(true, merchantOrder.order.currencyIsoCode),
                        isTitle: true,
                    },
                ] %}

                {% set subtotalExpensesOrderTotals = merchantOrder.expenses | reduce((accumulator, expense) => (
                    accumulator | merge([{
                        title: 'Shipment' | trans ~ ' ' ~ expense.shipment.method.carrierName ?? '' ~ ' ' ~ expense.name,
                        value: expense.sumPrice | money(true, merchantOrder.order.currencyIsoCode),
                    }])
                ), []) %}

                {%  set subtotalOrderTotals = subtotalTitleOrderTotals | merge(subtotalExpensesOrderTotals) %}

                <web-mp-manage-order-totals
                    order-totals="{{ subtotalOrderTotals | json_encode() }}"
                    class="mp-manage-order__card-column-item">
                </web-mp-manage-order-totals>

                {% set grandTotalOrderTotals = [
                    {
                        title: 'Grand Total',
                        value: merchantOrder.totals.grandTotal | money(true, merchantOrder.order.currencyIsoCode),
                        isTitle: true,
                    },
                    {
                        title: 'Included Tax Amount',
                        value: merchantOrder.totals.taxTotal.amount | money(true, merchantOrder.order.currencyIsoCode),
                    },
                ] %}

                <web-mp-manage-order-totals
                    order-totals="{{ grandTotalOrderTotals | json_encode() }}"
                    class="mp-manage-order__card-column-item">
                </web-mp-manage-order-totals>
            </web-spy-card>

            {% set customerItems = [
                {
                    name: 'CLIENT NAME',
                    info: merchantOrder.order.firstName ~ ' ' ~ merchantOrder.order.lastName ~ ', ' ~ merchantOrder.order.salutation,
                },
                {
                    name: 'CLIENT EMAIL',
                    info: merchantOrder.order.email,
                },
                {
                    name: 'PREVIOUS ORDERS',
                    info: customerMerchantOrderNumber,
                },
            ] %}

            <web-spy-card title="Customer" class="mp-manage-order__card">
                <div class="mp-manage-order-grid">
                    {% for customerItem in customerItems %}
                        <web-mp-manage-order-stats-block
                            name="{{ customerItem.name }}"
                            info="{{ customerItem.info }}">
                        </web-mp-manage-order-stats-block>
                    {% endfor %}
                </div>
            </web-spy-card>
        </web-spy-tab>

        <!--TODO: items tab story -->
        <web-spy-tab title="Items"></web-spy-tab>
    </web-spy-tabs>
</web-mp-manage-order>
