<web-mp-dashboard-stats>
    <span title>{{ 'Per Store' | trans }}</span>

    <div class="mp-dashboard-grid mp-dashboard-grid--stats">
        {% for countOrdersPetStore in ordersStoresCountData %}
            <web-mp-dashboard-stats-block
                name="{{ countOrdersPetStore.store }}"
                count="{{ countOrdersPetStore.ordersCountTotal }}"
            ></web-mp-dashboard-stats-block>
        {% endfor %}
    </div>
</web-mp-dashboard-stats>

<web-mp-dashboard-stats>
    <span title>{{ 'New' | trans }}</span>

    <div class="mp-dashboard-grid mp-dashboard-grid--stats">
        <web-mp-dashboard-stats-block
            name="{{ 'From the last %newOrdersLimit% days' | trans({ '%newOrdersLimit%': newOrdersLimit }) }}"
            count="{{ ordersCountNew }}"
        ></web-mp-dashboard-stats-block>
    </div>
</web-mp-dashboard-stats>
