{% for orderItem in orderItems %}
    <div class="mp-manage-order__totals">
        <span class="mp-manage-order__totals-col">
            {{ orderItem.name }}
            {% if orderItem.metadata.superAttributes is not null and orderItem.metadata.superAttributes | length %}
                {% for attributeName, attributeValue in orderItem.metadata.superAttributes | slice(0, 2) %}
                    , {{ attributeValue }}
                {% endfor %}
            {% endif %}
            x {{ orderItem.quantity }}
        </span>

        {% set itemPriceToPay = orderItem.sumPrice - orderItem.sumDiscountAmountFullAggregation | default(0) %}
        {% set priceToPay = itemPriceToPay * orderItem.quantity %}
        <span class="mp-manage-order__totals-col">{{ priceToPay | money(true, orderItem.currencyIsoCode) }}</span>
    </div>

    {% for productOption in orderItem.productOptions %}
    <div class="mp-manage-order__totals">
        <span class="mp-manage-order__totals-col">+ {{ productOption.value }}</span>
        <span class="mp-manage-order__totals-col">{{ productOption.sumPrice | default(productOption.unitPrice) | money(true, orderItem.currencyIsoCode) }} </span>
    </div>
    {% endfor %}
{% endfor %}
