{#
@var merchantOrderCounts \Generated\Shared\Transfer\MerchantOrderCountsTransfer
#}
<div class="spy-col spy-col-6 spy-col-gutter-lg">
    <web-mp-dashboard-stats>
        <span title>{{ 'Per Store' | trans }}</span>

        <div class="spy-row spy-row-gutter-sm spy-row-align-row-space-between">
            {% for store,total in merchantOrderCounts.totalPerStore %}
                <div class="spy-col spy-col-basis-auto">
                    <web-mp-dashboard-stats-block
                        name="{{ store }}"
                        count="{{ total }}"
                    ></web-mp-dashboard-stats-block>
                </div>
            {% endfor %}
        </div>
    </web-mp-dashboard-stats>
</div>

<div class="spy-col spy-col-6 spy-col-gutter-lg">
    <web-mp-dashboard-stats>
        <span title>{{ 'New' | trans }}</span>

        <div class="spy-row spy-row-gutter-sm spy-row-align-row-space-between">
            <div class="spy-col spy-col-basis-auto">
                <web-mp-dashboard-stats-block
                    name="{{ 'From the last %daysNumber% days' | trans({ '%daysNumber%': newOrdersDaysThreshold }) }}"
                    count="{{ merchantOrderCounts.new }}"
                ></web-mp-dashboard-stats-block>
            </div>
        </div>
    </web-mp-dashboard-stats>
</div>
