<div class="row form-product-option-row" id="{{ productOptionForm.vars.id }}">

    {% set readOnly = {} %}
    {% if productOptionForm.vars.data and productOptionForm.vars.data.idProductOptionValue %}
        {% set readOnly = {'readonly' : 'readonly'} %}
    {% endif %}

    <div class="form-group col-md-6 {% if productOptionForm.value.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(productOptionForm.value) }}
        {{ form_widget(productOptionForm.value, {attr:readOnly}) }}
        {{ form_errors(productOptionForm.value) }}
    </div>

    <div class="form-group col-md-4 {% if productOptionForm.sku.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(productOptionForm.sku) }}
        {{ form_widget(productOptionForm.sku, {attr:readOnly}) }}
        {{ form_errors(productOptionForm.sku) }}
    </div>

    <div class="form-group col-md-2">
        <label>&nbsp;</label>
        <div class="input-group">
            <input type="button" value="{{ 'Remove' | trans }}" class="btn btn-sm btn-outline btn-remove"/>
        </div>
    </div>

    <div class="form-group col-md-6  {% if productOptionForm.prices.vars.errors|length > 0 %}has-error{% endif %}">
            {{ form_label(productOptionForm.prices) }}
            {{ form_money_collection(productOptionForm.prices) }}
            {{ form_errors(productOptionForm.prices) }}
    </div>

    {{ form_row(productOptionForm.idProductOptionValue) }}
    {{ form_row(productOptionForm.optionHash) }}
</div>

