<div class="row" id="{{ productOptionTranslationForm.vars.id }}">

    <div class="form-group col-md-4 {% if productOptionTranslationForm.name.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(productOptionTranslationForm.name, label) }}
        {{ form_widget(productOptionTranslationForm.name) }}
        {{ form_errors(productOptionTranslationForm.name) }}
    </div>

    <div class="form-group col-md-6">
        <label>&nbsp;</label>
        <div class="input-group">
            <a href="javascript:void(-1)" class="copy-language">{{ 'Copy to other languages' | trans }}</a>
        </div>
    </div>
    {{ form_row(productOptionTranslationForm.key) }}
    {{ form_row(productOptionTranslationForm.localeCode) }}
    {{ form_row(productOptionTranslationForm.relatedOptionHash) }}
</div>

