{% macro address(offer, addr, panelTitle, messageIfEmpty) %}

    {% if addr is not defined %}
        {{ messageIfEmpty | trans }}
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ panelTitle | trans }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ addr.salutation }} {{ addr.firstName }} {{ addr.middleName }} {{ addr.lastName }}</p>
                {% if addr.company is not empty %}
                    <p>
                      {{ addr.company }}{% if addr.phone is not empty %}, {{ addr.phone }}{% endif %}
                    </p>
                {% endif %}
                {% if addr.address1 is not empty %}<p>{{ addr.address1 }}</p>{% endif %}
                {% if addr.address2 is not empty %}<p>{{ addr.address2 }}</p>{% endif %}
                {% if addr.address3 is not empty %}<p>{{ addr.address3 }}</p>{% endif %}
                {% if addr.zipCode is not empty %}<p>{{ addr.zipCode }} {{ addr.city }}</p>{% endif %}
                {% if addr.country %} {{ addr.country.name }} {% endif %}
            </div>
        </div>
    {% endif %}

{% endmacro %}

{% import _self as show %}

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Addresses' } %}
    {% set quote = offer.quote %}
    {% block widget_content %}

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ show.address(quote, quote.billingAddress, 'Billing address', 'Billing address not provided') }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ show.address(quote, quote.shippingAddress, 'Shipping address', 'Shipping address not provided') }}
            </div>
        </div>

    {% endblock %}

{% endembed %}
