{% if merchants is defined and merchants is not empty %}
    <span class="m-r-sm">
        <label>{{ 'Merchants' | trans }}</label>
        <select name="merchant-reference" onchange="this.form.submit()" onblur="this.form.submit()">
            <option value="">{{ 'All' | trans }}</option>
            {% for merchant in merchants %}
                <option value="{{ merchant.merchantReference }}" {{ (merchant.merchantReference == app.request.get('merchant-reference')) ? 'selected' : ''}}>{{ merchant.name }}</option>
            {% endfor %}
        </select>
    </span>
{% endif %}

{% if merchant is defined and merchant is not empty %}
    <strong>{{ 'Merchant' | trans }}</strong> {{ merchant.name }}
{%  endif %}
