{% extends '@Application/layout.twig' %}
{% block content %}

<ul class="list-group">
  <li class="list-group-item">
    <h4 class="sub-header">{{ 'Overview'|trans }}</h4>
    {{ include('/Sales/Partials/order-overview.twig', {'order': order}) }}
  <li class="list-group-item">
    <h4 class="sub-header">{{ 'Totals'|trans }}</h4>
    {{ include('/Sales/Partials/totals.twig', {'totals': totals}) }}
  <li class="list-group-item">
    <h4 class="sub-header">{{ 'Other Views'|trans }}</h4>
    {{ include('/Sales/Partials/links.twig', {'order': order}) }}
</ul>
{% endblock %}
