
{{ form_row(productRelationForm.isRebuildScheduled) }}
{{ form_row(productRelationForm.productRelationType) }}

<h4>{{ 'Selected product' | trans }}</h4>

{{ form_row(productRelationForm.productRelationKey) }}

{% if productRelationForm.vars.data.fkProductAbstract is empty %}
    <div id="select-product-notice" class="form-group">
        {{ "Please select product from the list below" | trans  }}
    </div>
{% endif %}

<div style="display:none">
      {{ form_widget(productRelationForm.fkProductAbstract) }}
</div>

<div class="{% if productRelationForm.fkProductAbstract.vars.errors|length > 0 %}has-error{% endif %}">
      {{ form_errors(productRelationForm.fkProductAbstract) }}
</div>

<div class="ibox-content product-box" id="selected-product" style="display:none;">
    <div class="product-desc">
        <img height="100" id="product-img" src="#"/> <br />
        <small class="text-muted" id="product-category"></small>
        <span class="product-name"></span>

        <div class="small m-t-xs" id="product-description"></div>
    </div>
</div>

{% if productTable is defined %}
    <br />
    <h4>{{ 'Select product' | trans }}</h4>
    {{ productTable | raw }}
{% endif %}

{{ form_row(productRelationForm.storeRelation.id_stores, { 'label': 'Select Stores' | trans }) }}

{{ form_row(productRelationForm.idProductRelation) }}

