{% if cmsContentWidgetTemplateList is defined and cmsContentWidgetTemplateList.cmsContentWidgetConfigurationList|length > 0 %}
    <div class="col-sm-12">
        {% embed '@Gui/Partials/ibox.twig' with {'collapsed': true} %}
            {% block title %}
                {{ 'Cms content widgets usage information' | trans }}
            {% endblock %}

            {% block content %}
                {% for cmsWidgetConfiguration in cmsContentWidgetTemplateList.cmsContentWidgetConfigurationList %}
                    <strong>{{ cmsWidgetConfiguration.functionName }}</strong> <br />
                    {{ 'Usage information:' | trans }}
                    {{ cmsWidgetConfiguration.usageInformation }} <br />
                    {{ 'Available templates:' | trans }} <br />
                    <ul>
                        {% for templateName, templatePath in cmsWidgetConfiguration.templates %}
                            <li> <strong>{{ templateName }}</strong> ({{ templatePath }}) </li>
                        {% endfor %}
                    </ul>
                    <hr />
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
{% endif %}
