{% extends '@Cms/Layout/layout.twig' %}

{% set widget_title = 'Edit a Cms Block' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ backActionButton('/cms/block', 'Back to CMS' | trans) }}
    {{ createActionButton('/cms/block/add', 'Add CMS Block' | trans) }}
    {% if isActive %}
        {{ viewActionButton('/cms/block/deactivate?id-block=' ~ idCmsBlock, 'Deactivate' | trans) }}
    {% else %}
        {{ viewActionButton('/cms/block/activate?id-block=' ~ idCmsBlock, 'Activate' | trans) }}
    {% endif %}
    {{ removeActionButton('/cms/block/delete?id-block=' ~ idCmsBlock, 'Delete CMS Block' | trans) }}
{% endblock %}

{% block content %}
    <div id="spy-cms" class="glossary">
        {% if isSynced %}
            <div class="alert">
                <div class="green">{{ 'New template(s) detected and added to the template list.' | trans }}</div>
            </div>
        {% endif %}

        {% embed '@Gui/Partials/widget.twig' %}

            {% block widget_content %}

                {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}" />

                {{ form_end(form) }}

            {% endblock %}

        {% endembed %}
        <div class="itemListCanvas"></div>
        <div class="loading block-loading">
            <img src="/assets/img/cms-loader.gif">
            {{ 'Loading...' | trans }}
        </div>
    </div>
{% endblock %}
