{% extends '@Gui/layout/layout.twig' %}

{% set widget_title = 'Create Merchant Relation' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ backActionButton(url('/merchant-relationship-gui/list-merchant-relationship'), 'Back to Merchant relations' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ form_start(form) }}
            {{ form_row(form["fk_merchant"]) }}
            <div class="row">
                <div class="col-xs-6">
                    {{ form_row(form["fk_company"]) }}
                </div>
                <div class="col-xs-6">
                    <div>&nbsp;</div>
                    <input type="submit" class="btn btn-primary" name="submit-confirm" value="{{ 'Confirm' | trans }}" />
                </div>
            </div>

            {{ form_rest(form) }}

            <input type="submit" class="btn btn-primary safe-submit" name="submit-persist" value="{{ 'Save' | trans }}" />
            {{ form_end(form) }}

        {% endblock %}

    {% endembed %}
{% endblock %}