{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headTitle %}
    {{ 'Offers' | trans }}
{% endblock %}

{% block content %}
    <web-mp-offers-list
        cloak
        table-id="web-mp-offers-list"
        table-config='{{ guiTableConfiguration(productOfferTableConfiguration) }}'>
        <span title>{{ 'Offers' | trans }}</span>

        <web-spy-button-link action url="/product-offer-merchant-portal-gui/product-list" size="lg">{{ 'Add Offer' | trans }}</web-spy-button-link>
    </web-mp-offers-list>
{% endblock %}

{% block footerJs %}
    {{ view.importJsBundle('product-offer-merchant-portal-gui', importConfig) }}
    {{ parent() }}
{% endblock %}
