{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}

{% block headTitle %}
    {{ 'Offers' | trans }}
{% endblock %}

{% block content %}
    <web-mp-offers-list
        cloak
        table-id="web-mp-offers-list"
        table-config='{{ guiTableConfiguration(productOfferTableConfiguration) }}'>
        <span title>{{ 'Offers' | trans }}</span>

        <web-spy-button-link action url="/product-offer-merchant-portal-gui/product-list" size="lg">{{ 'Add Offer' | trans }}</web-spy-button-link>
    </web-mp-offers-list>
{% endblock %}

{% block footerJs %}
    <script src="{{ assetsPath('js/mp/spy/product-offer-merchant-portal-gui-es2015.js') }}" type="module"></script>
    <script src="{{ assetsPath('js/mp/spy/product-offer-merchant-portal-gui-es5.js') }}" nomodule defer></script>
    {{ parent() }}
{% endblock %}
