{{ form_row(productLabelForm.name) }}
{{ form_row(productLabelForm.isActive) }}
{{ form_row(productLabelForm.isExclusive) }}
{{ form_row(productLabelForm.validFrom) }}
{{ form_row(productLabelForm.validTo) }}
{{ form_row(productLabelForm.frontEndReference) }}

<label class="control-label">{{ 'Translations' | trans }}</label>
{% for localizedAttributes in productLabelForm.localizedAttributes %}
    {% set localeName = localizedAttributes.vars.value.getLocale().getLocaleName() %}

    {% embed '@Gui/Partials/localized-ibox.twig' with {
    localeName: localeName,
    collapsed: false
    } %}
        {% block content %}
            {{ form_errors(localizedAttributes) }}
            {{ form_widget(localizedAttributes) }}
        {% endblock %}
    {% endembed %}
{% endfor %}
