{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@WebProfiler/Icon/cache.svg') }}
        <span class="sf-toolbar-value">Redis</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Calls</b>
            <span>{{ collector.calls|length }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, name: 'redis'}) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <strong>Redis</strong>
        <span class="count">
            <span>{{ collector.calls|length }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <style>
        table {
            table-layout:fixed;
        }
        td {
            overflow-x: auto;
        }
    </style>

    <h2>Redis Calls</h2>
    <table>
        <colgroup>
            <col style="width: 20%">
            <col style="width: 10%">
            <col style="width: 35%">
            <col style="width: 35%">
        </colgroup>
        <tr>
            <th>Destination</th>
            <th>Command</th>
            <th>Payload</th>
            <th>Result</th>
        </tr>

        {% for callData in collector.calls %}
            <tr>
                <td>{{ callData['destination'] }}</td>
                <td>{{ callData['command'] }}</td>
                <td><pre>{{ callData['payload'] }}</pre></td>
                <td><pre>{{ callData['result'] }}</pre></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
