<div class="well">
    {% filter trans|raw %}
        <h3>Product Alternative(s)</h3>
        <p>Below are the product alternatives listed.</p>
    {% endfilter %}
</div>

<div class="form-group col-sm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    {{ form_label(form['searchtext-autocomplete']) }}
    {{ form_errors(form['searchtext-autocomplete']) }}
    {{ form_widget(form['searchtext-autocomplete']) }}
</div>

{# TODO: Replace section below with better solution. #}
{% for productAlternative in form.vars.data.productAlternatives %}
    <div>
        <div>{{ productAlternative.idProductAlternative }}</div>
        <div>{{ productAlternative.idProduct }}</div>
        <div>{{ productAlternative.idProductConcreteAlternative }}</div>
        <div>{{ productAlternative.idProductAbstractAlternative }}</div>
    </div>
{% endfor %}
