<div class="well">
    {% filter trans|raw %}
        <h3>Product Alternative(s)</h3>
        <p>Below are the product alternatives listed.</p>
    {% endfilter %}
</div>

<div class="form-group col-sm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    {{ form_label(form['searchtext-autocomplete']) }}
    {{ form_errors(form['searchtext-autocomplete']) }}
    {{ form_widget(form['searchtext-autocomplete']) }}
</div>

{# TODO: Probably, markup below should be replaced with Table class usage. #}

<div id="items" class="col-sm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>ID Product</th>
            <th>ID Product Concrete Alternative</th>
            <th>ID Product Abstract Alternative</th>
            <th>Actions</th>
        </tr>
        {% for productAlternative in form.vars.data.productAlternatives %}
            <tr>
                <td>{{ productAlternative.idProductAlternative }}</td>
                <td>{{ productAlternative.idProduct }}</td>
                <td>{{ productAlternative.idProductConcreteAlternative ?: '-' }}</td>
                <td>{{ productAlternative.idProductAbstractAlternative ?: '-' }}</td>
                <td>
                    <button class="btn btn-default">Edit</button>
                    <button class="btn btn-default">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<style>
    #items table {
        border: 1px solid #000000;
        text-align: center;
    }

    #items table td, th {
        padding: 5px 10px;
    }
</style>
