{% set productAlternatives = form.vars.data.productAlternatives %}

<div class="well">
    <h3>{{ 'Product Alternatives' | trans }}</h3>
    <p>{{ 'This is a list of alternative products that the current Concrete Product has.' | trans }}</p>
    <p><i>{{ 'Note: You can add a new product alternative using the text field below.' | trans }}</i></p>
</div>

<div class="form-group">
    {{ form_label(form['alternative_products']) }}
    {{ form_errors(form['alternative_products']) }}
    {{ form_widget(form['alternative_products']) }}
</div>

<div id="items" class="col-sm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div>
        {% include '@ProductAlternativeGui/ProductAlternative/blocks/product-alternatives-table.twig' %}
    </div>
</div>

<script src="{{ assetsPath('js/spryker-zed-product-alternative-assign.js') }}"></script>
