{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Product Attributes' %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton(url('/product-management/attribute'), 'Back to List' | trans) }}
    {{ editActionButton(url('/product-management/attribute/edit', {'id': app.request.query.get('id')}), 'Edit' | trans) }}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'View Attribute #' ~ app.request.query.get('id') } %}
        {% block widget_content %}

            <h4>{{ 'General Information' | trans }}</h4>
            <table class="table">
                <tr>
                    <td style="width: 250px;">{{ 'Attribute key' | trans }}:</td>
                    <td>{{ attributeTransfer.key }}</td>
                </tr>
                <tr>
                    <td>{{ 'Input type' | trans }}:</td>
                    <td>{{ attributeTransfer.inputType }}</td>
                </tr>
                <tr>
                    <td>{{ 'Allow multi select' | trans }}:</td>
                    <td>{{ (attributeTransfer.isMultiple ? 'yes' : 'no') | trans }}</td>
                </tr>
            </table>

            <hr />

            <h4>{{ 'Predefined values' | trans }}</h4>
            <table class="table">
                <tr>
                    <td style="width: 250px;">{{ 'Values' | trans }}:</td>
                    <td>
                        {% for valueTransfer in attributeTransfer.values %}
                            {{ valueTransfer.value }}
                            {%- if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Allow input any value other than predefined ones' | trans }}:</td>
                    <td>{{ (attributeTransfer.allowInput ? 'yes' : 'no') | trans }}</td>
                </tr>
            </table>

            <div class="tabs-container well">
                <ul class="nav nav-tabs">
                    {% for locale in locales %}
                        <li class="{% if loop.first %}active{% endif %}"><a href="#{{ locale.localeName }}" data-toggle="tab">{{ locale.localeName }}</a></li>
                    {% endfor %}
                </ul>

                <div class="tab-content">

                    {% for locale in locales %}
                        <div id="{{ locale.localeName }}" class="tab-pane {% if loop.first %}active{% endif %}">
                            <div class="panel-body">

                                <h4>{{ 'Attribute name translation' | trans }}</h4>
                                <table class="table">
                                    <tr>
                                        <td style="width: 220px;">{{ attributeTransfer.key }}:</td>
                                        <td>
                                            {% for localizedAttributeKeyTransfer in attributeTransfer.localizedKeys %}
                                                {% if localizedAttributeKeyTransfer.localeName == locale.localeName %}
                                                    {{ localizedAttributeKeyTransfer.keyTranslation }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </table>

                                {% if attributeTransfer.values|length and attributeTransfer.values[0].localizedValues|length %}
                                    <h4>{{ 'Predefined value translations' | trans }}</h4>
                                    <table class="table">
                                        {% for valueTransfer in attributeTransfer.values %}
                                            <tr>
                                                <td style="width: 220px;">{{ valueTransfer.value }}:</td>
                                                <td>
                                                    {% for localizedAttributeValueTransfer in valueTransfer.localizedValues %}
                                                        {% if localizedAttributeValueTransfer.fkLocale == locale.idLocale %}
                                                            {{ localizedAttributeValueTransfer.translation }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        {% endblock %}
    {% endembed %}

{% endblock %}
