{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Delete Product Label' | trans %}

{% block head_title %}
    {{ widget_title }}
{% endblock %}
{% block section_title %}
    {{ widget_title }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Product Label removal confirmation' | trans } %}
        {% block widget_content %}
            {{ "Are you sure you want to delete this product label?" | trans }}
            <br><br>
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-back">{{ 'No, I want to keep this product label' | trans}}</a>
                </div>
                <div class="col-md-2">
                    {{ form_start(deleteProductLabelForm) }}
                    {{ form_widget(deleteProductLabelForm.submit) }}
                    {{ form_end(deleteProductLabelForm) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
