{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Delete Product Label' | trans %}

{% block head_title %}
    {{ widget_title }}
{% endblock %}
{% block section_title %}
    {{ widget_title }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Product label removal confirmation' | trans } %}
        {% block widget_content %}
            {{ "Are you sure you want to delete this product label?" | trans }}
            <br><br>
            <ul class="list-inline m-b-none">
                <li>
                    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'No, I want to keep this product label' | trans}}</a>
                </li>
                <li>
                    {{ form_start(deleteProductLabelForm) }}
                    {{ form_widget(deleteProductLabelForm.submit) }}
                    {{ form_end(deleteProductLabelForm) }}
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}
