<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{{ title | trans }}{% endblock %}</title>

    {% block head_css %}
        <link href="/bundles/css/style.external.min.css" rel="stylesheet">
        <link href="/bundles/css/style.internal.min.css" rel="stylesheet">
        <link href="/bundles/css/style.custom.min.css" rel="stylesheet">
    {% endblock %}

</head>
<body>

<div id="wrapper">

    {% block body_menu %}
        {% include '@Gui/Partials/menu.twig' %}
    {% endblock %}

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <form role="search" class="navbar-form-custom" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Spryker Administration</span>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Settings <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/edit/password-reset">Reset password</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/auth/logout">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-xs-12 col-md-6">
                <h2>{% block section_title %}{{ title|trans }}{% endblock %}</h2>
                {% if navigation.path|length > 0 %}
                <ol class="breadcrumb">
                    <li>
                        <a href="/">{{ 'Dashboard' | trans }}</a>
                    </li>
                    {% for breadcrumbItem in navigation.path %}
                    <li>
                        {% if loop.last == true %}
                            <strong>{{ breadcrumbItem.label }}</strong>
                        {% else %}
                            <a href="{{ breadcrumbItem.uri }}" title="{{ breadcrumbItem.title }}">{{ breadcrumbItem.label }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="title-action">
                    {% block action %}
                        {# add here only links with classes "btn btn-sm btn-{color}" #}
                        {# Example: <a href="" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a> #}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">

            {% include '@FlashMessenger/Partials/flash-messages.twig' %}

            {% block content -%}{%- endblock %}

        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Spryker GmbH &copy; {{ 'now'|date('Y') }}
            </div>
        </div>

    </div>
</div>

<div id="modal-alert" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content alert" id="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | trans }}</button>
            </div>
        </div>
    </div>
</div>

{% block footer_js %}
    <script src="/bundles/js/resources.external.min.js"></script>
    <script src="/bundles/js/resources.internal.min.js"></script>
    <script src="/bundles/js/resources.custom.min.js"></script>
    <script src="/bundles/js/templates.external.min.js"></script>
    <script src="/bundles/js/templates.internal.min.js"></script>
    <script src="/bundles/js/templates.custom.min.js"></script>
{% endblock %}

</body>
</html>
