{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Manage Attributes' %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton(url('/product-management'), 'Back to List' | trans) }}
{% endblock %}

{% block content %}
    <div style="display: none" id="productAttributeValuesJson">
        {{ productAttributeValuesJson | raw }}
    </div>
    <div style="display: none" id="metaAttributesJson">
        {{ metaAttributesJson | raw }}
    </div>
    <div style="display: none" id="localesJson">
        {{ localesJson | raw }}
    </div>

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Attribute list' } %}
        {% block widget_content %}
        <table class="table table-striped table-bordered table-hover gui-table-data" id="productAttributesTable" data-paging="false">
        <form id="attributeValuesForm" name="attributeValuesForm">
            <thead>
            <tr>
                <th>key</th>
                {% for localeCode,localeData in locales %}
                    {% if localeCode == '_' %}
                        <th>{{ 'value' }}</th>
                    {% else %}
                        <th>{{ 'value [' ~ localeCode }}]</th>
                    {% endif %}
                {% endfor %}
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for localeCode,localeData in locales %}
                {% if productAttributeValues[localeCode] is defined %}
                    {% for key,value in productAttributeValues[localeCode] %}
                        <tr>
                            <td>{{ key }}</td>
                            {% for valueLocaleCode,localeData in productAttributeValues %}
                                {% set name = '[' ~ key ~ ']' %}

                                {% if valueLocaleCode != '_' %}
                                    {% set name = name ~ '[' ~ valueLocaleCode ~ ']' %}
                                {% endif %}

                                {% set inputName = 'attributeValuesForm' ~ name  %}

                                {% if localeData[key] is defined %}
                                    <td>
                                        <input
                                                name="{{ inputName }}"
                                                type="text"
                                                class="spryker-form-autocomplete form-control ui-autocomplete-input attribute_metadata_value kv_attribute_autocomplete"
                                                value="{{ localeData[key] }}"
                                                id_attribute="{{ metaAttributes[key] }}"
                                                locale_code="{{ valueLocaleCode }}"
                                        ><span style="font-size: 1px; opacity: 0.0;">{{ localeData[key] }}</span>
                                    </td>
                                {% else %}
                                    <td>
                                        <input
                                                name="{{ inputName }}"
                                                type="text"
                                                class="spryker-form-autocomplete form-control ui-autocomplete-input attribute_metadata_value kv_attribute_autocomplete"
                                                value=""
                                                id_attribute="{{ metaAttributes[key] }}"
                                                locale_code="{{ valueLocaleCode }}"
                                        >
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td><a data-id="{{ key }}" href="#" onclick="return false" class="btn btn-xs remove-item">Remove</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </form>
        </table>
        {% endblock %}
    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Add Attribute' } %}
        {% block widget_content %}
            <div>
                {{ form_start(attributeKeyForm, { 'attr': {'class': 'kv_autocomplete_form'} }) }}
                {{ form_errors(attributeKeyForm) }}
                {{ form_widget(attributeKeyForm) }}
                <input type="button" onclick="return false" class="btn btn-primary" value="{{ 'Add' | trans }}"  id="addButton" />
                {{ form_end(attributeKeyForm) }}
            </div>
        {% endblock %}
    {% endembed %}

    <input type="submit" class="btn btn-primary" value="{{ 'Save' | trans }}"  id="saveButton" />

{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-productattributegui-main.js"></script>
{% endblock %}