<div>
    <div style="text-align: center;">{{ 'sales_order_amendment_oms.mail.order_amendment_failed.salutation' | trans }} {{ mail.order.firstName }} {{ mail.order.lastName }},</div>
    <br />
    <div style="text-align: center;"><h1>{{ 'sales_order_amendment_oms.mail.order_amendment_failed.title' | trans }}</h1></div>
    <br />
    <div style="text-align: center;">{{ 'sales_order_amendment_oms.mail.order_amendment_failed.text.line_1' | trans }}</div>
    <br />
    <div style="text-align: center;">{{ 'sales_order_amendment_oms.mail.order_amendment_failed.text.line_2' | trans }}</div>
    <br />
    <div style="text-align: center;">
        {% for error in mail.quote.errors %}
            {{ error.message | trans }}<br />
        {% endfor %}
    </div>
    <br />
    <div style="text-align: center;">{{ 'sales_order_amendment_oms.mail.order_amendment_failed.text.line_3' | trans }}</div>
    <br />
    <div style="text-align: center;">{{ 'sales_order_amendment_oms.mail.footer.text.line_1' | trans }}</div>
    <div style="text-align: center;">{{ 'sales_order_amendment_oms.mail.footer.text.line_2' | trans }}</div>
    <hr /> <br />
    {% include '@Oms/Mail/order-details.html.twig' %}
</div>
