<div class="image_set_block"
     data-valuecount="{{ form[formKey]|length }}"
     data-prototype="<div class='panel-body'>{{ form_widget(form[formKey].vars.prototype)|e }}</div>"
>
    <div class="img_collection">
        {% for productImageSet in form[formKey] %}
            {% set form_group_errors_css = '' %}

            {% if productImageSet.name.vars.errors|length %}
                {% set form_group_errors_css = 'has-error' %}
            {% endif %}

            <div class='form-group {{ form_group_errors_css }}'>
                {{ form_row(productImageSet.id_product_image_set) }}
                {{ form_row(productImageSet.fk_locale) }}
                {{ form_row(productImageSet.fk_product) }}
                {{ form_row(productImageSet.fk_product_abstract) }}

                {{ form_row(productImageSet.name) }}
            </div>

            {% include '@ProductManagement/Product/_partials/image-collection-form.twig' %}

            <a href="#" class="btn btn-primary add-another-image">Add Image</a>
        {% endfor %}
    </div>

</div>
