<div class="panel-body">
    <h3>Product Image(s)</h3>
    <p>
        For each image to be displayed in the shop one image set must be created. An image set has a name for identification and may contain a small and a large version of the image. The order of your image sets can be changed via drag and drop. The product variants inherit these product image sets, but can be changed there on an individual level.
    </p>

    <p>
        <i>Note: The first image will be the image displayed in the catalog. The full image set will be displayed on the product detail page before the customer has configured what variant he wants.</i>
    </p>
</div>

<div class="panel-body second">
    <div class="tabs-container">
        <div class="tabs-top">
            {% embed '@Gui/Partials/LocalizedTabForms/localized-tabs-nav.twig' with {
            formPrefix: 'image_set',
            localeCollection: attributeLocaleCollection,
            activeLocale: 'default',
            form: form
            } %}
            {% endembed %}

            {% embed '@Gui/Partials/LocalizedTabForms/localized-tabs-content.twig' with {
            formPrefix: 'image_set',
            localeCollection: attributeLocaleCollection,
            activeLocale: 'default',
            form: form
            } %}
                {% block tabContentRow %}
                        <div class="panel-body">
                            <div class="image_set_block"
                                 data-valuecount="{{ form[formKey]|length }}"
                                 data-prototype="<div class='panel-body'>{{ form_widget(form[formKey].vars.prototype)|e }}</div>"
                            >
                                {% for productImageSet in form[formKey] %}
                                     {% set form_group_errors_css = '' %}

                                    {% if productImageSet.name.vars.errors|length %}
                                        {% set form_group_errors_css = 'has-error' %}
                                    {% endif %}

                                    <div class='form-group {{ form_group_errors_css }}'>
                                        <div class="col-lg-12">
                                            {{ form_row(productImageSet.id_product_image_set) }}
                                            {{ form_row(productImageSet.fk_locale) }}
                                            {{ form_row(productImageSet.fk_product) }}
                                            {{ form_row(productImageSet.fk_product_abstract) }}

                                            {{ form_row(productImageSet.name) }}
                                        </div>
                                    </div>

                                    {% include '@ProductManagement/Product/_partials/image-collection-form.twig' %}
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <a href="#" class="btn btn-primary add-another-image">Add Image</a>
                            </div>
                    </div>

{#                    <div class="panel-body">
                        <div class="form-group">
                            <a href="#" class="btn btn-primary add-another-image-set">Add Image Set</a>
                        </div>
                    </div>#}

                {% endblock  %}
            {% endembed %}
        </div>
    </div>
</div>