{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Create Content Item' | trans %}
{% endif %}

{% block head_title widget_title %}
{% block section_title 'Create Content Item: ' | trans ~ contentName %}

{% block action %}
    {{ backActionButton('/content-gui/list-content', 'Back to Content Items' | trans) }}
{% endblock %}

{% block content %}
        {% block widget_content %}
            <div class="col-xs-12 col-md-6">
                <div class="col-xs-12 col-md-12">
                    <h2>Add {{ contentName }}</h2>
                </div>
                {{ form_start(contentForm, {attr: {novalidate: 'novalidate'}}) }}
                <div class="col-xs-12 col-md-6">
                    {{ form_row(contentForm.name) }}
                </div>
                <div class="col-xs-12 col-md-6">
                    {{ form_row(contentForm.description) }}
                </div>
                <div class="col-xs-12 col-md-12">
                {{ tabs(contentTabs, {'contentForm' : contentForm} ) }}
                </div>
                {{ form_end(contentForm) }}
            </div>
        {% endblock %}
{% endblock %}
