<div class="callout">
    <a href="{{ detailsUrl }}" class="thumbnail __preview-image click-track" data-tracking="{{trackInfo|json_encode}}">
        <img src="{{ imageUrl }}">
    </a>
    <p>
        <strong>{{ name }}</strong><br>
        {{ priceValue }} €
    </p>
    <a class="button expanded click-track" href="{{ detailsUrl }}" data-tracking="{{trackInfo|json_encode}}">View &raquo;</a>
</div>
