{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Reorder Product Sets' | trans %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton(url('/product-set-gui'), 'List of Sets' | trans) }}
{% endblock %}

{% block content %}

    <div class="alert alert-info">
        {% filter trans|raw %}
            <strong>Weight</strong> defines sorting order. Product Sets with higher numbers listed first.
        {% endfilter %}
    </div>

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Reorder Product Sets' } %}

        {% block widget_content %}

            {{ form_start(reorderProductSetsForm) }}
                {{ productSetReorderTable | raw }}

                <input type="submit" class="btn btn-primary" value="{{ 'Submit' | trans }}"/>
            {{ form_end(reorderProductSetsForm) }}
        {% endblock %}

    {% endembed %}

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-productset-main.css') }}" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="{{ assetsPath('js/spryker-zed-productset-reorder.js') }}"></script>
{% endblock %}
