{% extends '@Application/Layout/layout.twig' %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Processes' } %}

        {% block widget_content %}

            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'Processes' | trans }}</h1>
                </div>

                {% for process in processes %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>{{ process.name }}</h2>
                            </div>
                            <div class="panel-body">
                                <a href="{{ url('/oms/index/draw', {process: process.name}) }}" target="_blank">{{ process.name }}</a>
                                <a style="font-size:10px;" href="{{ url('/oms/index/draw-preview-version', {process: process.name}) }}" target="_blank">[{{ 'preview-version' | trans }}]</a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
